Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

fix feegrant errors
  x/feegrant/keeper/genesis_test.go
  x/feegrant/simulation/operations_test.go
Due: modules

fix(x/evidence): return error in keeper
  x/evidence/keeper/keeper.go
Due: modules

refactor!(x/slashing): use kvStoreService, context.Context and return errors
  x/slashing/abci.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/keeper/genesis.go
  x/slashing/keeper/genesis_test.go
  x/slashing/keeper/grpc_query.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/hooks_test.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/migrations.go
  x/slashing/keeper/params.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/keeper/unjail.go
  x/slashing/migrations/v2/store.go
  x/slashing/migrations/v2/store_test.go
  x/slashing/module.go
  x/slashing/simulation/operations.go
  x/slashing/types/errors.go
Due: modules

tryfix orjitech linter, even though its not a problem
  server/start.go
Due: none

Try#2 fix orjitech linter
  server/start.go
  server/types/app.go
Due: none

refactor: More cleanup of server/start.go (#16238)
  CHANGELOG.md
  server/start.go
  server/types/app.go
Due: none

fix sim tests
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/val_state_change.go
  x/staking/simulation/operations_test.go
Due: modules

use AddressCodec
  x/bank/keeper/genesis.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/module.go
  x/bank/testutil/expected_keepers_mocks.go
  x/bank/types/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
Due: modules

fix build
  simapp/simd/cmd/root.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/commands.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/gentx_test.go
Due: modules

feat(gov,group): improve metadata checks and add docs (#16235)
  CHANGELOG.md
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/group/v1/types.pulsar.go
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/group/v1/types.proto
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/types/v1/gov.pb.go
  x/group/keeper/msg_server.go
  x/group/keeper/msg_server_test.go
  x/group/types.pb.go
Due: modules

refactor(x/mint)!: use KVStoreService and context.Context (#16179)
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  testutil/integration/example_test.go
  x/mint/abci.go
  x/mint/keeper/genesis.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/migrator.go
  x/mint/migrations/v2/migrate.go
  x/mint/migrations/v2/migrator_test.go
  x/mint/module.go
  x/mint/types/genesis.go
Due: modules

fix tests
  x/genutil/gentx.go
  x/genutil/types/genesis_state_test.go
Due: modules

chore: prepare v0.47.3
  CHANGELOG.md
  RELEASE_NOTES.md
  server/util.go
Due: none

chore: prepare v0.46.13
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

promo
  RELEASE_NOTES.md
Due: none

nothing changed, so skip this file
  .golangci.yml
Due: none

wording
  RELEASE_NOTES.md
Due: none

updates
  RELEASE_NOTES.md
Due: none

Rollback on mismatch deps and added missing fix (#626)
  tools/rosetta/converter.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

fix some tests
  tests/e2e/group/suite.go
  x/authz/client/cli/tx_test.go
  x/bank/client/cli/tx.go
  x/bank/simulation/genesis_test.go
Due: modules

fix linting
  tests/e2e/auth/suite.go
  tests/e2e/authz/tx.go
  tests/e2e/bank/suite.go
  tests/e2e/group/suite.go
Due: none

add migration and bump to version 3
  x/upgrade/keeper/migrations.go
  x/upgrade/module.go
  x/upgrade/types/keys.go
Due: modules

fix legacy app
  simapp/app.go
Due: none

fix
  x/evidence/genesis.go
Due: modules

remove prints
  x/bank/client/cli/tx.go
  x/bank/simulation/proposals_test.go
Due: modules

address comments
  testutil/cli/cmd.go
  x/bank/keeper/msg_server.go
  x/genutil/gentx.go
Due: modules

re-add for query
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp_test.go
  baseapp/snapshot_test.go
  server/cmt_abci.go
  server/mock/app_test.go
  server/types/abci.go
Due: app

progress
  x/evidence/types/expected_keepers.go
  x/slashing/keeper/keeper.go
Due: modules

fixes
  tests/integration/evidence/keeper/infraction_test.go
  x/evidence/genesis_test.go
  x/evidence/keeper/keeper_test.go
Due: modules

updates
  baseapp/abci.go
Due: app

Rosetta/fix/ibc dependency fix (#635)
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/cmd/rosetta/main.go
  tools/rosetta/codec.go
  tools/rosetta/codec_test.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

chore: audit errors in ABCI methods (#16250)
  baseapp/abci.go
Due: app

updates
  baseapp/baseapp.go
Due: app

refactor(distribution)!: use collections for params state (#16211)
  CHANGELOG.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/params.go
  x/distribution/types/keys.go
Due: modules

fix
  x/evidence/testutil/expected_keepers_mocks.go
Due: modules
