Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

update changelog
  CHANGELOG.md
Due: none

fix test
  baseapp/abci.go
  baseapp/abci_test.go
Due: app

feat: upgrade root module to comet v1 (WIP) (2)
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/abci_utils.go
  baseapp/snapshot_test.go
  go.mod
  go.sum
  server/cmt_abci.go
  server/types/abci.go
  types/abci.go
  x/slashing/keeper/keeper_test.go
Due: app, modules

sims docs
  docs/docs/build/building-modules/14-simulator.md
Due: none

ok
  docs/docs/build/building-modules/14-simulator.md
Due: none

blah
  errors/CHANGELOG.md
Due: none

fix(auth): support legacy global AccountNumber when query historical state (#23743)
  CHANGELOG.md
  x/auth/keeper/keeper.go
  x/auth/migrations/v5/migrate.go
  x/auth/migrations/v5/migrate_test.go
  x/auth/types/keys.go
Due: modules

lint
  x/auth/keeper/keeper.go
Due: modules

Apply suggestions from code review
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
Due: modules

chore: use new tags (#24518)
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

Apply suggestions from code review
  x/auth/keeper/keeper.go
  x/auth/migrations/v5/migrate.go
Due: modules

add comment for the changes
  baseapp/abci.go
Due: app

docs: update simulation docs (#24529)
  docs/docs/build/building-modules/14-simulator.md
Due: none

apply comments
  baseapp/abci.go
Due: app

update-sims-wfs
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-050.yml
  .github/workflows/sims-053.yml
  .github/workflows/sims-nightly.yml
Due: none

fix: fix Protobuf make targets
  Makefile
Due: none

chore: clean up nightly sims workflows (#24536)
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-050.yml
  .github/workflows/sims-053.yml
  .github/workflows/sims-nightly.yml
Due: none

Remove dependency on sr25519 in the SDK (removed in Comet v1)
  crypto/codec/amino.go
  crypto/hd/algo.go
  crypto/hd/algo_test.go
  crypto/keys/multisig/codec.go
  crypto/ledger/encode_test.go
Due: none

test: ironbird
  x/protocolpool/autocli.go
Due: modules

fix: cip-31 impl (#458)
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/msg_server.go
Due: modules

chore: update codeowners (#459)
  .github/CODEOWNERS
Due: none

chore: make ci green (#456)
  .github/workflows/codeql-analysis.yml
  .github/workflows/staticmajor.yml
  .github/workflows/test.yml
  contrib/images/simd-env/wrapper.sh
  docker-compose.yml
Due: none

docs: Update doc links from v0.50.0-alpha.0 to v0.53.0-rc.2 (#24521)
  docs/docs/learn/advanced/10-ocap.md
  docs/docs/learn/beginner/03-accounts.md
  docs/docs/learn/intro/03-sdk-design.md
  docs/docs/user/run-node/01-run-node.md
  docs/docs/user/run-node/03-txs.md
Due: none

add test case
  baseapp/abci_test.go
Due: app

fix: incorrect retention height when `commitHeight` equals `minRetainBlocks` (#24526)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
Due: app

client prep
  client/v2/CHANGELOG.md
  client/v2/go.mod
  client/v2/go.sum
Due: client

linls
  client/v2/CHANGELOG.md
Due: client

Update x/auth/migrations/v5/migrate.go
  x/auth/migrations/v5/migrate.go
Due: modules

delete unused
  .github/PULL_REQUEST_TEMPLATE/docs.md
  .github/PULL_REQUEST_TEMPLATE/other.md
Due: none

make simpler
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add changelog entry for sr25519 removal
  CHANGELOG.md
Due: none

fix typo
  .github/codeql/config.yml
Due: none

clean dead wf
  .github/actions/last-workflow-status/action.yaml
  .github/workflows/stale.yml
Due: none

add telemetry measurement
  x/auth/module.go
Due: modules

WIP abstracted auth spike (approach C)
  x/auth/v2/keeper/account_id.go
  x/auth/v2/keeper/address.go
  x/auth/v2/keeper/address_type.go
  x/auth/v2/keeper/keeper.go
Due: modules

preblocker key
  CHANGELOG.md
  telemetry/wrapper.go
  x/auth/module.go
  x/upgrade/abci.go
Due: modules

chore: add telemetry measurement to x/auth PreBlocker (#24541)
  CHANGELOG.md
  telemetry/wrapper.go
  x/auth/module.go
  x/upgrade/abci.go
Due: modules
