Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

revert proto change
  proto/cosmos/authz/v1beta1/authz.proto
  proto/cosmos/bank/v1beta1/bank.proto
Due: none

docs
  .github/workflows/proto.yml
Due: none

revert comment
  .github/workflows/proto-registry.yml
  .github/workflows/proto.yml
Due: none

feat: add pbtime util package
  pbtime/README.md
  pbtime/cmp.go
  pbtime/cmp_test.go
Due: none

fixes
  orm/internal/codegen/codegen.go
  orm/internal/codegen/file.go
  orm/internal/codegen/table.go
Due: none

feat(orm): return newly generated ID with auto-increment tables (#11040)
  orm/internal/codegen/codegen.go
  orm/internal/codegen/file.go
  orm/internal/codegen/index.go
  orm/internal/codegen/singleton.go
  orm/internal/codegen/table.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/model/ormtable/auto_increment.go
  orm/model/ormtable/auto_increment_test.go
  orm/model/ormtable/table.go
  orm/model/ormtable/testdata/test_auto_inc.golden
Due: none

feat: v1beta1 gov query server (#11029)
  CHANGELOG.md
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper_test.go
  x/gov/migrations/v046/migrate.go
  x/gov/module.go
Due: modules

WIP on compact ordered varints
  orm/encoding/ormfield/codec_test.go
  orm/encoding/ormfield/uint32.go
  orm/encoding/ormfield/uint64.go
Due: none

chore: use buf ci (#11071)
  .github/workflows/proto-registry.yml
  .github/workflows/proto.yml
Due: none

fix: remove grpc replace directive
  baseapp/grpcrouter.go
  baseapp/grpcrouter_helpers.go
  codec/proto_codec.go
  go.mod
  go.sum
Due: app

fix: grpc server uses the sdk codec
  server/grpc/server.go
Due: none

fix: grpc proto codec switches
  codec/proto_codec.go
  server/grpc/server_test.go
Due: none

fix: client context
  client/grpc_query.go
  codec/proto_codec.go
Due: client

fix: config_test.go
  client/config/config_test.go
Due: client

fix: baseapp_test.go
  baseapp/baseapp_test.go
Due: app

fixes and tests
  orm/encoding/ormfield/codec.go
  orm/encoding/ormfield/uint32.go
  orm/encoding/ormfield/uint64.go
  orm/model/ormtable/testdata/test_auto_inc.golden
  orm/model/ormtable/testdata/test_scenario.golden
Due: none

docs
  orm/encoding/ormfield/codec_test.go
  orm/encoding/ormfield/uint32.go
  orm/encoding/ormfield/uint64.go
  proto/cosmos/orm/v1alpha1/orm.proto
Due: none

feat(orm): ModuleDB JSON methods
  orm/internal/codegen/file.go
  orm/internal/codegen/singleton.go
  orm/internal/codegen/table.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/model/ormdb/module.go
Due: none

bump iavl version
  store/tools/ics23/go.mod
  store/tools/ics23/go.sum
  store/tools/ics23/iavl/convert.go
  store/tools/ics23/iavl/create.go
  store/tools/ics23/iavl/helpers/helpers.go
Due: none

fix imports, cleanup
  store/tools/ics23/iavl/README.md
  store/tools/ics23/iavl/convert_test.go
  store/tools/ics23/iavl/create_test.go
  store/tools/ics23/smt/create.go
  store/tools/ics23/smt/create_test.go
  store/tools/ics23/tendermint/README.md
  store/tools/ics23/tendermint/convert_test.go
  store/tools/ics23/tendermint/create_test.go
Due: none

ics23-tendermint was moved into the sdk in 2020. use that.
  store/internal/proofs/create.go
  store/internal/proofs/create_test.go
  store/tools/ics23/go.mod
  store/tools/ics23/go.sum
  store/tools/ics23/tendermint/cmd/testgen-simple/main.go
  store/tools/ics23/tendermint/convert.go
  store/tools/ics23/tendermint/convert_test.go
  store/tools/ics23/tendermint/create.go
  store/tools/ics23/tendermint/create_test.go
  store/tools/ics23/tendermint/helpers/helpers.go
Due: none

proper cli errors
  store/tools/ics23/iavl/cmd/testgen-iavl/main.go
  store/tools/ics23/tendermint/cmd/testgen-simple/main.go
Due: none

go.mod - update ics23 pending version bump
  store/tools/ics23/go.mod
  store/tools/ics23/go.sum
Due: none

add cli tests
  x/group/client/cli/tx.go
  x/group/client/testutil/tx.go
  x/group/msgs_test.go
Due: modules

address review comments
  x/group/keeper/keeper.go
  x/group/keeper/msg_server.go
Due: modules

fix failing tests
  x/group/client/testutil/query.go
  x/group/client/testutil/tx.go
Due: modules

revert: "support custom mnemonics in in-process testing network (backport #10922) (#10935)" (#11083)
  server/init.go
  server/init_test.go
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
Due: none

Update
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

update date
  CHANGELOG.md
Due: none

add keeper tests
  x/group/keeper/keeper_test.go
Due: modules

Move all conversion functions inside one file
  x/gov/migrations/v046/convert.go
  x/gov/migrations/v046/json.go
  x/gov/migrations/v046/migrate.go
Due: modules

fix build
  x/gov/migrations/v046/store.go
Due: modules

Update cl
  CHANGELOG.md
Due: none

Update x/genutil/migrations/v046/migrate.go
  x/genutil/migrations/v046/migrate.go
Due: modules

fix test
  x/authz/client/testutil/tx.go
Due: modules

refactor: Use config in gov keeper
  simapp/app.go
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/gov/types/config.go
Due: modules

remove & add since
  api/cosmos/bank/v1beta1/bank.pulsar.go
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/gov/v1beta2/tx.pulsar.go
  api/cosmos/gov/v1beta2/tx_grpc.pb.go
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  api/cosmos/tx/v1beta1/tx.pulsar.go
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/base/abci/v1beta1/abci.proto
  proto/cosmos/gov/v1beta2/tx.proto
  proto/cosmos/tx/v1beta1/tx.proto
  types/abci.pb.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/bank/types/bank.pb.go
  x/gov/types/v1beta2/tx.pb.go
Due: none

Update spec regarding metadata
  CHANGELOG.md
  x/gov/spec/02_state.md
  x/gov/spec/03_messages.md
Due: modules

Add metadata in docs
  x/gov/spec/03_messages.md
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
