Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore(ci): Warn on unsigned commits instead of closing (#26164)
  .github/workflows/enforce_signed.yml
Due: none

bump comet rc
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

chore(deps): Bump Comet to v0.39.0-rc2 (#26167)
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

bump comet to v0.39.0-rc3
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

remove variadic
  x/auth/ante/fee.go
Due: modules

add note
  enterprise/poa/simapp/ante.go
Due: none

deprecate `app.NewUncachedContext`
  baseapp/test_helpers.go
Due: app

chore(deps): bump comet to v0.39.0-rc3 (#26169)
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

changelog
  CHANGELOG.md
Due: none

docs
  iavlx/internal/importer.go
  iavlx/internal/mutation_context.go
Due: none

comment
  baseapp/test_helpers.go
Due: app

add details to changelog
  CHANGELOG.md
Due: none

edit validator msg
  enterprise/poa/api/cosmos/poa/v1/poa.pulsar.go
  enterprise/poa/api/cosmos/poa/v1/query_grpc.pb.go
  enterprise/poa/api/cosmos/poa/v1/tx.pulsar.go
  enterprise/poa/api/cosmos/poa/v1/tx_grpc.pb.go
  enterprise/poa/proto/cosmos/poa/v1/tx.proto
  enterprise/poa/x/poa/client/cli/tx.go
  enterprise/poa/x/poa/keeper/msg_server.go
  enterprise/poa/x/poa/keeper/msg_server_test.go
  enterprise/poa/x/poa/keeper/validator.go
  enterprise/poa/x/poa/types/events.go
  enterprise/poa/x/poa/types/poa.go
  enterprise/poa/x/poa/types/tx.pb.go
Due: none

add validation test
  enterprise/poa/x/poa/types/poa_test.go
Due: none

bump log version to v2.1.0-rc.0
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

upgrade store log version
  store/go.mod
  store/go.sum
Due: none

chore(baseapp): deprecate `app.NewUncachedContext` (#26170)
  CHANGELOG.md
  baseapp/test_helpers.go
Due: app

upgrade more
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: none

fix comments
  enterprise/poa/x/poa/client/cli/tx.go
  enterprise/poa/x/poa/keeper/msg_server.go
  enterprise/poa/x/poa/keeper/validator.go
Due: none

docs
  iavlx/internal/commit_tree.go
  iavlx/internal/wal_writer.go
Due: none

add edge cases systemtests to poa
  enterprise/poa/tests/systemtests/poa_test.go
Due: none

chore(deps): bump log version to v2.1.0-rc.0 (#26173)
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

re-add validation
  enterprise/poa/x/poa/keeper/msg_server.go
Due: none

add nil guard
  enterprise/poa/x/poa/client/cli/tx.go
Due: none

feat(poa): gate `CreateValidator` to `admin` and enforce non-zero power (#26161)
  enterprise/poa/README.md
  enterprise/poa/api/cosmos/poa/v1/poa.pulsar.go
  enterprise/poa/api/cosmos/poa/v1/tx.pulsar.go
  enterprise/poa/proto/cosmos/poa/v1/tx.proto
  enterprise/poa/tests/systemtests/poa_test.go
  enterprise/poa/x/poa/client/cli/tx.go
  enterprise/poa/x/poa/keeper/keeper_test.go
  enterprise/poa/x/poa/keeper/msg_server.go
  enterprise/poa/x/poa/keeper/msg_server_test.go
  enterprise/poa/x/poa/types/errors.go
  enterprise/poa/x/poa/types/poa.go
  enterprise/poa/x/poa/types/poa_test.go
  enterprise/poa/x/poa/types/tx.pb.go
Due: none

fix test to work with new create msgs
  enterprise/poa/tests/systemtests/poa_test.go
Due: none

docs
  iavlx/internal/commit_tree.go
  iavlx/internal/tree_store.go
Due: none

bump go.mods to github.com/cosmos/cosmos-sdk/store/v2 v2.0.0-rc.0
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
