Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add admin account type
  api/cosmos/accounts/defaults/admin/v1/admin.pulsar.go
  x/accounts/defaults/admin/admin.go
  x/accounts/defaults/admin/depinject/depinject.go
  x/accounts/defaults/admin/v1/admin.pb.go
  x/accounts/proto/cosmos/accounts/defaults/admin/v1/admin.proto
Due: modules

admin disable
  x/bank/proto/cosmos/bank/v2/bank.proto
  x/bank/v2/types/bank.pb.go
  x/bank/v2/types/params.go
Due: modules

update logic
  x/bank/proto/cosmos/bank/v2/authorityMetadata.proto
  x/bank/v2/depinject.go
  x/bank/v2/keeper/admins.go
  x/bank/v2/keeper/createdenom.go
  x/bank/v2/keeper/handlers.go
  x/bank/v2/keeper/keeper.go
  x/bank/v2/module.go
  x/bank/v2/types/authorityMetadata.go
  x/bank/v2/types/authorityMetadata.pb.go
  x/bank/v2/types/expected_keepers.go
Due: modules

test
  x/bank/v2/keeper/keeper_test.go
Due: modules

go mod tidy
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
  x/accounts/defaults/admin/go.mod
  x/accounts/defaults/admin/go.sum
  x/accounts/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/group/go.mod
Due: modules

go mod tidy again
  x/accounts/defaults/base/go.mod
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/multisig/go.mod
Due: modules

fix test
  x/accounts/defaults/admin/admin.go
  x/bank/v2/keeper/handlers.go
  x/bank/v2/keeper/keeper.go
  x/bank/v2/keeper/keeper_test.go
Due: modules

temp commit, checking finalize
  server/v2/cometbft/abci.go
Due: none

need custom prom telemetry service
  core/server/config.go
  core/telemetry/telemetry.go
  go.mod
  go.sum
  runtime/module.go
  runtime/services/telemetry.go
  scripts/gen-txs-v1.sh
  scripts/init-simapp-load-test.sh
  server/v2/api/telemetry/config.go
  simapp/app_config.go
  simapp/v2/app_config.go
  tests/integration/v2/services.go
  x/auth/ante/sigverify.go
  x/benchmark/client/cli/tx.go
  x/benchmark/generator/gen.go
  x/benchmark/generator/gen_test.go
  x/benchmark/module/keeper.go
  x/benchmark/module/module.go
Due: modules

fix: keyring just if needed
  client/v2/autocli/app.go
  client/v2/autocli/common.go
  client/v2/autocli/common_test.go
  client/v2/autocli/msg_test.go
Due: client

lint
  client/v2/autocli/msg.go
  client/v2/offchain/cli.go
  client/v2/tx/factory.go
  client/v2/tx/tx.go
  simapp/simd/cmd/root.go
Due: client

fix(store/v2/pebble): handle version 0 in keys
  store/v2/storage/pebbledb/batch.go
  store/v2/storage/pebbledb/db.go
  store/v2/storage/pebbledb/iterator.go
Due: none

systemtests
  simapp/v2/app_di.go
  x/bank/proto/cosmos/bank/v2/authorityMetadata.proto
  x/bank/v2/keeper/admins.go
  x/bank/v2/keeper/createdenom.go
  x/bank/v2/keeper/handlers.go
  x/bank/v2/keeper/keeper_test.go
  x/bank/v2/types/authorityMetadata.go
  x/bank/v2/types/authorityMetadata.pb.go
  x/bank/v2/types/expected_keepers.go
Due: modules

feat(client): update setFeeGranter and setFeePayer comments
  client/v2/tx/factory.go
Due: client

fix(x/tx/amino): special case for string represented decimals (#22161)
  tests/go.mod
  tests/go.sum
  tests/integration/tx/aminojson/aminojson_test.go
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/encoder.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/options.go
Due: modules

updates
  tests/integration/tx/aminojson/aminojson_test.go
Due: none

feat(x/staking/types): allow empty allow and deny list
  x/staking/types/authz.go
Due: modules

test(x/staking/types): add test for empty allow and deny list
  x/staking/types/authz_test.go
Due: modules

docs(x/staking/types): update docs
  x/authz/README.md
Due: modules

chore(x/staking/types): changelog
  x/staking/CHANGELOG.md
Due: modules

fix (cosmovisor): premature upgrade on restart
  tools/cosmovisor/scanner.go
Due: none

fix: tests
  client/v2/autocli/app.go
Due: client

test(systemtests/authz): update empty allow and deny list
  tests/systemtests/authz_test.go
Due: none

add registration
  x/tx/signing/aminojson/options.go
Due: modules

move to internal finalize block
  server/v2/cometbft/abci.go
Due: none

fix tests
  tools/cosmovisor/scanner.go
Due: none

fix lint
  tools/cosmovisor/scanner.go
Due: none

update changelog
  tools/cosmovisor/CHANGELOG.md
Due: none

typo
  tools/cosmovisor/CHANGELOG.md
Due: none

add version in changelog
  tools/cosmovisor/CHANGELOG.md
Due: none

use optimistic exec
  server/v2/cometbft/abci.go
  server/v2/cometbft/oe/optimistic_execution.go
  server/v2/cometbft/oe/optimistic_execution_test.go
Due: none

remove app hash
  server/v2/cometbft/abci.go
Due: none

fix(store/v2/pebble): handle version 0 in keys (#22524)
  store/v2/storage/pebbledb/batch.go
  store/v2/storage/pebbledb/db.go
  store/v2/storage/pebbledb/iterator.go
Due: none

histograms and pebble
  collections/protocodec/go.mod
  collections/protocodec/go.sum
  runtime/module.go
  runtime/services/telemetry.go
  runtime/v2/builder.go
  runtime/v2/services/telemetry.go
  scripts/init-simapp-load-test-v2.sh
  scripts/init-simapp-load-test.sh
  scripts/init-simapp-v2.sh
  server/v2/cometbft/abci_test.go
  server/v2/stf/go.mod
  server/v2/stf/go.sum
  server/v2/stf/stf.go
  simapp/v2/app_config.go
  store/v2/root/builder.go
  store/v2/root/store.go
  store/v2/storage/pebbledb/batch.go
Due: none

change date
  tools/cosmovisor/CHANGELOG.md
Due: none

fix(cosmovisor): premature upgrade on restart (#22528)
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/scanner.go
Due: none

chore!: improve lsm err handling and testing (#22519)
  tests/integration/staking/keeper/delegation_test.go
  x/staking/client/cli/tx.go
  x/staking/keeper/liquid_stake.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/tokenize_share_record.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
