Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

test: types/query: add fuzzer for Paginate
  types/query/fuzz_test.go
Due: none

test: types/query: add fuzzer for Paginate (#14239)
  types/query/fuzz_test.go
Due: none

chore: audit store/streaming/file/service.go (#14234)
  server/config/config.go
  server/config/toml.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/types/listening.go
Due: none

Revert "feat: add --grpc client option (#14051)"
  client/cmd.go
  client/flags/flags.go
Due: client

fix conflicrs
  server/config/toml.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/types/listening.go
Due: none

fix conflicts
  server/config/toml.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/types/listening.go
Due: none

go mod tidy
  go.mod
Due: none

fix: fix grpc flag
  client/flags/flags.go
  go.mod
Due: client

add mock and cleanup various sdk deps
  scripts/mockgen.sh
  store/dbadapter/store_test.go
  store/mock/tendermint_tm_db_DB.go
  store/snapshots/helpers_test.go
  store/snapshots/store_test.go
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/types/codec.go
  store/types/utils.go
Due: none

don't read from config
  client/flags/flags.go
Due: client

remove unneeded code
  store/types/utils.go
Due: none

test: use temporary folder is tests
  simapp/app_test.go
  tests/integration/store/rootmulti/rollback_test.go
Due: none

fix: fix grpc flag conflict (#14244)
  client/flags/flags.go
  go.mod
Due: client

chore: clean up sdk dependencies from store package (#14245)
  scripts/mockgen.sh
  store/dbadapter/store_test.go
  store/mock/tendermint_tm_db_DB.go
  store/snapshots/helpers_test.go
  store/snapshots/store_test.go
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/types/codec.go
  store/types/utils.go
Due: none

chore(ci): rename statediff CI workflow to consensuswarn
  .github/workflows/consensuswarn.yml
Due: none

ci: rename statediff CI workflow to consensuswarn (#14249)
  .github/workflows/consensuswarn.yml
Due: none

test: use temporary folder in tests (#14246)
  simapp/app_test.go
  tests/integration/store/rootmulti/rollback_test.go
Due: none

fix: math: add LegacyNewDecFromStr fuzzers + remove unnecessary error wrapping
  math/dec.go
  math/fuzz_test.go
Due: none

fix: client/tx: improve user experience on errors in BroadcastTx
  client/tx/tx.go
Due: client

fix: math: add LegacyNewDecFromStr fuzzers + remove unnecessary error wrapping (#14252)
  math/dec.go
  math/fuzz_test.go
Due: none

don't use fmt in app.go
  simapp/app.go
  simapp/app_v2.go
Due: none

updates
  simapp/app.go
  simapp/app_v2.go
Due: none

remove dead code
  types/router.go
  types/utils.go
Due: none

chore: address the pr comments
  CHANGELOG.md
  UPGRADING.md
  tests/e2e/gov/query.go
  x/gov/README.md
  x/gov/keeper/proposal.go
  x/gov/keeper/vote.go
  x/gov/migrations/v4/store.go
  x/gov/types/v1/params.go
Due: modules

fix: fix the test cases
  x/gov/keeper/proposal_test.go
  x/gov/migrations/v4/json_test.go
Due: modules

types audit
  types/mempool/mempool_test.go
  types/mempool/sender_nonce_property_test.go
  types/mempool/sender_nonce_test.go
  types/query/fuzz_test.go
  types/router.go
Due: none

(fix): Added godoc for the PostHandler and reference to the follow up PR.
  baseapp/baseapp.go
  types/handler.go
Due: app

updates
  runtime/app.go
  simapp/app_v2.go
  x/upgrade/module.go
Due: modules

improve comment
  simapp/app_v2.go
Due: none

update logger error
  simapp/app.go
  simapp/app_v2.go
Due: none

refactor: evidence audit
  tests/integration/evidence/infraction_test.go
  x/evidence/keeper/infraction_test.go
  x/evidence/module.go
Due: modules

fix conflicts
  store/streaming/file/service.go
  store/types/listening.go
Due: none
