Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Revert "revert decode.go changes"
  x/tx/decode/decode.go
Due: modules

comments
  x/auth/tx/builder.go
  x/auth/tx/encoder.go
  x/auth/tx/gogotx.go
  x/auth/tx/gogotx_test.go
  x/auth/tx/legacy_amino_json.go
Due: modules

fix linting
  x/bank/types/send_authorization_test.go
Due: modules

fix: check if param store is defined (#403)
  baseapp/options.go
  baseapp/options_test.go
Due: app

chore(deps): upgrade to `prometheus/common` v0.53.0 (#401)
  go.mod
  go.sum
  telemetry/metrics.go
  telemetry/metrics_test.go
Due: none

sonarcleanup
  .golangci.yml
  sonar-project.properties
Due: none

Add build tag to fuzz test target
  Makefile
Due: none

Add changelog
  CHANGELOG.md
Due: none

some more
  sonar-project.properties
Due: none

Restore cron based sims action
  .github/workflows/sims.yml
Due: none

ci: run action in merge queue (#20508)
  .github/workflows/pr-go-mod-tidy-mocks.yml
Due: none

add TODO
  .vscode/launch.json
  server/v2/stf/stf.go
Due: none

add TODO
  simapp/v2/simdv2/cmd/commands.go
Due: none

add TODO
  simapp/v2/export.go
Due: none

clean up
  runtime/v2/manager.go
  server/v2/cometbft/mock_store.go
Due: none

comments
  server/v2/stf/branch/writer_map.go
  server/v2/stf/core_router_service.go
Due: none

lint fix
  simapp/v2/simdv2/cmd/commands.go
Due: none

lint
  x/staking/types/authz_test.go
Due: modules

replaces
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

fix issue #20492
  .vscode/launch.json
  simapp/v2/go.mod
  simapp/v2/go.sum
Due: none

Update sonar-project.properties
  sonar-project.properties
Due: none

fix it
  sonar-project.properties
Due: none

chore: sonar ignore directories with their own go.mods (#20509)
  .golangci.yml
  sonar-project.properties
Due: none

refactor: don't use nil panic
  tools/hubl/internal/compat.go
Due: none

lint: fix lint error
  tools/hubl/internal/compat.go
Due: none

refactor
  server/v2/cometbft/server.go
  simapp/v2/simdv2/cmd/commands.go
Due: none

Revert "change initial version to 0"
  store/v2/commitment/store.go
  store/v2/root/store.go
  store/v2/root/store_test.go
Due: none

fix tests
  server/config/config.toml
  server/config/genesis.json
  server/config/node_key.json
  server/config/priv_validator_key.json
  server/data/priv_validator_state.json
  store/v2/commitment/store.go
  store/v2/commitment/store_test_suite.go
  store/v2/migration/manager_test.go
  store/v2/root/migrate_test.go
  store/v2/root/store.go
  store/v2/root/store_test.go
Due: none

remove generated file
  server/config/config.toml
  server/config/genesis.json
  server/config/node_key.json
  server/config/priv_validator_key.json
  server/data/priv_validator_state.json
Due: none

add comment
  store/v2/commitment/store.go
Due: none

Apply SendRestriction before subUnlockedCoins in SendCoins
  x/bank/keeper/send.go
Due: modules

Update x/bank README.md regarding SendCoins SendRestriction order
  x/bank/README.md
Due: modules

Fix TestSendCoinsWithRestriction by not expecting call to GetAccount
  x/bank/keeper/keeper_test.go
Due: modules

Add changelog regarding reordering of applying SendRestriction in SendCoins
  x/bank/CHANGELOG.md
Due: modules

add minter data
  api/cosmos/mint/v1beta1/mint.pulsar.go
  simapp/mint_fn.go
  x/mint/proto/cosmos/mint/v1beta1/mint.proto
  x/mint/types/mint.pb.go
Due: modules

fix
  simapp/mint_fn.go
Due: none

lint fix
  x/mint/types/genesis_test.go
  x/mint/types/params_test.go
Due: modules

fixes
  simapp/mint_fn.go
Due: none

fix comment
  x/mint/epoch_hooks.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
