Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

add changelog
  CHANGELOG.md
Due: none

finally it works
  simapp/app_di.go
  simapp/mint_fn.go
  tests/integration/staking/keeper/slash_test.go
  x/epochs/depinject.go
  x/epochs/keeper/grpc_query.go
  x/epochs/keeper/keeper.go
  x/epochs/module.go
  x/epochs/types/genesis.go
  x/mint/depinject.go
  x/mint/epoch_hooks.go
  x/mint/keeper/abci.go
  x/mint/keeper/keeper.go
  x/mint/types/genesis.go
Due: modules

Add address codec to validator
  CHANGELOG.md
  api/cosmos/staking/v1beta1/staking.pulsar.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/gov/keeper/common_test.go
  tests/integration/staking/keeper/genesis_test.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/staking/keeper/validator_test.go
  tests/sims/distribution/operations_test.go
  tests/sims/slashing/operations_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/testutil/staking_helper.go
  x/slashing/keeper/hooks_test.go
  x/slashing/keeper/msg_server_test.go
  x/staking/CHANGELOG.md
  x/staking/keeper/grpc_query.go
  x/staking/keeper/msg_server.go
  x/staking/proto/cosmos/staking/v1beta1/staking.proto
  x/staking/simulation/genesis.go
  x/staking/testutil/validator.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Due: modules

add tests
  store/v2/migration/manager_test.go
  store/v2/snapshots/manager_test.go
Due: none

lint fix and fix tests
  simapp/app_di.go
  simapp/mint_fn.go
  x/epochs/keeper/epoch_test.go
  x/epochs/keeper/genesis_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/keeper_test.go
Due: modules

go mod tidy
  simapp/go.mod
  simapp/go.sum
  x/group/go.mod
  x/group/go.sum
  x/mint/go.mod
  x/mint/go.sum
Due: modules

hopefully this is it
  simapp/mint_fn.go
Due: none

hopefully this is it
  simapp/app.go
Due: none

x
  simsx/reporter.go
  tests/integration/bank/testdata/fuzz/FuzzBankSend/93d6f7bc0d93f998
  tests/integration/bank/testdata/fuzz/FuzzBankSend/edde0e79427c9e35
Due: none

update migration logic
  x/accounts/keeper.go
  x/auth/keeper/keeper.go
  x/auth/keeper/migrations.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/auth/vesting/testutil/expected_keepers_mocks.go
Due: modules

rename
  CHANGELOG.md
  server/util.go
  simapp/simd/cmd/testnet_test.go
  tests/e2e/genutil/export_test.go
  testutil/network/util.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/testutil/helpers.go
  x/genutil/collect_test.go
Due: modules

register migrator
  x/auth/module.go
Due: modules

use upgrade handler instead
  simapp/upgrades.go
  x/auth/keeper/migrations.go
  x/auth/module.go
Due: modules

minor
  simapp/upgrades.go
Due: none

clean up
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/auth/vesting/testutil/expected_keepers_mocks.go
Due: modules

fix function name
  x/gov/keeper/migrations.go
Due: modules

fix
  tests/go.mod
Due: none

remove stuffs
  x/auth/migrations/v6/migrate.go
  x/auth/migrations/v6/migrate_test.go
Due: modules

use before epoch start instead of end
  x/mint/epoch_hooks.go
Due: modules

unused
  x/genutil/client/cli/export_test.go
Due: modules

fix some e2e
  tests/e2e/distribution/grpc_query_suite.go
Due: none

x
  simapp/app.go
  simapp/app_di.go
  simapp/runner.go
  simsx/registry.go
  types/module/simulation.go
Due: none

seems to be working now
  tests/e2e/bank/grpc.go
Due: none

remove snapshot conversion fns from store/v2
  runtime/v2/go.mod
  runtime/v2/go.sum
  store/v2/go.mod
  store/v2/go.sum
  store/v2/snapshots/types/convert.go
Due: none

more go mod tidy
  runtime/v2/go.mod
Due: none

Fixed typo in error log in `query.go`
  x/auth/tx/query.go
Due: modules

docs(x/auth/types): Fix error formatting in ValidateGenAccounts
  x/auth/types/genesis.go
Due: modules

add changelog entry
  CHANGELOG.md
  x/staking/keeper/msg_server.go
Due: modules

fix conflicts
  x/staking/keeper/msg_server.go
Due: modules

feat: clean unnecessary 'WithVoteInfos'
  baseapp/baseapp.go
Due: app

fix non-deterministic tests
  x/staking/simulation/operations.go
Due: modules

chore: fix function name (#20442)
  x/gov/keeper/migrations.go
Due: modules

chore: regresion tests todo
  codec/unknownproto/regression_test.go
Due: none

linting issues
  x/distribution/testutil/staking_helper.go
  x/staking/keeper/msg_server.go
  x/staking/simulation/genesis.go
  x/staking/testutil/validator.go
Due: modules

x
  simapp/runner.go
  simsx/registry.go
  simsx/reporter.go
  tests/integration/staking/simulation/operations_test.go
  testutil/sims/simulation_helpers.go
  types/module/simulation.go
  x/bank/module.go
  x/protocolpool/depinject.go
  x/staking/depinject.go
  x/staking/simulation/msg_factory.go
  x/staking/simulation/operations.go
Due: modules

refactor!: update staking code #2 (#20444)
  CHANGELOG.md
  tests/integration/staking/keeper/msg_server_test.go
  x/staking/keeper/msg_server.go
  x/staking/simulation/operations.go
  x/staking/types/errors.go
Due: modules

minor change
  x/staking/keeper/grpc_query.go
Due: modules

docs(x/auth/tx): fixed typo in error log in `query.go` (#20447)
  x/auth/tx/query.go
Due: modules

refactor(store/v2): remove snapshot conversion fns from store/v2 (#20445)
  runtime/v2/go.mod
  runtime/v2/go.sum
  store/v2/go.mod
  store/v2/go.sum
  store/v2/snapshots/types/convert.go
Due: none
