Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

cleanup with blockheight usage
  baseapp/abci.go
  baseapp/baseapp.go
  types/context.go
  types/context_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/setup_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/distribution/keeper/delegation_test.go
  x/slashing/abci_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/genesis.go
  x/staking/keeper/validator_test.go
Due: app, modules

add isolated storage for accounts
  x/accounts/internal/implementation/account_test.go
  x/accounts/internal/implementation/context.go
  x/accounts/internal/implementation/context_test.go
  x/accounts/internal/prefixstore/prefixstore.go
Due: modules

perf: optimize math.Int.Size for small values
  math/CHANGELOG.md
  math/fuzz_test.go
  math/int.go
  math/int_test.go
Due: none

dir perms
  tools/hubl/internal/config/config.go
  tools/hubl/internal/load.go
Due: none

refactor(client/keys): use address codec
  client/context.go
  client/keys/add.go
  client/keys/list.go
  client/keys/output.go
  client/keys/show.go
  client/keys/utils.go
  simapp/simd/cmd/root_v2.go
Due: client

more test fixes
  simapp/export.go
  tests/integration/evidence/keeper/infraction_test.go
  x/feegrant/simulation/operations_test.go
Due: modules

fix tests
  client/keys/add_test.go
  client/keys/list_test.go
  client/keys/migrate_test.go
  client/keys/output_test.go
  client/keys/show_test.go
Due: client

updates
  client/cmd.go
  client/context.go
Due: client

updates
  crypto/keyring/keyring.go
Due: none

refactor: switch Int and Uint to cosmossdk.io/math (#481)
  go.mod
  go.sum
  types/coin.go
  types/dec_coin.go
  types/decimal.go
  types/denom.go
  types/int.go
  types/int_internal_test.go
  types/int_test.go
  types/math.go
  types/uint.go
  types/uint_internal_test.go
  types/uint_test.go
  x/auth/vesting/types/vesting_account.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/validator.go
  x/gov/keeper/deposit.go
  x/gov/keeper/tally.go
  x/gov/simulation/operations.go
  x/slashing/handler_test.go
  x/staking/app_test.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/pool.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/types/msg.go
  x/staking/types/validator.go
Due: modules

updates
  client/context.go
  client/debug/main.go
  client/keys/parse.go
  client/keys/show.go
  client/prompt_validation.go
  client/tx/tx.go
Due: client

updates
  simapp/app.go
  simapp/simd/cmd/root.go
Due: none

update tests
  tests/integration/auth/client/cli/suite_test.go
  x/authz/client/cli/tx_test.go
  x/bank/client/cli/tx_test.go
  x/distribution/client/cli/tx_test.go
  x/feegrant/client/cli/tx_test.go
  x/gov/client/cli/tx_test.go
  x/group/client/cli/tx_test.go
  x/nft/client/cli/tx_test.go
  x/slashing/client/cli/tx_test.go
  x/staking/client/cli/tx_test.go
Due: modules

lint
  client/keys/output.go
  client/keys/show_test.go
  crypto/keyring/keyring.go
  x/bank/client/cli/tx_test.go
  x/distribution/client/cli/tx_test.go
  x/gov/migrations/v3/convert.go
  x/group/client/cli/tx_test.go
  x/slashing/client/cli/tx_test.go
Due: modules, client

refactor: switch Dec to cosmossdk.io/math (#482)
  go.mod
  go.sum
  types/decimal.go
  types/decimal_internal_test.go
  types/decimal_test.go
  types/math.go
Due: none

updates
  store/storage/sqlite/batch.go
  store/storage/sqlite/db.go
  store/storage/sqlite/db_test.go
  store/storage/sqlite/iterator.go
Due: none

updates
  store/go.mod
Due: none

updates
  store/go.mod
  store/go.sum
  store/storage/pebbledb/db.go
Due: none

ci: update test workflow to use rocksdb dependency
  .github/workflows/test.yml
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  orm/go.mod
  orm/go.sum
  store/go.mod
  store/go.sum
Due: none

updates
  store/storage/storage_bench_test.go
Due: none

ci: update test workflow to use rocksdb dependency (#17416)
  .github/workflows/test.yml
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  orm/go.mod
  orm/go.sum
  store/go.mod
  store/go.sum
Due: none

use any
  x/accounts/internal/implementation/api_builder.go
  x/accounts/internal/implementation/implementation.go
  x/accounts/internal/implementation/protoaccount.go
Due: modules

make err invalid msg private
  x/accounts/internal/implementation/api_builder.go
  x/accounts/internal/implementation/implementation_test.go
  x/accounts/internal/implementation/protoaccount.go
Due: modules

feat(accounts): add Account interface and Implementation (#17495)
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/internal/implementation/account_test.go
  x/accounts/internal/implementation/api_builder.go
  x/accounts/internal/implementation/api_builder_test.go
  x/accounts/internal/implementation/implementation.go
  x/accounts/internal/implementation/implementation_test.go
  x/accounts/internal/implementation/interface.go
  x/accounts/internal/implementation/protoaccount.go
Due: modules

updates
  store/storage/pebbledb/iterator.go
  store/storage/sqlite/db.go
  store/storage/storage_bench_test.go
  store/storage/storage_test_suite.go
Due: none

updates
  store/storage/storage_bench_test.go
  store/storage/storage_test_suite.go
Due: none

updates
  store/storage/pebbledb/iterator.go
  store/storage/sqlite/db.go
Due: none

perf: optimize math.Int.Size for small values (#17497)
  math/CHANGELOG.md
  math/fuzz_test.go
  math/int.go
  math/int_test.go
Due: none

updates
  store/storage/db.go
Due: none

tests: test get after deletion in store v2
  store/storage/storage_test_suite.go
Due: none

fix doc
  x/staking/keeper/keeper.go
Due: modules

doc
  x/staking/keeper/keeper.go
Due: modules

refactor(x/staking): migrate RedelegationByValDstIndexKey key to collections (#17336)
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/migrations/v2/keys.go
  x/staking/migrations/v2/store_test.go
  x/staking/types/keys.go
  x/staking/types/keys_test.go
Due: modules

fix integration tests
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

change listen address to 127.0.0.1
  docs/docs/run-node/06-run-production.md
  server/start.go
  simapp/simd/cmd/testnet.go
  tests/starship/tests/suite.go
  testutil/network/network.go
  testutil/network/util.go
Due: none

add listen-ip-address for testnet
  CHANGELOG.md
  Makefile
  simapp/simd/cmd/testnet.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
