Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix tests
  x/staking/client/testutil/grpc.go
Due: modules

add authz & feegrant swagger
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

human readable error
  x/auth/ante/setup.go
Due: modules

fix: nil pointer panic on NewIntFromBigInt
  types/int.go
  types/int_test.go
Due: none

c++
  CHANGELOG.md
Due: none

Update x/auth/ante/setup.go
  x/auth/ante/setup.go
Due: modules

address review changes
  x/gov/genesis.go
  x/gov/keeper/deposit.go
  x/gov/spec/01_concepts.md
Due: modules

fix TestRunMigrations
  simapp/app_test.go
  x/bank/module.go
Due: modules

docs(swagger): add authz & feegrant swagger docs (#9625)
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

sdk Int tests
  types/int.go
  types/int_test.go
Due: none

Add group proto definitions and basic types
  docs/core/proto-docs.md
  types/tx/types.go
  x/auth/tx/builder.go
  x/gov/types/gov.pb.go
Due: modules

Add files
  proto/cosmos/group/v1beta1/query.proto
  proto/cosmos/group/v1beta1/tx.proto
  proto/cosmos/group/v1beta1/types.proto
  types/tx/msgs.go
  x/group/errors.go
  x/group/keys.go
  x/group/proposal.go
  x/group/query.pb.go
  x/group/tx.pb.go
  x/group/types.go
  x/group/types.pb.go
Due: modules

Lint
  types/tx/msgs.go
Due: none

fix lint issues
  .golangci.yml
Due: none

add changelog
  CHANGELOG.md
Due: none

run proto-all
  x/bank/types/bank.pb.go
Due: none

types: fix nil pointer panic on `NewIntFromBigInt` (#9627)
  CHANGELOG.md
  types/int.go
  types/int_test.go
Due: none

Add more content
  docs/architecture/adr-044-protobuf-updates-guidelines.md
Due: none

move changelog to API-breaking section
  CHANGELOG.md
Due: none

feat: add coins burned to slash event (#9458)
  CHANGELOG.md
  x/distribution/types/expected_keepers.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/spec/06_events.md
  x/slashing/types/events.go
  x/slashing/types/expected_keepers.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/types/expected_keepers.go
Due: modules

Update x/bank/types/key.go
  x/bank/types/key.go
Due: modules

x/bank: improve naming
  x/bank/keeper/grpc_query.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/legacy/v044/keys.go
  x/bank/legacy/v044/store.go
  x/bank/legacy/v044/store_test.go
  x/bank/types/key.go
Due: modules

x/bank: add Has check
  x/bank/keeper/send.go
Due: modules

changelog entry
  CHANGELOG.md
Due: none

Apply suggestions from code review
  CHANGELOG.md
  client/keys/rename.go
  client/keys/rename_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Due: client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

make update-swagger-docs
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

add equality function
  crypto/keyring/keyring_test.go
Due: none

fix imports
  simapp/app.go
  x/auth/client/cli/tx_multisign.go
Due: modules

update fundmoduleaccount call
  x/distribution/keeper/delegation_test.go
Due: modules

fix: WithdrawRewards event emit value when no rewards (#9599)
  CHANGELOG.md
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper.go
Due: modules

added missing private-key save inside x/genutil/utils.go
  x/genutil/utils.go
Due: modules

add Deprecated message
  x/auth/module.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/bank/module.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/mint/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
