Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Enhanced ParsePagination docs
  CHANGELOG.md
  types/query/pagination.go
Due: none

lint fix
  x/accounts/defaults/multisig/account_test.go
Due: modules

Update changelog
  CHANGELOG.md
Due: none

remove cockroach db errors
  baseapp/abci.go
  baseapp/abci_utils.go
  baseapp/baseapp.go
  client/cmd.go
  client/query.go
  client/v2/autocli/flag/binary.go
  client/v2/autocli/flag/map.go
  client/v2/autocli/flag/maps/generic.go
  client/v2/autocli/msg.go
  client/v2/autocli/query.go
  client/v2/go.mod
  depinject/check_type.go
  depinject/config.go
  depinject/container.go
  depinject/errors.go
  depinject/go.mod
  depinject/go.sum
  depinject/group.go
  depinject/one_per_module.go
  depinject/provider_desc.go
  depinject/struct_args.go
  go.mod
  simapp/gomod2nix.toml
  store/v2/go.mod
  store/v2/root/store.go
  tools/hubl/go.mod
  tools/hubl/internal/load.go
  x/circuit/ante/circuit.go
  x/circuit/go.mod
  x/distribution/go.mod
  x/distribution/keeper/keeper.go
  x/slashing/go.mod
  x/slashing/keeper/infractions.go
Due: app, modules, client

remove dep
  depinject/config.go
  depinject/go.mod
  depinject/go.sum
Due: none

wip: remove abci logic
  x/mint/README.md
  x/mint/depinject.go
  x/mint/keeper/abci.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/module.go
  x/mint/simulation/genesis_test.go
  x/mint/testutil/expected_keepers_mocks.go
  x/mint/types/expected_keepers.go
  x/mint/types/genesis.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
Due: modules

fix: remove our custom MinComissionRate implementation and switch to params in staking module
  x/staking/types/commission.go
  x/staking/types/msg.go
  x/staking/types/params.go
Due: modules

Remove unnecessary trailing space
  CHANGELOG.md
Due: none

break apart codecs
  codec/depinject.go
  runtime/module.go
Due: none

fix bank's EndBlock method signature
  x/bank/module.go
Due: modules

Removoed SchemaCache field
  x/accounts/query_server.go
Due: modules

Removed unnecessary field from queryServer struct
  x/accounts/query_server.go
Due: modules

add proto
  proto/cosmos/streaming/v1/grpc.proto
Due: none

go mod
  tests/go.mod
  tests/go.sum
Due: none

move logger to core
  core/appmodule/v2/environment.go
  core/go.mod
  core/go.sum
  core/log/logger.go
  core/log/noop.go
  log/go.mod
  log/go.sum
  log/logger.go
  runtime/environment.go
  x/circuit/keeper/genesis_test.go
Due: modules

fix linting issues
  client/v2/autocli/msg.go
  runtime/v2/store.go
Due: client

refactor(runtime/v2): remove dependency on sdk
  codec/depinject.go
  core/appmodule/module.go
  core/appmodule/v2/genesis.go
  core/appmodule/v2/module.go
  crypto/codec/proto.go
  crypto/keys/secp256r1/doc.go
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/go.mod
  runtime/v2/go.sum
  runtime/v2/manager.go
  runtime/v2/module.go
  runtime/v2/store.go
  runtime/v2/types.go
  std/codec.go
  types/codec.go
  types/tx/types.go
  x/genutil/module.go
Due: modules

runtime/v1 follow up
  runtime/module.go
Due: none

lint fix
  crypto/codec/proto.go
  crypto/keys/secp256r1/doc.go
  runtime/v2/builder.go
  types/tx/types.go
Due: none

lint fixes
  core/appmodule/module.go
  core/appmodule/v2/module.go
  runtime/v2/app.go
  runtime/v2/module.go
Due: none

feegranter bech32
  client/tx/factory.go
  client/tx_config.go
  x/auth/ante/feegrant_test.go
  x/auth/client/cli/tx_sign.go
  x/auth/tx/aux_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/direct_aux_test.go
  x/auth/tx/legacy_amino_json_test.go
Due: modules, client

chore: remove cockroach db errors (#20386)
  baseapp/abci.go
  baseapp/abci_utils.go
  baseapp/baseapp.go
  client/cmd.go
  client/query.go
  client/v2/autocli/flag/binary.go
  client/v2/autocli/flag/map.go
  client/v2/autocli/flag/maps/generic.go
  client/v2/autocli/msg.go
  client/v2/autocli/query.go
  client/v2/go.mod
  depinject/check_type.go
  depinject/config.go
  depinject/container.go
  depinject/errors.go
  depinject/go.mod
  depinject/go.sum
  depinject/group.go
  depinject/one_per_module.go
  depinject/provider_desc.go
  depinject/struct_args.go
  go.mod
  runtime/v2/store.go
  simapp/gomod2nix.toml
  store/v2/go.mod
  store/v2/root/store.go
  tools/hubl/go.mod
  tools/hubl/internal/load.go
  x/circuit/ante/circuit.go
  x/circuit/go.mod
  x/distribution/go.mod
  x/distribution/keeper/keeper.go
  x/slashing/go.mod
  x/slashing/keeper/infractions.go
Due: app, modules, client

x
  x/bank/simulation/msg_delivery.go
  x/bank/simulation/msg_factory.go
  x/bank/simulation/operations.go
  x/bank/simulation/sim_reporter.go
Due: modules

fix\(sims\): skip operations that use denoms that can\'t be sent
  x/distribution/simulation/operations.go
  x/distribution/types/expected_keepers.go
  x/simulation/simulate.go
  x/staking/simulation/operations.go
  x/staking/types/expected_keepers.go
Due: modules

remove test print
  x/simulation/simulate.go
Due: modules

make mocks
  testutil/mock/types_module_module.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
Due: modules

add migration for auth
  x/accounts/keeper.go
  x/auth/keeper/keeper.go
  x/auth/keeper/migrations.go
  x/auth/migrations/v6/migrate.go
  x/auth/migrations/v6/migrate_test.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/auth/vesting/testutil/expected_keepers_mocks.go
Due: modules

clean up interface
  x/accounts/keeper.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/auth/vesting/testutil/expected_keepers_mocks.go
Due: modules

fix tests
  simapp/app.go
  tests/integration/example/example_test.go
Due: none
