Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

lint
  testutil/network/network.go
Due: none

refactor!: remove replaces from CometBFT migrate and fix sims
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/feegrant/go.mod
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

revert
  tools/hubl/go.mod
  tools/hubl/go.sum
Due: none

updates
  Makefile
  store/go.mod
  store/go.sum
  tools/hubl/go.sum
Due: none

updates
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: none

remove closeFns
  testutil/network/network.go
Due: none

build
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

go get
  store/go.mod
  tests/go.mod
  tests/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

try
  go.mod
  simapp/go.mod
  simapp/go.sum
  store/go.mod
Due: none

try
  tools/cosmovisor/go.mod
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

updates
  server/config/config.go
  server/config/toml.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  tools/confix/data/v0.48-app.toml
  x/genutil/testutil/expected_keepers_mocks.go
Due: modules

updates
  docs/docusaurus.config.js
  store/iavl/store.go
  store/internal/maps/maps.go
  store/internal/proofs/convert.go
  store/internal/proofs/helpers.go
  store/snapshots/manager.go
  store/types/commit_info.go
  store/types/proof.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/delegation_test.go
  tests/integration/distribution/keeper/keeper_test.go
  tools/confix/upgrade.go
  tools/confix/upgrade_test.go
  x/upgrade/abci_test.go
Due: modules

updates
  simapp/go.mod
  simapp/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

ibc-resolve=>resolve-denom
  proto/cosmos/bank/v1beta1/query.proto
  x/bank/keeper/grpc_query.go
Due: modules

proto-gen
  api/cosmos/bank/v1beta1/query.pulsar.go
  go.mod
  go.sum
  x/bank/keeper/grpc_query.go
  x/bank/types/querier.go
  x/bank/types/query.pb.go
Due: modules

change flag
  x/bank/client/cli/query.go
Due: modules

edit changelog
  CHANGELOG.md
Due: none

wip: use json.RawMessage for pubkey type
  x/staking/client/cli/utils.go
Due: modules

fix tests
  tests/e2e/staking/suite.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
Due: modules

refactor: moving value codecs to a single place (#14912)
  math/collections.go
  math/go.mod
  math/go.sum
  types/codec.go
  types/codec_test.go
Due: none

build(deps): Bump cosmossdk.io/math from 1.0.0-beta.5 to 1.0.0-beta.6 for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

updates
  store/go.mod
  store/go.sum
  x/circuit/go.sum
Due: modules

return named error for write validators
  CHANGELOG.md
  x/staking/genesis.go
Due: modules

updates
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

address review comments
  CHANGELOG.md
  x/staking/README.md
  x/staking/client/cli/tx.go
Due: modules

remove tendermint dependency
  go.mod
Due: none

tendermint bytes=> cometbft bytes
  x/bank/keeper/keeper_test.go
Due: modules

fix errors
  x/bank/keeper/keeper_test.go
Due: modules

fix: return named error for write validators (#14919)
  CHANGELOG.md
  x/staking/genesis.go
Due: modules

fix conflicts
  CHANGELOG.md
Due: none

fix conflicts
  CHANGELOG.md
  x/staking/genesis.go
Due: modules

fix(math): check for negative precision
  math/dec.go
Due: none

updates
  math/dec_test.go
Due: none

better name
  math/dec_test.go
Due: none

go mod tidy
  go.sum
Due: none

change noplogger from pointer to non
  log/noop_logger.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
