Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

fix: ci lint
  internal/testutil/cmd.go
Due: none

add baseapp module key to logger
  runtime/builder.go
  simapp/app.go
Due: none

Update CHANGELOG.md
  collections/CHANGELOG.md
Due: none

same-sender non-sequential sequence
  CHANGELOG.md
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
Due: app

chore(collections): fix broken link (#19212)
  collections/CHANGELOG.md
Due: none

move GenesisStateWithSingleValidator func to testutil
  baseapp/block_gas_test.go
  baseapp/utils_test.go
  testutil/sims/utils.go
Due: app

fix baseapp test
  baseapp/utils_test.go
Due: app

chore: improve autocli legacy wiring example
  client/v2/autocli/app.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
Due: client

revert
  simapp/simd/cmd/root_v2.go
Due: none

fix tests
  x/auth/ante/ante_test.go
  x/auth/ante/fee_test.go
Due: modules

refactor(x/auth/ante): migrate antehandlers to use execmode (#19161)
  baseapp/baseapp.go
  types/context.go
  x/auth/CHANGELOG.md
  x/auth/ante/ante_test.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/ante/fee.go
  x/auth/ante/fee_test.go
  x/auth/ante/setup.go
  x/auth/ante/sigverify.go
  x/auth/ante/validator_tx_fee.go
Due: app, modules

refactor(client/v2,simapp): align and simplify sign mode wiring
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/msg.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
Due: client

changelog
  client/v2/CHANGELOG.md
Due: client

fix(baseapp): ensure ABCI listeners always run in FinalizeBlock (#19202)
  baseapp/abci.go
Due: app

fix: readme
  client/v2/README.md
Due: client

feat(client/v2/offchain): sign and verify file (#18626)
  client/v2/CHANGELOG.md
  client/v2/README.md
  client/v2/internal/offchain/msgSignArbitraryData.proto
  client/v2/internal/offchain/msgSignArbitraryData.pulsar.go
  client/v2/offchain/builder.go
  client/v2/offchain/cli.go
  client/v2/offchain/common_test.go
  client/v2/offchain/encode.go
  client/v2/offchain/encode_test.go
  client/v2/offchain/marshal.go
  client/v2/offchain/sign.go
  client/v2/offchain/sign_test.go
  client/v2/offchain/signature.go
  client/v2/offchain/verify.go
  client/v2/offchain/verify_test.go
  simapp/simd/cmd/commands.go
Due: client

refactor(client/v2,simapp): align and simplify sign mode wiring (#19216)
  client/v2/CHANGELOG.md
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/msg.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
Due: client

move x/auth/tx to use x/tx
  x/auth/go.mod
  x/auth/tx/adapter.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/builder_write.go
  x/auth/tx/config.go
  x/auth/tx/decoder.go
  x/auth/tx/encode_decode_test.go
  x/auth/tx/encoder.go
  x/auth/tx/gogotx.go
  x/auth/tx/gogotx_test.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/service.go
  x/auth/tx/sigs.go
  x/tx/go.mod
Due: modules

fix conflicts
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/msg.go
  simapp/simd/cmd/root.go
Due: client

bump to latest client/v2
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

updates
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

chore: spelling errors fixes
  client/v2/offchain/cli.go
  types/context.go
Due: client

checkpoint
  x/auth/tx/builder.go
  x/auth/tx/builder_write.go
  x/auth/tx/config.go
  x/auth/tx/decoder.go
  x/auth/tx/gogotx.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/query.go
  x/auth/tx/service.go
Due: modules

typo
  docs/build/abci/00-introduction.md
Due: none

chore: fix spelling errors (#19220)
  client/v2/offchain/cli.go
  docs/build/abci/00-introduction.md
  types/context.go
Due: client

fix(x/auth): check if simulation in verifyIsOnCurve (#19099)
  x/auth/CHANGELOG.md
  x/auth/ante/sigverify.go
Due: modules

bring back preblock
  server/v2/appmanager/go.mod
  server/v2/cometbft/abci.go
  server/v2/cometbft/go.mod
  server/v2/core/appmanager/app.go
  server/v2/stf/stf.go
  server/v2/stf/stf_test.go
Due: none

fix events
  server/v2/cometbft/abci.go
  server/v2/stf/stf.go
Due: none

add consensus params to init
  server/v2/appmanager/go.mod
  server/v2/cometbft/abci.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/core/store/types.go
  server/v2/stf/stf.go
  simapp/gomod2nix.toml
Due: none

Update docs/architecture/adr-071-cryptography-v2.md
  docs/architecture/adr-071-cryptography-v2.md
Due: none

more fixes
  x/auth/tx/config.go
  x/auth/tx/decoder.go
  x/auth/tx/encoder.go
  x/auth/tx/gogotx.go
Due: modules

more fixes2
  x/auth/tx/gogotx.go
Due: modules

add more fixes
  x/auth/tx/builder.go
  x/auth/tx/encoder.go
  x/auth/tx/gogotx.go
  x/auth/tx/testutil/suite.go
Due: modules

added codec
  types/address.go
Due: none
