Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Typo
  snapshots/restorer.go
Due: none

remove make from proto
  .circleci/config.yml
Due: none

fix circle
  .circleci/config.yml
Due: none

move proto to github actions
  .circleci/config.yml
  .github/workflows/proto.yml
Due: none

remove shell
  .github/workflows/proto.yml
Due: none

test pwd
  .github/workflows/proto.yml
Due: none

fixes fixes fixes
  x/ibc/03-connection/exported/exported.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/types.pb.go
  x/ibc/03-connection/types/types.proto
  x/ibc/04-channel/client/cli/tx.go
  x/ibc/04-channel/client/rest/rest.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/types.pb.go
  x/ibc/07-tendermint/types/types.proto
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/ante/ante_test.go
Due: modules

Finish implementation
  x/capability/alias.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/types/errors.go
  x/capability/types/types.go
  x/capability/types/types_test.go
Due: modules

revert GetDestination{Channel.Port}
  docs/architecture/adr-015-ibc-packet-receiver.md
  x/ibc/04-channel/exported/exported.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/types/packet.go
  x/ibc/20-transfer/keeper/relay.go
Due: modules

revert proto changes
  .circleci/config.yml
  .github/workflows/proto.yml
Due: none

add test for unsupported signing algo
  crypto/keyring/altkeyring.go
  crypto/keyring/altkeyring_test.go
Due: none

cleanup
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/timeout.go
Due: modules

Added proto compatible x/slashing clients
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/rest.go
  x/slashing/client/rest/tx.go
Due: modules

Add test case to TestAuthenticateCapability for releasing a cap
  x/capability/keeper/keeper_test.go
Due: modules

test proto in official docker container
  .circleci/config.yml
Due: none

remove require setup
  .circleci/config.yml
Due: none

fix yaml
  .circleci/config.yml
Due: none

fix yaml again
  .circleci/config.yml
Due: none

fixes
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/types/channel.go
  x/ibc/04-channel/types/types.pb.go
  x/ibc/04-channel/types/types.proto
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/update.go
Due: modules

refactor algorithm
  crypto/keyring/alt_signing_algorithms.go
  crypto/keyring/alt_signing_algorithms_test.go
  crypto/keyring/altkeyring.go
  crypto/keyring/altkeyring_test.go
  crypto/keyring/base_keybase.go
Due: none

Did minor code cleanup
  x/bank/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/rest.go
  x/slashing/client/rest/tx.go
Due: modules

supported algorithm changed
  crypto/keyring/altkeyring.go
  crypto/keyring/altkeyring_test.go
Due: none

update al keyring
  crypto/keyring/altkeyring.go
  crypto/keyring/altkeyring_test.go
Due: none

update options
  crypto/keyring/altkeyring.go
Due: none

util funcs for tm <-> proto
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/types/types.pb.go
  x/ibc/07-tendermint/types/types.proto
  x/ibc/07-tendermint/types/utils.go
Due: modules

more cleanup
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/types/channel.go
  x/ibc/04-channel/types/types.pb.go
  x/ibc/04-channel/types/types.proto
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/types.pb.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/ante/ante_test.go
Due: modules

add supported algorithm test and SAveLedgerKey
  crypto/keyring/altkeyring.go
  crypto/keyring/altkeyring_test.go
Due: none

fix imports
  crypto/keyring/altkeyring.go
Due: none

remove capabilities from msgs and return them on channel handlers
  x/ibc/04-channel/handler.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/handler.go
Due: modules

types/errors: make Wrap() work like github.com/pkg/errors.Wrap
  types/errors/abci_test.go
  types/errors/errors.go
  types/errors/errors_test.go
  types/errors/stacktrace_test.go
Due: none

implement channel callbacks and capability injection
  x/ibc/05-port/keeper/keeper.go
  x/ibc/05-port/types/module.go
  x/ibc/handler.go
Due: modules

route packets through ibc handler and then to module
  x/ibc/05-port/types/module.go
  x/ibc/handler.go
Due: modules

start implementing transfer with new routing logic
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/types/keys.go
Due: modules

fix packet msg routes
  x/ibc/04-channel/types/msgs.go
Due: modules

Use table-driven tests for rootmulti.Store snapshot/restore error tests
  store/rootmulti/store_test.go
Due: none

use zlib compression for snapshots
  store/rootmulti/store.go
Due: none

add checksum test for snapshot format stability
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Due: none

use larger generated dataset for snapshot checksum test
  store/rootmulti/store_test.go
Due: none

crypto/keyring: change addrKey to store chain-agnostic addresses
  client/keys/add.go
  client/keys/list.go
  client/keys/parse.go
  client/keys/parse_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/utils.go
  crypto/keyring/db_keybase.go
  crypto/keyring/keyring.go
Due: client

crypto/keyring: change addrKey to store chain-agnostic addresses
  CHANGELOG.md
  crypto/keyring/db_keybase.go
  crypto/keyring/keyring.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
