Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

updates
  .codecov.yml
  .github/workflows/test.yml
Due: none

feat(textual): Add Enum value renderer (#13853)
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  docs/architecture/adr-050-sign-mode-textual.md
  tx/go.mod
  tx/go.sum
  tx/textual/internal/testdata/enum.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/enum.go
  tx/textual/valuerenderer/enum_test.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Due: none

fix changelog
  CHANGELOG.md
Due: none

add genesis test
  x/crisis/keeper/genesis_test.go
Due: modules

ci: improve test skipping mechanism
  .github/workflows/build-skip.yml
  .github/workflows/build.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
Due: none

ci: improve test skipping mechanism (#13987)
  .github/workflows/build-skip.yml
  .github/workflows/build.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
Due: none

#13987
  .github/workflows/build-skip.yml
  .github/workflows/build.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
Due: none

ci: add workflow for reporting possible state-changing diffs
  .github/workflows/statediff.yml
Due: none

`make proto-gen`
  api/cosmos/auth/v1beta1/auth.pulsar.go
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/consensus/v1/tx.pulsar.go
  x/auth/types/auth.pb.go
  x/auth/types/query.pb.go
  x/consensus/types/tx.pb.go
Due: none

refactor: (secp256k1) cleaner way to check for lower S form signatures (#13884)
  crypto/keys/secp256k1/secp256k1_nocgo.go
Due: none

replace old code with docker metadata action
  .github/workflows/docker.yml
Due: none

replace deprecated set-output
  .github/workflows/docker.yml
Due: none

publish to ghcr
  .github/workflows/docker.yml
Due: none

build for target os and arch
  Dockerfile
Due: none

fix insufficient scope error
  .github/workflows/docker.yml
Due: none

disable default latest
  .github/workflows/docker.yml
Due: none

feat: sender mempool impl (#13888)
  baseapp/abci_v1_test.go
  baseapp/baseapp.go
  baseapp/util_test.go
  types/mempool/mempool_test.go
  types/mempool/nonce.go
  types/mempool/sender_nonce.go
  types/mempool/sender_nonce_property_test.go
  types/mempool/sender_nonce_test.go
Due: app

feat: sender mempool impl (#13888)
  baseapp/abci_v1_test.go
  baseapp/baseapp.go
  baseapp/util_test.go
  types/mempool/mempool_test.go
  types/mempool/sender_nonce.go
  types/mempool/sender_nonce_property_test.go
  types/mempool/sender_nonce_test.go
Due: app

chore: add group and gov/v1 in swagger (#13984)
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Due: client

updates
  client/docs/swagger-ui/swagger.yaml
Due: client

updates
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  proto/buf.gen.swagger.yaml
  scripts/protoc-swagger-gen.sh
  scripts/protocgen-any.sh
Due: client

feedback
  CHANGELOG.md
Due: none

chore: skeleton files for any renderer
  tx/textual/valuerenderer/any.go
  tx/textual/valuerenderer/any_test.go
Due: none

feat: first cut at Any renderer and tests
  tx/textual/internal/testdata/any.json
  tx/textual/internal/testpb/1.proto
  tx/textual/valuerenderer/any.go
  tx/textual/valuerenderer/any_test.go
  tx/textual/valuerenderer/valuerenderer.go
Due: none

feat: sender mempool impl (#13888)
  types/mempool/nonce.go
Due: none

test: Any fields, more tests, rename lookup by field
  tx/textual/internal/testdata/any.json
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/bytes_test.go
  tx/textual/valuerenderer/coin_test.go
  tx/textual/valuerenderer/coins_test.go
  tx/textual/valuerenderer/dec_test.go
  tx/textual/valuerenderer/enum_test.go
  tx/textual/valuerenderer/int_test.go
  tx/textual/valuerenderer/message.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Due: none

docs: make Any example match the stated spec, and the implementation.
  docs/architecture/adr-050-sign-mode-textual-annex1.md
Due: none

refactor: use protojson for better test case legibility
  tx/textual/internal/testdata/any.json
  tx/textual/valuerenderer/any_test.go
Due: none

test: use protocmp for proto equality
  tx/textual/valuerenderer/any_test.go
Due: none

refactor: consistent pointer receiver for Textual
  tx/textual/valuerenderer/valuerenderer.go
Due: none

refactor: use json.RawMessage instead of remarshalling
  tx/textual/valuerenderer/any_test.go
Due: none

fix: register sdk metrics on startInProcess
  server/api/server.go
  server/start.go
Due: none

enable btree lock and close iterator in unit tests
  store/cachekv/internal/btree.go
  store/cachekv/internal/btree_test.go
Due: none

close iterator in unit test
  store/cachekv/store_test.go
Due: none

faster exports
  types/utils.go
Due: none

cover all keeper code in tests
  x/crisis/keeper/keeper_test.go
Due: modules

add missing test scenarios
  x/feegrant/keeper/msg_server_test.go
Due: modules

feat: value renderer for google.protobuf.Any (#13671)
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  tx/textual/internal/testdata/any.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/any.go
  tx/textual/valuerenderer/any_test.go
  tx/textual/valuerenderer/bytes_test.go
  tx/textual/valuerenderer/coin_test.go
  tx/textual/valuerenderer/coins_test.go
  tx/textual/valuerenderer/dec_test.go
  tx/textual/valuerenderer/enum_test.go
  tx/textual/valuerenderer/int_test.go
  tx/textual/valuerenderer/message.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
