Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

update to use different pubkeys in simtx
  client/tx/tx.go
  client/tx/tx_test.go
Due: client

create pubkey history proto and keeper prototype
  proto/cosmos/changepubkey/v1beta1/pubkey_history.proto
  x/auth/changepubkey/keeper/keeper.go
  x/auth/changepubkey/keeper/keeper_test.go
  x/auth/changepubkey/types/pubkey_history.pb.go
  x/auth/changepubkey/types/pubkey_history.pb.gw.go
  x/auth/changepubkey/types/tx.pb.go
  x/staking/types/staking.pb.go
Due: modules

fix setting withdraw address
  x/distribution/keeper/msg_server.go
Due: modules

x/distribution: fix setting withdraw address (#8240)
  x/distribution/keeper/msg_server.go
Due: modules

Add script to generate proto-docs (#8238)
  docs/core/README.md
  docs/core/grpc_rest.md
  docs/core/proto-docs.md
  docs/protodoc-markdown.tmpl
  go.mod
  go.sum
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/v1beta1/tx.proto
  scripts/protocgen.sh
  types/tx/tx.pb.go
  x/staking/types/tx.pb.go
Due: none

Apply suggestions from code review
  docs/architecture/adr-005-modular-server.md
Due: none

few updates from ADR
  server/grpc/server.go
  server/services/grpc/server_test.go
  server/services/grpc/service.go
  server/services/tendermint/service.go
  server/types/service.go
Due: none

Merge PR: return response when the query encounters an error (#82)
  client/context/query.go
  types/errors_okexchain.go
Due: client

Add grpc gateway missing endpoints to swagger docs (#8232)
  Makefile
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/grpc/tmservice/query.pb.go
  client/grpc/tmservice/query.pb.gw.go
  client/grpc/tmservice/service_test.go
  proto/cosmos/base/tendermint/v1beta1/query.proto
  scripts/protoc-swagger-gen.sh
  x/ibc/applications/transfer/keeper/mbt_relay_test.go
Due: modules, client

documented the spec for nameservice
  x/nameservice/spec/01_concepts.md
  x/nameservice/spec/02_state.md
  x/nameservice/spec/03_messages.md
  x/nameservice/spec/04_params.md
  x/nameservice/spec/README.md
Due: modules

Update export.go
  server/export.go
Due: none

fix and add test
  x/params/types/proposal/errors.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
Due: modules

add changelog, revert custom err type
  CHANGELOG.md
  x/params/types/proposal/errors.go
Due: modules

Update server/export.go
  server/export.go
Due: none

codecs: rename MakeCodecs to MakeTestCodecs
  codec/amino_codec_test.go
  docs/basics/app-anatomy.md
  simapp/app.go
  simapp/encoding.go
  simapp/simd/cmd/genaccounts_test.go
  simapp/simd/cmd/root.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/keeper_test.go
  x/auth/simulation/decoder_test.go
  x/auth/types/common_test.go
  x/auth/vesting/types/common_test.go
  x/bank/keeper/keeper_test.go
  x/capability/simulation/decoder_test.go
  x/distribution/simulation/decoder_test.go
  x/evidence/keeper/querier_test.go
  x/gov/keeper/common_test.go
  x/gov/simulation/decoder_test.go
  x/mint/simulation/decoder_test.go
  x/slashing/simulation/decoder_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/simulation/decoder_test.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

fix consensus states grpc query
  x/ibc/core/02-client/keeper/grpc_query.go
  x/ibc/core/02-client/keeper/grpc_query_test.go
Due: modules

Update x/ibc/core/02-client/keeper/grpc_query.go
  x/ibc/core/02-client/keeper/grpc_query.go
Due: modules

change: update crg version, construction error returns
  go.mod
  go.sum
  server/rosetta/client_offline.go
Due: none

update services
  server/api/server.go
  server/services/tendermint/service.go
  server/start.go
  server/types/app.go
  server/types/service.go
  simapp/app.go
Due: none

simplify
  x/ibc/core/02-client/keeper/grpc_query.go
Due: modules

chore: lint
  server/rosetta/client_online.go
  server/rosetta/config.go
  server/rosetta/util.go
Due: none

Create basic codebase for historical entries keeper functions
  simapp/app.go
  x/auth/changepubkey/handler.go
  x/auth/changepubkey/handler_test.go
  x/auth/changepubkey/keeper/keeper.go
  x/auth/changepubkey/module.go
  x/auth/changepubkey/msg_server.go
  x/auth/changepubkey/types/keys.go
  x/auth/changepubkey/types/tx.pb.go
Due: modules

Fix ConsensusStates grpc query (#8246)
  x/ibc/core/02-client/keeper/grpc_query.go
  x/ibc/core/02-client/keeper/grpc_query_test.go
Due: modules

update staking ros
  contrib/rosetta/configuration/staking.ros
  x/staking/types/msg.go
Due: modules

Update server/start.go
  server/start.go
Due: none

build
  server/api/server.go
  server/types/app.go
  testutil/network/network.go
  testutil/network/util.go
Due: none

review changes
  server/config/config.go
  server/config/toml.go
Due: none

fix ros
  contrib/rosetta/configuration/staking.ros
Due: none

Add sta
  client/docs/statik/statik.go
Due: client

Revert "Add sta"
  client/docs/statik/statik.go
Due: client

fix smoe weird problem
  client/docs/statik/statik.go
  go.sum
Due: client

fix smoe weird problem
  contrib/githooks/pre-commit
Due: none

because the folder changed it can make it problematic if you use this pre commit
  contrib/githooks/pre-commit
Due: none

Update docs/building-modules/msg-services.md
  docs/building-modules/msg-services.md
Due: none

Update rosetta cli.
  contrib/rosetta/docker-compose.yaml
Due: none

remove MakeTestCodecs
  CHANGELOG.md
  codec/amino_codec_test.go
  simapp/encoding.go
  simapp/simd/cmd/genaccounts_test.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/keeper_test.go
  x/auth/simulation/decoder_test.go
  x/auth/types/common_test.go
  x/auth/vesting/types/common_test.go
  x/bank/keeper/keeper_test.go
  x/capability/simulation/decoder_test.go
  x/distribution/simulation/decoder_test.go
  x/evidence/keeper/querier_test.go
  x/gov/keeper/common_test.go
  x/gov/simulation/decoder_test.go
  x/mint/simulation/decoder_test.go
  x/slashing/simulation/decoder_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/simulation/decoder_test.go
Due: modules

contrib: fix path for statik files (#8248)
  contrib/githooks/pre-commit
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
