Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Update genesis.go
  x/epochs/keeper/genesis.go
Due: modules

Update genesis.go
  x/epochs/simulation/genesis.go
Due: modules

Add CLI example to README in cosmos-sdk
  README.md
Due: none

docs: fix typos in documentation
  docs/README.md
Due: none

reverse order
  store/types/proxygasmeter.go
Due: none

Update link Introduction.md
  docs/docs/Introduction.md
Due: none

Update link README.md
  tools/cosmovisor/README.md
Due: none

Update link params.pulsar.go
  api/tendermint/types/params.pulsar.go
Due: none

refactor: use b.Loop() to simplify the code and improve performance (#25368)
  codec/bench_test.go
  codec/proto_codec_test.go
Due: none

refactor: use b.Loop()
  types/bench_test.go
  types/context_bench_test.go
Due: none

refactor: use b.Loop() to simplify the code and improve performance
  crypto/keys/secp256k1/internal/secp256k1/secp256_test.go
  x/auth/keeper/keeper_bench_test.go
  x/bank/bench_test.go
  x/mint/types/minter_test.go
  x/upgrade/internal/conv/string_test.go
Due: modules

Remove unused KVStoreKey field from DeterministicTestSuite in auth keeper tests
  x/auth/keeper/deterministic_test.go
Due: modules

attempt-basic
  simapp/app.go
  simapp/app_config.go
  simapp/app_di.go
  simapp/export.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
  simappv2/app.go
Due: none

delete-types-address
  types/address/README.md
  types/address/hash.go
  types/address/hash_test.go
  types/address/store_key.go
  types/address/store_key_test.go
Due: none

doc
  types/errors/errors.go
Due: none

mempool-api
  types/mempool/internal/nonce.go
  types/mempool/internal/nonce_test.go
  types/mempool/mempool.go
  types/mempool/priority_nonce.go
  types/mempool/sender_nonce.go
Due: none

Revert "delete-types-address"
  types/address/README.md
  types/address/hash.go
  types/address/hash_test.go
  types/address/store_key.go
  types/address/store_key_test.go
Due: none

add-again
  types/mempool/nonce.go
  types/mempool/nonce_test.go
  types/mempool/priority_nonce.go
  types/mempool/sender_nonce.go
Due: none

resolve
  simapp/app.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  tests/e2e/distribution/config.go
  tests/e2e/distribution/suite.go
Due: none

ok
  server/util.go
  simapp/simd/cmd/testnet.go
  systemtests/go.mod
  systemtests/go.sum
  systemtests/system.go
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  types/net/ip.go
  x/genutil/client/cli/gentx.go
Due: modules

wip
  baseapp/setup_memiavl.go
  go.mod
  go.sum
  server/util.go
  store/cronos/cachemulti/store.go
  store/cronos/config/config.go
  store/cronos/config/toml.go
  store/cronos/memiavlstore/store.go
  store/cronos/rootmulti/import.go
  store/cronos/rootmulti/objstore.go
  store/cronos/rootmulti/objstore_placeholder.go
  store/cronos/rootmulti/snapshot.go
  store/cronos/rootmulti/store.go
  store/cronos/rootmulti/store_test.go
  store/go.mod
  store/go.sum
Due: app

temp
  store/rootmulti/store.go
Due: none

wip mods
  go.mod
  go.sum
  store/cronos/memiavlstore/store.go
  store/go.mod
  store/go.sum
  store/types/errors.go
  tests/systemtests/go.mod
Due: none

fixes
  blockstm/go.sum
  simapp/go.mod
  simapp/go.sum
  store/cronos/cachemulti/store.go
  store/go.mod
  store/go.sum
Due: none

builds
  collections/go.mod
  collections/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/cronos/rootmulti/objstore.go
  store/cronos/rootmulti/objstore_placeholder.go
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

Unchecked tx
  client/broadcast.go
  client/flags/flags.go
  go.mod
  go.sum
Due: client

chore: using testing.B.Loop
  codec/types/any_test.go
  codec/unknownproto/benchmarks_test.go
  contrib/x/nft/internal/conv/string_test.go
  crypto/armor_test.go
  crypto/keys/internal/benchmarking/bench.go
  crypto/keys/secp256k1/internal/secp256k1/secp256_test.go
  crypto/types/compact_bit_array_test.go
  internal/conv/string_test.go
  log/bench_test.go
  math/int_test.go
  math/legacy_dec_test.go
  store/cache/benchmark_test.go
  store/cachekv/benchmark_test.go
  store/cachekv/search_benchmark_test.go
  store/cachekv/store_test.go
  store/internal/conv/string_test.go
  store/internal/maps/bench_test.go
  store/rootmulti/snapshot_test.go
  tests/integration/tx/benchmark/benchmarks_test.go
  tools/cosmovisor/args_test.go
  types/bech32/legacybech32/pk_bench_test.go
  types/bench_test.go
  types/coin_benchmark_test.go
  types/context_bench_test.go
  x/auth/ante/sigverify_benchmark_test.go
  x/auth/keeper/keeper_bench_test.go
  x/bank/bench_test.go
  x/bank/types/balance_test.go
  x/genutil/types/chain_id_test.go
  x/tx/signing/aminojson/bench_test.go
  x/tx/signing/textual/bench_test.go
  x/upgrade/internal/conv/string_test.go
Due: modules

Fix build
  blockstm/go.mod
  blockstm/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
Due: none

refactor: use b.Loop() to simplify the code and improve performance (#25379)
  crypto/keys/secp256k1/internal/secp256k1/secp256_test.go
  x/auth/keeper/keeper_bench_test.go
  x/bank/bench_test.go
  x/mint/types/minter_test.go
  x/upgrade/internal/conv/string_test.go
Due: modules

chore: Remove unused KVStoreKey field from DeterministicTestSuite in auth keeper tests (#25378)
  x/auth/keeper/deterministic_test.go
Due: modules

chore: tests using testing.B.Loop
  codec/types/any_test.go
  codec/unknownproto/benchmarks_test.go
  crypto/armor_test.go
  crypto/keys/internal/benchmarking/bench.go
  crypto/types/compact_bit_array_test.go
  math/int_test.go
  math/legacy_dec_test.go
  store/cache/benchmark_test.go
  store/cachekv/benchmark_test.go
  store/cachekv/search_benchmark_test.go
  store/cachekv/store_test.go
  store/internal/maps/bench_test.go
  store/rootmulti/snapshot_test.go
  tests/integration/tx/benchmark/benchmarks_test.go
  tools/cosmovisor/args_test.go
  types/bech32/legacybech32/pk_bench_test.go
  types/coin_benchmark_test.go
  types/context_bench_test.go
  x/auth/ante/sigverify_benchmark_test.go
  x/bank/types/balance_test.go
  x/genutil/types/chain_id_test.go
Due: modules

wow
  simapp/app.go
Due: none

fix
  simapp/app.go
Due: none

feat: add unittest and benchmark
  store/pruning/manager_test.go
Due: none

feat(mock): implement KVStoreTx String() for better diagnostics
  server/mock/tx.go
Due: none

trying
  simapp/app.go
  simapp/app_test.go
  simapp/export.go
  simapp/sdk_app.go
  simapp/sim_test.go
  tests/integration/tx/benchmark/benchmarks_test.go
Due: none

lint-fikx
  simapp/app.go
Due: none

more-setup
  simapp/app.go
  simapp/sdk_app.go
Due: none

geting-there
  simapp/app.go
  simapp/sdk_app.go
Due: none
