Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

build(deps): bump modules to v0.50.0-rc.0 (#17453)
  .github/workflows/test.yml
  CHANGELOG.md
  client/v2/go.mod
  client/v2/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

test: disable `TestStatusCommand` (#17452)
  client/grpc/cmtservice/status_test.go
Due: client

chore: bump client/v2 to go.mod 1.21 (#17454)
  .github/workflows/test.yml
  client/v2/go.mod
  client/v2/go.sum
Due: client

remove withheader
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/test_helpers.go
  testutil/context.go
  types/context.go
  types/context_test.go
Due: app

feat(accounts): init accounts module (#17443)
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  api/cosmos/accounts/module/v1/module.pulsar.go
  api/cosmos/accounts/v1/accounts.pulsar.go
  api/cosmos/accounts/v1/query.pulsar.go
  api/cosmos/accounts/v1/query_grpc.pb.go
  api/cosmos/accounts/v1/tx.pulsar.go
  api/cosmos/accounts/v1/tx_grpc.pb.go
  api/cosmos/bank/module/v1/module.pulsar.go
  go.work.example
  proto/cosmos/accounts/module/v1/module.proto
  proto/cosmos/accounts/v1/accounts.proto
  proto/cosmos/accounts/v1/query.proto
  proto/cosmos/accounts/v1/tx.proto
  x/accounts/CHANGELOG.md
  x/accounts/README.md
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/sonar-project.properties
  x/accounts/v1/accounts.pb.go
  x/accounts/v1/query.pb.go
  x/accounts/v1/tx.pb.go
Due: modules

Revert "keep UpgradeModule"
  core/CHANGELOG.md
  core/appmodule/module.go
  docs/docs/building-modules/01-module-manager.md
  types/module/mock_appmodule_test.go
  x/upgrade/module.go
Due: modules

add proto
  api/cosmos/app/runtime/v1alpha1/module.pulsar.go
  proto/cosmos/app/runtime/v1alpha1/module.proto
  runtime/app.go
Due: none

allow sim test use latest config.PreBlockers
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
Due: none

CV go errors Join empty is nil
  baseapp/baseapp.go
Due: app

add SetOrderPreBlockers
  core/appmodule/module.go
  runtime/app.go
  simapp/app.go
  simapp/app_config.go
  testutil/configurator/configurator.go
  types/module/module.go
  types/module/module_test.go
Due: none

fix doc
  docs/architecture/adr-063-core-module-api.md
  docs/docs/basics/00-app-anatomy.md
  docs/docs/building-apps/01-app-go-v2.md
  docs/docs/building-modules/01-module-manager.md
  docs/docs/building-modules/17-preblock.md
  docs/docs/core/00-baseapp.md
Due: none

fix test
  go.mod
  go.sum
  tests/go.mod
  tests/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

Apply suggestions from code review
  CHANGELOG.md
  simapp/app.go
  simapp/app_config.go
  testutil/configurator/configurator.go
Due: none

rm dummy upgrade from begin blocker
  simapp/app.go
  simapp/app_config.go
  testutil/configurator/configurator.go
  x/upgrade/module.go
Due: modules

updates
  store/storage/sqllite/batch.go
  store/storage/sqllite/db.go
  store/storage/sqllite/db_test.go
Due: none

add preblock dep
  api/cosmos/app/runtime/v1alpha1/module.pulsar.go
  core/CHANGELOG.md
  core/appmodule/module.go
  proto/cosmos/app/runtime/v1alpha1/module.proto
Due: none

replace dep
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

decouple dep
  api/cosmos/app/runtime/v1alpha1/module.pulsar.go
  core/CHANGELOG.md
  core/appmodule/module.go
  proto/cosmos/app/runtime/v1alpha1/module.proto
Due: none

use latest sdk ResponsePreBlock
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

add when dep is ready (to be reverted)
  runtime/app.go
  testutil/configurator/configurator.go
Due: none

Update core/CHANGELOG.md
  core/CHANGELOG.md
Due: none

feat: add core and api for PreBlock (#17468)
  api/cosmos/app/runtime/v1alpha1/module.pulsar.go
  core/CHANGELOG.md
  core/appmodule/module.go
  proto/cosmos/app/runtime/v1alpha1/module.proto
Due: none

minor bech32 global removal
  x/auth/keeper/grpc_query.go
  x/auth/module.go
  x/authz/keeper/grpc_query.go
  x/gov/keeper/msg_server.go
  x/gov/migrations/v3/store_test.go
  x/gov/types/v1beta1/vote.go
  x/mint/module.go
  x/mint/testutil/expected_keepers_mocks.go
  x/mint/types/expected_keepers.go
  x/staking/module.go
Due: modules

Revert "add when dep is ready (to be reverted)"
  runtime/app.go
  testutil/configurator/configurator.go
Due: none

updates
  store/storage/sqllite/db.go
  store/storage/sqllite/iterator.go
Due: none

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.0 in /simapp for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

ci: Re-enable rocksdb backend in build.yml
  .github/workflows/build.yml
  flake.lock
Due: none

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.0 for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.0 in /tests for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

fix replace
  go.mod
  go.sum
Due: none

rebuild
  .github/workflows/build.yml
Due: none

updates
  store/storage/pebbledb/db_test.go
Due: none

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.0 in /x/nft for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.0 for all modules
  core/go.mod
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
Due: none

use temporary nixpkgs fork
  flake.lock
  flake.nix
Due: none

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.0 for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

merged
  flake.lock
  flake.nix
Due: none

ci: Re-enable rocksdb backend in build.yml (#17474)
  .github/workflows/build.yml
  flake.lock
Due: none

chore: prepare v0.46.15 (#17408)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none
