Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

lintng
  tests/integration/v2/auth/app_test.go
  tests/integration/v2/auth/client_test.go
  x/genutil/genaccounts.go
Due: modules

Update proto/cosmos/base/reflection/v1beta1/reflection.proto
  proto/cosmos/base/reflection/v1beta1/reflection.proto
Due: none

fix: add missing rollback command
  server/v2/cometbft/server.go
Due: none

chore: update chang log markdown
  CHANGELOG.md
Due: none

chore: update server v2 changelog
  CHANGELOG.md
  server/v2/CHANGELOG.md
Due: none

Fix typos in docs/learn/advanced/11-runtx_middleware.md
  docs/learn/advanced/11-runtx_middleware.md
Due: none

Fix typos in docs/rfc/rfc-004-accounts.md
  docs/rfc/rfc-004-accounts.md
Due: none

Fix typos in client/v2/README.md
  client/v2/README.md
Due: client

Fix typos in types/module/module.go
  types/module/module.go
Due: none

Fix typos in tests/integration/v2/distribution/grpc_query_test.go
  tests/integration/v2/distribution/grpc_query_test.go
Due: none

Fix typos in simsx/environment.go
  simsx/environment.go
Due: none

refactor(baseapp): allow initial version override
  baseapp/params.go
Due: app

fix account lockup
  api/cosmos/accounts/defaults/lockup/v1/tx.pulsar.go
  x/accounts/account_test.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
  x/accounts/defaults/lockup/v1/tx.pb.go
  x/accounts/msg_server.go
  x/accounts/msg_server_test.go
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/tx.proto
Due: modules

cleanup
  x/accounts/account_test.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
Due: modules

fix v2 behavior
  server/v2/cometbft/abci.go
  simapp/v2/sim_runner.go
  tests/integration/v2/app.go
  x/consensus/depinject.go
  x/consensus/keeper/keeper.go
  x/consensus/types/msgs.go
Due: modules

lint
  server/v2/cometbft/abci.go
  simapp/v2/sim_runner.go
  tests/integration/v2/app.go
  x/consensus/keeper/keeper.go
Due: modules

test cases
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/utils_test.go
Due: modules

up
  server/v2/cometbft/abci.go
Due: none

add system test
  tests/systemtests/account_test.go
Due: none

up
  baseapp/abci.go
Due: app

remove print statement
  x/accounts/defaults/lockup/lockup.go
Due: modules

up
  baseapp/abci.go
  server/v2/cometbft/abci.go
Due: app

replace unit test with systemtest
  x/accounts/msg_server_test.go
Due: modules

fix integration tests
  tests/integration/v2/accounts/lockup/continous_lockup_test_suite.go
  tests/integration/v2/accounts/lockup/delayed_lockup_test_suite.go
  tests/integration/v2/accounts/lockup/periodic_lockup_test_suite.go
  tests/integration/v2/accounts/lockup/permanent_lockup_test_suite.go
Due: none

remove system test
  tests/systemtests/account_test.go
Due: none

blocked addresses
  x/bank/keeper/send.go
Due: modules

add more information to the godoc
  x/bank/keeper/keeper.go
Due: modules

chore(bank): add more information to the godoc (#23624)
  x/bank/keeper/keeper.go
Due: modules

codeowners
  .github/CODEOWNERS
Due: none

chore: update codeowners (#23626)
  .github/CODEOWNERS
Due: none

fix(accounts): lockup check sender in context not in message (#23621)
  api/cosmos/accounts/defaults/lockup/v1/tx.pulsar.go
  tests/integration/v2/accounts/lockup/continous_lockup_test_suite.go
  tests/integration/v2/accounts/lockup/delayed_lockup_test_suite.go
  tests/integration/v2/accounts/lockup/periodic_lockup_test_suite.go
  tests/integration/v2/accounts/lockup/permanent_lockup_test_suite.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
  x/accounts/defaults/lockup/utils_test.go
  x/accounts/defaults/lockup/v1/tx.pb.go
  x/accounts/msg_server.go
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/tx.proto
Due: modules

fix(accounts): lockup check sender in context not in message (#23621)
  api/cosmos/accounts/defaults/lockup/v1/tx.pulsar.go
  tests/integration/accounts/lockup/continous_lockup_test_suite.go
  tests/integration/accounts/lockup/delayed_lockup_test_suite.go
  tests/integration/accounts/lockup/periodic_lockup_test_suite.go
  tests/integration/accounts/lockup/permanent_lockup_test_suite.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
  x/accounts/defaults/lockup/utils_test.go
  x/accounts/defaults/lockup/v1/tx.pb.go
  x/accounts/msg_server.go
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/tx.proto
Due: modules

feat: add rollback command
  server/v2/cometbft/commands.go
  server/v2/cometbft/server.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
