Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add parentheses
  store/types/validity.go
Due: none

updates
  x/bank/simulation/proposals.go
  x/gov/module.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/simulation/proposals.go
  x/params/simulation/operations.go
  x/simulation/params.go
  x/simulation/params_test.go
  x/slashing/simulation/proposals_test.go
  x/staking/simulation/proposals_test.go
Due: modules

perf: dockerfiles (#14793)
  CHANGELOG.md
  Dockerfile
  Makefile
  contrib/devtools/Dockerfile
  contrib/images/Makefile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/rosetta-ci/Dockerfile
  types/coin.go
Due: none

fix conflicts
  CHANGELOG.md
  Dockerfile
  contrib/images/simd-env/Dockerfile
Due: none

updates
  contrib/images/simd-dlv/Dockerfile
Due: none

updates
  Dockerfile
Due: none

feat(orm): support core API
  orm/go.mod
  orm/go.sum
  orm/internal/testutil/testutil.go
  orm/module.go
Due: none

progress, have to re-check what mocks are doing
  Makefile
  tests/mocks/mock_appmodule_test.go
  types/module/module_test.go
Due: none

progress
  types/module/module_test.go
Due: none

add basic create msg
  client/v2/autocli/msg.go
Due: client

updates
  orm/model/ormdb/module.go
  orm/model/ormdb/module_test.go
  orm/module.go
  proto/cosmos/orm/v1alpha1/schema.proto
Due: none

Register legacy amino codec for authz
  x/authz/codec.go
Due: modules

NewStoreParams -> newStoreParams
  store/rootmulti/store.go
Due: none

fix: nested iterator on cache store
  CHANGELOG.md
  store/cachekv/internal/btree.go
  store/cachekv/store.go
  store/cachekv/store_test.go
Due: none

Add changelog entry:)
  CHANGELOG.md
  x/authz/codec.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update CL
  CHANGELOG.md
  store/CHANGELOG.md
Due: none

fix: Fix Evidence CLI query flag parsing (#13458)
  x/evidence/client/cli/query.go
  x/evidence/client/cli/tx_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

address review comments
  go.mod
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: none

go mod
  x/crisis/abci.go
  x/crisis/client/cli/tx.go
  x/crisis/client/cli/tx_test.go
  x/crisis/go.mod
  x/crisis/go.sum
  x/crisis/keeper/genesis.go
  x/crisis/keeper/genesis_test.go
  x/crisis/keeper/keeper.go
  x/crisis/keeper/keeper_test.go
  x/crisis/keeper/migrator.go
  x/crisis/keeper/msg_server.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/keeper/params.go
  x/crisis/migrations/v2/migrate.go
  x/crisis/migrations/v2/migrate_test.go
  x/crisis/module.go
Due: modules

fix cosmovisor go mod
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: none

fix tests
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

go mod tidy all
  proto/cosmos/crisis/module/v1/module.proto
  proto/cosmos/crisis/v1beta1/genesis.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  simapp/app.go
  simapp/app_config.go
  simapp/app_test.go
  simapp/app_v2.go
  simapp/go.mod
  simapp/go.sum
  simapp/simd/cmd/root.go
  tests/e2e/crisis/cli_test.go
  tests/go.mod
  tests/go.sum
Due: none

proto-gen
  api/cosmos/crisis/module/v1/module.pulsar.go
  x/crisis/types/genesis.pb.go
  x/crisis/types/tx.pb.go
Due: none

refactor(orm)!: support core store API (#14796)
  orm/go.mod
  orm/go.sum
  orm/internal/testutil/testutil.go
  orm/model/ormdb/module.go
  orm/model/ormdb/module_test.go
  proto/cosmos/orm/v1alpha1/schema.proto
Due: none

docs: add ADR 063: core API ADR + update app wiring ADR (#12972)
  docs/architecture/README.md
  docs/architecture/adr-057-app-wiring.md
  docs/architecture/adr-063-core-module-api.md
Due: none

chore: merge main
  collections/collections_test.go
  orm/go.mod
  orm/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
Due: modules

const -> var
  store/types/validity.go
Due: none

revert cosmovisor changes
  tools/cosmovisor/args.go
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/cosmovisor/process.go
  tools/cosmovisor/process_test.go
  tools/cosmovisor/scanner.go
  tools/cosmovisor/scanner_test.go
  tools/cosmovisor/upgrade.go
  tools/cosmovisor/upgrade_test.go
Due: none

feat: add collections key encoders and value encoders for common types. (#14760)
  codec/collections.go
  codec/collections_test.go
  collections/collections_test.go
  collections/colltest/codec.go
  collections/correctness_test.go
  collections/keys.go
  collections/keys_test.go
  collections/pair_test.go
  collections/values_test.go
  go.mod
  math/collections.go
  math/collections_test.go
  math/go.mod
  math/go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  types/collections.go
  types/collections_test.go
  x/evidence/go.mod
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
Due: modules

wip: nit
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: none

go mod tidy
  simapp/go.sum
  tests/go.mod
  x/crisis/go.mod
  x/crisis/go.sum
Due: modules

remove test
  x/evidence/client/cli/tx_test.go
Due: modules

wip: more nits
  tools/cosmovisor/args.go
  tools/cosmovisor/process_test.go
  tools/cosmovisor/upgrade.go
  tools/cosmovisor/upgrade_test.go
Due: none

add checks
  .github/dependabot.yml
  .github/workflows/test.yml
  CHANGELOG.md
  UPGRADING.md
  go.work.example
  x/crisis/CHANGELOG.md
  x/crisis/sonar-project.properties
Due: modules

go mod tidy all
  tests/go.sum
  x/evidence/go.sum
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

go mod
  proto/cosmos/capability/module/v1/module.proto
  proto/cosmos/capability/v1beta1/capability.proto
  proto/cosmos/capability/v1beta1/genesis.proto
  x/capability/capability_test.go
  x/capability/genesis.go
  x/capability/genesis_test.go
  x/capability/go.mod
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/module.go
  x/capability/simulation/decoder.go
  x/capability/simulation/decoder_test.go
  x/capability/simulation/genesis.go
  x/capability/simulation/genesis_test.go
  x/capability/testutil/app_config.go
  x/capability/types/keys_test.go
  x/capability/types/types_test.go
Due: modules

go mod tidy
  simapp/app.go
  simapp/app_config.go
  simapp/app_test.go
  simapp/app_v2.go
  simapp/go.mod
  simapp/sim_test.go
  x/capability/go.mod
  x/capability/go.sum
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
