Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

point cometbft dep to custom revision
  go.mod
Due: none

remove extra pr template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/docs.md
  .github/PULL_REQUEST_TEMPLATE/other.md
Due: none

only have one extra template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add back some items
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix changelog
  CHANGELOG.md
  x/auth/CHANGELOG.md
Due: modules

Minor fixes
  x/auth/client/cli/tx_sign.go
Due: modules

updates
  CHANGELOG.md
  x/distribution/README.md
  x/distribution/keeper/abci.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/migrations.go
  x/distribution/module.go
  x/distribution/types/keys.go
Due: modules

fix some tests
  x/bank/client/cli/tx_test.go
  x/bank/simulation/operations.go
Due: modules

chore: LSM changes to distribution (#4)
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  codec/amino_codec_test.go
  go.mod
  proto/cosmos/distribution/v1beta1/tx.proto
  tests/integration/distribution/keeper/grpc_query_test.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/suite_test.go
  x/distribution/client/cli/tx.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/msg_server.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/operations_test.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/codec.go
  x/distribution/types/errors.go
  x/distribution/types/events.go
  x/distribution/types/expected_keepers.go
  x/distribution/types/msg.go
  x/distribution/types/tx.pb.go
  x/staking/keeper/tokenize_share_record.go
  x/staking/keeper/tokenize_share_record_test.go
  x/staking/types/errors.go
  x/staking/types/keys.go
  x/staking/types/tokenize_share_record.go
Due: modules

add back bullet point
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: remove extra pr template (#18579)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/docs.md
  .github/PULL_REQUEST_TEMPLATE/other.md
Due: none

fix: prevent nil lastcommitid hash (#18563)
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp_test.go
  go.mod
  go.sum
  store/CHANGELOG.md
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/commit_info.go
Due: app

store changelog addition
  store/CHANGELOG.md
Due: none

chore: update store/v1 changelog (#18581)
  store/CHANGELOG.md
Due: none

removed pupose from config
  types/address.go
  types/config_test.go
Due: none

removed setPurpose
  client/keys/add_ledger_test.go
  types/address.go
Due: client

updates
  baseapp/baseapp.go
Due: app

feat(store/v2): basic metrics (#18529)
  store/go.mod
  store/go.sum
  store/metrics/metrics.go
  store/root/store.go
  store/root/store_test.go
Due: none

removed purpose and addressconfig
  client/context.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/rename_test.go
  simapp/simd/cmd/testnet.go
  testutil/key.go
  testutil/key_test.go
  testutil/network/network.go
  types/address.go
Due: client

removed missing fmt
  client/keys/delete_test.go
Due: client

updates
  baseapp/baseapp.go
  store/store.go
Due: app

updates
  baseapp/baseapp.go
  baseapp/state.go
Due: app

added changelog
  CHANGELOG.md
Due: none

updates
  store/gas.go
  types/context.go
Due: none

fixed changelog
  CHANGELOG.md
Due: none

updates
  baseapp/baseapp.go
  types/context.go
Due: app

updates
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/streaming.go
Due: app

updates
  baseapp/baseapp.go
  baseapp/options.go
  store/pruning/manager.go
  store/root/store.go
  store/store.go
Due: app

wip: add FundDistribution proto to track claimable amount
  api/cosmos/protocolpool/v1/tx.pulsar.go
  api/cosmos/protocolpool/v1/types.pulsar.go
  proto/cosmos/protocolpool/v1/tx.proto
  proto/cosmos/protocolpool/v1/types.proto
  x/protocolpool/types/tx.pb.go
  x/protocolpool/types/types.pb.go
Due: none

wip: sample implementation
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/types/keys.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
