Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

add reserved
  proto/cosmos/gov/v1beta2/gov.proto
  x/gov/types/v1beta2/gov.pb.go
Due: none

fix: fix the issue of reset app data
  server/tm_cmds.go
Due: none

add timestamp to msg_server in group module
  x/group/keeper/msg_server.go
  x/group/types.go
Due: modules

small fix
  proto/cosmos/group/v1beta1/types.proto
  x/group/types.pb.go
Due: none

fix tests
  x/group/keeper/keeper_test.go
Due: modules

fix: Update "Group Account" naming to "Group Policy" in group module (#10865)
  proto/cosmos/group/v1beta1/events.proto
  proto/cosmos/group/v1beta1/query.proto
  proto/cosmos/group/v1beta1/tx.proto
  proto/cosmos/group/v1beta1/types.proto
  x/group/client/cli/query.go
  x/group/client/cli/tx.go
  x/group/client/testutil/query.go
  x/group/client/testutil/tx.go
  x/group/codec.go
  x/group/events.pb.go
  x/group/keeper/grpc_query.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/invariants.go
  x/group/keeper/invariants_test.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/keeper/proposal_executor.go
  x/group/msgs.go
  x/group/query.pb.go
  x/group/query.pb.gw.go
  x/group/spec/01_concepts.md
  x/group/spec/02_state.md
  x/group/spec/03_messages.md
  x/group/spec/04_events.md
  x/group/spec/05_client.md
  x/group/tx.pb.go
  x/group/types.go
  x/group/types.pb.go
Due: modules

rename group account to group policy in group genesis
  proto/cosmos/group/v1beta1/genesis.proto
  x/group/genesis.go
  x/group/genesis.pb.go
  x/group/genesis_test.go
  x/group/keeper/genesis.go
  x/group/keeper/genesis_test.go
Due: modules

chore: refactor simulations
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
Due: modules

fee grant 2 words (#10874)
  x/feegrant/spec/README.md
Due: modules

address few comments
  simapp/app.go
  x/group/genesis.go
  x/group/keeper/genesis_test.go
  x/group/msgs.go
Due: modules

fix something
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
Due: modules

remove value storage
  x/feegrant/keeper/keeper.go
  x/feegrant/migrations/v045/store.go
  x/feegrant/migrations/v045/store_test.go
Due: modules

remove abci metrics
  baseapp/abci.go
  docs/core/telemetry.md
Due: app

fix: fix bug when updating allowance inside AllowedMsgAllowance (#10564)
  CHANGELOG.md
  x/feegrant/filtered_fee.go
  x/feegrant/filtered_fee_test.go
Due: modules

Apply suggestions from code review
  simapp/app.go
  types/module/module.go
Due: none

WIP: add simulation for canceling unbonding delegation
  x/staking/simulation/operations.go
Due: modules

update test
  types/module/module_int_test.go
Due: none

WIP: update the initial balance in ubd entry
  x/staking/keeper/msg_server.go
Due: modules

docs: update fee grant to 2 words (#10873)
  x/feegrant/README.md
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add migration instructons
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Due: none

feat: add proto definitions
  proto/cosmos/group/v1beta1/events.proto
  proto/cosmos/group/v1beta1/tx.proto
  x/group/events.pb.go
  x/group/tx.pb.go
Due: none

fix!: tx result don't report block gas used as tx gas used (#10833)
  CHANGELOG.md
  baseapp/baseapp.go
Due: app

API updates
  orm/go.mod
  orm/go.sum
  orm/internal/listinternal/options.go
  orm/model/doc.go
  orm/model/kvstore/kvstore.go
  orm/model/ormlist/options.go
  orm/model/ormtable/doc.go
  orm/model/ormtable/index.go
  orm/model/ormtable/index_impl.go
  orm/model/ormtable/iterator.go
  orm/model/ormtable/paginate.go
  orm/model/ormtable/primary_key.go
  orm/model/ormtable/table_impl.go
  orm/model/ormtable/table_test.go
  orm/model/ormtable/testdata/auto_inc_json.golden
  orm/model/ormtable/testdata/test_auto_inc.golden
  orm/model/ormtable/testdata/test_scenario.golden
  orm/model/ormtable/unique.go
Due: none

docs
  orm/model/ormtable/backend.go
Due: none

cleanup
  x/feegrant/filtered_fee_test.go
  x/group/client/cli/query.go
  x/group/client/testutil/tx.go
  x/group/keeper/grpc_query_test.go
Due: modules

API module builds
  api/go.mod
  api/go.sum
Due: none

update ver
  contrib/devtools/dockerfile
Due: none

cleanup
  baseapp/custom_txhandler_test.go
  client/cmd.go
  client/context.go
  cosmovisor/args.go
  db/memdb/db.go
  db/rocksdb/batch.go
  db/rocksdb/db.go
  db/rocksdb/iterator.go
  proto/buf.gen.doc.yaml
Due: app, client

fix api module
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  api/tendermint/abci/types.pulsar.go
  api/tendermint/crypto/proof.pulsar.go
  api/tendermint/types/types.pulsar.go
  scripts/protocgen.sh
  scripts/protocgen2.sh
Due: none

update buf.yaml
  orm/internal/testpb/testschema.pulsar.go
  proto/buf.yaml
Due: none

add docs
  proto/README.md
  proto/buf.md
Due: none

root store update
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Due: none

feat: support in-place migration ordering (#10614)
  CHANGELOG.md
  docs/core/upgrade.md
  simapp/app.go
  types/errors/errors.go
  types/module/module.go
  types/module/module_int_test.go
Due: none

cleaning the old root store design
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Due: none

docs: ADR-40 Migration spec
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Due: none

conflict fix
  CHANGELOG.md
Due: none
