Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Wrap TxDecoder errors
  x/auth/tx/decoder.go
Due: modules

fix build
  x/staking/genesis.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/val_state_change.go
Due: modules

Fix gRPC flaky test (#6900)
  server/grpc/server_test.go
Due: none

godoc++
  client/cmd.go
Due: client

Add test
  x/auth/tx/builder_test.go
Due: modules

Cleanup
  x/auth/tx/decoder.go
Due: modules

cli: refactor flag reading (#6884)
  client/cmd.go
  x/auth/client/cli/cli_test.go
  x/bank/client/cli/cli_test.go
  x/distribution/client/cli/cli_test.go
  x/mint/client/cli/cli_test.go
  x/params/client/cli/cli_test.go
  x/slashing/client/cli/cli_test.go
Due: modules, client

cl++
  CHANGELOG.md
Due: none

minor fix
  docs/architecture/adr-001-coin-source-tracing.md
Due: none

x/ibc: fix log
  x/ibc/05-port/keeper/keeper.go
Due: modules

Update x/ibc/05-port/keeper/keeper.go
  x/ibc/05-port/keeper/keeper.go
Due: modules

Fix conflicts
  x/auth/ante/basic.go
  x/auth/ante/sigverify.go
Due: modules

WIP
  simapp/params/proto.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/signing/direct/direct.go
  x/auth/signing/handler_map_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/config.go
  x/auth/tx/config_test.go
  x/auth/tx/direct.go
  x/auth/tx/direct_test.go
  x/auth/tx/encoder.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/mode_handler.go
  x/auth/types/amino_signing.go
  x/auth/types/amino_signing_test.go
  x/auth/types/client_tx.go
Due: modules

tendermint: update 3 (#6899)
  Makefile
  baseapp/abci.go
  baseapp/params.go
  go.mod
  go.sum
  proto/cosmos/cosmos.proto
  proto/cosmos/staking/staking.proto
  proto/ibc/commitment/commitment.proto
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/abci/types/types.proto
  third_party/proto/tendermint/crypto/keys.proto
  third_party/proto/tendermint/crypto/merkle/merkle.proto
  third_party/proto/tendermint/crypto/proof.proto
  third_party/proto/tendermint/libs/bits/types.proto
  third_party/proto/tendermint/libs/kv/types.proto
  third_party/proto/tendermint/types/evidence.proto
  third_party/proto/tendermint/types/params.proto
  third_party/proto/tendermint/types/types.proto
  third_party/proto/tendermint/version/types.proto
  types/cosmos.pb.go
  types/events.go
  x/bank/keeper/keeper_test.go
  x/ibc/23-commitment/types/commitment.pb.go
  x/staking/types/staking.pb.go
Due: app, modules

Allow empty version strings
  go.sum
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/03-connection/types/version.go
  x/ibc/04-channel/types/channel.go
  x/ibc/04-channel/types/msgs_test.go
Due: modules

Fix the one remaining proto tx bug and flip the switch (#6902)
  .github/workflows/test.yml
  Makefile
  go.sum
  simapp/params/amino.go
  simapp/params/proto.go
  x/auth/tx/builder_test.go
  x/auth/tx/decoder.go
  x/distribution/types/codec.go
Due: modules

WIP
  simapp/params/proto.go
  x/auth/tx/config_test.go
  x/auth/tx/direct_test.go
  x/auth/tx/mode_handler.go
Due: modules

WIP
  x/auth/tx/builder.go
  x/auth/tx/config.go
  x/auth/tx/decoder.go
Due: modules

WIP
  client/tx/legacy_test.go
  client/tx_config.go
  codec/unknownproto/unknown_fields.go
  x/auth/signing/handler_map_test.go
  x/auth/tx/builder_test.go
  x/auth/tx/config.go
  x/auth/tx/decoder.go
  x/auth/tx/sigs.go
  x/auth/types/amino_signing.go
  x/auth/types/amino_signing_test.go
  x/auth/types/client_tx.go
Due: modules, client

Restore empty version.Identifier check
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/03-connection/types/version.go
Due: modules

Update docs
  proto/cosmos/tx/service.proto
Due: none

Fix bugs with RejectUnknownFields
  codec/unknownproto/unknown_fields.go
Due: none

Fix tests
  codec/unknownproto/unknown_fields.go
Due: none

Fix bug and update docs
  codec/unknownproto/doc.go
  codec/unknownproto/unknown_fields.go
Due: none

Lint
  codec/unknownproto/unknown_fields.go
Due: none

x/ibc: fix log (#6903)
  x/ibc/05-port/keeper/keeper.go
Due: modules

Add tests
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/mode_handler.go
Due: modules

Add unknown field tests
  testutil/testdata/proto.pb.go
  testutil/testdata/proto.proto
  x/auth/tx/builder_test.go
  x/auth/tx/decoder.go
  x/auth/tx/encode_decode_test.go
  x/auth/tx/legacy_amino_json.go
  x/staking/types/staking.pb.go
Due: modules

Lint
  x/auth/tx/legacy_amino_json.go
Due: modules

create base proto package, move ValAddresses to staking
  proto/cosmos/bank/bank.proto
  proto/cosmos/bank/genesis.proto
  proto/cosmos/bank/query.proto
  proto/cosmos/base/base.proto
  proto/cosmos/crisis/genesis.proto
  proto/cosmos/distribution/distribution.proto
  proto/cosmos/distribution/genesis.proto
  proto/cosmos/distribution/query.proto
  proto/cosmos/gov/gov.proto
  proto/cosmos/staking/staking.proto
  proto/cosmos/tx/tx.proto
  proto/cosmos/vesting/vesting.proto
  proto/ibc/transfer/transfer.proto
  types/base.pb.go
  types/tx/tx.pb.go
  x/auth/vesting/types/vesting.pb.go
  x/bank/types/bank.pb.go
  x/bank/types/genesis.pb.go
  x/bank/types/query.pb.go
  x/crisis/types/genesis.pb.go
  x/distribution/types/distribution.pb.go
  x/distribution/types/genesis.pb.go
  x/distribution/types/query.pb.go
  x/gov/types/gov.pb.go
  x/ibc-transfer/types/transfer.pb.go
  x/staking/keeper/validator.go
  x/staking/types/staking.pb.go
Due: modules

Update changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

review change
  x/slashing/types/genesis.go
Due: modules

apply @AdityaSripal review requests
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/keeper/relay.go
  x/ibc-transfer/types/coin.go
  x/ibc-transfer/types/packet_test.go
  x/ibc/handler_test.go
  x/ibc/testing/chain.go
Due: modules

Add evidence
  x/bank/legacy/v0_40/migrate.go
  x/bank/legacy/v0_40/migrate_test.go
  x/evidence/legacy/v0_38/types.go
  x/evidence/legacy/v0_40/migrate.go
  x/evidence/legacy/v0_40/migrate_test.go
  x/evidence/legacy/v0_40/types.go
Due: modules

address more comments
  docs/architecture/adr-001-coin-source-tracing.md
Due: none

Add evidence to genutil migrate
  x/evidence/legacy/v0_40/migrate.go
  x/evidence/legacy/v0_40/migrate_test.go
  x/genutil/legacy/v0_40/migrate.go
Due: modules

Fix lint
  x/genutil/legacy/v0_40/migrate.go
Due: modules

update example
  docs/architecture/adr-001-coin-source-tracing.md
Due: none

Update x/ibc-transfer/types/coin.go
  x/ibc-transfer/types/coin.go
Due: modules

update makefile
  Makefile
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
