Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Update dec.go
  math/dec.go
Due: none

should work
  server/v2/store/commands.go
  server/v2/store/config.go
  server/v2/store/flags.go
  store/v2/options.go
Due: none

refactor(genutil/cli): remove `txConfig` from genesis command
  simapp/simd/cmd/commands.go
  simapp/v2/simdv2/cmd/commands.go
  x/genutil/client/cli/commands.go
  x/genutil/client/cli/genaccount.go
  x/genutil/client/cli/genaccount_test.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/cli/init.go
  x/staking/client/cli/tx.go
Due: modules

update
  simapp/simd/cmd/commands.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
Due: none

go mod tidy
  simapp/v2/go.mod
Due: none

fix(store/v2): using `defer` to ensure close db handle (#20871)
  store/v2/commitment/metadata.go
Due: none

fix build
  x/authz/keeper/genesis_test.go
  x/authz/keeper/keeper_test.go
  x/authz/migrations/v2/store_test.go
  x/authz/module/abci_test.go
Due: modules

fix slashing
  tests/integration/slashing/keeper/slash_redelegation_test.go
  x/staking/keeper/slash.go
Due: modules

update: buildSignedTx
  client/v2/tx/README.md
  client/v2/tx/factory.go
  client/v2/tx/factory_test.go
  client/v2/tx/tx.go
Due: client

chore: bump cometbft
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

fix: use cometbft v0.38.10-inj-1
  go.mod
  go.sum
Due: none

refactor bank out of testutil
  testutil/internal/banktypes/banktypes.go
  testutil/network/network.go
  testutil/network/util.go
  testutil/sims/app_helpers.go
  testutil/sims/state_helpers.go
Due: none

feat(schema): decoding middleware (#20880)
  schema/decoding/decoding_test.go
  schema/decoding/middleware.go
  schema/decoding/resolver_test.go
  schema/decoding/sync.go
Due: none

comments
  store/v2/commitment/metadata.go
  store/v2/commitment/store.go
  store/v2/storage/pebbledb/db.go
  store/v2/storage/sqlite/db.go
Due: none

appease linter
  x/staking/migrations/v3/store.go
Due: modules

update changelogs
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: fix test workoflow
  .github/workflows/v2-test.yml
Due: none

fix test
  server/v2/server_test.go
Due: none

test: failed to get sub viper (#20981)
  .github/workflows/v2-test.yml
  server/v2/server_test.go
Due: none

Revert "remove UnpackInterfacesMessage"
  client/grpc/cmtservice/service.go
  client/grpc_query.go
  codec/amino.go
  codec/codec.go
  codec/json.go
  codec/proto_codec.go
  codec/types/interface_registry.go
  crypto/keyring/legacy_info.go
  crypto/keyring/record.go
  crypto/keys/multisig/multisig.go
  testutil/testdata/animal.go
  testutil/testdata/grpc_query.go
  types/result.go
  types/tx/direct_aux.go
  types/tx/ext.go
  types/tx/msgs.go
  types/tx/signing/signature.go
  types/tx/types.go
  x/auth/migrations/legacytx/stdsign.go
  x/auth/migrations/legacytx/stdsignmsg.go
  x/auth/migrations/legacytx/stdtx.go
  x/auth/types/account.go
  x/auth/types/genesis.go
  x/auth/types/query.go
  x/staking/types/genesis.go
  x/staking/types/msg.go
  x/staking/types/validator.go
Due: modules, client

fix build
  x/authz/go.mod
Due: modules

refactor(genutil/cli): remove `txConfig` from genesis command (#20976)
  CHANGELOG.md
  simapp/simd/cmd/commands.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
  simapp/v2/simdv2/cmd/commands.go
  x/genutil/client/cli/commands.go
  x/genutil/client/cli/genaccount.go
  x/genutil/client/cli/genaccount_test.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/cli/init.go
  x/staking/client/cli/tx.go
Due: modules

lint
  indexer/postgres/create_table_test.go
  indexer/postgres/tests/init_schema_test.go
  schema/field.go
  schema/object_type.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
Due: modules

feat(indexer): postgres schema creation + CI config (#20701)
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  go.work.example
  indexer/postgres/CHANGELOG.md
  indexer/postgres/README.md
  indexer/postgres/base_sql.go
  indexer/postgres/column.go
  indexer/postgres/conn.go
  indexer/postgres/create_table.go
  indexer/postgres/create_table_test.go
  indexer/postgres/enum.go
  indexer/postgres/enum_test.go
  indexer/postgres/go.mod
  indexer/postgres/go.sum
  indexer/postgres/indexer.go
  indexer/postgres/internal/testdata/example_schema.go
  indexer/postgres/module.go
  indexer/postgres/object.go
  indexer/postgres/options.go
  indexer/postgres/sonar-project.properties
  indexer/postgres/tests/README.md
  indexer/postgres/tests/go.mod
  indexer/postgres/tests/go.sum
  indexer/postgres/tests/init_schema_test.go
  indexer/postgres/tests/testdata/init_schema.txt
  indexer/postgres/tests/testdata/init_schema_no_retain_delete.txt
  schema/field.go
  schema/object_type.go
Due: none

refactor: use errors.New to replace fmt.Errorf with no parameters (#20943)
  baseapp/abci_utils.go
  client/config/config.go
  client/prompt_validation.go
  client/pruning/main.go
  client/rpc/tx.go
  client/v2/autocli/flag/pubkey.go
  client/v2/autocli/query.go
  runtime/router.go
  schema/decoding/resolver_test.go
  schema/enum.go
  server/util.go
  store/v2/root/factory.go
  telemetry/metrics.go
  testutil/key.go
  tools/cosmovisor/process.go
  types/tx/types.go
  x/auth/client/cli/query.go
  x/auth/client/cli/tx_sign.go
  x/authz/client/cli/tx.go
  x/genutil/types/genesis.go
  x/protocolpool/keeper/keeper.go
  x/staking/types/authz.go
Due: app, modules, client

refactor: move auth/tx to client
  baseapp/abci_utils_test.go
  baseapp/baseapp_test.go
  baseapp/msg_service_router_test.go
  client/tx/aux_test.go
  client/tx/builder.go
  client/tx/config.go
  client/tx/config_test.go
  client/tx/decoder.go
  client/tx/encoder.go
  client/tx/gogotx.go
  client/tx/sigs.go
  client/tx/sigs_test.go
  client/tx/tx_test.go
  simapp/app.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
  simapp/v2/simdv2/cmd/root_di.go
  tests/integration/tx/aminojson/aminojson_test.go
  testutil/integration/router.go
  types/module/testutil/codec.go
  x/accounts/defaults/multisig/go.mod
  x/auth/ante/ext_test.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify_test.go
  x/auth/signing/legacy_amino_json.go
  x/auth/tx/config/depinject.go
  x/auth/tx/query.go
  x/gov/client/utils/query_test.go
Due: app, modules, client

lint
  baseapp/baseapp_test.go
  client/tx/aux_test.go
Due: app, client

update: move suite
  client/tx/config_test.go
  client/tx/suite_test.go
Due: client

refactor(core,types,runtime,x): make HasName no more mandatory
  core/appmodule/genesis.go
  core/appmodule/module.go
  core/appmodule/v2/genesis.go
  docs/build/building-modules/01-module-manager.md
  runtime/v2/builder.go
  runtime/v2/manager.go
  scripts/mockgen.sh
  simapp/app.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  testutil/x/counter/module.go
  types/module/core_module.go
  types/module/mock_appmodule_test.go
  types/module/module.go
  x/accounts/module.go
  x/auth/module.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/bank/module.go
  x/circuit/module.go
  x/consensus/module.go
  x/distribution/module.go
  x/epochs/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/group/module/module.go
  x/mint/module.go
  x/nft/module/module.go
  x/params/module.go
  x/protocolpool/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Due: modules

deprecate NewManager
  types/module/module.go
Due: none

CHANGELOG
  CHANGELOG.md
  x/auth/CHANGELOG.md
Due: modules

fix test
  x/accounts/utils_test.go
Due: modules

refactor(stf/appmanager): remove the need of `recurseStateChanges` (#20911)
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/appmanager_builder.go
  server/v2/appmanager/store/types.go
  server/v2/stf/branch/writer_map.go
Due: none

chore(confix): replace version v0.51 to v0.52
  tools/confix/cmd/migrate_test.go
  tools/confix/data/v0.52-app.toml
  tools/confix/data/v0.52-client.toml
  tools/confix/migrations.go
Due: none

update v0.52-client.toml
  tools/confix/data/v0.52-client.toml
Due: none
