Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

update module name
  api/cosmos/mstaking/module/v1/module.pulsar.go
  api/cosmos/mstaking/v1beta1/genesis.pulsar.go
  api/cosmos/mstaking/v1beta1/query.pulsar.go
  api/cosmos/mstaking/v1beta1/query_grpc.pb.go
  api/cosmos/mstaking/v1beta1/staking.pulsar.go
  api/cosmos/mstaking/v1beta1/tx.pulsar.go
  api/cosmos/mstaking/v1beta1/tx_grpc.pb.go
  testutil/x/staking/depinject.go
  testutil/x/staking/genesis.go
  testutil/x/staking/module.go
  testutil/x/staking/proto/buf.gen.pulsar.yaml
  testutil/x/staking/proto/cosmos/mstaking/module/v1/module.proto
  testutil/x/staking/proto/cosmos/mstaking/v1beta1/genesis.proto
  testutil/x/staking/proto/cosmos/mstaking/v1beta1/query.proto
  testutil/x/staking/proto/cosmos/mstaking/v1beta1/staking.proto
  testutil/x/staking/proto/cosmos/mstaking/v1beta1/tx.proto
  testutil/x/staking/types/genesis.go
  testutil/x/staking/types/genesis.pb.go
  testutil/x/staking/types/keys.go
  testutil/x/staking/types/mstaking.pb.go
  testutil/x/staking/types/query.pb.go
  testutil/x/staking/types/query.pb.gw.go
  testutil/x/staking/types/staking.pb.go
  testutil/x/staking/types/tx.pb.go
Due: none

test integrations
  tests/integration/bank/app_test.go
  testutil/configurator/configurator.go
  testutil/network/network.go
  testutil/sims/app_helpers.go
  testutil/sims/state_helpers.go
  testutil/x/staking/keeper/alias_functions.go
Due: none

feat!: facilitate the tokenization of vested delegation in the LSM module
  CHANGELOG.md
  tests/integration/staking/keeper/msg_server_test.go
  x/staking/keeper/liquid_stake.go
  x/staking/keeper/liquid_stake_test.go
  x/staking/keeper/msg_server.go
Due: modules

store and upgrade upstream changes
  store/v2/commitment/store.go
  store/v2/database.go
  store/v2/root/store.go
  x/upgrade/keeper/abci.go
Due: modules

chore: generate protos (#20582)
  api/cosmos/streaming/v1/grpc.pulsar.go
  api/cosmos/streaming/v1/grpc_grpc.pb.go
Due: none

fixes
  codec/depinject.go
  store/v2/root/factory.go
Due: none

feat: add changes from server modular to main (#20583)
  codec/depinject.go
  contrib/images/simd-env/Dockerfile
  core/context/context._test.go
  core/context/context.go
  core/store/store.go
  go.work.example
  runtime/v2/app.go
  runtime/v2/manager.go
  runtime/v2/module.go
  runtime/v2/services/comet.go
  store/v2/root/factory.go
Due: none

feat: upstream changes from server modular (#20584)
  store/v2/commitment/store.go
  store/v2/database.go
  store/v2/root/store.go
  x/upgrade/keeper/abci.go
Due: modules

refactor!: update staking code
  CHANGELOG.md
  tests/integration/staking/keeper/msg_server_test.go
  x/staking/keeper/msg_server.go
  x/staking/simulation/operations.go
  x/staking/types/errors.go
Due: modules

Review feedback
  x/simulation/simulate.go
Due: modules

clean up go.mod
  core/context/context._test.go
  core/context/context_test.go
  simapp/v2/go.mod
  simapp/v2/go.sum
Due: none

refactoring
  collections/collections.go
  collections/decoder.go
  indexer/base/decoder.go
  indexer/base/engine.go
  indexer/base/entity.go
  indexer/base/indexer.go
  indexer/base/listener.go
  indexer/base/schema.go
  indexer/postgres/create_table.go
  indexer/postgres/indexer.go
  simapp/app_di.go
  store/go.mod
  store/types/streaming.go
  x/bank/module.go
Due: modules

[WIP] Add Appendix for CometBFT implementation
  docs/architecture/adr-071-crypto-v2-multi-curve.md
Due: none

[WIP] More details to CometBFT implementation
  docs/architecture/adr-071-crypto-v2-multi-curve.md
Due: none

basic create table
  codec/collections.go
  collections/codec/schema.go
  collections/decoder.go
  collections/item.go
  collections/keyset.go
  collections/pair.go
  go.mod
  indexer/postgres/create_table.go
  types/collections.go
Due: none

WIP on base
  collections/decoder.go
  indexer/base/decoder.go
  indexer/base/schema.go
  indexer/base/type.go
  indexer/postgres/create_table.go
  indexer/postgres/insert_update.go
Due: none

WIP on base
  collections/decoder.go
  indexer/base/engine.go
  indexer/base/log.go
Due: none

port stf
  server/v2/stf/branch/writer_map.go
  server/v2/stf/core_router_service.go
  server/v2/stf/stf.go
Due: none

make changes to distribution to avoid sdkctx
  simapp/app.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/depinject.go
  x/distribution/keeper/abci.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/migrations/v4/migrate_funds_test.go
Due: modules

add changelog
  x/distribution/CHANGELOG.md
Due: modules

address comments
  errors/abci_test.go
  errors/errors.go
Due: none

address comments
  errors/abci.go
Due: none

allow tx decoding to fail in QueryTxsByEvents
  x/auth/tx/query.go
Due: modules

receiving writes
  baseapp/streaming.go
  indexer/base/engine.go
  indexer/postgres/indexer.go
  simapp/app_di.go
Due: app

quo, quo exact, table tests, multiply tests
  math/dec.go
  math/dec_test.go
Due: none

receiving decodes
  collections/decoder.go
  indexer/base/engine.go
  indexer/base/schema.go
  indexer/postgres/indexer.go
  store/types/streaming.go
Due: none

simple decodes working
  collections/decoder.go
  collections/pair.go
Due: none

creating tables
  indexer/postgres/create_table.go
  indexer/postgres/indexer.go
Due: none

basic indexing works
  indexer/postgres/delete.go
  indexer/postgres/exec.go
  indexer/postgres/indexer.go
  indexer/postgres/insert_update.go
  indexer/postgres/params.go
Due: none

distribution sort of works
  collections/decoder.go
  collections/triple.go
  indexer/postgres/create_table.go
  x/distribution/module.go
  x/staking/module.go
Due: modules

refactor(x/authz,x/feegrant): provide updated keeper in depinject
  x/authz/module/module.go
  x/feegrant/module/module.go
Due: modules

updates
  CHANGELOG.md
Due: none

fix
  x/authz/module/module.go
  x/feegrant/module/module.go
Due: modules

nit
  x/authz/module/module.go
Due: modules

address comments
  server/v2/cometbft/server.go
  server/v2/commands.go
  server/v2/server.go
  server/v2/server_test.go
  simapp/v2/simdv2/cmd/commands.go
Due: none

chg: fix restart after halt height
  baseapp/baseapp.go
Due: app

fix typo correctly
  docs/architecture/adr-073-indexer.md
Due: none

chore: fix spelling errors (#20581)
  docs/architecture/adr-073-indexer.md
Due: none

tidy
  x/group/go.sum
  x/mint/go.sum
Due: modules
