Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

tiyd
  simapp/go.mod
  simapp/go.sum
Due: none

chore(enterprise/group): run go mod tidy to remove stale go.sum entries
  enterprise/group/go.sum
Due: none

fix(simapp): restore UpgradeName to v054-to-v055 to match system upgrade test
  simapp/upgrades.go
Due: none

test(x): migrate x/ module tests to testutil/testapp (Phase 2b)
  testutil/testapp/network.go
  testutil/testapp/testapp.go
  x/auth/keeper/keeper_bench_test.go
  x/auth/module_test.go
  x/auth/testutil/app_config.go
  x/auth/types/account_retriever_test.go
  x/authz/simulation/operations_test.go
  x/authz/testutil/app_config.go
  x/bank/app_test.go
  x/bank/simulation/operations_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/simulation/operations_test.go
  x/distribution/testutil/app_config.go
  x/evidence/genesis_test.go
  x/evidence/testutil/app_config.go
  x/feegrant/simulation/operations_test.go
  x/gov/abci_test.go
  x/gov/common_test.go
  x/gov/simulation/operations_test.go
  x/mint/module_test.go
  x/mint/testutil/app_config.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/keeper/slash_redelegation_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/testutil/app_config.go
  x/staking/app_test.go
  x/staking/module_test.go
  x/staking/simulation/operations_test.go
  x/staking/testutil/app_config.go
Due: modules

feat(x): remove depinject wiring from all x/ module files (Phase 2a)
  x/auth/module.go
  x/auth/tx/config/config.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/bank/module.go
  x/consensus/module.go
  x/distribution/module.go
  x/epochs/depinject.go
  x/epochs/depinject_test.go
  x/epochs/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/depinject.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Due: modules

chore: run go mod tidy across all submodules
  client/v2/go.sum
  enterprise/group/go.sum
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/go.sum
  enterprise/poa/tests/systemtests/go.sum
  tests/systemtests/go.sum
  tools/confix/go.sum
  tools/systemtests/go.sum
Due: client

fix(x/auth): fix gci import ordering and trailing blank lines
  x/auth/module.go
  x/auth/types/account_retriever_test.go
  x/auth/vesting/module.go
Due: modules

fix(testutil/testapp): rename t to tb and fix staticcheck embedded field selector
  testutil/testapp/testapp.go
Due: none

fix(testutil/testapp): fix gci import order and gofumpt formatting in network.go
  testutil/testapp/network.go
Due: none

fix(x/staking): fix undefined accountKeeper in module_test.go migration
  x/staking/module_test.go
Due: modules

feat(runtime): remove depinject module wiring, migrate all main-module callers (Phase 3)
  baseapp/block_gas_test.go
  baseapp/grpcrouter_test.go
  baseapp/msg_service_router_test.go
  baseapp/utils_test.go
  client/grpc/cmtservice/status_test.go
  client/grpc_query_test.go
  client/rpc/rpc_test.go
  contrib/x/circuit/module.go
  contrib/x/crisis/module.go
  contrib/x/nft/module/module.go
  contrib/x/nft/simulation/operations_test.go
  contrib/x/nft/testutil/app_config.go
  crypto/armor_test.go
  crypto/keys/multisig/multisig_test.go
  runtime/app.go
  runtime/autocli.go
  runtime/builder.go
  runtime/module.go
  runtime/services.go
  runtime/types.go
  server/api/server_test.go
  server/grpc/server_test.go
  testutil/configurator/configurator.go
  testutil/network/network.go
  testutil/sims/app_helpers.go
  types/query/filtered_pagination_test.go
  types/query/fuzz_test.go
  types/query/pagination_test.go
Due: app, client

fix(types/query): use testapp.Setup so finalize state is initialized before NewContext
  types/query/pagination_test.go
Due: none

fix(baseapp): give newTestBaseApp a bech32 address codec for TestMsgService
  baseapp/msg_service_router_test.go
Due: app

fix(tests/e2e): remove depinject from auth and distribution e2e tests
  tests/e2e/auth/suite.go
  tests/e2e/distribution/suite.go
Due: none

fix(ci): go mod tidy simapp and fix gci/gofumpt formatting in client tests
  client/grpc_query_test.go
  client/rpc/rpc_test.go
  simapp/go.mod
Due: client

fix(tests): fix Phase 3 CI failures in baseapp, nft simulation, and grpc tests
  app/app.go
  baseapp/block_gas_test.go
  baseapp/msg_service_router_test.go
  baseapp/utils_test.go
  client/grpc_query_test.go
  contrib/x/nft/module/module.go
  contrib/x/nft/simulation/operations_test.go
  x/auth/keeper/keeper.go
Due: app, modules, client

fix(tests): migrate remaining depinject-based tests to SDKApp (Phase 3)
  enterprise/group/go.mod
  enterprise/group/x/group/module/abci_test.go
  enterprise/group/x/group/simulation/operations_test.go
  enterprise/group/x/group/testutil/app_config.go
  enterprise/group/x/group/testutil/setup.go
  tests/e2e/depinject/depinject_test.go
  tests/go.mod
  tests/integration/distribution/module_test.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/module_test.go
  tests/integration/runtime/query_test.go
  tests/integration/server/grpc/out_of_gas_test.go
  tests/integration/tx/context_test.go
  testutil/testapp/network.go
Due: none

fix(baseapp): fix gci import order and remove unused makeMinimalApp helper
  baseapp/block_gas_test.go
  baseapp/msg_service_router_test.go
  baseapp/utils_test.go
Due: app

fix(tests): remove depinject and testpb references, fix InitChain chain-id
  server/grpc/server_test.go
  simapp/app_test.go
  tests/integration/gov/genesis_test.go
  tests/integration/server/grpc/out_of_gas_test.go
Due: none

fix(integration/runtime): rename t to tb per thelper linter requirement
  tests/integration/runtime/query_test.go
Due: none

fix(runtime): remove unused App fields and registerRuntimeServices after depinject removal
  runtime/app.go
  runtime/services.go
Due: none

fix(enterprise/group): fix gci import ordering in testutil/setup.go
  enterprise/group/x/group/testutil/setup.go
Due: none

fix(ci): apply gci and gofumpt to all Phase 3 changed files
  app/app.go
  baseapp/block_gas_test.go
  baseapp/msg_service_router_test.go
  baseapp/utils_test.go
  contrib/x/circuit/module.go
  contrib/x/crisis/module.go
  contrib/x/nft/module/module.go
  contrib/x/nft/simulation/operations_test.go
  crypto/armor_test.go
  enterprise/group/x/group/simulation/operations_test.go
  server/api/server_test.go
  simapp/app_test.go
  tests/e2e/auth/suite.go
  tests/integration/gov/genesis_test.go
  tests/integration/tx/context_test.go
  testutil/network/network.go
  testutil/testapp/network.go
  x/auth/keeper/keeper.go
Due: app, modules

fix(e2e/auth): fix gci import ordering
  tests/e2e/auth/suite.go
Due: none

fix(e2e/distribution): remove unused depinject config.go
  tests/e2e/distribution/config.go
Due: none

fix(integration/runtime): add tb.Helper() to initFixture
  tests/integration/runtime/query_test.go
Due: none

chore(enterprise/group): run go mod tidy for Phase 3 changes
  enterprise/group/go.sum
Due: none

fix(tests): add client/v2 replace directive to tests/go.mod
  tests/go.mod
  tests/go.sum
Due: none

fix(enterprise/simapp): add client/v2 replace directive to simapp go.mod files
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
Due: none

fix(enterprise/poa/examples): add client/v2 replace directive
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/examples/migrate-from-pos/go.sum
Due: none

ci: bump dependency-review go to 1.26.x for stdlib vuln fixes
  .github/workflows/dependencies-review.yml
Due: none

align toolchain
  .github/workflows/build-simd-nightlies.yml
  .github/workflows/build.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/pr-go-mod-tidy-mocks.yml
  .github/workflows/sims-054.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/systemtests.yml
  .github/workflows/test.yml
  api/go.mod
  client/v2/go.mod
  collections/go.mod
  core/go.mod
  depinject/go.mod
  enterprise/group/go.mod
  enterprise/group/simapp/go.mod
  enterprise/group/tests/systemtests/go.mod
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/go.mod
  enterprise/poa/simapp/go.mod
  enterprise/poa/tests/systemtests/go.mod
  errors/go.mod
  go.mod
  log/go.mod
  math/go.mod
  simapp/go.mod
  store/go.mod
  tests/go.mod
  tests/systemtests/go.mod
  tools/confix/go.mod
  tools/cosmovisor/go.mod
  tools/systemtests/go.mod
Due: client

chore(math): add changelog entry for MinInt/MaxInt aliasing fix
  math/CHANGELOG.md
Due: none

fix(tests/integration/evidence): replace missed runtime.ProvideCometInfoService with sdk
  tests/integration/evidence/keeper/infraction_test.go
Due: none

chore(client/v2): run go mod tidy after runtime package removal
  client/v2/go.mod
  client/v2/go.sum
Due: client

fix(modules): add cosmossdk.io/client/v2 replace directives and run go mod tidy
  enterprise/group/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: none

rewrite validator updates postfix, rathan than as they are emitted
  tests/integration/staking/keeper/cons_key_rotation_test.go
  x/staking/keeper/rotation.go
  x/staking/keeper/rotation_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/val_state_change_test.go
Due: modules

add tests for rotaiton functinos
  x/staking/keeper/rotation.go
  x/staking/keeper/rotation_test.go
  x/staking/keeper/val_state_change.go
Due: modules

bump go version for dependency fixes
  .github/workflows/build-simd-nightlies.yml
  .github/workflows/build.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/pr-go-mod-tidy-mocks.yml
  .github/workflows/sims-054.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/systemtests.yml
  .github/workflows/test.yml
  api/go.mod
  client/v2/go.mod
  collections/go.mod
  core/go.mod
  depinject/go.mod
  enterprise/group/go.mod
  enterprise/group/simapp/go.mod
  enterprise/group/tests/systemtests/go.mod
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/go.mod
  enterprise/poa/simapp/go.mod
  enterprise/poa/tests/systemtests/go.mod
  errors/go.mod
  go.mod
  log/go.mod
  math/go.mod
  simapp/go.mod
  store/go.mod
  tests/go.mod
  tests/systemtests/go.mod
  tools/confix/go.mod
  tools/cosmovisor/go.mod
  tools/systemtests/go.mod
Due: client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
