Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

[10126]: Add some newlines that were missing from some help output.
  cosmovisor/cmd/cosmovisor/cmd/help.go
Due: none

[10126]: Add a link to the documentation to the help text.
  cosmovisor/cmd/cosmovisor/cmd/help.go
  cosmovisor/cmd/cosmovisor/cmd/help_test.go
Due: none

[10126]: Don't allow MultiErrors to be in MultiErrors by extracting sub-errors while flattening.
  cosmovisor/multierror.go
  cosmovisor/multierror_test.go
Due: none

[10126]: Add some missing function comments.
  cosmovisor/args.go
  cosmovisor/cmd/cosmovisor/cmd/help.go
Due: none

[10126]: Add changelog entry.
  cosmovisor/CHANGELOG.md
Due: none

[10126]: Fix changelog pull link.
  cosmovisor/CHANGELOG.md
Due: none

WIP on CLI
  app/cli/cli.go
  app/cli/commands.go
  app/cli/config.go
  simapp/v2/config.go
  simapp/v2/main.go
Due: app

working CLI
  app/cli/cli.go
  container/container.go
  container/scope_dep.go
  x/auth/module/module.go
Due: app, modules

fixes
  container/container.go
  container/go.mod
  container/scope_dep.go
Due: none

lint++
  docs/architecture/adr-046-module-params.md
Due: none

adr++
  docs/architecture/adr-046-module-params.md
Due: none

test: add more tests for periodic vesting accounts
  x/auth/vesting/client/testutil/suite.go
  x/auth/vesting/client/testutil/testdata/badjson
  x/auth/vesting/client/testutil/testdata/badperiod.json
  x/auth/vesting/client/testutil/testdata/periods1.json
  x/auth/vesting/handler_test.go
  x/auth/vesting/types/genesis_test.go
  x/auth/vesting/types/msgs_test.go
Due: modules

switch auto-group and one-per-scope types to interfaces as opposed to options
  container/config.go
  container/container.go
  container/container_test.go
  container/group.go
  container/one_per_scope.go
  container/option.go
Due: none

fix: removed potential sources of non-determinism in upgrades
  CHANGELOG.md
  store/rootmulti/store.go
  types/module/module.go
  x/upgrade/keeper/keeper.go
Due: modules

add test case
  store/gaskv/store_test.go
Due: none

fix: Charge gas even when there are no entries in gaskv (#10218)
  CHANGELOG.md
  store/gaskv/store.go
  store/gaskv/store_test.go
Due: none

review changes
  CHANGELOG.md
  x/gov/keeper/msg_server.go
Due: modules

fix conflicts
  CHANGELOG.md
Due: none

revert tests
  x/gov/abci_test.go
Due: modules

Update x/staking/keeper/historical_info_test.go
  x/staking/keeper/historical_info_test.go
Due: modules

docs: Fix Cosmos-sdk references in md files
  CONTRIBUTING.md
  LICENSE
  docs/architecture/adr-006-secret-store-replacement.md
  docs/intro/overview.md
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

add changelog
  CHANGELOG.md
Due: none

docs:#10178 reference authz from auth
  x/auth/spec/01_concepts.md
  x/authz/spec/01_concepts.md
Due: modules

address review comments
  x/bank/keeper/keeper_test.go
  x/bank/keeper/querier_test.go
  x/slashing/simulation/operations_test.go
  x/staking/keeper/historical_info_test.go
  x/staking/simulation/operations_test.go
Due: modules

clean up some future tense
  x/auth/spec/03_antehandlers.md
  x/auth/spec/05_vesting.md
  x/auth/spec/README.md
Due: modules

Resolve additional future tense references in line with desired style
  x/authz/spec/03_messages.md
  x/authz/spec/05_client.md
Due: modules

remove ReadHomeFlag
  client/cmd.go
  simapp/simd/cmd/root.go
  x/genutil/client/cli/init.go
Due: modules, client

fix: x/bank/044 migrateDenomMetadata
  x/bank/migrations/v044/keys.go
  x/bank/migrations/v044/store.go
  x/bank/types/key.go
  x/bank/types/key_test.go
Due: modules

adding changelog entry
  CHANGELOG.md
Due: none

[10126]: Move multierror into its own errors package, then rename it to just multi.
  cosmovisor/args.go
  cosmovisor/args_test.go
  cosmovisor/cmd/cosmovisor/cmd/help.go
  cosmovisor/errors/multi.go
  cosmovisor/errors/multi_test.go
Due: none

[10126]: Change the Config DetailString to use the environment variables instead of Config field names. Also add the missing PreupgradeMaxRetries entry to it.
  cosmovisor/args.go
  cosmovisor/args_test.go
Due: none

[10126]: Remove the environment variables from the help text and just defer to the cosmovisor README.
  cosmovisor/cmd/cosmovisor/cmd/help.go
  cosmovisor/cmd/cosmovisor/cmd/help_test.go
Due: none

fix CHANGELOG.md
  CHANGELOG.md
Due: none

fix test
  types/coin_test.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
