Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: migrate x/staking to app wiring (#12102)
  api/cosmos/staking/module/v1/module.pulsar.go
  proto/cosmos/staking/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  simapp/export.go
  x/bank/module.go
  x/distribution/module.go
  x/distribution/simulation/operations.go
  x/slashing/module.go
  x/slashing/simulation/operations.go
  x/staking/abci.go
  x/staking/genesis.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/invariants.go
  x/staking/keeper/keeper.go
  x/staking/keeper/migrations.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/querier.go
  x/staking/keeper/test_common.go
  x/staking/keeper/validator_test.go
  x/staking/module.go
  x/staking/simulation/operations.go
  x/staking/teststaking/helper.go
Due: modules

Update lint.yml
  .github/workflows/lint.yml
Due: none

staking keys
  x/staking/types/keys.go
Due: modules

fumpt
  baseapp/baseapp_test.go
  core/appconfig/config.go
  crypto/keyring/keyring_test.go
  depinject/debug.go
  runtime/module.go
  server/mock/tx.go
  server/tm_cmds.go
  simapp/app.go
  store/streaming/constructor_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/setup.go
  x/auth/ante/sigverify.go
  x/auth/module.go
  x/bank/module.go
  x/gov/types/v1beta1/proposals_test.go
  x/group/client/testutil/tx.go
  x/group/keeper/keeper_test.go
  x/params/module.go
  x/simulation/simulate.go
Due: app, modules

cl
  CHANGELOG.md
Due: none

Add provideDeliverTx to runtime
  runtime/module.go
  x/genutil/module.go
Due: modules

fix: TxFactory reads from `--fee-{payer,granter}` (#12127)
  CHANGELOG.md
  client/tx/factory.go
  client/tx/tx.go
  x/feegrant/client/testutil/suite.go
Due: modules, client

fix suspicious join by using .Dir instead of .Join
  simapp/simd/cmd/testnet.go
  testutil/network/util.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update .golangci.yml
  .golangci.yml
Due: none

remove timoue on import sims for 0.45 and 0.46
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
Due: none

chore: remove timeout on import sims for 0.45 and 0.46 (#12138)
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
Due: none

Update test_helpers.go
  simapp/test_helpers.go
Due: none

Update .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: none

fix: added breaking change in staking keeper api
  CHANGELOG.md
Due: none

fix(staking): Fix JSON genesis migration
  x/genutil/migrations/v046/migrate.go
  x/staking/migrations/v043/keys.go
  x/staking/migrations/v046/json.go
  x/staking/migrations/v046/json_test.go
  x/staking/migrations/v046/keys.go
Due: modules

add cl
  CHANGELOG.md
Due: none

fumpt and lint
  baseapp/baseapp_test.go
  client/cmd.go
  core/appconfig/config.go
  crypto/keyring/keyring_test.go
  crypto/keys/secp256k1/internal/secp256k1/curve.go
  depinject/debug.go
  pruning/manager.go
  runtime/module.go
  server/mock/tx.go
  server/tm_cmds.go
  simapp/app.go
  simapp/test_helpers.go
  snapshots/types/util.go
  store/streaming/constructor_test.go
  store/v2alpha1/smt/ics23.go
  types/coin.go
  types/kv/list.go
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/setup.go
  x/auth/ante/sigverify.go
  x/auth/module.go
  x/auth/tx/builder.go
  x/authz/module/abci.go
  x/bank/module.go
  x/feegrant/client/testutil/suite.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/querier.go
  x/gov/migrations/v046/convert.go
  x/gov/types/v1beta1/proposals_test.go
  x/group/client/testutil/tx.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/params/module.go
Due: app, modules, client

less code
  x/genutil/migrations/v046/migrate.go
  x/staking/migrations/v046/json.go
  x/staking/migrations/v046/json_test.go
Due: modules

Update comment
  x/genutil/migrations/v046/migrate.go
Due: modules

this lints the db module, and makes it easier to use. It adds breaking name changes
  db/adapter.go
  db/badgerdb/db.go
  db/dbtest/benchmark.go
  db/dbtest/testcases.go
  db/dbtest/util.go
  db/memdb/db.go
  db/prefix/prefix.go
  db/prefix/prefix_iterator.go
  db/types.go
Due: none

DBConnection -> Connection
  db/badgerdb/db_test.go
Due: none

previous commit contained a merge error
  crypto/keys/secp256k1/internal/secp256k1/curve.go
  simapp/test_helpers.go
  types/kv/list.go
Due: none

fix: added breaking change in staking keeper api (#12139)
  CHANGELOG.md
Due: none

chore!: var-naming linter errors (#12135)
  CHANGELOG.md
  x/auth/tx/service.go
  x/authz/keeper/keeper.go
  x/group/keeper/grpc_query.go
  x/group/keeper/keeper.go
  x/group/keeper/msg_server.go
  x/group/keeper/tally.go
  x/nft/client/testutil/grpc.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
