Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

updates
  store/kv/branch/store.go
  store/kv/branch/store_test.go
  store/kv/gas/store.go
  store/kv/gas/store_test.go
  store/kv/mem/store.go
  store/kv/mem/store_test.go
  store/kv/trace/store.go
  store/root/store.go
  store/store.go
Due: none

updates
  store/root/store.go
Due: none

ci: debug golangci-lint for cosmovisor (#18304)
  .github/workflows/test.yml
  scripts/go-lint-all.bash
  tools/cosmovisor/process.go
Due: none

remove mint usage in rootsdk
  baseapp/block_gas_test.go
  baseapp/utils_test.go
  tests/integration/server/server_test.go
  testutil/sims/address_helpers.go
Due: app

refactor: modularize grpc server (#18284)
  serverv2/grpc/gogoreflection/doc.go
  serverv2/grpc/gogoreflection/fix_registration.go
  serverv2/grpc/gogoreflection/fix_registration_test.go
  serverv2/grpc/gogoreflection/serverreflection.go
  serverv2/grpc/reflection/v2alpha1/reflection.go
  serverv2/grpc/reflection/v2alpha1/reflection.pb.go
  serverv2/grpc/reflection/v2alpha1/reflection.pb.gw.go
  serverv2/grpc/server.go
  serverv2/grpc/server_test.go
  serverv2/telemetry/server.go
Due: none

refactor: remove usage of global basedenom (#18268)
  CHANGELOG.md
  types/coin.go
  types/denom.go
  types/denom_internal_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
Due: modules

fix more tests
  tests/e2e/gov/tx.go
  tests/integration/bank/app_test.go
Due: none

add more docs
  x/accounts/internal/implementation/api_builder.go
  x/accounts/internal/implementation/implementation.go
  x/accounts/internal/implementation/protoaccount.go
Due: modules

lint and tidy
  simapp/go.mod
  tests/go.sum
  tests/starship/tests/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/keeper.go
  x/accounts/keeper_test.go
  x/accounts/testing/counter/counter.go
Due: modules

more docs
  x/accounts/internal/implementation/implementation.go
Due: modules

solved issue with go.mod files
  client/v2/go.mod
  client/v2/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/distribution/go.mod
  x/distribution/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/slashing/go.mod
  x/slashing/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

fix
  tests/e2e/gov/tx.go
  tests/integration/bank/app_test.go
Due: none

move to subdir
  tests/integration/server/grpc/server_test.go
Due: none

bump iavl to 1.0
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

use require
  version/version_test.go
Due: none

chore(store): bump iavl to final v1 (#18308)
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

test(cosmovisor): improve TestParseUpgradeInfoFile with substring assertions (#18262)
  tools/cosmovisor/scanner.go
  tools/cosmovisor/scanner_test.go
  tools/cosmovisor/testdata/upgrade-files/f3-empty.json
Due: none

go mod tidy all
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/starship/tests/go.sum
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/distribution/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.sum
  x/mint/go.sum
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.sum
  x/slashing/go.sum
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

remove deps from other modules in upgrade module
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/module.go
Due: modules

feat(version): Add extraInfo to version cmd (#18063)
  CHANGELOG.md
  version/command.go
  version/version.go
  version/version_test.go
Due: none

updates
  store/kv/branch/store.go
  store/root/store.go
  store/root/store_test.go
Due: none

fix(client/v2): fix marshalling of queries with any
  client/v2/autocli/app.go
  client/v2/go.mod
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  x/tx/CHANGELOG.md
  x/tx/go.mod
  x/tx/signing/aminojson/any.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/options.go
Due: modules, client

Work in progress on the keepers and internal logic
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  api/cosmos/distribution/v1beta1/query.pulsar.go
  api/cosmos/distribution/v1beta1/query_grpc.pb.go
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  api/cosmos/distribution/v1beta1/tx_grpc.pb.go
  api/cosmos/staking/v1beta1/genesis.pulsar.go
  api/cosmos/staking/v1beta1/query.pulsar.go
  api/cosmos/staking/v1beta1/query_grpc.pb.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/tx_grpc.pb.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/codec.go
  x/distribution/types/distribution.pb.go
  x/distribution/types/events.go
  x/distribution/types/expected_keepers.go
  x/distribution/types/msg.go
  x/distribution/types/query.pb.go
  x/distribution/types/query.pb.gw.go
  x/distribution/types/tx.pb.go
  x/staking/client/cli/flags.go
  x/staking/client/cli/query.go
  x/staking/client/cli/tx.go
  x/staking/keeper/genesis.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/msg_server.go
  x/staking/types/genesis.pb.go
  x/staking/types/hooks.go
  x/staking/types/query.pb.go
  x/staking/types/query.pb.gw.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
Due: modules

build(deps): Bump github.com/cosmos/iavl from 0.20.1 to 1.0.0 for all modules
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

build(deps): Bump github.com/cosmos/ledger-cosmos-go from 0.13.2 to 0.13.3 for all modules
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

fix tests
  x/staking/testutil/expected_keepers_mocks.go
Due: modules

add double claim testcases
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

review changes
  x/staking/keeper/msg_server.go
Due: modules

test samples moving
  tests/fixtures/invalid_batch.json
  tests/fixtures/new_batch.json
Due: none

Update proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/gov.proto
Due: none

review changes
  store/mock/cosmos_cosmos_db_DB.go
Due: none

fix sims with a hack
  x/gov/simulation/operations.go
Due: modules

revert nix changes
  simapp/gomod2nix.toml
Due: none

review changes
  x/distribution/keeper/hooks.go
  x/staking/keeper/cons_pubkey.go
Due: modules

chore(upgrade): remove extra gov deps (#18316)
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/module.go
Due: modules

chore: remove mint imports in the sdk (#18307)
  baseapp/block_gas_test.go
  baseapp/utils_test.go
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  simapp/go.sum
  tests/go.mod
  tests/integration/server/grpc/server_test.go
  tests/starship/tests/go.sum
  testutil/sims/address_helpers.go
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/distribution/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.sum
  x/mint/go.sum
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.sum
  x/slashing/go.sum
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: app, modules, client

go mod
  store/go.mod
  store/go.sum
Due: none

go mod
  go.mod
Due: none
