Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Useless import
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
Due: none

Revert
  x/auth/signing/sign_mode_handler.go
Due: modules

typo
  tx/textual/valuerenderer/tx.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

fix: listen state writes on rootmulti store only
  proto/cosmos/base/store/v1beta1/listening.proto
  store/cachekv/store.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/dbadapter/store_test.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/listenkv/store.go
  store/listenkv/store_test.go
  store/mem/mem_test.go
  store/mem/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/tracekv/store.go
  store/tracekv/store_test.go
  store/types/listening.go
  store/types/store.go
Due: none

CV Apply feedback part 1
  server/start.go
Due: none

Use Logger.Error
  server/start.go
Due: none

feat(core): add ADR 033 (inter-module communication) Client interface (#13631)
  core/intermodule/client.go
Due: none

Update priority_nonce_spec.md
  types/mempool/priority_nonce_spec.md
Due: none

docs: apply technical content styles to Basic topics
  docs/basics/app-anatomy.md
  docs/basics/query-lifecycle.md
  docs/basics/tx-lifecycle.md
Due: none

Fix confusing iavl command message
  server/start.go
Due: none

chore: allow only action proposals for migration
  x/gov/keeper/proposal.go
  x/gov/migrations/v4/store.go
  x/gov/types/errors.go
Due: modules

test: fix the keeper test of cancel proposal
  x/gov/keeper/common_test.go
Due: modules

chore: address the pr comments
  CHANGELOG.md
  UPGRADING.md
  x/gov/README.md
  x/gov/keeper/deposit.go
  x/gov/keeper/proposal.go
Due: modules

Apply suggestions from code review
  docs/docs/building-modules/04-query-services.md
Due: none

feat(cli): Add iavl-disable-fastnode cmd flag with proper description
  server/start.go
  simapp/simd/cmd/root.go
Due: none

add store key in readme
  x/gov/README.md
Due: modules

minor reformatting
  types/mempool/mempool_test.go
  types/mempool/nonce.go
Due: none

docs: apply present tense to Basic topics
  docs/docs/basics/01-tx-lifecycle.md
Due: none

import formatting
  x/auth/tx/builder.go
Due: modules

fix import order
  x/auth/tx/builder.go
Due: modules

Update tests/integration/runtime/query_test.go
  tests/integration/runtime/query_test.go
Due: none

remove dead code
  runtime/internal/services/app.go
  runtime/services.go
Due: none

initial commit
  simapp/benchs_test.go
Due: none

revert auth.NewAppModule change
  simapp/app.go
  simapp/app_legacy.go
  x/auth/module.go
Due: modules

docs: apply present tense to Basic topics
  docs/docs/basics/00-app-anatomy.md
  docs/docs/basics/01-tx-lifecycle.md
  docs/docs/basics/02-query-lifecycle.md
  docs/docs/basics/04-gas-fees.md
Due: none

add godocs
  x/auth/module.go
Due: modules

revert
  tests/integration/bank/keeper/keeper_test.go
Due: none

Apply suggestions from code review
  docs/docs/basics/04-gas-fees.md
Due: none

update go.mod's
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tx/go.mod
Due: none

feat: nonce (sequence number) based mempool (#13645)
  baseapp/baseapp.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  types/mempool/mempool.go
  types/mempool/mempool_test.go
  types/mempool/nonce.go
  types/mempool/skip_list_test.go
  x/auth/tx/builder.go
Due: app, modules

go imports
  baseapp/baseapp.go
Due: app

cleanup mempool tests
  types/mempool/mempool_test.go
  types/mempool/nonce_test.go
Due: none

rename test file
  types/mempool/priority_nonce_test.go
Due: none

feat(cli): Add iavl-disable-fastnode cmd flag with proper description (#13656)
  server/start.go
  simapp/simd/cmd/root.go
Due: none
