Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

x/distribution: gRPC query service (#6600)
  proto/cosmos/distribution/distribution.proto
  proto/cosmos/distribution/query.proto
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/module.go
  x/distribution/types/distribution.pb.go
  x/distribution/types/querier.go
  x/distribution/types/query.go
  x/distribution/types/query.pb.go
Due: modules

add utils
  x/auth/client/cli/tx_sign.go
  x/auth/client/cli/validate_sigs.go
Due: modules

move suite to keeper_test
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/keeper_test.go
Due: modules

Remove wait for N block func.
  testutil/network/network.go
  x/auth/client/cli/cli_test.go
Due: modules

export callCmd function into its own file.
  testutil/cmd.go
  x/auth/client/cli/cli_test.go
  x/auth/client/testutil/helpers.go
  x/bank/client/testutil/cli_helpers.go
Due: modules

WIP on refactoring new integration tests.
  simapp/simd/cmd/integration_test.go
  x/bank/client/testutil/suite.go
  x/crisis/client/testutil/suite.go
  x/distribution/client/testutil/suite.go
Due: modules

fix imports
  client/test_helpers.go
  testutil/cmd.go
  x/auth/client/testutil/helpers.go
  x/bank/client/testutil/cli_helpers.go
Due: modules, client

godocs
  simapp/simd/cmd/integration_test.go
Due: none

Update STABLE_RELEASES.md
  STABLE_RELEASES.md
Due: none

x/mint/simulation/params.go: add unit tests (#6708)
  x/mint/simulation/params_test.go
Due: modules

x/ibc/simulation/genesis_test.go: add unit tests
  x/ibc/simulation/genesis_test.go
Due: modules

add changelog line re: issue that was not included in v0.38.5
  CHANGELOG.md
Due: none

refactor auths broadcast cmd in alignment with #6216
  client/broadcast.go
  types/result.go
  types/result_test.go
Due: client

x/ibc/simulation/genesis_test.go: add unit tests (#6712)
  x/ibc/simulation/genesis_test.go
Due: modules

Stable Releases: Definition and Process (#6394)
  CONTRIBUTING.md
  STABLE_RELEASES.md
Due: none

update spec docs
  x/ibc/spec/01_concepts.md
Due: modules

Standardize connection versioning + channel versioning docs (#6640)
  docs/ibc/custom.md
  proto/ibc/connection/connection.proto
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/keeper/keeper_test.go
  x/ibc-transfer/module.go
  x/ibc-transfer/types/errors.go
  x/ibc/03-connection/keeper/grpc_query_test.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/connection.pb.go
  x/ibc/03-connection/types/connection_test.go
  x/ibc/03-connection/types/genesis_test.go
  x/ibc/03-connection/types/msgs.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/03-connection/types/version.go
  x/ibc/03-connection/types/version_test.go
  x/ibc/04-channel/client/cli/tx.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/types/channel.go
  x/ibc/24-host/validate.go
  x/ibc/24-host/validate_test.go
  x/ibc/genesis_test.go
  x/ibc/spec/01_concepts.md
  x/ibc/testing/chain.go
Due: modules

fix more tests
  crypto/armor.go
  crypto/armor_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/legacy.go
  crypto/ledger_mock.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
  crypto/types/multisig/threshold_pubkey.go
  store/tracekv/store.go
  store/tracekv/store_test.go
Due: none

Fix changelog
  CHANGELOG.md
Due: none

add release notes
  NEWS.md
Due: none

update CODEOWNERS as per STABLE_RELEASES.md
  .github/CODEOWNERS
Due: none

Refactor a little bit more
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/testutil_test.go
  x/auth/types/test_utils.go
Due: modules

Fee test
  x/auth/ante/basic_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/testutil_test.go
Due: modules

review change
  x/gov/types/params.go
Due: modules

SetupTest
  x/auth/ante/setup_test.go
Due: modules

All tests pass
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/setup_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
Due: modules

fix events test
  types/address.go
  types/address_test.go
  x/bank/keeper/keeper_test.go
Due: modules

Add milestone's URL
  NEWS.md
Due: none

review changes
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper_test.go
Due: modules

Revert "update CODEOWNERS as per STABLE_RELEASES.md"
  .github/CODEOWNERS
Due: none

Refactor to RunTestCase
  x/auth/ante/ante_test.go
  x/auth/ante/testutil_test.go
Due: modules

update sign cmd
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
Due: modules

remove proto files
  github.com/cosmos/cosmos-sdk/crypto/types/crypto.pb.go
  github.com/cosmos/cosmos-sdk/types/cosmos.pb.go
  github.com/cosmos/cosmos-sdk/types/query/pagination.pb.go
  github.com/cosmos/cosmos-sdk/types/tx/signing/signing.pb.go
  github.com/cosmos/cosmos-sdk/types/tx/tx.pb.go
  github.com/cosmos/cosmos-sdk/x/auth/types/auth.pb.go
  github.com/cosmos/cosmos-sdk/x/auth/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/auth/vesting/types/vesting.pb.go
  github.com/cosmos/cosmos-sdk/x/bank/types/bank.pb.go
  github.com/cosmos/cosmos-sdk/x/bank/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/capability/types/capability.pb.go
  github.com/cosmos/cosmos-sdk/x/crisis/types/crisis.pb.go
  github.com/cosmos/cosmos-sdk/x/distribution/types/distribution.pb.go
  github.com/cosmos/cosmos-sdk/x/distribution/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/evidence/types/evidence.pb.go
  github.com/cosmos/cosmos-sdk/x/evidence/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/gov/types/gov.pb.go
  github.com/cosmos/cosmos-sdk/x/ibc/03-connection/types/connection.pb.go
  github.com/cosmos/cosmos-sdk/x/ibc/03-connection/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/ibc/04-channel/types/channel.pb.go
  github.com/cosmos/cosmos-sdk/x/ibc/04-channel/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/ibc/09-localhost/types/localhost.pb.go
  github.com/cosmos/cosmos-sdk/x/ibc/23-commitment/types/commitment.pb.go
  github.com/cosmos/cosmos-sdk/x/mint/types/mint.pb.go
  github.com/cosmos/cosmos-sdk/x/mint/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/params/types/proposal/params.pb.go
  github.com/cosmos/cosmos-sdk/x/params/types/proposal/query.pb.go
  github.com/cosmos/cosmos-sdk/x/slashing/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/slashing/types/slashing.pb.go
  github.com/cosmos/cosmos-sdk/x/staking/types/staking.pb.go
  github.com/cosmos/cosmos-sdk/x/upgrade/types/query.pb.go
  github.com/cosmos/cosmos-sdk/x/upgrade/types/upgrade.pb.go
Due: none

fix proto + update tests
  proto/cosmos/gov/gov.proto
  proto/cosmos/slashing/slashing.proto
  x/gov/types/gov.pb.go
  x/slashing/client/cli/cli_test.go
  x/slashing/types/slashing.pb.go
Due: modules

fix NewUnjailTxCmd
  x/slashing/client/cli/tx.go
Due: modules

update multisign cmd
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
Due: modules

move simapp/helpers to test_helpers
  simapp/helpers/test_helpers.go
  simapp/sim_test.go
  simapp/test_helpers.go
  simapp/utils.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/gov/simulation/operations.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
