Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

perf: Refactor Coins/Validate to avoid unnecessary map (#14163)
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
Due: none

updates with tagged version
  crypto/keys/secp256k1/secp256k1.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/README.md
  tools/rosetta/client_offline.go
  tools/rosetta/client_online.go
  tools/rosetta/config.go
  tools/rosetta/converter.go
  tools/rosetta/converter_test.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tools/rosetta/lib/errors/errors.go
  tools/rosetta/lib/errors/registry.go
  tools/rosetta/lib/internal/service/account.go
  tools/rosetta/lib/internal/service/block.go
  tools/rosetta/lib/internal/service/construction.go
  tools/rosetta/lib/internal/service/mempool.go
  tools/rosetta/lib/internal/service/network.go
  tools/rosetta/lib/internal/service/offline.go
  tools/rosetta/lib/internal/service/online.go
  tools/rosetta/lib/server/server.go
  tools/rosetta/lib/types/types.go
Due: none

add default to toml config
  baseapp/baseapp.go
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
Due: app

format toml config
  server/config/toml.go
Due: none

update template
  server/config/toml.go
Due: none

update documentation
  streaming/README.md
  streaming/plugins/abci/v1/README.md
  streaming/plugins/abci/v1/grpc.go
  streaming/plugins/abci/v1/interface.go
Due: none

fix test
  streaming/streaming_test.go
Due: none

write request to single topics
  streaming/plugins/abci/v1/examples/plugin-python/kafka.py
Due: none

feat: standalone rosetta command (#14118)
  .github/workflows/build.yml
  Makefile
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/.gitignore
  tools/rosetta/CHANGELOG.md
  tools/rosetta/Makefile
  tools/rosetta/README.md
  tools/rosetta/client_offline.go
  tools/rosetta/client_online.go
  tools/rosetta/cmd/rosetta.go
  tools/rosetta/cmd/rosetta/main.go
  tools/rosetta/config.go
  tools/rosetta/converter.go
  tools/rosetta/converter_test.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tools/rosetta/lib/errors/errors.go
  tools/rosetta/lib/errors/registry.go
  tools/rosetta/lib/internal/service/account.go
  tools/rosetta/lib/internal/service/block.go
  tools/rosetta/lib/internal/service/construction.go
  tools/rosetta/lib/internal/service/mempool.go
  tools/rosetta/lib/internal/service/network.go
  tools/rosetta/lib/internal/service/offline.go
  tools/rosetta/lib/internal/service/online.go
  tools/rosetta/lib/logger/logger.go
  tools/rosetta/lib/server/server.go
  tools/rosetta/lib/types/types.go
Due: none

chore: prepare rosetta for tagging
  tools/rosetta/CHANGELOG.md
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

`make lint-fix`
  x/authz/keeper/grpc_query.go
Due: modules

fix changelog
  CHANGELOG.md
Due: none

`make proto-gen`
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/tx.pulsar.go
  x/consensus/types/query.pb.go
  x/consensus/types/tx.pb.go
  x/gov/types/v1beta1/msgs.go
  x/gov/types/v1beta1/proposal.go
Due: modules

random update
  .github/labeler.yml
Due: none

rm unneded doc
  docs/docs/architecture/adr-057-app-wiring.md
  x/genutil/client/cli/genaccount.go
Due: modules

move core genesis cmd to genutils
  simapp/simd/cmd/root.go
  x/genutil/client/cli/core_genesis_cmd.go
Due: modules

make proto changes
  api/cosmos/upgrade/v1beta1/tx_grpc.pb.go
  api/cosmos/upgrade/v1beta1/upgrade.pulsar.go
  proto/cosmos/upgrade/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/upgrade/types/tx.pb.go
  x/upgrade/types/upgrade.pb.go
Due: none

chore: prepare rosetta for tagging (#14183)
  .github/labeler.yml
  tools/rosetta/CHANGELOG.md
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

add more inline docs and increase test cvrg
  x/upgrade/client/cli/query.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/module.go
  x/upgrade/types/codec.go
  x/upgrade/types/keys.go
  x/upgrade/types/proposal.go
Due: modules

perf: store/cachekv: preallocate kvL in dirtyItems which gets appended too (#14168)
  store/cachekv/store.go
Due: none

rm empty file
  docs/docs/architecture/adr-057-app-wiring.md
Due: none

docs and little changes
  x/genutil/client/cli/core_genesis_cmd.go
Due: modules

test removing proto types/kv file
  api/cosmos/base/kv/v1beta1/kv.pulsar.go
  proto/cosmos/base/kv/v1beta1/kv.proto
  simapp/sim_test.go
  types/kv/kv.go
  types/kv/kv.pb.go
Due: none

chore: add goreleaser for rosetta and add go cache
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  simapp/go.mod
  simapp/go.sum
  tools/cosmovisor/RELEASE_NOTES.md
  tools/rosetta/.goreleaser.yml
  tools/rosetta/RELEASE_NOTES.md
Due: none

envelope
  docs/architecture/adr-050-sign-mode-textual.md
  tx/textual/internal/textualpb/envelope.proto
  tx/textual/internal/textualpb/envelope.pulsar.go
  tx/textual/valuerenderer/tx.go
Due: none

refactor!: key presentation outside keyring (#14151)
  CHANGELOG.md
  client/keys/add.go
  client/keys/output.go
  client/keys/output_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/utils.go
  crypto/keys/multisig/multisig_test.go
Due: client

updates
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
Due: none

fix test
  simapp/sim_test.go
Due: none

don't fetch too much
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/test.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: add --grpc client option (#14051)
  client/cmd.go
  client/flags/flags.go
Due: client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
