Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

`make lint-fix`
  x/auth/module.go
Due: modules

updates
  x/auth/module.go
Due: modules

remove replace
  client/v2/go.mod
  client/v2/go.sum
Due: client

refactor(x/distribution): audit changes
  .golangci.yml
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/abci.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/store.go
  x/distribution/types/msg.go
Due: modules

remove errcheck
  .golangci.yml
Due: none

fix lint
  orm/encoding/ormkv/key_codec_test.go
Due: none

refactor(mint): audit (#16760)
  x/mint/keeper/msg_server.go
Due: modules

(x/upgrade)refactor: audit changes
  x/upgrade/keeper/msg_server.go
  x/upgrade/types/msgs.go
Due: modules

fix conflict
  x/mint/keeper/msg_server.go
Due: modules

dependency action
  .github/workflows/dependencies-review.yml
Due: none

fix
  UPGRADING.md
Due: none

updates
  .github/workflows/dependencies-review.yml
Due: none

build(deps): use `hashicorp/go-metrics` instead of `armon/go-metrics`
  docs/architecture/adr-013-metrics.md
  docs/docs/core/09-telemetry.md
  go.mod
  go.sum
  server/start.go
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  store/metrics/telemetry.go
  telemetry/metrics.go
  telemetry/metrics_test.go
  telemetry/wrapper.go
  tests/go.mod
  tests/go.sum
  x/auth/vesting/msg_server.go
  x/bank/keeper/msg_server.go
  x/distribution/keeper/msg_server.go
  x/gov/keeper/msg_server.go
  x/staking/keeper/msg_server.go
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/keeper/keeper.go
Due: modules

bump
  go.mod
  go.sum
Due: none

fix conflicts (1/x)
  CHANGELOG.md
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: client

fix conflicts (2/x)
  client/v2/go.mod
  client/v2/go.sum
Due: client

updates
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

build(deps): Bump cosmossdk.io/api from 0.4.3-0.20230629234936-392b7c2b68c3 to 0.5.0 for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

chore(x/staking): audit changes
  x/staking/client/cli/query.go
  x/staking/keeper/abci.go
  x/staking/keeper/alias_functions.go
  x/staking/keeper/delegation.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/keeper.go
  x/staking/keeper/migrations.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/params.go
  x/staking/keeper/pool.go
  x/staking/keeper/power_reduction.go
  x/staking/keeper/query_utils.go
  x/staking/keeper/slash.go
  x/staking/keeper/test_common.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/validator.go
  x/staking/types/msg.go
Due: modules

address facu review
  collections/indexes/multi.go
  collections/indexes/reverse_pair.go
Due: none

fix(x/slashing): Emit slashing event with the correct reason in SlashWithInfractionReason (#16784)
  CHANGELOG.md
  x/slashing/keeper/keeper.go
  x/slashing/types/events.go
Due: modules

bump client/v2
  simapp/go.mod
  tests/go.mod
  tools/hubl/go.mod
  tools/hubl/go.sum
Due: none

fix conflict
  CHANGELOG.md
Due: none

fix conflicts
  CHANGELOG.md
Due: none

fix conflicts
  x/slashing/keeper/keeper.go
Due: modules

updates
  tools/hubl/go.mod
  tools/hubl/go.sum
Due: none

testing testing
  baseapp/abci.go
  baseapp/optimistic_execution.go
Due: app

refactor: small refactor in baseapp
  baseapp/abci.go
Due: app

updates
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

nit
  proto/cosmos/staking/v1beta1/genesis.proto
Due: none

refactor(x/upgrade): audit changes (#16786)
  x/upgrade/keeper/msg_server.go
  x/upgrade/types/msgs.go
Due: modules

run ProcessProposal in simulations
  x/simulation/simulate.go
Due: modules

changelog
  CHANGELOG.md
Due: none
