Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      client:
        flags: client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

add handshake tests
  x/ibc/03-connection/keeper/handshake_test.go
Due: modules

make proto
  x/ibc/03-connection/types/connection.pb.go
Due: none

fix conflicts
  x/ibc/03-connection/types/msgs_test.go
Due: modules

fix lint
  x/ibc/03-connection/client/cli/tx.go
Due: modules

fix lint
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/types/msgs.go
Due: modules

core port
  docs/ibc/custom.md
  docs/ibc/integration.md
  docs/ibc/overview.md
  simapp/app.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/05-port/keeper/keeper.go
  x/ibc/core/05-port/keeper/keeper_test.go
  x/ibc/core/05-port/types/errors.go
  x/ibc/core/05-port/types/keys.go
  x/ibc/core/05-port/types/module.go
  x/ibc/core/05-port/types/router.go
  x/ibc/core/05-port/types/utils.go
  x/ibc/handler.go
  x/ibc/keeper/keeper.go
  x/ibc/spec/05_callbacks.md
  x/ibc/spec/README.md
Due: modules

core ibc module files
  x/ibc/core/02-client/client/utils/utils.go
  x/ibc/core/03-connection/client/utils/utils.go
  x/ibc/core/04-channel/client/utils/utils.go
  x/ibc/core/client/cli/cli.go
  x/ibc/core/client/query.go
  x/ibc/core/genesis.go
  x/ibc/core/genesis_test.go
  x/ibc/core/handler.go
  x/ibc/core/handler_test.go
  x/ibc/core/ibc_test.go
  x/ibc/core/module.go
Due: modules

increase code cov
  x/ibc/03-connection/types/msgs_test.go
Due: modules

core types & simulation
  proto/ibc/core/types/v1/genesis.proto
  simapp/app.go
  x/ibc/core/genesis.go
  x/ibc/core/genesis_test.go
  x/ibc/core/handler.go
  x/ibc/core/keeper/grpc_query.go
  x/ibc/core/keeper/keeper.go
  x/ibc/core/module.go
  x/ibc/core/simulation/decoder.go
  x/ibc/core/simulation/decoder_test.go
  x/ibc/core/simulation/genesis.go
  x/ibc/core/simulation/genesis_test.go
  x/ibc/core/types/codec.go
  x/ibc/core/types/genesis.go
  x/ibc/core/types/genesis.pb.go
  x/ibc/core/types/query.go
  x/ibc/testing/chain.go
Due: modules

core spec
  CHANGELOG.md
  docs/ibc/relayer.md
  x/ibc/core/spec/01_concepts.md
  x/ibc/core/spec/02_state.md
  x/ibc/core/spec/03_state_transitions.md
  x/ibc/core/spec/04_messages.md
  x/ibc/core/spec/05_callbacks.md
  x/ibc/core/spec/06_events.md
  x/ibc/core/spec/README.md
Due: modules

make proto-all
  x/ibc/core/02-client/types/client.pb.go
  x/ibc/core/02-client/types/genesis.pb.go
  x/ibc/core/02-client/types/query.pb.go
  x/ibc/core/03-connection/types/connection.pb.go
  x/ibc/core/03-connection/types/genesis.pb.go
  x/ibc/core/03-connection/types/query.pb.go
  x/ibc/core/04-channel/types/channel.pb.go
  x/ibc/core/04-channel/types/genesis.pb.go
  x/ibc/core/04-channel/types/query.pb.go
  x/ibc/core/23-commitment/types/commitment.pb.go
  x/ibc/core/types/genesis.pb.go
Due: none

ibc alias
  simapp/app.go
  x/ibc/core/genesis_test.go
  x/ibc/core/handler_test.go
Due: modules

ibc: protobuf v1 (#7432)
  proto/ibc/applications/transfer/v1/transfer.proto
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/channel/v1/genesis.proto
  proto/ibc/core/channel/v1/query.proto
  proto/ibc/core/client/v1/client.proto
  proto/ibc/core/client/v1/genesis.proto
  proto/ibc/core/client/v1/query.proto
  proto/ibc/core/commitment/v1/commitment.proto
  proto/ibc/core/connection/v1/connection.proto
  proto/ibc/core/connection/v1/genesis.proto
  proto/ibc/core/connection/v1/query.proto
  proto/ibc/core/types/v1/genesis.proto
  proto/ibc/lightclients/localhost/v1/localhost.proto
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/genesis.pb.go
  x/ibc/02-client/types/query.pb.go
  x/ibc/02-client/types/query.pb.gw.go
  x/ibc/03-connection/types/codec.go
  x/ibc/03-connection/types/connection.pb.go
  x/ibc/03-connection/types/genesis.pb.go
  x/ibc/03-connection/types/query.pb.go
  x/ibc/03-connection/types/query.pb.gw.go
  x/ibc/04-channel/types/channel.pb.go
  x/ibc/04-channel/types/codec.go
  x/ibc/04-channel/types/genesis.pb.go
  x/ibc/04-channel/types/query.pb.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/ibc/23-commitment/types/codec.go
  x/ibc/23-commitment/types/commitment.pb.go
  x/ibc/applications/transfer/types/transfer.pb.go
  x/ibc/light-clients/06-solomachine/types/solomachine.pb.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
  x/ibc/light-clients/09-localhost/types/localhost.pb.go
  x/ibc/types/genesis.pb.go
  x/staking/types/staking.pb.go
Due: modules

Flexible Connection Handshake Selection (#7427)
  proto/ibc/core/connection/v1/connection.proto
  x/ibc/03-connection/client/cli/tx.go
  x/ibc/03-connection/handler.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/connection.pb.go
  x/ibc/03-connection/types/errors.go
  x/ibc/03-connection/types/msgs.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/03-connection/types/version.go
  x/ibc/03-connection/types/version_test.go
  x/ibc/testing/chain.go
Due: modules

comments from alessio, amaury
  CHANGELOG.md
Due: none

implement params inside changepubkey
  proto/cosmos/changepubkey/v1beta1/genesis.proto
  simapp/app.go
  simapp/simd/cmd/root.go
  x/auth/changepubkey/client/cli/cli_test.go
  x/auth/changepubkey/genesis.go
  x/auth/changepubkey/handler.go
  x/auth/changepubkey/handler_test.go
  x/auth/changepubkey/keeper/grpc_query.go
  x/auth/changepubkey/keeper/keeper.go
  x/auth/changepubkey/keeper/params.go
  x/auth/changepubkey/keeper/querier.go
  x/auth/changepubkey/module.go
  x/auth/changepubkey/types/genesis.go
  x/auth/changepubkey/types/genesis.pb.go
  x/auth/changepubkey/types/keys.go
  x/auth/changepubkey/types/querier.go
  x/auth/changepubkey/types/query.pb.go
Due: modules

update changepubkey params proto index to 1 and do part revert of auth params modification
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/changepubkey/v1beta1/params.proto
  x/auth/changepubkey/types/params.pb.go
  x/auth/types/auth.pb.go
  x/auth/types/params.go
  x/auth/types/params_test.go
Due: modules

revert auth param changes
  docs/architecture/adr-028-change-pubkey.md
  x/auth/simulation/genesis.go
  x/auth/simulation/genesis_test.go
  x/auth/spec/07_params.md
  x/auth/types/params.go
  x/auth/types/params_test.go
Due: modules

revert ante_test
  x/auth/ante/ante_test.go
Due: modules

modify pubkey to changepubkey term
  std/codec.go
Due: none

fix lint issue
  simapp/simd/cmd/root.go
Due: none

Improved the StoreUpgrades object adding the Added modules
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/store.go
Due: none

update channel handshake
  proto/ibc/core/channel/v1/channel.proto
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/04-channel/client/cli/tx.go
  x/ibc/core/04-channel/handler.go
  x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/04-channel/keeper/handshake_test.go
  x/ibc/core/04-channel/types/channel.go
  x/ibc/core/04-channel/types/channel.pb.go
  x/ibc/core/04-channel/types/errors.go
  x/ibc/core/04-channel/types/msgs.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/testing/chain.go
Due: modules

LGTM alerts audit
  client/debug/main.go
  crypto/hd/hdpath.go
  x/simulation/mock_tendermint.go
  x/staking/keeper/delegation.go
Due: modules, client

Update x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/04-channel/keeper/handshake.go
Due: modules

add conn open init docs
  x/ibc/core/spec/01_concepts.md
  x/ibc/core/spec/04_messages.md
Due: modules

update docs for conn open try and conn open ack
  x/ibc/core/spec/04_messages.md
Due: modules

update channel docs
  x/ibc/core/spec/04_messages.md
Due: modules

Update x/simulation/mock_tendermint.go
  x/simulation/mock_tendermint.go
Due: modules

Update x/staking/keeper/delegation.go
  x/staking/keeper/delegation.go
Due: modules

comment false positive
  crypto/keyring/keyring.go
Due: none

ibc transfer metrics
  x/ibc/applications/transfer/handler.go
  x/ibc/applications/transfer/keeper/relay.go
Due: modules

LGTM alerts audit (#7440)
  client/debug/main.go
  crypto/hd/hdpath.go
  crypto/keyring/keyring.go
  x/simulation/mock_tendermint.go
  x/staking/keeper/delegation.go
Due: modules, client
