Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

go mod tidy
  api/cosmos/base/v1beta1/coin.pulsar.go
  api/cosmos/benchmark/module/v1/module.pulsar.go
  indexer/postgres/CHANGELOG.md
  x/staking/types/staking.pb.go
Due: none

minor
  tests/integration/v2/accounts/multisig/account_test.go
Due: none

updates
  indexer/postgres/tests/go.mod
  indexer/postgres/tests/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/v2/go.mod
Due: none

fixing
  baseapp/abci_utils.go
  server/v2/cometbft/utils.go
  simapp/v2/app.go
  simapp/v2/simdv2/cmd/config.go
  tests/integration/v2/gov/common_test.go
  tests/integration/v2/gov/keeper/fixture_test.go
  tests/integration/v2/services.go
Due: app

test simulate
  tests/systemtests/Makefile
  x/auth/ante/fee.go
Due: modules

fix(x/accounts/default/lockup): Lockup account track undelegation when unbonding entry is mature (#22254)
  api/cosmos/accounts/defaults/lockup/v1/lockup.pulsar.go
  api/cosmos/accounts/defaults/lockup/v1/query.pulsar.go
  api/cosmos/accounts/defaults/lockup/v1/tx.pulsar.go
  tests/integration/accounts/lockup/continous_lockup_test_suite.go
  tests/integration/accounts/lockup/delayed_lockup_test_suite.go
  tests/integration/accounts/lockup/periodic_lockup_test_suite.go
  tests/integration/accounts/lockup/permanent_lockup_test_suite.go
  tests/integration/accounts/lockup/utils.go
  x/accounts/defaults/lockup/continuous_locking_account.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/lockup_test.go
  x/accounts/defaults/lockup/periodic_locking_account.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
  x/accounts/defaults/lockup/utils_test.go
  x/accounts/defaults/lockup/v1/lockup.pb.go
  x/accounts/defaults/lockup/v1/query.pb.go
  x/accounts/defaults/lockup/v1/tx.pb.go
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/lockup.proto
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/query.proto
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/tx.proto
  x/staking/keeper/grpc_query.go
Due: modules

fix link in sdk-design
  docs/learn/intro/03-sdk-design.md
Due: none

fix links in app-anatomy
  docs/learn/beginner/00-app-anatomy.md
Due: none

fix link in module-manager
  docs/build/building-modules/01-module-manager.md
Due: none

chg
  api/cosmos/accounts/defaults/lockup/v1/lockup.pulsar.go
  api/cosmos/accounts/defaults/lockup/v1/query.pulsar.go
  api/cosmos/accounts/defaults/lockup/v1/tx.pulsar.go
Due: none

fix: binding of 3th level fields
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/messager_binder.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/testdata/flatten-output.golden
Due: client

lint
  client/v2/autocli/msg_test.go
Due: client

test m ock
  x/auth/ante/fee.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/bank/keeper/keeper.go
Due: modules

chore: fix docs links (#22931)
  docs/build/building-modules/01-module-manager.md
  docs/learn/beginner/00-app-anatomy.md
  docs/learn/intro/03-sdk-design.md
Due: none

wip
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcgateway/tunnel.go
  server/v2/api/grpcgateway/tunnel_test.go
  server/v2/api/grpcgateway/uri.go
  x/authz/register.go
  x/authz/register_test.go
Due: modules

wip
  server/v2/api/grpcgateway/mapping.json
  x/authz/mapping.json
Due: modules

finalize setup of grpc gateway autoreg
  server/v2/api/grpcgateway/interceptor.go
  server/v2/api/grpcgateway/mapping.json
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcgateway/tunnel.go
  server/v2/api/grpcgateway/tunnel_test.go
  server/v2/api/grpcgateway/uri.go
  simapp/v2/simdv2/cmd/commands.go
  x/authz/register.go
  x/authz/register_test.go
Due: modules

didnt mean to commit that
  x/authz/mapping.json
Due: modules

comments
  server/v2/api/grpcgateway/interceptor.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcgateway/uri.go
Due: none

unexport things that don't need to be exported
  server/v2/api/grpcgateway/interceptor.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcgateway/uri.go
Due: none

add some unit tests
  server/v2/api/grpcgateway/uri_test.go
Due: none

test(integration): port x/staking tests to server v2 (#22813)
  baseapp/abci_utils.go
  tests/integration/staking/app_config.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/validator_test.go
  tests/integration/staking/module_test.go
  tests/integration/v2/app.go
  tests/integration/v2/services.go
  tests/integration/v2/staking/common_test.go
  tests/integration/v2/staking/delegation_test.go
  tests/integration/v2/staking/deterministic_test.go
  tests/integration/v2/staking/genesis_test.go
  tests/integration/v2/staking/grpc_query_test.go
  tests/integration/v2/staking/module_test.go
  tests/integration/v2/staking/msg_server_test.go
  tests/integration/v2/staking/slash_test.go
  tests/integration/v2/staking/validator_bench_test.go
  tests/integration/v2/staking/validator_test.go
  tests/integration/v2/staking/vote_extensions_test.go
  testutil/configurator/configurator.go
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/test_common.go
Due: app, modules

refactor: limit breaking changes for next version
  client/grpc_query_test.go
  tests/integration/distribution/migration_v4_test.go
  testutil/integration/helpers.go
  types/module/testutil/helpers.go
Due: client

case not simulate
  client/tx/tx.go
Due: client

remove CI
  .github/scripts/check-compat.sh
  .github/workflows/software-compat-v052.yml
Due: none

attempt to debug test
  baseapp/abci_utils.go
  x/auth/tx/gogotx.go
Due: app, modules

use integration v2
  tests/integration/server/grpc_test.go
Due: none

refactor: limit breaking changes for next version (#22972)
  .github/scripts/check-compat.sh
  .github/workflows/software-compat-v052.yml
  client/grpc_query_test.go
  tests/integration/distribution/migration_v4_test.go
  testutil/integration/helpers.go
  types/module/testutil/helpers.go
Due: client

fix dumb error
  x/auth/tx/gogotx.go
Due: modules

refactor: limit breaking changes for next version (#22972)
  client/grpc_query_test.go
  tests/integration/distribution/migration_v4_test.go
  testutil/integration/helpers.go
  types/module/testutil/helpers.go
Due: client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
