Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

fix(codec): MarshalInterface should err when UnmarshalInterface will fail (#12964)
  CHANGELOG.md
  client/grpc_query.go
  client/internal_client_test.go
  codec/any_test.go
  codec/proto_codec.go
  codec/proto_codec_test.go
  codec/types/interface_registry.go
  crypto/keys/secp256r1/pubkey_internal_test.go
  go.work.sum
  testutil/testdata/animal.go
  testutil/testdata/testdata.pb.go
  testutil/testdata/testdata.proto
  testutil/testdata_pulsar/testdata.pulsar.go
Due: client

regenerate mocks
  x/slashing/testutil/expected_keepers_mocks.go
Due: modules

fix: add nft query to swagger.yaml (#12968)
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Due: client

updates
  go.work.sum
Due: none

docs(cosmovisor): updates docs about path name (#12921)
  cosmovisor/.goreleaser.yml
  cosmovisor/CHANGELOG.md
  cosmovisor/README.md
  cosmovisor/RELEASE_NOTES.md
  cosmovisor/scanner.go
  cosmovisor/scanner_test.go
  cosmovisor/testdata/upgrade-files/f2-normalized-name.json
Due: none

revert unrelated change
  go.mod
  go.sum
Due: none

chore: remove temporary replace
  go.mod
  go.sum
Due: none

chore: address the pr comments
  CHANGELOG.md
  x/staking/migrations/v5/store.go
Due: modules

Fraudproof WIP
  baseapp/baseapp_test.go
  baseapp/fraudproof.go
Due: app

Add functionality to read operations from traceKV store
  store/tracekv/store.go
Due: none

Try setting trace again
  baseapp/baseapp_test.go
Due: app

Add updates in comments
  baseapp/baseapp_test.go
Due: app

Add tracing store option and use
  baseapp/baseapp_test.go
  baseapp/options.go
Due: app

Add tracer to baseapp test
  baseapp/baseapp_test.go
Due: app

Remove trace context since its automatically set
  baseapp/baseapp_test.go
  baseapp/options.go
Due: app

Able to read one string while debugging, need multiple
  baseapp/baseapp_test.go
Due: app

Add more notes on future steps
  baseapp/baseapp_test.go
Due: app

Can loop over traceWriter strings now
  baseapp/baseapp_test.go
Due: app

Able to read two strings now, will keep following this pattern to interpret operations
  baseapp/baseapp_test.go
Due: app

Update baseapp to use new multistore
  baseapp/baseapp.go
Due: app

Remove rocksdb for now because mac library issues locally, can revert back when merging
  db/internal/backends/imports.go
  db/reexport.go
  db/rocksdb/batch.go
  db/rocksdb/creator.go
  db/rocksdb/db.go
  db/rocksdb/db_test.go
  db/rocksdb/iterator.go
  db/types/creator.go
  orm/go.mod
Due: none

Able to use getAllKeys in baseapp test now
  baseapp/baseapp_test.go
Due: app

Fix tracekv string decoding error
  store/tracekv/store.go
  store/tracekv/store_test.go
Due: none

Add more notes
  baseapp/baseapp_test.go
Due: app

Add next step comments laying out thought process
  baseapp/baseapp_test.go
Due: app

Add back store level tracer
  baseapp/baseapp_test.go
  baseapp/options.go
Due: app

Add helper functions needd in v2alpha1
  store/v2alpha1/multi/store.go
  store/v2alpha1/smt/store.go
Due: none

Finish adding test for getAllKeysUsedInTrace
  store/tracekv/store.go
  store/tracekv/store_test.go
Due: none

Add functionality to get a set of all keys in traced operations
  store/tracekv/store.go
Due: none

Able to generate a deep subtree now
  baseapp/baseapp_test.go
Due: app

Update cacheStore for sake of completeness
  store/v2alpha1/multi/cache_store.go
Due: none

Able to generate deepsubtrees for all substores now
  baseapp/baseapp_test.go
  store/v2alpha1/multi/store.go
Due: app

Fix substore trace errors
  store/v2alpha1/multi/params.go
  store/v2alpha1/multi/store.go
Due: none

Add substore level tracing
  baseapp/options.go
  store/v2alpha1/multi/params.go
  store/v2alpha1/multi/store.go
Due: app

naming apps to B1 and B2
  baseapp/baseapp_test.go
Due: app

Debug test
  baseapp/baseapp_test.go
  store/v2alpha1/multi/store.go
Due: app

Compare smt roots instead of commit hashes
  baseapp/baseapp_test.go
Due: app

Refactor executeBlockWithArbitraryTxs code
  baseapp/baseapp_test.go
Due: app
