Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Fix migrations bug discovered with manual tests (#8998)
  x/bank/legacy/v040/migrate.go
  x/bank/legacy/v040/types.go
  x/bank/legacy/v043/store.go
  x/bank/legacy/v043/store_test.go
  x/bank/module.go
  x/slashing/module.go
Due: modules

add changelog
  CHANGELOG.md
Due: none

change: finalize implementation
  docs/core/proto-docs.md
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  server/grpc/appreflection/reflection.go
  server/grpc/appreflection/reflection.pb.go
  server/grpc/appreflection/reflection.pb.gw.go
  server/grpc/server.go
  server/grpc/server_test.go
Due: none

revert: Makefile
  Makefile
Due: none

fix: grpc-gateway error codes (#9015)
  CHANGELOG.md
  client/query.go
  x/staking/client/rest/grpc_query_test.go
Due: modules, client

chore: extend reflection tests
  server/grpc/server_test.go
Due: none

Update x/authz/types/msgs.go
  x/authz/types/msgs.go
Due: modules

review changes
  types/msgservice/msg_service.go
  types/tx/types.go
  x/authz/types/generic_authorization.go
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Due: modules

chore: fix rosetta CI in the meantime
  contrib/rosetta/configuration/bootstrap.json
  contrib/rosetta/node/data.tar.gz
Due: none

update swagger config
  client/docs/config.json
Due: client

run make proto-swagger-gen
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

chore: lint
  server/grpc/appreflection/reflection.go
Due: none

fix swagger gen (#9019)
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: client

docs on keeper fields
  x/upgrade/keeper/keeper.go
Due: modules

add changelog entry
  CHANGELOG.md
Due: none

Make clearer that the distribution iterates over all active validators (#8866)
  x/distribution/keeper/allocation.go
Due: modules

addressed reviewers comments
  client/cmd.go
  client/config/cmd.go
  client/config/config.go
  client/config/toml.go
  client/context.go
  client/utils.go
Due: client

add client config
  client/cmd.go
  client/config/cmd.go
  client/config/config.go
  client/config/toml.go
  client/context.go
  client/keys/list.go
  go.sum
  simapp/simd/cmd/root.go
Due: client

fixed linter issues and addressed reviewers comments
  client/cmd.go
  client/config/config.go
  client/config/toml.go
  client/context.go
  client/utils.go
  go.sum
  server/rosetta/converter.go
Due: client

refactored,ready for review
  client/cmd.go
  client/config/cmd.go
  client/config/config.go
  client/config/toml.go
  client/context.go
  client/utils.go
  simapp/simd/cmd/root.go
Due: client

x/auth: update NewAccountKeeper docs
  x/auth/keeper/keeper.go
Due: modules

docs for new modules
  docs/building-modules/upgrade.md
Due: none

address comments, ready for review
  docs/migrations/keyring.md
Due: none

delete thr last line
  docs/migrations/keyring.md
Due: none

docs: added deprecation notes
  docs/cn/README.md
  docs/cn/basics/README.md
  docs/kr/README.md
  docs/ru/readme.md
Due: none

Update x/auth/keeper/keeper.go
  x/auth/keeper/keeper.go
Due: modules

Bump golangci-lint
  .github/workflows/lint.yml
  go.sum
Due: none

fix linter warnings
  server/rosetta/converter.go
Due: none

Merge branch 'master' of github.com:cosmos/cosmos-sdk into atheesh/feegrant-filtered-msgs
  .github/workflows/janitor.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/query.go
  crypto/ledger/ledger_test.go
  docs/architecture/adr-028-public-key-addresses.md
  docs/basics/accounts.md
  docs/core/node.md
  docs/ibc/custom.md
  docs/ibc/integration.md
  docs/ibc/overview.md
  docs/ibc/relayer.md
  docs/migrations/rest.md
  docs/spec/addresses/bech32.md
  go.mod
  go.sum
  x/bank/keeper/keeper.go
  x/bank/legacy/v040/migrate.go
  x/bank/legacy/v040/types.go
  x/bank/legacy/v043/store.go
  x/bank/legacy/v043/store_test.go
  x/bank/module.go
  x/bank/spec/02_keepers.md
  x/distribution/keeper/allocation.go
  x/slashing/module.go
  x/staking/client/rest/grpc_query_test.go
Due: modules, client

review changes
  x/feegrant/keeper/msg_server.go
  x/feegrant/simulation/operations.go
Due: modules

docs: IBC overview edits and rewrites for clarity (#9001)
  docs/ibc/overview.md
Due: none

docs: added deprecation notes (#9021)
  docs/cn/README.md
  docs/cn/basics/README.md
  docs/kr/README.md
  docs/ru/readme.md
Due: none

refactor crisis, distr testsuites
  x/bank/client/testutil/suite.go
  x/crisis/client/testsuite/cli_test.go
  x/crisis/client/testsuite/suite.go
  x/distribution/client/testutil/cli_test.go
  x/distribution/client/testutil/suite.go
Due: modules

fix import issue
  x/distribution/client/testutil/suite.go
Due: modules

Add ledger/multisig detection in SignTx functions
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
Due: modules

Apply suggestions from code review
  x/auth/keeper/keeper.go
Due: modules

Fix tests
  CHANGELOG.md
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx_sign.go
Due: modules

x/auth: update NewAccountKeeper docs (#9020)
  x/auth/keeper/keeper.go
Due: modules

chore: lint the updates from master
  client/tx/factory.go
  server/rosetta/converter.go
  x/auth/ante/sigverify.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/testutil/suite.go
  x/auth/tx/mode_handler.go
Due: modules, client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
