Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

update localhost client
  x/ibc/09-localhost/types/client_state.go
Due: modules

Bank proto buf migration (#6166)
  std/codec.go
  std/codec.pb.go
  std/codec.proto
  third_party/proto/cosmos-proto/cosmos.proto
  x/bank/alias.go
  x/bank/keeper/keeper.go
  x/bank/module.go
  x/bank/simulation/decoder.go
  x/bank/simulation/decoder_test.go
  x/bank/types/codec.go
  x/bank/types/types.pb.go
  x/bank/types/types.proto
Due: modules

fix tests
  x/ibc/02-client/exported/exported.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/types/expected_keepers.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/09-localhost/types/localhost_test.go
Due: modules

Add multisig key support
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

Update docs
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

x/ibc: stateful clients (#6202)
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/types/expected_keepers.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/09-localhost/types/localhost_test.go
  x/ibc/genesis_test.go
  x/ibc/ibc_test.go
Due: modules

Remove locale
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

Add NewSubmitProposal for x/distribution
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/utils.go
  x/distribution/client/proposal_handler.go
Due: modules

ibc/07-tendermint: variable trust-level
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
Due: modules

update client state and tests
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
Due: modules

client: fix Paginate's arguments validation
  client/utils.go
  client/utils_test.go
Due: client

verification funcs now update sequence number
  x/ibc/06-solomachine/types/client_state.go
  x/ibc/06-solomachine/types/consensus_state.go
Due: modules

fix tests
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/ante/ante_test.go
  x/ibc/genesis_test.go
Due: modules

address comments from review
  x/ibc/07-tendermint/client/cli/tx.go
Due: modules

cli: define trust-level as flag
  x/ibc/07-tendermint/client/cli/tx.go
Due: modules

ibc/07-tendermint: variable trust-level (#6206)
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/ante/ante_test.go
  x/ibc/genesis_test.go
Due: modules

flush commit info when flushing version
  store/rootmulti/store.go
Due: none

auth: make sign command accept multiple input files
  x/auth/client/cli/tx_sign.go
Due: modules

Alter connection handshake
  x/ibc/03-connection/keeper/handshake.go
Due: modules

Add test-case
  x/ibc/03-connection/keeper/handshake_test.go
Due: modules

client: fix Paginate's arguments validation (#6205)
  client/utils.go
  client/utils_test.go
Due: client

Update x/auth/client/cli/tx_sign.go
  x/auth/client/cli/tx_sign.go
Due: modules

x/distribution: register MsgFundCommunityPool
  CHANGELOG.md
  x/distribution/types/codec.go
Due: modules

ADR 022 - Custom baseapp panic handling (#6072)
  docs/architecture/README.md
  docs/architecture/adr-022-custom-panic-handling.md
Due: none

Update ADR 020
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

Add multisig pubkey support and relaxed mode future improvement
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

Address review comments
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

Add unknown field filtering
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

Fix typo
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

x/distribution: register MsgFundCommunityPool (#6211)
  CHANGELOG.md
  x/distribution/types/codec.go
Due: modules

Add docs
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

Remove Get* Prefixes from Key Construction Functions
  x/slashing/alias.go
  x/slashing/client/cli/query.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/signing_info.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
  x/slashing/types/keys.go
Due: modules

Add line to CHANGELOG.md
  CHANGELOG.md
Due: none

Alter connection handshake (#6209)
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
Due: modules

Add Tx, SignDoc from #6111 to types/types.proto, refactor Tx -> TxI and Fee -> FeeI
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/helpers.go
  client/tx/tx.go
  server/mock/tx.go
  std/tx.go
  tests/mocks/types_handler.go
  types/codec.go
  types/config_test.go
  types/handler.go
  types/handler_test.go
  types/result.go
  types/result_test.go
  types/tx_msg.go
  types/types.pb.go
  types/types.proto
  x/auth/ante/ante_test.go
  x/auth/ante/basic.go
  x/auth/ante/fee.go
  x/auth/ante/setup.go
  x/auth/ante/setup_test.go
  x/auth/ante/sigverify.go
  x/auth/client/query.go
  x/auth/client/tx_test.go
  x/auth/types/stdtx.go
  x/auth/types/test_utils.go
  x/genutil/client/rest/query.go
  x/ibc/ante/ante.go
  x/ibc/ante/ante_test.go
Due: app, modules, client

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Add proto doc strings
  types/types.proto
Due: none

ws
  types/types.proto
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
