Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

linting
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
  x/accounts/defaults/lockup/utils_test.go
Due: modules

updates
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
Due: none

docs: Add blazar project to Cosmos SDK external tooling readme section (#23012)
  docs/build/tooling/README.md
Due: none

fix(baseapp) fulfill all header.Info fields in test helpers context
  baseapp/test_helpers.go
Due: app

bug
  x/accounts/defaults/lockup/lockup.go
Due: modules

bug
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  x/accounts/defaults/lockup/lockup.go
Due: modules

Update types/invariant.go
  types/invariant.go
Due: none

updates
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

updates
  x/accounts/cli/cli_test.go
  x/accounts/go.mod
Due: modules

use status error codes
  server/v2/api/grpcgateway/interceptor.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcgateway/uri.go
Due: none

update distribution test to match error output
  tests/systemtests/distribution_test.go
Due: none

remove job
  .github/workflows/test.yml
Due: none

unused import
  server/v2/api/grpcgateway/interceptor.go
Due: none

chore: remove snapshot commands
  client/snapshot/cmd.go
  client/snapshot/delete.go
  client/snapshot/dump.go
  client/snapshot/export.go
  client/snapshot/list.go
  client/snapshot/load.go
  client/snapshot/restore.go
Due: client

fix(baseapp): fulfil all header.Info fields in test helpers context (#23014)
  baseapp/test_helpers.go
Due: app

docs: add docs on server v2 vote extensions (#23010)
  docs/build/abci/03-vote-extensions.md
Due: none

chore: remove snapshot commands (#23015)
  client/snapshot/cmd.go
  client/snapshot/delete.go
  client/snapshot/dump.go
  client/snapshot/export.go
  client/snapshot/list.go
  client/snapshot/load.go
  client/snapshot/restore.go
Due: client

Add non critical ext options to client (#63)
  client/tx/factory.go
  client/tx_config.go
Due: client

add some debug lines
  server/v2/api/grpcgateway/interceptor.go
Due: none

add returns to remove else cases
  server/v2/api/grpcgateway/interceptor.go
Due: none

comments
  server/v2/api/grpcgateway/interceptor.go
Due: none

add another test case
  server/v2/api/grpcgateway/uri_test.go
  server/v2/go.mod
Due: none

chore: prepare v2 beta (1/3)
  server/v2/CHANGELOG.md
  server/v2/appmanager/CHANGELOG.md
  server/v2/cometbft/CHANGELOG.md
  server/v2/stf/CHANGELOG.md
  store/v2/CHANGELOG.md
Due: none

chore: remove v1 commands
  client/pruning/main.go
  x/genutil/client/cli/commands.go
  x/genutil/client/cli/export.go
  x/genutil/client/cli/gentx.go
Due: modules, client

linter
  server/v2/api/grpcgateway/uri.go
Due: none

linter
  server/v2/api/grpcgateway/interceptor.go
  server/v2/api/grpcgateway/uri.go
Due: none

Patch for ASA-2024-0012 and 0013. (#61)
  codec/types/interface_registry.go
  codec/unknownproto/unknown_fields.go
  x/tx/decode/unknown.go
Due: modules

updates
  server/doc.go
Due: none

changelog
  CHANGELOG.md
Due: none

changelog order
  CHANGELOG.md
Due: none

revert lint
  .golangci.yml
Due: none

rm
  server/util.go
Due: none

remove swagger in v1 (see #23020 for v2)
  server/swagger.go
Due: none

attempt
  store/v2/commitment/iavl/tree.go
Due: none

feat(systemtests): avoid panic due to no telemetry address
  server/v2/api/telemetry/config.go
  server/v2/api/telemetry/server.go
  simapp/v2/simdv2/cmd/testnet.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
