Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

godoc
  testutil/network/network.go
Due: none

fix race condition
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/test_helpers.go
  go.mod
  go.sum
  store/rootmulti/store.go
Due: app

update pr
  CHANGELOG.md
Due: none

almost
  x/protocolpool/keeper/genesis_test.go
  x/protocolpool/keeper/grpc_query.go
  x/protocolpool/keeper/grpc_query_test.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

Update errors_test.go
  errors/errors_test.go
Due: none

Update errors.go
  errors/errors.go
Due: none

fix
  client/keys/add_test.go
  client/snapshot/load.go
  server/api/server_test.go
  server/grpc/gogoreflection/serverreflection.go
  store/rootmulti/store.go
  store/snapshots/chunk.go
  store/snapshots/helpers_test.go
Due: client

gofumpt
  client/flags/flags_test.go
  codec/amino_codec_test.go
  simapp/app.go
  store/iavl/store_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/auth/ante/basic_test.go
  x/bank/keeper/grpc_query_test.go
  x/feegrant/client/cli/tx_test.go
  x/genutil/client/cli/validate_genesis_test.go
  x/gov/client/utils/query_test.go
  x/group/client/cli/tx_test.go
  x/group/keeper/msg_server_test.go
  x/tx/signing/aminojson/aminojson_test.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/proposal_test.go
Due: modules, client

keep going
  depinject/internal/codegen/file.go
  store/rootmulti/store.go
  store/types/gas_test.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/validator_bench_test.go
  x/authz/simulation/decoder_test.go
  x/circuit/ante/circuit_test.go
  x/circuit/keeper/keeper_test.go
  x/distribution/simulation/decoder_test.go
  x/feegrant/simulation/decoder_test.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server_test.go
  x/group/keeper/tally_test.go
  x/group/module/abci_test.go
  x/group/simulation/decoder_test.go
  x/nft/internal/conv/doc.go
  x/nft/internal/conv/string.go
  x/nft/internal/conv/string_test.go
  x/nft/simulation/decoder_test.go
  x/slashing/simulation/decoder_test.go
  x/staking/simulation/decoder_test.go
Due: modules

clean
  tests/integration/staking/keeper/common_test.go
  types/address_test.go
  x/nft/internal/conv/doc.go
  x/nft/internal/conv/string.go
  x/nft/internal/conv/string_test.go
Due: modules

feat(crypto/keyring): expose db keyring used in the keystore (#24040)
  CHANGELOG.md
  crypto/keyring/keyring.go
Due: none

utd
  UPGRADING.md
  client/debug/main.go
  crypto/armor.go
  store/cache/cache.go
  store/cachekv/store_test.go
  tests/integration/rapidgen/rapidgen.go
  tests/integration/tx/aminojson/aminojson_test.go
  x/authz/simulation/operations_test.go
  x/bank/keeper/send.go
  x/bank/migrations/v3/store_test.go
  x/circuit/ante/circuit_test.go
  x/circuit/keeper/keeper_test.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/migrations/v2/store.go
  x/feegrant/module/abci_test.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/gov/simulation/operations_test.go
  x/group/module/abci_test.go
  x/nft/keeper/msg_server.go
  x/nft/keeper/nft.go
  x/nft/keeper/nft_batch_test.go
  x/nft/simulation/operations_test.go
  x/params/types/subspace.go
  x/staking/keeper/genesis.go
  x/staking/keeper/historical_info_test.go
  x/staking/types/keys.go
  x/tx/signing/aminojson/options.go
  x/upgrade/client/cli/tx.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/plan/downloader_test.go
  x/upgrade/plan/info_test.go
  x/upgrade/types/storeloader_test.go
Due: modules, client

continue
  x/upgrade/abci_test.go
  x/upgrade/plan/downloader.go
  x/upgrade/plan/info.go
  x/upgrade/types/storeloader_test.go
Due: modules

refactor(simapp): use maps.Clone to simplify the code (#24077)
  simapp/app.go
Due: none

perf: Replace runsim with Go stdlib testing (#24045)
  .github/workflows/sims.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  baseapp/baseapp.go
  contrib/devtools/Makefile
  scripts/go-lint-all.bash
  scripts/go-lint-changes.bash
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/test_helpers.go
  testutil/sims/simulation_helpers.go
  testutil/sims/state_helpers.go
  testutils/sims/runner.go
  types/simulation/account.go
  types/simulation/config.go
  types/simulation/rand_util.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/simulation/client/cli/flags.go
  x/simulation/doc.go
  x/simulation/log.go
  x/simulation/params.go
  x/simulation/simulate.go
Due: app, modules

utd
  baseapp/abci_test.go
  baseapp/streaming_test.go
  client/grpc/cmtservice/autocli.go
  client/grpc_query_test.go
  client/v2/autocli/common_test.go
  client/v2/autocli/keyring/keyring.go
  client/v2/internal/strcase/kebab_test.go
  codec/types/any.go
  codec/types/any_test.go
  codec/types/types_test.go
  server/mock/app_test.go
  tests/e2e/server/export_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/store/rootmulti/rollback_test.go
  tests/integration/tx/aminojson/aminojson_test.go
  testutil/cmdtest/system.go
  testutil/integration/router.go
  testutil/sims/tx_helpers.go
  types/tx/ext.go
  x/authz/simulation/operations_test.go
  x/bank/keeper/keeper_test.go
  x/bank/simulation/operations_test.go
  x/gov/abci_test.go
  x/gov/types/metadata.go
  x/gov/types/v1/genesis.go
  x/group/simulation/operations_test.go
  x/simulation/simulate.go
  x/slashing/app_test.go
  x/slashing/simulation/operations_test.go
  x/upgrade/client/cli/parse_test.go
  x/upgrade/internal/conv/string.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/plan/downloader_test.go
  x/upgrade/types/storeloader_test.go
Due: app, modules, client

lint
  x/auth/keeper/unordered_tx_test.go
Due: modules

liter
  x/auth/keeper/unordered_tx_test.go
Due: modules

lint order
  x/auth/keeper/unordered_tx_test.go
Due: modules

fix(errors): enhance error string formatting to include codespace and code
  errors/errors.go
Due: none

test(errors): add tests for error string format with codespace and code
  errors/errors_test.go
Due: none

refactor(cosmovisor): get block height from db after node execution fails (#23720)
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/go.mod
  tools/cosmovisor/scanner.go
Due: none

tests passing
  store/cachekv/store_test.go
  store/rootmulti/store.go
Due: none

wip
  client/v2/autocli/keyring/keyring.go
  store/cachekv/store_test.go
  tests/fuzz/tests/crypto_hd_deriveprivatekeyforpath_test.go
  tests/fuzz/tests/crypto_hd_newparamsfrompath_test.go
  tests/fuzz/tests/types_parsecoin_test.go
  tests/fuzz/tests/types_parsedeccoin_test.go
  tests/fuzz/tests/types_verifyaddressformat_test.go
  tests/fuzz/tests/unknownproto_test.go
  tests/integration/gov/keeper/common_test.go
  tests/integration/runtime/query_test.go
  types/context_test.go
  x/bank/keeper/keeper_test.go
  x/gov/simulation/operations_test.go
Due: modules, client

more:
  tests/e2e/client/grpc/cmtservice/service_test.go
  tests/e2e/staking/suite.go
  tests/integration/auth/client/cli/suite_test.go
  tests/integration/gov/common_test.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/common_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/rapidgen/rapidgen.go
  tests/integration/staking/keeper/determinstic_test.go
  types/context_test.go
  x/gov/simulation/operations_test.go
Due: modules

more:
  x/gov/simulation/operations_test.go
Due: modules

o
  x/gov/simulation/operations_test.go
Due: modules

all linting fixed wow
  tests/e2e/auth/cli_test.go
  tests/e2e/bank/cli_test.go
  tests/e2e/client/grpc/cmtservice/service_test.go
  tests/e2e/gov/cli_test.go
  tests/e2e/group/cli_test.go
  tests/e2e/mint/cli_test.go
  tests/e2e/server/export_test.go
  tests/e2e/staking/cli_test.go
  tests/integration/store/rootmulti/rollback_test.go
Due: none

fix
  Makefile
  scripts/go-lint-all.bash
  scripts/go-lint-changes.bash
Due: none

TryAdd
  x/auth/ante/expected_keepers.go
  x/auth/ante/unordered.go
  x/auth/ante/unordered_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/unordered_tx_test.go
Due: modules

structure
  x/auth/keeper/keeper.go
Due: modules

fixed
  tests/e2e/staking/suite.go
Due: none

msg
  tests/e2e/staking/suite.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
