Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update rfc-001-tx-validation.md
  docs/rfc/rfc-001-tx-validation.md
Due: none

Update README.md
  README.md
Due: none

Update README.md
  collections/README.md
Due: none

Update README.md
  telemetry/README.md
Due: none

Update 06-run-production.md
  docs/docs/user/run-node/06-run-production.md
Due: none

tid
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: client

start adding tests
  iavl/internal/mem_node.go
  iavl/internal/mem_node_rebalance.go
  iavl/internal/mem_node_rebalance_test.go
  iavl/internal/node_update.go
Due: none

WIP on docs and tests
  iavl/internal/mem_node_balance.go
  iavl/internal/mem_node_balance_test.go
Due: none

WIP on docs and tests
  iavl/internal/invariants.go
  iavl/internal/mem_node_balance.go
Due: none

WIP on docs, tests and invariants
  iavl/internal/invariants.go
  iavl/internal/mem_node_balance.go
  iavl/internal/mem_node_balance_test.go
Due: none

WIP on docs, tests and invariants
  iavl/internal/invariants.go
  iavl/internal/mem_node_balance.go
Due: none

invert
  telemetry/config.go
Due: none

actually we dont even need that at all
  telemetry/config.go
Due: none

fix: invert condition on telemetry init (#25679)
  telemetry/config.go
Due: none

fix: spelling/grammar across docs and tooling (#25677)
  README.md
  client/debug/main.go
  collections/README.md
  contrib/x/group/internal/orm/README.md
  contrib/x/group/internal/orm/table.go
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
  docs/architecture/adr-048-consensus-fees.md
  docs/architecture/adr-049-state-sync-hooks.md
  docs/architecture/adr-060-abci-1.0.md
  docs/architecture/adr-064-abci-2.0.md
  docs/docs/user/run-node/06-run-production.md
  docs/rfc/rfc-001-tx-validation.md
  docs/spec/_ics/ics-030-signed-messages.md
  docs/spec/store/README.md
  store/snapshots/manager.go
  store/snapshots/types/snapshotter.go
  telemetry/README.md
  x/auth/README.md
  x/bank/README.md
  x/distribution/README.md
  x/slashing/README.md
Due: modules, client

WIP on docs, tests and invariants
  iavl/internal/invariants.go
  iavl/internal/mem_node.go
  iavl/internal/mem_node_balance_test.go
  iavl/internal/mem_node_test.go
  iavl/internal/mutation_context.go
Due: none

WIP on docs, tests and invariants
  iavl/internal/mem_node_balance_test.go
Due: none

WIP on docs, tests and invariants
  iavl/internal/mem_node_balance.go
  iavl/internal/mem_node_balance_test.go
Due: none

tidy
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: client

feat(server): add SafetyStartDelay for double-sign protection
  server/start.go
Due: none

Update flags.go
  client/flags/flags.go
Due: client

Update main.go
  client/debug/main.go
Due: client

Update service.go
  client/grpc/cmtservice/service.go
Due: client

Update output.go
  client/keys/output.go
Due: client

Update dump.go
  client/snapshot/dump.go
Due: client

Update load.go
  client/snapshot/load.go
Due: client

Update any_test.go
  codec/any_test.go
Due: none

Update format_test.go
  core/coins/format_test.go
Due: none

Update types.go
  crypto/keyring/types.go
Due: none

Update keyring.go
  crypto/keyring/keyring.go
Due: none

Update ledger_secp256k1.go
  crypto/ledger/ledger_secp256k1.go
Due: none

Update compact_bit_array.go
  crypto/types/compact_bit_array.go
Due: none

Update adr-006-secret-store-replacement.md
  docs/architecture/adr-006-secret-store-replacement.md
Due: none

Update genesis.go
  x/epochs/simulation/genesis.go
Due: modules

Update hooks_test.go
  x/epochs/types/hooks_test.go
Due: modules

Update module.go
  x/evidence/module.go
Due: modules

Update tx.go
  x/feegrant/client/cli/tx.go
Due: modules

Update basic_fee.go
  x/feegrant/basic_fee.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
