Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

address review comments
  x/group/keeper/msg_server.go
Due: modules

change MaxMetadataLength to MaxMetadataLen in group specs
  x/group/spec/03_messages.md
Due: modules

fix!: remove time.now check from authz (#10447)
  CHANGELOG.md
  x/authz/authorization_grant.go
  x/authz/authorization_grant_test.go
  x/authz/client/cli/tx.go
  x/authz/client/testutil/grpc.go
  x/authz/client/testutil/query.go
  x/authz/client/testutil/test_helpers.go
  x/authz/client/testutil/tx.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/msgs_test.go
  x/authz/simulation/decoder_test.go
  x/authz/simulation/genesis.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
Due: modules

use group config and add changelog
  CHANGELOG.md
  simapp/app.go
  x/group/keeper/config.go
  x/group/keeper/keeper.go
  x/group/keeper/msg_server.go
  x/group/spec/03_messages.md
Due: modules

remove unecessary changes
  x/group/keeper/msg_server.go
Due: modules

nit
  x/group/keeper/msg_server.go
Due: modules

Update pbtime/cmp_test.go
  pbtime/cmp_test.go
Due: none

support nil values in Add
  pbtime/cmp.go
  pbtime/cmp_test.go
Due: none

add since to gov
  proto/cosmos/gov/v1beta2/gov.proto
Due: none

add testutil token file
  testutil/token.go
  x/auth/client/testutil/suite.go
  x/auth/migrations/v043/store_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/types/balance_test.go
  x/evidence/keeper/keeper_test.go
  x/feegrant/simulation/operations_test.go
  x/gov/abci_test.go
  x/gov/common_test.go
  x/group/simulation/operations_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/client/cli/tx.go
  x/staking/common_test.go
Due: modules

remove changelog
  CHANGELOG.md
Due: none

add spec for metadata
  CHANGELOG.md
  x/group/spec/03_messages.md
Due: modules

rename Add -> AddStd and new Add function which accepts PB duration
  pbtime/cmp.go
  pbtime/cmp_test.go
Due: none

add panic case to Compare
  pbtime/cmp.go
  pbtime/cmp_test.go
Due: none

fix failing tests
  x/group/keeper/msg_server.go
Due: modules

refactor: gov sims to use v1beta2 (#11069)
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/codec.go
Due: modules

Change some proot files
  api/cosmos/group/v1beta1/events.pulsar.go
  api/cosmos/group/v1beta1/tx.pulsar.go
  api/cosmos/group/v1beta1/tx_grpc.pb.go
  api/cosmos/group/v1beta1/types.pulsar.go
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  proto/cosmos/group/v1beta1/events.proto
  proto/cosmos/group/v1beta1/tx.proto
  proto/cosmos/group/v1beta1/types.proto
  types/tx/signing/signing.pb.go
  x/group/client/cli/tx.go
  x/group/events.pb.go
  x/group/tx.pb.go
  x/group/types.pb.go
Due: modules

add overflow checks
  pbtime/cmp.go
  pbtime/cmp_test.go
Due: none

Set default value
  x/gov/keeper/keeper.go
Due: modules

Update proto/cosmos/app/v1alpha1/config.proto
  proto/cosmos/app/v1alpha1/config.proto
Due: none

Update proto/cosmos/app/v1alpha1/update.proto
  proto/cosmos/app/v1alpha1/update.proto
Due: none

Handle old vote Option field
  x/gov/migrations/v046/convert.go
  x/gov/migrations/v046/json.go
  x/gov/migrations/v046/json_test.go
Due: modules

WIP
  orm/model/ormdb/json.go
  orm/model/ormdb/module.go
Due: none

Update orm/model/ormtable/filter.go
  orm/model/ormtable/filter.go
Due: none

add since
  api/cosmos/gov/v1beta2/genesis.pulsar.go
  api/cosmos/gov/v1beta2/gov.pulsar.go
  api/cosmos/gov/v1beta2/query.pulsar.go
  api/cosmos/gov/v1beta2/tx.pulsar.go
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  api/cosmos/tx/v1beta1/tx.pulsar.go
  proto/cosmos/gov/v1beta2/genesis.proto
  proto/cosmos/gov/v1beta2/query.proto
  proto/cosmos/gov/v1beta2/tx.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
Due: none

chore: v0.44.6 changelog and release notes (#10953)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

revert
  x/gov/client/cli/tx.go
Due: modules

WIP on JSON
  orm/model/ormdb/json.go
  orm/model/ormdb/module.go
Due: none

add migration logs
  types/module/configurator.go
  types/module/module.go
Due: none

WIP
  orm/model/ormdb/json.go
  orm/model/ormdb/module.go
  orm/model/ormtable/auto_increment.go
  orm/testing/ormtest/membackend.go
Due: none

fix(baseapp): fix race condition in state
  baseapp/abci.go
  baseapp/state.go
Due: app

chore: remove & add `since:` (#11094)
  api/cosmos/bank/v1beta1/bank.pulsar.go
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/gov/v1beta2/genesis.pulsar.go
  api/cosmos/gov/v1beta2/gov.pulsar.go
  api/cosmos/gov/v1beta2/query.pulsar.go
  api/cosmos/gov/v1beta2/tx.pulsar.go
  api/cosmos/gov/v1beta2/tx_grpc.pb.go
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  api/cosmos/tx/v1beta1/tx.pulsar.go
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/base/abci/v1beta1/abci.proto
  proto/cosmos/gov/v1beta2/genesis.proto
  proto/cosmos/gov/v1beta2/gov.proto
  proto/cosmos/gov/v1beta2/query.proto
  proto/cosmos/gov/v1beta2/tx.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  types/abci.pb.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/bank/types/bank.pb.go
  x/gov/types/v1beta2/tx.pb.go
Due: none

WIP
  orm/model/ormdb/json.go
  orm/model/ormtable/auto_increment.go
Due: none

feat(orm)!: tweak API to allow pagination in generated code (#11079)
  api/cosmos/base/query/v1beta1/pagination.pulsar.go
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  orm/internal/codegen/codegen.go
  orm/internal/codegen/table.go
  orm/internal/listinternal/options.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/model/ormlist/options.go
  orm/model/ormtable/filter.go
  orm/model/ormtable/index.go
  orm/model/ormtable/index_impl.go
  orm/model/ormtable/iterator.go
  orm/model/ormtable/paginate.go
  orm/model/ormtable/primary_key.go
  orm/model/ormtable/table_impl.go
  orm/model/ormtable/table_test.go
  orm/model/ormtable/testdata/test_scenario.golden
  orm/model/ormtable/unique.go
  proto/cosmos/base/query/v1beta1/pagination.proto
  types/query/pagination.pb.go
Due: none

feat(orm): add DeleteByKey to codegen
  orm/internal/codegen/table.go
  orm/internal/testpb/test_schema.cosmos_orm.go
Due: none

feat(orm): DeleteBy codegen
  orm/internal/codegen/table.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/model/ormtable/table_test.go
Due: none

Update orm/internal/codegen/table.go
  orm/internal/codegen/table.go
Due: none

update to do prefix/range deletion
  orm/internal/codegen/table.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/model/ormtable/index.go
  orm/model/ormtable/index_impl.go
  orm/model/ormtable/primary_key.go
  orm/model/ormtable/table_impl.go
  orm/model/ormtable/table_test.go
  orm/model/ormtable/unique.go
Due: none

update to do prefix/range deletion
  orm/internal/codegen/table.go
  orm/model/ormtable/batch.go
  orm/model/ormtable/iterator.go
  orm/model/ormtable/primary_key.go
  orm/model/ormtable/table_test.go
Due: none

update to do prefix/range deletion
  orm/model/ormtable/testdata/test_scenario.golden
Due: none
