Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

docs: fix heading level to title shows in TOC (#10423)
  x/slashing/spec/09_client.md
Due: modules

examples added
  x/evidence/spec/07_client.md
Due: modules

docs: adr-40: reduce multistore and make it atomic (#9355)
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Due: none

chore(upgrade): cleaning (#10413)
  docs/core/upgrade.md
  types/module/module.go
Due: none

refactor: change the account balance by denom grpc-gateway to support the ibc-denom
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/query.proto
  x/bank/client/testutil/grpc.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
Due: modules

remove debug comments
  .github/workflows/test.yml
  db/adapter.go
  db/memdb/db_test.go
Due: none

updated changelog
  CHANGELOG.md
Due: none

Address reviews
  CHANGELOG.md
  x/auth/migrations/legacytx/stdtx_test.go
  x/auth/tx/legacy_amino_json_test.go
Due: modules

feat: Add `fee.{payer,granter}` and `tip` fields to StdSignDoc (#10348)
  CHANGELOG.md
  types/tx/tips.go
  x/auth/migrations/legacytx/amino_signing.go
  x/auth/migrations/legacytx/amino_signing_test.go
  x/auth/migrations/legacytx/stdsign.go
  x/auth/migrations/legacytx/stdsignmsg.go
  x/auth/migrations/legacytx/stdtx.go
  x/auth/migrations/legacytx/stdtx_test.go
  x/auth/signing/verify_test.go
  x/auth/tx/builder.go
  x/auth/tx/direct_aux.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
Due: modules

Wait for the network to settle between test cases.
  x/auth/vesting/client/testutil/suite.go
Due: modules

Fix broken download test.
  cosmovisor/testdata/repo/zip_directory/autod.zip
  cosmovisor/upgrade_test.go
Due: none

gofmtted
  client/keys/add.go
  client/keys/add_hsm_test.go
  client/keys/add_ledger_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_hsm_test.go
  proto/cosmos/crypto/keyring/v1/record.proto
Due: client

fix: fix cosmovisor test (#10424)
  cosmovisor/upgrade_test.go
Due: none

feat: ADR-038 Part 2: StreamingService interface, file writing implementation, and configuration (#8664)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/streaming.go
  docs/architecture/adr-038-state-listening.md
  docs/core/store.md
  simapp/app.go
  store/cachemulti/store.go
  store/streaming/README.md
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/README.md
  store/streaming/file/example_config.toml
  store/streaming/file/service.go
  store/streaming/file/service_test.go
Due: app

Min commission rate check on create validator
  x/staking/keeper/msg_server.go
  x/staking/types/errors.go
Due: modules

chore: Update master changelog with 0.44 and 0.42
  CHANGELOG.md
Due: none

fix:[rosetta] upgrade to 0.7.0
  go.mod
  go.sum
  server/rosetta/lib/server/server.go
Due: none

chore: Add `@since` on proto doc comments
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/base/query/v1beta1/pagination.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/gov/v1beta1/tx.proto
Due: none

make proto gen
  client/grpc/tmservice/query.pb.go
  docs/core/proto-docs.md
  types/query/pagination.pb.go
  x/auth/types/query.pb.go
  x/gov/types/tx.pb.go
Due: none

Remove v
  client/grpc/tmservice/query.pb.go
  docs/core/proto-docs.md
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/base/query/v1beta1/pagination.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/gov/v1beta1/tx.proto
  types/query/pagination.pb.go
  x/auth/types/query.pb.go
  x/gov/types/tx.pb.go
Due: none

add ibc migration docs
  docs/migrations/chain-upgrade-guide-044.md
Due: none

update docs
  docs/migrations/chain-upgrade-guide-044.md
Due: none

Update docs/migrations/chain-upgrade-guide-044.md
  docs/migrations/chain-upgrade-guide-044.md
Due: none

check for error on all modules RegisterGRPCGatewayRoutes
  x/authz/module/module.go
  x/bank/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/gov/module.go
  x/mint/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Due: modules

docs: add ibc migration docs in migration docs (#10438)
  docs/migrations/chain-upgrade-guide-044.md
Due: none

fix nits
  crypto/keyring/keyring.go
Due: none

Remove sign mode middleware
  x/auth/middleware/middleware.go
  x/auth/middleware/tips.go
  x/auth/middleware/tips_test.go
  x/auth/tx/direct_aux.go
  x/auth/tx/direct_aux_test.go
Due: modules

fix: Migrate key names correctly (#10328)
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/rename.go
  client/keys/rename_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/legacy_info.go
  crypto/keyring/types.go
  server/init.go
Due: client

refactor: upgradeFilename -> upgradekeeper.UpgradeInfoFileName
  cosmovisor/args.go
Due: none

refactor: UpgradeInfo -> x/upgrade/types.Plan
  cosmovisor/args.go
  cosmovisor/go.mod
  cosmovisor/go.sum
  cosmovisor/process.go
  cosmovisor/process_test.go
  cosmovisor/scanner.go
  cosmovisor/scanner_test.go
  cosmovisor/upgrade.go
  cosmovisor/upgrade_test.go
Due: none

import upgrade/types package for process_test.go
  cosmovisor/process_test.go
Due: none

Fix direct_aux sign mode handler
  CHANGELOG.md
  types/tx/types.go
  x/auth/tx/builder.go
  x/auth/tx/direct_aux.go
Due: modules

tidy package imports order and group
  cosmovisor/args.go
  cosmovisor/process.go
  cosmovisor/process_test.go
  cosmovisor/scanner.go
  cosmovisor/scanner_test.go
  cosmovisor/upgrade.go
  cosmovisor/upgrade_test.go
Due: none

Fix test
  x/auth/testutil/suite.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
