Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

add error to NewDefaultTxHandler
  simapp/app.go
  x/auth/middleware/middleware.go
Due: modules

Update consequences
  docs/architecture/adr-045-check-delivertx-middlewares.md
Due: none

Fix build
  baseapp/baseapp_test.go
  server/mock/app.go
Due: app

Update x/auth/middleware/run_msgs.go
  x/auth/middleware/run_msgs.go
Due: modules

fix nit
  baseapp/test_helpers.go
Due: app

fix test
  x/auth/middleware/msg_service_router_test.go
Due: modules

refactor!: BaseApp {Check,Deliver}Tx with middleware design (#9920)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  baseapp/recovery.go
  baseapp/recovery_test.go
  baseapp/test_helpers.go
  server/mock/app.go
  server/mock/tx.go
  simapp/app.go
  simapp/app_test.go
  simapp/test_helpers.go
  types/tx/middleware.go
  x/auth/ante/ante.go
  x/auth/ante/setup_test.go
  x/auth/ante/testutil_test.go
  x/auth/middleware/gas.go
  x/auth/middleware/gas_test.go
  x/auth/middleware/index_events.go
  x/auth/middleware/legacy_ante.go
  x/auth/middleware/legacy_router.go
  x/auth/middleware/legacy_router_test.go
  x/auth/middleware/middleware.go
  x/auth/middleware/msg_service_router.go
  x/auth/middleware/msg_service_router_test.go
  x/auth/middleware/recovery.go
  x/auth/middleware/run_msgs.go
  x/auth/middleware/testutil_test.go
  x/auth/tx/service_test.go
  x/authz/keeper/keeper.go
  x/authz/simulation/operations.go
  x/bank/bench_test.go
  x/bank/simulation/operations.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
Due: app, modules

TestFormatInt pass
  go.mod
  types/valuerenderer/value_renderer.go
  types/valuerenderer/value_renderer_test.go
  types/valuerenderer/valuerenderer.go
  types/valuerenderer/valuerenderer_test.go
Due: none

chore: Add proto comments for MsgCreatePeriodicVestingAccountResponse (#10007)
  docs/core/proto-docs.md
  proto/cosmos/vesting/v1beta1/tx.proto
  x/auth/vesting/types/tx.pb.go
Due: none

Update x/auth/signing/sign_mode_handler.go
  x/auth/signing/sign_mode_handler.go
Due: modules

fix!: Remove onlyAminoSigners in sequence check
  client/tx/legacy.go
  client/tx/legacy_test.go
  x/auth/ante/sigverify.go
Due: modules, client

WIP
  types/valuerenderer/valuerenderer.go
  types/valuerenderer/valuerenderer_test.go
Due: none

updated for code review comments
  CHANGELOG.md
  contrib/rosetta/README.md
  contrib/rosetta/rosetta-cli/Dockerfile
Due: none

feat(cosmovisor): strict boolean argument parsing
  cosmovisor/args.go
  cosmovisor/args_test.go
Due: none

add changelog
  cosmovisor/CHANGELOG.md
Due: none

chore(cosmovisor): updating changelog
  cosmovisor/CHANGELOG.md
Due: none

contralize simapp setup
  simapp/test_helpers.go
  testutil/mock/privval.go
Due: none

fix: fix tests
  x/bank/app_test.go
  x/bank/bench_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/upgrade/abci_test.go
Due: modules

fix lint errors
  simapp/test_helpers.go
  x/upgrade/abci_test.go
Due: modules

update simapp tests
  simapp/app_test.go
  simapp/test_helpers.go
  x/upgrade/abci_test.go
Due: modules

chore(cosmovisor): updating changelog (#10019)
  cosmovisor/CHANGELOG.md
Due: none

making the values checks case not sensitive
  cosmovisor/CHANGELOG.md
  cosmovisor/args.go
  cosmovisor/args_test.go
Due: none

get rid of encCfg := simapp.MakeTestEncodingConfig() in network.New()
  testutil/network/network.go
Due: none

update changelog
  CHANGELOG.md
Due: none

remove commented code
  client/keys/migrate.go
Due: client

V0.42.9 with cache kv improvement (#24)
  store/cachekv/memiterator.go
  store/cachekv/store.go
Due: none

Speedup coins.AmountOf() by removing many regex calls
  types/coin.go
Due: none

Add Changelog
  CHANGELOG.md
Due: none

add tests for migrate CLI command
  client/keys/migrate_test.go
Due: client

get rid of protoMarshalRecord func
  crypto/keyring/keyring.go
  crypto/keyring/migration_test.go
  crypto/keyring/record_test.go
Due: none

add godoc for ErrPrivKeyExtr
  crypto/keyring/record.go
Due: none

add default case to Record.GetType() method
  crypto/keyring/record.go
Due: none

Lower number of regex calls in coins.AmountOf (#25)
  types/coin.go
Due: none

Add HasAccount to the AuthKeeper to save protobuf decoding time
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/types/expected_keepers.go
Due: modules

Update Spec
  x/auth/keeper/keeper.go
  x/auth/spec/04_keepers.md
Due: modules

Add Changelog entry
  CHANGELOG.md
Due: none

fix line
  client/keys/migrate_test.go
Due: client

Fix lint & use speedup in SendCoins
  x/auth/keeper/account.go
  x/bank/keeper/send.go
Due: modules
