Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Update x/gov/keeper/internal_test.go
  x/gov/keeper/internal_test.go
Due: modules

Update x/gov/spec/01_concepts.md
  x/gov/spec/01_concepts.md
Due: modules

poolx module scaffolding (mainly generated by starport)
  docs/core/proto-docs.md
  proto/cosmos/poolx/v1beta1/genesis.proto
  proto/cosmos/poolx/v1beta1/query.proto
  proto/cosmos/poolx/v1beta1/tx.proto
  x/poolx/client/cli/query.go
  x/poolx/client/cli/tx.go
  x/poolx/client/rest/rest.go
  x/poolx/genesis.go
  x/poolx/handler.go
  x/poolx/keeper/grpc_query.go
  x/poolx/keeper/keeper.go
  x/poolx/keeper/msg_server.go
  x/poolx/keeper/query.go
  x/poolx/module.go
  x/poolx/types/codec.go
  x/poolx/types/errors.go
  x/poolx/types/genesis.go
  x/poolx/types/genesis.pb.go
  x/poolx/types/keys.go
  x/poolx/types/query.go
  x/poolx/types/query.pb.go
  x/poolx/types/tx.pb.go
  x/poolx/types/types.go
Due: modules

fix tests
  simapp/sim_test.go
Due: none

fix test
  simapp/sim_test.go
Due: none

jsoncodec
  x/upgrade/client/cli/cli_test.go
Due: modules

fix linter issue
  x/bank/types/send_authorization.go
Due: modules

Apply suggestions from code review
  docs/architecture/adr-030-authz-module.md
Due: none

update example structure
  docs/building-modules/intro.md
  docs/building-modules/structure.md
Due: none

update module errors path
  docs/building-modules/errors.md
Due: none

poolx: introduce module params
  docs/core/proto-docs.md
  proto/cosmos/poolx/v1beta1/poolx.proto
  proto/cosmos/poolx/v1beta1/query.proto
  x/distribution/keeper/grpc_query_test.go
  x/poolx/keeper/grpc_query.go
  x/poolx/keeper/grpc_query_test.go
  x/poolx/keeper/keeper.go
  x/poolx/types/params.go
  x/poolx/types/poolx.pb.go
  x/poolx/types/query.go
  x/poolx/types/query.pb.go
  x/poolx/types/query.pb.gw.go
Due: modules

poolx: REST plumbing (sans tests)
  x/poolx/client/rest/rest.go
  x/poolx/types/querier.go
Due: modules

poolx: rm REST plumbing
  x/poolx/client/rest/rest.go
Due: modules

poolx: rm REST plumbing (take 2)
  x/poolx/client/rest/rest.go
  x/poolx/types/querier.go
Due: modules

makefile: fix proto-format
  Makefile
Due: none

reformat all proto files
  proto/cosmos/authz/v1beta1/authz.proto
  proto/cosmos/authz/v1beta1/tx.proto
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  proto/cosmos/base/reflection/v2alpha1/reflection.proto
  proto/cosmos/base/store/v1beta1/listening.proto
  proto/cosmos/crypto/secp256r1/keys.proto
  proto/cosmos/feegrant/v1beta1/feegrant.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/tx/v1beta1/service.proto
Due: none

poolx: trivial Pool model and basic messages
  docs/core/proto-docs.md
  proto/cosmos/poolx/v1beta1/genesis.proto
  proto/cosmos/poolx/v1beta1/poolx.proto
  proto/cosmos/poolx/v1beta1/tx.proto
  x/poolx/types/genesis.pb.go
  x/poolx/types/poolx.pb.go
  x/poolx/types/tx.pb.go
Due: none

update paths and fix typos
  docs/building-modules/beginblock-endblock.md
  docs/building-modules/genesis.md
  docs/building-modules/intro.md
  docs/building-modules/invariants.md
  docs/building-modules/keeper.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/module-interfaces.md
  docs/building-modules/module-manager.md
  docs/building-modules/msg-services.md
  docs/building-modules/structure.md
Due: none

update paths and fix typos
  docs/building-modules/beginblock-endblock.md
  docs/building-modules/invariants.md
  docs/building-modules/keeper.md
  docs/building-modules/module-manager.md
Due: none

fix errors
  x/authz/simulation/genesis.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
Due: modules

add exec authorization
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
Due: modules

Use feegrantmodule
  simapp/app.go
  simapp/app_test.go
Due: none

fix docs
  x/authz/simulation/genesis.go
  x/authz/simulation/operations.go
Due: modules

fix test
  x/authz/simulation/operations.go
Due: modules

regenerating proto
  docs/core/proto-docs.md
  server/grpc/reflection/v2alpha1/reflection.pb.go
  store/types/listening.pb.go
  types/tx/tx.pb.go
Due: none

Add code comment
  client/tx/tx.go
Due: client

fix error
  x/authz/simulation/operations.go
Due: modules

Cleanup remains of ServiceMsg (#9236)
  CHANGELOG.md
  client/tx/legacy_test.go
  client/tx/tx.go
  docs/core/proto-docs.md
  proto/cosmos/base/reflection/v2alpha1/reflection.proto
  server/grpc/reflection/v2alpha1/reflection.go
  server/grpc/reflection/v2alpha1/reflection.pb.go
  types/msgservice/service_msg_client.go
  x/auth/client/rest/rest_test.go
  x/auth/legacy/legacytx/stdsign.go
  x/auth/vesting/client/cli/tx.go
  x/authz/client/cli/tx.go
  x/authz/simulation/operations.go
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/evidence/types/msgs_test.go
  x/feegrant/client/cli/tx.go
  x/feegrant/simulation/operations.go
  x/genutil/client/testutil/suite.go
  x/gov/client/cli/tx.go
  x/params/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
  x/upgrade/client/cli/tx.go
Due: modules, client

adding GetAuthorization test
  x/authz/msgs_test.go
Due: modules

try fixing simulation
  x/authz/simulation/operations.go
Due: modules

update MsgGrant proto
  docs/core/proto-docs.md
  proto/cosmos/authz/v1beta1/tx.proto
  types/tx/tx.pb.go
  x/authz/authorization_grant.go
  x/authz/keeper/msg_server.go
  x/authz/msgs.go
  x/authz/msgs_test.go
  x/authz/tx.pb.go
Due: modules

fix errors
  x/authz/simulation/operations.go
Due: modules

Update MsgGrant to reuse the Grant type
  docs/architecture/adr-030-authz-module.md
Due: none

router: fix handler name
  baseapp/msg_service_router.go
  x/authz/keeper/msg_server.go
Due: app, modules

router: fix handler name (#9281)
  baseapp/msg_service_router.go
  x/authz/keeper/msg_server.go
Due: app, modules

fixing simulations
  x/authz/simulation/genesis.go
  x/authz/simulation/operations.go
Due: modules

copied from old PR
  CHANGELOG.md
  x/gov/client/utils/query.go
Due: modules

fix errors
  x/gov/client/utils/query.go
Due: modules
