Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      client:
        flags: client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

remove JSON files
  sim_params-7.json
  sim_state-7.json
Due: none

address comments from review
  x/staking/genesis.go
Due: modules

Fix IncrementSequenceDecorator (#5950)
  CHANGELOG.md
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
Due: modules

Update CHANGELOG
  CHANGELOG.md
Due: none

Sort changelog, tidy up
  CHANGELOG.md
Due: none

Fixed style issues
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/tx.go
Due: modules

Fix CHANGELOG formatting
  CHANGELOG.md
Due: none

add HistoricalInfoKey to skipped prefixes
  .github/workflows/sims.yml
  CHANGELOG.md
  simapp/sim_test.go
  store/types/utils.go
  x/staking/genesis.go
  x/staking/genesis_test.go
  x/staking/types/genesis.go
Due: modules

fix DiffKVStores
  sim_params-4.json
  sim_state-4.json
  store/types/utils.go
  x/staking/alias.go
  x/staking/types/keys.go
Due: modules

rm JSON
  sim_params-4.json
  sim_state-4.json
Due: none

x/staking: skip HistoricalInfo in simulations (#5949)
  .github/workflows/sims.yml
  CHANGELOG.md
  simapp/app.go
  simapp/sim_test.go
  store/types/utils.go
  x/staking/alias.go
  x/staking/genesis.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper.go
  x/staking/simulation/decoder.go
  x/staking/simulation/decoder_test.go
  x/staking/types/keys.go
Due: modules

cleanup ibc-alpha
  x/staking/genesis.go
  x/staking/genesis_test.go
  x/staking/simulation/decoder.go
  x/staking/simulation/decoder_test.go
  x/staking/types/genesis.go
Due: modules

Prep baseapp
  baseapp/baseapp.go
Due: app

Add deprecation notice and RegisterHandlers
  x/gov/client/rest/rest.go
  x/gov/client/rest/tx.go
Due: modules

WIP on x/gov protobuf cli tx cmd's
  x/gov/client/cli/tx.go
  x/gov/types/codec.go
Due: modules

Implement gov.Codec in codec/std
  codec/std/codec.go
  x/gov/client/cli/tx.go
Due: modules

Add protobuf x/gov REST tx handlers
  x/gov/client/rest/tx.go
Due: modules

Optimize imports
  x/gov/client/rest/tx.go
Due: modules

Initial work on grpc query server example for bank
  baseapp/queryrouter.go
  client/context/query.go
  scripts/protocgen.sh
  types/context.go
  types/errors/errors.go
  types/module/module.go
  types/queryable.go
  types/router.go
  x/bank/client/cli/query.go
  x/bank/keeper/querier.go
  x/bank/module.go
  x/bank/types/querier.go
  x/bank/types/types.pb.go
  x/bank/types/types.proto
Due: app, modules, client

Add RegisterQueryService stub to all modules
  x/auth/module.go
  x/bank/alias.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/gov/module.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/supply/module.go
  x/upgrade/module.go
Due: modules

Add grpc gateway http annotations
  go.mod
  go.sum
  third_party/proto/google/api/annotations.proto
  third_party/proto/google/api/http.proto
  types/module/module.go
  x/bank/types/types.proto
Due: modules

WIP on tests
  baseapp/queryrouter.go
  client/context/query.go
  types/errors/errors.go
  x/bank/keeper/querier_test.go
Due: app, modules, client

Update mocks
  go.sum
  tests/mocks/tendermint_tm_db_DB.go
  tests/mocks/types_module_module.go
  tests/mocks/types_router.go
Due: none

Fix tests
  baseapp/queryrouter.go
  baseapp/router.go
  client/context/query.go
  go.mod
  go.sum
  third_party/proto/google/api/annotations.proto
  types/module/module.go
  x/auth/module.go
  x/bank/keeper/querier_test.go
  x/bank/module.go
  x/bank/types/types.pb.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/gov/module.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/supply/module.go
  x/upgrade/module.go
Due: app, modules, client

Address golang CI issues
  x/bank/client/cli/query.go
  x/bank/keeper/querier.go
  x/bank/module.go
Due: modules

Address golang CI issues
  baseapp/queryrouter.go
Due: app

Fix go.mod, regenerate proto files
  codec/std/codec.pb.go
  codec/testdata/proto.pb.go
  go.mod
  types/types.pb.go
  x/auth/types/types.pb.go
  x/auth/vesting/types/types.pb.go
  x/bank/types/types.pb.go
  x/crisis/types/types.pb.go
  x/distribution/types/types.pb.go
  x/evidence/types/types.pb.go
  x/gov/types/types.pb.go
  x/mint/types/types.pb.go
  x/params/types/proposal/types.pb.go
  x/slashing/types/types.pb.go
  x/staking/types/types.pb.go
  x/supply/types/types.pb.go
  x/upgrade/types/types.pb.go
Due: none

Reorder imports
  x/gov/client/cli/tx.go
Due: modules

Fix imports
  x/gov/client/cli/tx.go
Due: modules

Fix mock tests
  types/module/module_test.go
Due: none

Bind transfer port in InitChain
  simapp/app.go
  types/module/module.go
  x/ibc/20-transfer/genesis.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/types/expected_keepers.go
Due: modules

lint: migrate to review-dog
  .github/workflows/lint.yml
  crypto/keyring/keyring_test.go
  types/context_test.go
Due: none

remove riot and add sims badge
  README.md
Due: none

Added validation to messages
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/query.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
Due: modules

Fixed message validation
  x/distribution/client/cli/tx.go
Due: modules

skip-sims
  README.md
Due: none

bind keyring flag
  client/flags/flags.go
Due: client

lint: migrate to review-dog (#5955)
  .github/workflows/lint.yml
  README.md
  types/context_test.go
Due: none

client/flags: bind keyring flag for query commands (#5956)
  client/flags/flags.go
Due: client
