Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

unused
  x/bank/v2/keeper/creators.go
Due: modules

lint
  x/bank/v2/client/cli/tx.go
  x/bank/v2/keeper/handlers.go
  x/bank/v2/keeper/keeper.go
  x/bank/v2/keeper/keeper_test.go
  x/bank/v2/types/params.go
Due: modules

lint
  tests/systemtests/genesis_io.go
Due: none

feat(x/circuit): Add validation for permission when an account is assigned and validation for msgURL (#22460)
  x/circuit/CHANGELOG.md
  x/circuit/keeper/msg_server.go
  x/circuit/keeper/msg_server_test.go
  x/circuit/types/permission.go
Due: modules

conflicts (part 1)
  collections/codec/indexing.go
  collections/indexes/multi.go
  collections/indexes/reverse_pair.go
  collections/indexing.go
  collections/keyset.go
  collections/map.go
  collections/pair.go
  collections/quad.go
  collections/triple.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

del: default keyring
  client/v2/autocli/common.go
  client/v2/autocli/keyring/keyring.go
Due: client

update tests for some testing purpose
  tests/integration/server/grpc/out_of_gas_test.go
Due: none

update: changelog
  x/tx/CHANGELOG.md
Due: modules

nit
  x/circuit/keeper/msg_server_test.go
Due: modules

chore(x/tx): update changelog to alpha.2 (#22465)
  x/tx/CHANGELOG.md
Due: modules

feat(log): disable coloring in testing logger
  log/CHANGELOG.md
  log/testing.go
Due: none

cl
  log/CHANGELOG.md
Due: none

bump log
  .github/workflows/test.yml
  log/CHANGELOG.md
  log/go.mod
Due: none

juliens suggestions
  api/cosmos/protocolpool/v1/genesis.pulsar.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/proto/cosmos/protocolpool/v1/genesis.proto
  x/protocolpool/types/genesis.pb.go
Due: modules

add: grpc query conn
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/common.go
  client/v2/autocli/query.go
Due: client

build(deps): Bump actions/xxx-artifact from v3 to v4
  .github/workflows/test.yml
  .github/workflows/v2-test.yml
Due: none

refactor(log): disable coloring in testing logger (#22466)
  .github/workflows/test.yml
  log/CHANGELOG.md
  log/go.mod
  log/testing.go
Due: none

remove txt files
  server/v2/stf/branch/bench_22131.txt
  server/v2/stf/branch/bench_storev1.txt
Due: none

ci: force download
  .github/workflows/test.yml
Due: none

Revert "ci: force download"
  .github/workflows/test.yml
Due: none

let app close the db and consensus close app
  server/v2/cometbft/server.go
  server/v2/store/server.go
  simapp/v2/app_di.go
  simapp/v2/simdv2/cmd/commands.go
Due: none

feat(stf/branch): simplify merged iterator (#22131)
  runtime/v2/go.mod
  runtime/v2/go.sum
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/stf/branch/bench_test.go
  server/v2/stf/branch/changeset.go
  server/v2/stf/branch/mergeiter.go
  server/v2/stf/branch/mergeiter_test.go
  server/v2/stf/branch/store.go
  server/v2/stf/go.mod
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
Due: none

build(deps): Bump actions/xxx-artifact from v3 to v4 (#22468)
  .github/workflows/test.yml
  .github/workflows/v2-test.yml
Due: none

build(deps): Bump actions/xxx-artifact from v3 to v4
  .github/workflows/test.yml
Due: none

go mod tidy all
  server/v2/cometbft/go.sum
  simapp/v2/go.sum
Due: none

rm unused import
  server/v2/store/server.go
Due: none

updates
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  simapp/go.mod
  simapp/go.sum
Due: none

call Hash() before turning commit info
  store/v2/commitment/store.go
Due: none

try to fix up go.mod
  tests/go.mod
  tests/go.sum
Due: none

fix integration tests to work with new genesis flow
  tests/go.mod
  tests/go.sum
  tests/integration/v2/app.go
Due: none

add replace
  runtime/v2/go.mod
  runtime/v2/go.sum
Due: none

rm files
  server/v2/appmanager/appmanager.go
  server/v2/stf/core_header_service.go
Due: none

Update module.pulsar.go
  api/cosmos/authz/module/v1/module.pulsar.go
Due: none

add another replace
  server/v2/go.mod
  server/v2/go.sum
Due: none

try fix rocksdb tests
  store/v2/commitment/store_bench_test.go
  store/v2/storage/storage_bench_test.go
Due: none
