Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore(auth): return accId in error (#17903)
  x/auth/keeper/grpc_query.go
Due: modules

`make lint
  tools/confix/cmd/view.go
Due: none

fix
  x/auth/keeper/grpc_query.go
Due: modules

chore(store): check value (#17900)
  store/dbadapter/store.go
Due: none

chore: remove tip posthandler (#17902)
  CHANGELOG.md
  x/auth/posthandler/tips.go
Due: modules

implement suggestions
  CHANGELOG.md
  api/cosmos/vesting/v1beta1/tx.pulsar.go
  proto/cosmos/vesting/v1beta1/tx.proto
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/types/msgs.go
  x/auth/vesting/types/tx.pb.go
  x/auth/vesting/types/vesting_account_test.go
Due: modules

fix: vote extensions on first block
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
Due: app

same fix in verify vote
  baseapp/abci.go
Due: app

fix(simulation): fix the problem of operating group such as SimulateMsgCreateGroupPolicy when the group does not exist in the chain during simulation test
  x/group/simulation/operations.go
Due: modules

rollback chainid change, will do in a separate pr
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
Due: app

rollback chainid change, will do in a separate pr
  baseapp/abci_test.go
Due: app

improve tests
  baseapp/abci_test.go
Due: app

fix(simulation): skip sigverify check when run simulation test
  CHANGELOG.md
  Makefile
  baseapp/baseapp.go
  baseapp/test_helpers.go
  types/context.go
  x/auth/ante/sigverify.go
Due: app, modules

remove gov vote and proposal based telemetry
  x/gov/keeper/msg_server.go
Due: modules

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

lint
  baseapp/abci_test.go
Due: app

refactor(server): use bootstrap api from comet (#17899)
  server/cmt_cmds.go
Due: none

add: arbitrary message
  api/cosmos/offchain/adr036/offchain.pulsar.go
  docs/architecture/adr-036-arbitrary-signature.md
  offchain/adr036/codec.go
  offchain/adr036/offchain.go
  offchain/adr036/offchain.pb.go
  offchain/adr036/sign.go
  offchain/adr036/sign_test.go
  offchain/adr036/verify.go
  offchain/adr036/verify_test.go
  proto/cosmos/offchain/adr036/offchain.proto
Due: none

updates
  store/branch/store.go
  store/storage/storage_test_suite.go
Due: none

add changelog
  CHANGELOG.md
Due: none

refactor(x/gov): remove gov vote and proposal based telemetry (#17910)
  CHANGELOG.md
  x/gov/keeper/msg_server.go
Due: modules

fix changelog + add explaination
  CHANGELOG.md
Due: none

fixes
  CHANGELOG.md
  x/gov/keeper/msg_server.go
Due: modules

lint++
  store/branch/store.go
  store/storage/storage_test_suite.go
Due: none

updates
  store/storage/pebbledb/db.go
  store/storage/pebbledb/iterator.go
  store/storage/util/bytes.go
Due: none

refactor WorkingHash + Commit()
  store/root/store.go
  store/store.go
Due: none

build(deps): Bump github.com/prometheus/client_golang from 1.16.0 to 1.17.0 for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

add test
  tools/confix/cmd/view_test.go
Due: none

lint-fix
  tools/confix/cmd/view_test.go
Due: none

feat(confix): add `view` command (#17904)
  tools/confix/CHANGELOG.md
  tools/confix/README.md
  tools/confix/cmd/config.go
  tools/confix/cmd/view.go
  tools/confix/cmd/view_test.go
  tools/confix/go.mod
Due: none

updates
  tools/confix/go.mod
  tools/confix/go.sum
Due: none

add protobuf hybrid handler
  baseapp/grpcrouter.go
  baseapp/grpcrouter_test.go
  baseapp/protocompat/protocompat.go
Due: app

fix(simapp): do not overwrite tx options
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
  x/auth/tx/config/config.go
Due: modules

updates
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  client/docs/swagger-ui/swagger.yaml
  client/flags/flags.go
  proto/cosmos/tx/signing/v1beta1/signing.proto
  types/tx/signing/signing.pb.go
Due: client

fix(baseapp): vote extensions on first block (#17909)
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/abci_utils.go
Due: app

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
