Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

format
  x/feegrant/genesis_test.go
Due: modules

update deps
  proto/buf.lock
Due: none

fix(x/feegrant): prevent duplicate grants in genesis state (#24134)
  x/feegrant/CHANGELOG.md
  x/feegrant/genesis.go
  x/feegrant/genesis_test.go
Due: modules

update
  api/cosmos/auth/module/v1/module.pulsar.go
  docs/docs/build/tooling/00-protobuf.md
Due: none

update builder
  contrib/devtools/Dockerfile
Due: none

update versions
  contrib/devtools/Dockerfile
Due: none

comet migration tool
  tools/migration/cometv1/calls.go
  tools/migration/cometv1/calls_test.go
  tools/migration/cometv1/complex_functions.go
  tools/migration/cometv1/complex_functions_test.go
  tools/migration/cometv1/go.mod
  tools/migration/cometv1/go.sum
  tools/migration/cometv1/imports.go
  tools/migration/cometv1/imports_test.go
  tools/migration/cometv1/main.go
  tools/migration/cometv1/structs.go
  tools/migration/cometv1/structs_test.go
Due: none

ok
  Makefile
Due: none

fix
  Makefile
  codec/unknownproto/unknown_fields_test.go
  testutil/testdata/testpb/unknonwnproto.proto
  testutil/testdata/testpb/unknonwnproto.pulsar.go
  testutil/testdata/unknonwnproto.pb.go
Due: none

update
  docs/docs/build/tooling/00-protobuf.md
Due: none

ok
  tools/migration/calls.go
  tools/migration/calls_test.go
  tools/migration/cometv1/README.md
  tools/migration/cometv1/calls.go
  tools/migration/cometv1/complex.go
  tools/migration/cometv1/go.mod
  tools/migration/cometv1/imports.go
  tools/migration/cometv1/main.go
  tools/migration/cometv1/structs_test.go
  tools/migration/complex_functions.go
  tools/migration/complex_functions_test.go
  tools/migration/go.mod
  tools/migration/go.sum
  tools/migration/imports.go
  tools/migration/imports_test.go
  tools/migration/migrate.go
  tools/migration/structs.go
  tools/migration/structs_test.go
Due: none

add readme
  tools/migration/README.md
Due: none

lower perm level
  tools/migration/migrate.go
Due: none

lint fix
  tools/migration/cometv1/calls.go
  tools/migration/cometv1/complex.go
  tools/migration/cometv1/imports.go
  tools/migration/cometv1/structs.go
Due: none

downgrade go version for linter
  tools/migration/cometv1/go.mod
  tools/migration/go.mod
  tools/migration/go.sum
Due: none

linter
  tools/migration/calls.go
  tools/migration/complex_functions.go
  tools/migration/migrate.go
Due: none

fix: race condition in baseapp states (#24655)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/config/gas.go
  baseapp/options.go
  baseapp/regression_test.go
  baseapp/state/manager.go
  baseapp/state/state.go
  baseapp/test_helpers.go
  baseapp/utils_test.go
  go.mod
  go.sum
  store/rootmulti/store.go
Due: app

bump
  Makefile
Due: none

fix
  .github/workflows/dependabot-update-all.yml
  go.mod
  go.sum
Due: none

linux-fix
  crypto/keyring/keyring_linux.go
Due: none

fix(server): Fix pruning height calculation (#24583)
  CHANGELOG.md
  store/pruning/export_test.go
  store/pruning/manager.go
  store/pruning/manager_test.go
  store/pruning/types/options.go
  store/pruning/types/options_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/snapshots/helpers_test.go
  store/snapshots/manager.go
  store/snapshots/manager_test.go
  store/snapshots/types/options.go
  store/snapshots/types/options_test.go
  store/snapshots/types/snapshotter.go
Due: none

fix: remove unnecessary protobuf field option (#24161)
  CHANGELOG.md
  api/cosmos/auth/module/v1/module.pulsar.go
  api/cosmos/staking/v1beta1/authz.pulsar.go
  proto/cosmos/staking/v1beta1/authz.proto
  x/staking/types/authz.pb.go
Due: none

fix
  crypto/keyring/keyring_linux.go
Due: none

feat(x/tx): support bytes field as signer (port: #21850) (#24503)
  x/tx/CHANGELOG.md
  x/tx/internal/testpb/signers.proto
  x/tx/internal/testpb/signers.pulsar.go
  x/tx/signing/context.go
  x/tx/signing/context_test.go
Due: modules

feat(perf): Create a pooled version of the cachekv store
  store/cachekv/internal/btree.go
  store/cachekv/store.go
  store/cachemulti/store.go
  store/rootmulti/store_test.go
  store/types/store.go
Due: none

feat(perf): Use a pooling cachekv for runTx's cache.
  baseapp/baseapp.go
Due: app

Address PR comments
  baseapp/baseapp.go
  store/cachekv/internal/btree.go
  store/cachekv/store.go
  store/cachemulti/store.go
  store/types/store.go
Due: app

cl
  collections/CHANGELOG.md
Due: none

fix: collections test IterateRaw bug (#24737)
  collections/CHANGELOG.md
  collections/map.go
  collections/map_test.go
Due: none

update
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: client

rename go package
  proto/cosmos/circuit/module/v1/module.proto
  proto/cosmos/circuit/v1/query.proto
  proto/cosmos/circuit/v1/tx.proto
  proto/cosmos/circuit/v1/types.proto
  proto/cosmos/evidence/module/v1/module.proto
  proto/cosmos/evidence/v1beta1/evidence.proto
  proto/cosmos/evidence/v1beta1/genesis.proto
  proto/cosmos/evidence/v1beta1/query.proto
  proto/cosmos/evidence/v1beta1/tx.proto
  proto/cosmos/feegrant/module/v1/module.proto
  proto/cosmos/feegrant/v1beta1/feegrant.proto
  proto/cosmos/feegrant/v1beta1/genesis.proto
  proto/cosmos/feegrant/v1beta1/query.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  proto/cosmos/nft/module/v1/module.proto
  proto/cosmos/nft/v1beta1/event.proto
  proto/cosmos/nft/v1beta1/genesis.proto
  proto/cosmos/nft/v1beta1/nft.proto
  proto/cosmos/nft/v1beta1/query.proto
  proto/cosmos/nft/v1beta1/tx.proto
  proto/cosmos/upgrade/module/v1/module.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/cosmos/upgrade/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
Due: none

generate
  api/cosmos/circuit/module/v1/module.pulsar.go
  api/cosmos/evidence/module/v1/module.pulsar.go
  api/cosmos/feegrant/module/v1/module.pulsar.go
  api/cosmos/nft/module/v1/module.pulsar.go
  api/cosmos/upgrade/module/v1/module.pulsar.go
  x/circuit/types/query.pb.go
  x/circuit/types/tx.pb.go
  x/circuit/types/types.pb.go
  x/evidence/types/evidence.pb.go
  x/evidence/types/genesis.pb.go
  x/evidence/types/query.pb.go
  x/evidence/types/tx.pb.go
  x/feegrant/feegrant.pb.go
  x/feegrant/genesis.pb.go
  x/feegrant/query.pb.go
  x/feegrant/tx.pb.go
  x/nft/event.pb.go
  x/nft/genesis.pb.go
  x/nft/nft.pb.go
  x/nft/query.pb.go
  x/nft/tx.pb.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/tx.pb.go
  x/upgrade/types/upgrade.pb.go
Due: none

fix bug
  log/logger.go
  server/util.go
  x/upgrade/keeper/keeper.go
Due: modules

tidy
  simapp/go.mod
  simapp/go.sum
Due: none
