Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

bring back viper sets
  simapp/v2/simdv2/cmd/commands.go
Due: none

updates
  runtime/v2/manager.go
  scripts/dep-assert.sh
  server/v2/api/grpc/server.go
  store/v2/commitment/store.go
  tests/systemtests/system.go
  tools/confix/cmd/diff.go
  x/bank/depinject.go
  x/epochs/depinject.go
  x/epochs/keeper/abci_test.go
  x/gov/depinject.go
  x/group/keeper/invariants.go
Due: modules

updates
  tools/confix/cmd/migrate.go
Due: none

lint
  tests/systemtests/system.go
Due: none

feat: export genesis in simapp v2 (#21199)
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/manager.go
  server/v2/appmanager/appmanager.go
  server/v2/cometbft/go.mod
  simapp/app.go
  simapp/v2/app_di.go
  simapp/v2/app_test.go
  simapp/v2/export.go
  simapp/v2/go.mod
  simapp/v2/simdv2/cmd/commands.go
  x/genutil/v2/cli/commands.go
  x/genutil/v2/cli/export.go
  x/genutil/v2/types.go
  x/staking/genesis.go
Due: modules

chore: fix all lint issue since golangci-lint bump
  .github/workflows/lint.yml
  client/v2/autocli/keyring/keyring.go
  simapp/simd/cmd/root_di.go
  tests/integration/slashing/slashing_test.go
  tests/systemtests/system.go
  x/auth/keeper/grpc_query.go
  x/authz/keeper/grpc_query.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/msg_server.go
  x/evidence/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
  x/group/client/cli/tx.go
  x/group/keeper/keeper.go
  x/slashing/keeper/signing_info.go
  x/upgrade/keeper/abci_test.go
Due: modules, client

updates
  log/CHANGELOG.md
  log/logger.go
  tools/cosmovisor/cmd/cosmovisor/version_test.go
Due: none

remove uncessary
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/manager.go
  server/v2/appmanager/appmanager.go
Due: none

deps
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  simapp/go.mod
  simapp/v2/go.mod
  simapp/v2/go.sum
Due: none

conflict
  simapp/app.go
Due: none

tidy
  simapp/go.mod
Due: none

staticcheck skip
  tools/cosmovisor/cmd/cosmovisor/version_test.go
Due: none

chore: spelling errors fixes
  README.md
Due: none

chore: fix spelling errors (#21327)
  README.md
Due: none

ci: run tests on push to release/v0.52.x (#21319)
  .github/workflows/test.yml
Due: none

docs: rename app v2 to app di when talking about runtime v0
  UPGRADING.md
Due: none

add test
  x/authz/keeper/keeper_test.go
Due: modules

refactor(x/mint): v0.52 audit x/mint (#21301)
  x/mint/CHANGELOG.md
  x/mint/README.md
  x/mint/epoch_hooks.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/migrator.go
  x/mint/keeper/migrator_test.go
  x/mint/module.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/proposals.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
  x/mint/types/params_test.go
Due: modules

chore: fix all lint issue since golangci-lint bump (#21326)
  .github/workflows/lint.yml
  client/v2/autocli/keyring/keyring.go
  log/CHANGELOG.md
  log/logger.go
  simapp/simd/cmd/root_di.go
  tests/integration/slashing/slashing_test.go
  tests/systemtests/system.go
  tools/cosmovisor/cmd/cosmovisor/version_test.go
  x/auth/keeper/grpc_query.go
  x/authz/keeper/grpc_query.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/msg_server.go
  x/evidence/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
  x/group/client/cli/tx.go
  x/group/keeper/keeper.go
  x/slashing/keeper/signing_info.go
  x/upgrade/keeper/abci_test.go
Due: modules, client

delete unecessary
  log/CHANGELOG.md
  log/logger.go
  tools/cosmovisor/cmd/cosmovisor/version_test.go
Due: none

fix(x/authz): bring back msg response in `DispatchActions` (#21044)
  x/authz/CHANGELOG.md
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
Due: modules

feat(schema): specify JSON mapping (#21243)
  schema/kind.go
Due: none

WIP: rust
  rust/.gitignore
  rust/Cargo.toml
  rust/cosmos_core/Cargo.toml
  rust/cosmos_core/src/lib.rs
Due: none

remove account config in favor of just having it for modules
  docs/rfc/rfc-003-crosslang.md
Due: none

Update docs/rfc/rfc-003-crosslang.md
  docs/rfc/rfc-003-crosslang.md
Due: none

reduce address and message name limits
  docs/rfc/rfc-003-crosslang.md
Due: none

merge
  .github/workflows/lint.yml
  client/v2/autocli/keyring/keyring.go
  log/CHANGELOG.md
  log/logger.go
  simapp/simd/cmd/root_di.go
  tests/integration/slashing/slashing_test.go
  tests/systemtests/system.go
  tools/cosmovisor/cmd/cosmovisor/version_test.go
  x/auth/keeper/grpc_query.go
  x/authz/keeper/grpc_query.go
  x/evidence/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
  x/group/client/cli/tx.go
  x/group/keeper/keeper.go
  x/slashing/keeper/signing_info.go
  x/upgrade/keeper/abci_test.go
Due: modules, client

Solve some comments
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/msg_server.go
Due: modules

deterministic manager
  runtime/v2/manager.go
Due: none
