Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: propagate ledger error wrapping correctly (#8)
  CHANGELOG.md
  crypto/keyring/keyring.go
Due: none

perf(staking): optimize endblock by reducing bech32 conversions
  x/staking/CHANGELOG.md
  x/staking/keeper/val_state_change.go
Due: modules

attempt
  baseapp/test_helpers.go
  simsx/common_test.go
  simsx/delivery.go
  simsx/delivery_test.go
  simsx/environment.go
  simsx/registry.go
  simsx/reporter.go
  simsx/reporter_test.go
  simsx/runner.go
  types/module/simulation.go
  types/simulation/account.go
  types/simulation/config.go
  types/simulation/types.go
  x/simulation/client/cli/flags.go
  x/simulation/log.go
  x/simulation/simulate.go
Due: app, modules

change rule
  .mergify.yml
Due: none

chore: set up backport rule for 53 (#23871)
  .mergify.yml
Due: none

fix
  .mergify.yml
Due: none

refactor: use a more straightforward return value (#23718)
  x/auth/migrations/legacytx/stdsign.go
  x/staking/keeper/delegation.go
Due: modules

ok
  baseapp/baseapp.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simsx/context.go
  simsx/delivery_test.go
  simsx/registry_test.go
  types/simulation/types.go
  x/simulation/simulate.go
Due: app, modules

working
  baseapp/test_helpers.go
  types/simulation/types.go
Due: app

fix cli.go
  systemtests/cli.go
Due: none

lint passing wow
  baseapp/test_helpers.go
  simsx/common_test.go
  simsx/delivery.go
  simsx/delivery_test.go
  simsx/msg_factory.go
  simsx/msg_factory_test.go
  simsx/registry.go
  simsx/registry_test.go
  simsx/runner.go
  types/simulation/types.go
Due: app

working
  simsx/common_test.go
  simsx/delivery_test.go
  testutil/testdata/tx.go
Due: none

fix: add missing field to unordered for amino json signing (#23860)
  CHANGELOG.md
  client/tx/aux_builder.go
Due: client

fix
  x/staking/keeper/delegation.go
Due: modules

fix: resolve paramstore duplication on baseapp testing
  baseapp/abci_test.go
Due: app

use intoanyv2
  x/auth/tx/builder.go
Due: modules

add some comments
  x/auth/tx/builder.go
Due: modules

respect devs
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simsx/runner.go
  x/simulation/simulate.go
Due: modules

move to one file
  simapp/sim_bench_test.go
  simapp/sim_test.go
Due: none

sims legacy
  .github/workflows/sims-053.yml
  .github/workflows/sims.yml
  Makefile
  simapp/sim_legacy_test.go
Due: none

wip compat, add amino support, etc tests
  x/auth/tx/adapter.go
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/aminojson_test.go
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.proto
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.pulsar.go
  x/tx/signing/testutil/util.go
Due: modules

use pb not pulsar
  x/auth/tx/builder.go
Due: modules

add since comments
  api/cosmos/tx/v1beta1/tx.pulsar.go
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/tx.pb.go
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.proto
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.pulsar.go
Due: modules

fix(baseapp): ensure finalize block response is not empty
  CHANGELOG.md
  baseapp/abci.go
Due: app

Fix npe in pagination
  types/query/collections_pagination.go
  types/query/collections_pagination_test.go
Due: none

Add changelog
  CHANGELOG.md
Due: none

fix: nil pointer panic in FinalizeBlock
  CHANGELOG.md
  baseapp/abci.go
Due: app

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update baseapp/abci.go
  baseapp/abci.go
Due: app

fix: Fix npe in pagination (#23880)
  CHANGELOG.md
  types/query/collections_pagination.go
  types/query/collections_pagination_test.go
Due: none

add
  .github/workflows/systemtests.yml
Due: none

ignore systems test
  Makefile
Due: none

fix-go-mod
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

add output to error check in RunShellCmd
  systemtests/system.go
Due: none

fix-changelog
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
