Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

feat: implement x/params get all subspaces/keys (#9884)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/params/v1beta1/query.proto
  x/auth/types/query.pb.go
  x/group/types.pb.go
  x/params/keeper/grpc_query.go
  x/params/keeper/grpc_query_test.go
  x/params/keeper/keeper.go
  x/params/keeper/keeper_test.go
  x/params/types/proposal/query.pb.go
  x/params/types/proposal/query.pb.gw.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
Due: modules

add migrations
  x/bank/migrations/v043/keys.go
  x/bank/migrations/v044/store.go
  x/bank/migrations/v044/store_test.go
Due: modules

add changelog
  CHANGELOG.md
Due: none

fix lint error
  x/bank/migrations/v044/store.go
Due: modules

rename address.Codec methods
  simapp/app.go
  types/address/codec.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/bank/keeper/keeper_test.go
Due: modules

Fix the computation of total coins
  x/auth/vesting/msg_server.go
Due: modules

Add the missing type switch in NewHandler for PeriodicVestingAccounts
  x/auth/vesting/handler.go
Due: modules

bug! add unit test
  x/auth/vesting/handler_test.go
Due: modules

check the destination
  x/auth/vesting/handler_test.go
Due: modules

Update cosmovisor/process.go
  cosmovisor/process.go
Due: none

Apply suggestions from code review
  cosmovisor/README.md
Due: none

apply comments from github
  proto/cosmos/nft/v1beta1/nft.proto
  proto/cosmos/nft/v1beta1/query.proto
Due: none

update changelog
  CHANGELOG.md
  x/bank/migrations/v044/store.go
Due: modules

make UpgradeConsensusState deprecated
  docs/core/proto-docs.md
  proto/cosmos/upgrade/v1beta1/query.proto
  x/auth/types/query.pb.go
  x/group/types.pb.go
  x/upgrade/types/query.pb.go
Due: none

chore: Update changelog with 0.42.8, 0.42.9 and 0.43.0 (#9891)
  CHANGELOG.md
Due: none

test: fix BenchmarkCoinsAdditionIntersect panic
  types/coin_benchmark_test.go
Due: none

Move orm to x/group
  docs/core/store.md
  store/README.md
  store/table/index.go
  store/table/index_key_codec.go
  store/table/index_key_codec_test.go
  store/table/index_test.go
  store/table/sequence.go
  store/table/sequence_test.go
  store/table/table.go
  store/table/table_test.go
  store/table/testsupport.go
  store/table/types.go
  store/table/types_test.go
Due: none

test: fix BenchmarkCoinsAdditionIntersect panic (#9904)
  types/coin_benchmark_test.go
Due: none

Add orm
  x/group/orm/index.go
  x/group/orm/index_key_codec.go
  x/group/orm/index_key_codec_test.go
  x/group/orm/index_test.go
  x/group/orm/sequence.go
  x/group/orm/sequence_test.go
  x/group/orm/spec/README.md
  x/group/orm/table.go
  x/group/orm/table_test.go
  x/group/orm/testsupport.go
  x/group/orm/types.go
  x/group/orm/types_test.go
Due: modules

deprecate whole QueryConsensusStates
  docs/core/proto-docs.md
  proto/cosmos/upgrade/v1beta1/query.proto
  x/upgrade/types/query.pb.go
Due: none

fix!: remove denom from DenomMetadata key (#9890)
  CHANGELOG.md
  x/bank/keeper/keeper.go
  x/bank/migrations/v043/keys.go
  x/bank/migrations/v044/store.go
  x/bank/migrations/v044/store_test.go
  x/bank/types/key.go
Due: modules

add changelog and comment for deprecated rpc
  CHANGELOG.md
  proto/cosmos/upgrade/v1beta1/query.proto
Due: none

make proto-gen
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/upgrade/v1beta1/query.proto
  x/upgrade/types/query.pb.go
Due: none

fix lint issue
  x/upgrade/keeper/grpc_query.go
Due: modules

remove TestCustomAddressVerifier
  types/address_test.go
Due: none

feat: Add SIGN_MODE_DIRECT_AUX and tx Tip proto definitions (#9405)
  docs/core/proto-docs.md
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
Due: none

update changelog
  CHANGELOG.md
Due: none

Update client/keys/add_ledger_test.go
  client/keys/add_ledger_test.go
Due: client

Update client/keys/migrate.go
  client/keys/migrate.go
Due: client

chore: Deprecate QueryUpgradedConsensusState (#9906)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/upgrade/v1beta1/query.proto
  x/upgrade/keeper/grpc_query.go
  x/upgrade/types/query.pb.go
Due: modules

expose only 4 New***Record funcs
  client/keys/migrate_test.go
  client/keys/show.go
  crypto/keyring/keyring.go
  crypto/keyring/migration_test.go
  crypto/keyring/output_test.go
  crypto/keyring/record.go
  crypto/keyring/record_test.go
  crypto/keyring/types_test.go
  crypto/keys/multisig/multisig_test.go
  x/auth/client/testutil/suite.go
Due: modules, client

fix Test_multiSigKey_Properties
  client/keys/show_test.go
  client/keys/utils.go
Due: client

update cosmovisor readme
  cosmovisor/README.md
Due: none

add comments to some field in types.proto
  crypto/keyring/types.pb.go
  docs/core/proto-docs.md
  proto/cosmos/crypto/keyring/v1/types.proto
  x/auth/types/query.pb.go
  x/group/types.pb.go
Due: none

apply review suggestions from Bez
  client/grpc_query.go
  client/query.go
Due: client

add cdc argument to GenerateCoinKey and fix test
  server/init.go
  server/init_test.go
Due: none

update tests
  client/query_test.go
Due: client

remove unnecessary changelog entry
  CHANGELOG.md
Due: none
