Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Move all errors to types/errors.go
  x/gov/keeper/msg_server.go
  x/gov/types/errors.go
  x/gov/types/v1beta1/errors.go
  x/gov/types/v1beta1/msgs.go
  x/gov/types/v1beta1/proposal.go
Due: modules

remove unneeded inits
  doc/proto-docs.md
  simapp/test_helpers.go
  types/module/module.go
  x/auth/client/testutil/suite.go
  x/auth/migrations/v043/store_test.go
  x/bank/keeper/keeper_test.go
  x/bank/types/balance_test.go
  x/evidence/keeper/keeper_test.go
  x/feegrant/simulation/operations_test.go
  x/gov/abci_test.go
  x/gov/common_test.go
  x/gov/keeper/common_test.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/init_test.go
  x/slashing/keeper/common_test.go
  x/slashing/keeper/keeper_test.go
  x/staking/client/cli/tx.go
  x/staking/common_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/power_reduction_test.go
  x/staking/migrations/v040/keys.go
  x/staking/migrations/v043/store_test.go
  x/staking/simulation/common_test.go
  x/staking/simulation/operations_test.go
Due: modules

Add iavl-cache-size config parsing to GetConfig
  server/config/config.go
Due: none

minor change
  types/staking.go
  x/bank/keeper/grpc_query_test.go
  x/slashing/keeper/keeper_test.go
  x/staking/simulation/operations_test.go
Due: modules

revert last jsontag
  api/cosmos/gov/v1beta1/gov.pulsar.go
  proto/cosmos/gov/v1beta1/gov.proto
  x/gov/types/v1beta1/gov.pb.go
Due: none

modify comment
  simapp/app.go
Due: none

ADR-047: Add a bit to the negative about increased message size.
  docs/architecture/adr-047-extend-upgrade-plan.md
Due: none

store updates, fixes
  store/v2/multi/cache_store.go
  store/v2/multi/doc.go
  store/v2/multi/store.go
  store/v2/multi/store_test.go
  store/v2/multi/sub_store.go
  store/v2/multi/test_util.go
  store/v2/multi/view_store.go
  store/v2/types.go
Due: none

[WIP] refactor multistore => root store
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/custom_txhandler_test.go
  baseapp/grpcrouter_test.go
  baseapp/options.go
  baseapp/state.go
  baseapp/test_helpers.go
  baseapp/util_test.go
  docs/core/upgrade.md
  server/types/app.go
  server/util.go
  simapp/app.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
  simapp/utils.go
  snapshots/store.go
  testutil/context.go
  testutil/network/network.go
  types/context.go
  types/store.go
  x/auth/middleware/run_msgs.go
  x/params/types/subspace.go
  x/upgrade/types/storeloader.go
Due: app, modules

changelog + docs
  CHANGELOG.md
  docs/core/store.md
Due: none

baseapp - disable snapshot tests
  baseapp/baseapp_test.go
Due: app

ADR-047: Update to reflect decisions made in discussions. Add timelines. Indicate that existing info field functionality is being deprecated.
  docs/architecture/adr-047-extend-upgrade-plan.md
Due: none

updates
  x/auth/tx/service.go
Due: modules

feat(orm): module db
  orm/internal/testpb/bank.proto
  orm/internal/testpb/bank.pulsar.go
  orm/model/ormdb/file.go
  orm/model/ormdb/module.go
  orm/model/ormdb/module_test.go
  orm/types/ormerrors/errors.go
Due: none

cl++
  CHANGELOG.md
Due: none

docs
  orm/internal/testpb/bank.proto
  orm/model/ormdb/file.go
  orm/model/ormdb/module.go
  orm/model/ormdb/module_test.go
Due: none

fixes
  simapp/utils.go
  store/rootmulti/store_test.go
  store/v2/utils.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query.go
  x/group/keeper/invariants_test.go
  x/simulation/log.go
Due: modules

chore: revert some json tags (#10958)
  CHANGELOG.md
  api/cosmos/auth/v1beta1/auth.pulsar.go
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  api/cosmos/genutil/v1beta1/genesis.pulsar.go
  api/cosmos/gov/v1beta1/gov.pulsar.go
  api/cosmos/gov/v1beta1/tx.pulsar.go
  api/cosmos/gov/v1beta2/gov.pulsar.go
  api/cosmos/gov/v1beta2/tx.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/genutil/v1beta1/genesis.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/gov/v1beta2/gov.proto
  proto/cosmos/gov/v1beta2/tx.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  x/auth/types/auth.pb.go
  x/distribution/types/distribution.pb.go
  x/genutil/types/genesis.pb.go
  x/gov/types/v1beta1/gov.pb.go
  x/gov/types/v1beta1/msgs_test.go
  x/gov/types/v1beta1/tx.pb.go
  x/gov/types/v1beta2/gov.pb.go
  x/gov/types/v1beta2/msgs_test.go
  x/gov/types/v1beta2/tx.pb.go
  x/slashing/types/msg_test.go
  x/slashing/types/tx.pb.go
  x/staking/types/staking.pb.go
Due: modules

tests
  orm/encoding/ormkv/entry.go
  orm/internal/testpb/bank.proto
  orm/internal/testpb/bank.pulsar.go
  orm/model/ormdb/file.go
  orm/model/ormdb/module.go
  orm/model/ormdb/module_test.go
  orm/model/ormdb/testdata/bank_scenario.golden
  orm/model/ormtable/testdata/test_auto_inc.golden
  orm/model/ormtable/testdata/test_scenario.golden
  orm/types/ormerrors/errors.go
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Update changelog entry
  CHANGELOG.md
Due: none

add stable JSON marshaler
  api/cosmos/orm/v1alpha1/orm.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  orm/go.mod
  orm/go.sum
  orm/internal/stablejson/encode.go
  orm/internal/stablejson/encode_test.go
Due: none

update tests and entry encoding
  orm/encoding/ormkv/entry.go
  orm/model/ormdb/testdata/bank_scenario.golden
  orm/model/ormtable/testdata/test_auto_inc.golden
  orm/model/ormtable/testdata/test_scenario.golden
Due: none

revert
  api/cosmos/auth/v1beta1/auth.pulsar.go
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  api/cosmos/genutil/v1beta1/genesis.pulsar.go
  api/cosmos/gov/v1beta1/gov.pulsar.go
  api/cosmos/gov/v1beta1/tx.pulsar.go
  api/cosmos/gov/v1beta2/gov.pulsar.go
  api/cosmos/gov/v1beta2/tx.pulsar.go
  api/cosmos/orm/v1alpha1/orm.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
Due: none

changelog fix
  CHANGELOG.md
Due: none

fix: tests, any json marshaler
  codec/any_test.go
  codec/json.go
  codec/types/compat_v2.go
  x/auth/testutil/suite.go
  x/auth/tx/config_test.go
Due: modules

go mod tidy
  api/go.sum
  go.mod
  go.sum
Due: none

update golden
  orm/model/ormtable/testdata/auto_inc_json.golden
  orm/model/ormtable/testdata/test_auto_inc.golden
  orm/model/ormtable/testdata/test_scenario.golden
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

chore: remove v2 resolver hack
  codec/json.go
  codec/types/any.go
  codec/types/interface_registry.go
Due: none

update api mod
  orm/go.mod
  orm/go.sum
  orm/internal/stablejson/encode_test.go
Due: none

refactor: change marshal/umarshal from interface{} -> gogoproto.Message
  codec/amino_codec.go
  codec/codec.go
  codec/codec_common_test.go
  codec/proto_codec.go
  x/genutil/collect_test.go
Due: modules

fix: marshalinterface args
  codec/amino_codec.go
  codec/codec.go
  codec/codec_common_test.go
  codec/proto_codec.go
Due: none

cleanup
  baseapp/baseapp.go
  baseapp/options.go
  server/export_test.go
  server/mock/app.go
  server/mock/store.go
  server/mock/store_test.go
  server/util.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/test_helpers.go
  simapp/utils.go
  testutil/context.go
  types/store.go
  x/params/types/subspace.go
Due: app, modules

nit, StoreConfig =>StoreParams
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  simapp/app.go
  store/v2/multi/store.go
  store/v2/multi/store_test.go
  x/group/keeper/invariants_test.go
  x/params/types/subspace_test.go
  x/upgrade/types/storeloader.go
  x/upgrade/types/storeloader_test.go
Due: app, modules

add explanations to clarify some details
  docs/architecture/adr-049-state-sync-hooks.md
Due: none

fix: fix the issue of docs bug
  docs/core/proto-docs.md
  docs/core/store.md
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
