Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

wiop: migrate ubdQueue to collections
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper.go
  x/staking/migrations/v2/store_test.go
  x/staking/types/keys.go
Due: modules

add diff test for unbonding delegation
  x/staking/keeper/keeper_test.go
Due: modules

add diff test
  x/staking/keeper/keeper_test.go
Due: modules

chore: add v0.46.15 and v0.47.5 changelogs to main
  CHANGELOG.md
Due: none

fix(math): fix panic in `.Size()`
  math/int.go
  math/int_test.go
Due: none

changelog
  math/CHANGELOG.md
Due: none

updates
  math/CHANGELOG.md
Due: none

updates
  math/int.go
  math/int_test.go
Due: none

wip
  x/staking/keeper/delegation.go
Due: modules

wip: add more changes
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper_test.go
  x/staking/types/keys.go
Due: modules

fix(math): fix panic in `.Size()` (#17480)
  math/CHANGELOG.md
  math/int.go
  math/int_test.go
Due: none

wip: migrate redelegationQueue to collections
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper.go
  x/staking/migrations/v2/store_test.go
  x/staking/types/keys.go
Due: modules

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.1 for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.1 for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.1 for all modules
  core/go.mod
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
Due: none

fix test
  x/staking/keeper/keeper_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

tmp1
  x/accounts/internal/implementation/implementation.go
  x/accounts/internal/implementation/interface.go
  x/accounts/internal/implementation/routers.go
  x/accounts/internal/protoaccount/protoaccount.go
Due: modules

fix(math): incorrect .Size() value
  math/CHANGELOG.md
  math/fuzz_test.go
  math/int.go
  math/int_test.go
  tests/go.mod
  tests/go.sum
  tests/integration/staking/keeper/common_test.go
Due: none

fix integration tests
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
Due: none

remove replace
  tests/go.mod
  tests/go.sum
Due: none

set chainID on withBlockheader call
  types/context.go
Due: none

changelog change
  CHANGELOG.md
Due: none

hack
  math/int.go
  math/int_test.go
Due: none

comment
  math/int.go
Due: none

fix(math): revert #16263
  math/CHANGELOG.md
  math/go.mod
Due: none

updates
  math/fuzz_test.go
  math/int.go
  math/int_test.go
Due: none

remove fuzz
  math/fuzz_test.go
Due: none

fix(math): revert #16263 and add test cases (#17489)
  math/CHANGELOG.md
  math/fuzz_test.go
  math/go.mod
  math/int.go
  math/int_test.go
Due: none

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.2 for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.2 for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/math from 1.0.1 to 1.1.2 for all modules
  core/go.mod
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
Due: none

tmp2
  api/cosmos/bank/module/v1/module.pulsar.go
  proto/cosmos/accounts/internal/testing/testaccount/test.proto
  proto/cosmos/accounts/v1/accounts.proto
  proto/cosmos/accounts/v1/query.proto
  proto/cosmos/accounts/v1/tx.proto
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/internal/implementation/account_test.go
  x/accounts/internal/implementation/implementation_test.go
  x/accounts/internal/implementation/protoaccount.go
  x/accounts/internal/implementation/routers.go
  x/accounts/internal/protoaccount/protoaccount.go
Due: modules

add more test vectors
  proto/cosmos/accounts/internal/testing/testaccount/test.proto
  x/accounts/internal/implementation/implementation_test.go
  x/accounts/internal/implementation/routers.go
  x/accounts/internal/implementation/routers_test.go
Due: modules

updates
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
Due: none

updates
  RELEASE_NOTES.md
Due: none

Apply suggestions from code review
  x/upgrade/abci.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
