Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

add genesis proto changes
  api/cosmos/protocolpool/v1/genesis.pulsar.go
  proto/cosmos/protocolpool/v1/genesis.proto
  x/protocolpool/types/genesis.pb.go
Due: none

wip: genesis fund changes
  x/protocolpool/keeper/genesis.go
  x/protocolpool/module.go
  x/protocolpool/types/genesis.go
Due: modules

build: add cometbft v0.37.3 changelog
  CHANGELOG.md
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

updates
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/lint.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
  contrib/devtools/Dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/rosetta-ci/Dockerfile
  go.mod
  go.work.example
  simapp/go.mod
  tests/go.mod
  tools/cosmovisor/go.mod
  tools/rosetta/go.mod
Due: none

Revert "build(deps): Bump github.com/cometbft/cometbft from 0.37.2 to 0.37.3 (#18515)"
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

add changelog
  math/CHANGELOG.md
Due: none

Revert "build(deps): Bump github.com/cometbft/cometbft from 0.37.2 to 0.37.3" (#18520)
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

fix/cleanup
  x/auth/signing/cache.go
Due: modules

fix(math): preventative ciel call (#18519)
  math/CHANGELOG.md
  math/dec.go
  math/dec_test.go
Due: none

add proto field to keep track of funds distributed
  api/cosmos/protocolpool/v1/types.pulsar.go
  proto/cosmos/protocolpool/v1/types.proto
  x/protocolpool/types/types.pb.go
Due: none

x/auth/signing: start benchmarking
  x/auth/signing/bench_test.go
Due: modules

gov params + clarification
  docs/architecture/adr-069-gov-improvements.md
Due: none

downgrade store
  store/go.mod
  store/go.sum
Due: none

feedback
  docs/architecture/adr-069-gov-improvements.md
Due: none

proto update
  api/cosmos/protocolpool/v1/types.pulsar.go
  proto/cosmos/protocolpool/v1/types.proto
  x/protocolpool/types/types.pb.go
Due: none

add abstracted account flows testing
  tests/e2e/accounts/account_abstraction_test.go
  tests/e2e/accounts/setup_test.go
  x/accounts/keeper.go
  x/accounts/keeper_account_abstraction.go
  x/accounts/testing/account_abstraction/minimal.go
Due: modules

update tx proto
  api/cosmos/protocolpool/v1/tx.pulsar.go
  proto/cosmos/protocolpool/v1/tx.proto
  x/protocolpool/types/tx.pb.go
Due: none

fix: empty app hash on first block's FinalizeBlock
  baseapp/abci.go
Due: app

imp(staking): use default bond denom constant
  x/staking/keeper/msg_server_test.go
Due: modules

refine testing
  tests/e2e/accounts/account_abstraction_test.go
Due: none

imp(staking): use the constant for the ed25519 pubkey type
  types/staking.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
Due: modules

add minor doc follow up
  core/transaction/validation.go
Due: none

feat!: add app version to param store (#360)
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  baseapp/params.go
  x/params/types/consensus_params.go
  x/upgrade/exported/exported.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
Due: app, modules

wip: add tests
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

fix tests
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

maybe finish testing
  simapp/app.go
  tests/e2e/accounts/account_abstraction_test.go
  x/accounts/accountstd/exports.go
  x/accounts/internal/implementation/context.go
  x/accounts/internal/implementation/proto_util.go
  x/accounts/keeper.go
  x/accounts/keeper_account_abstraction.go
  x/accounts/module.go
  x/accounts/msg_server.go
  x/accounts/testing/account_abstraction/full.go
Due: modules

lint
  simapp/app.go
  tests/e2e/accounts/setup_test.go
  x/accounts/accountstd/exports.go
  x/accounts/internal/implementation/context.go
  x/accounts/internal/implementation/context_test.go
  x/accounts/keeper.go
  x/accounts/keeper_account_abstraction.go
  x/accounts/keeper_test.go
  x/accounts/module.go
  x/accounts/msg_server.go
  x/accounts/msg_server_test.go
  x/accounts/testing/account_abstraction/minimal.go
  x/accounts/utils_test.go
  x/auth/client/cli/tx_sign.go
  x/gov/keeper/proposal.go
  x/mint/autocli.go
  x/staking/keeper/cons_pubkey.go
Due: modules

chore: CHANGELOG.md
  CHANGELOG.md
Due: none

Update x/accounts/internal/implementation/api_builder.go
  x/accounts/internal/implementation/api_builder.go
Due: modules

typos
  docs/architecture/adr-069-gov-improvements.md
Due: none

commitment store
  store/commitment/iavl/tree.go
  store/commitment/iavl/tree_test.go
  store/commitment/store.go
  store/commitment/types/tree.go
  store/database.go
  store/pruning/manager_test.go
  store/root/store.go
  store/root/store_test.go
Due: none

rebase
  store/pruning/manager_test.go
Due: none

updates
  baseapp/baseapp.go
Due: app

updates
  store/metrics/metrics.go
  store/root/store.go
  store/root/store_test.go
Due: none

imp(staking): use slices.Contains above instead of manually looping
  x/staking/keeper/msg_server.go
Due: modules

build(deps): Bump github.com/cometbft/cometbft from 0.37.2 to 0.37.3 for all modules
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

wip: add msg server tests
  x/protocolpool/keeper/msg_server_test.go
Due: modules

wip: remove distributed amount field from proto
  api/cosmos/protocolpool/v1/types.pulsar.go
  proto/cosmos/protocolpool/v1/types.proto
  x/protocolpool/types/types.pb.go
Due: none
