Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update msg_server_test.go
  x/staking/keeper/msg_server_test.go
Due: modules

Update operations_test.go
  x/distribution/simulation/operations_test.go
Due: modules

Update tx.go
  x/staking/client/cli/tx.go
Due: modules

Update genesis.go
  x/distribution/simulation/genesis.go
Due: modules

Update genesis_test.go
  x/distribution/simulation/genesis_test.go
Due: modules

Update codec.go
  x/distribution/types/codec.go
Due: modules

Update README.md
  x/slashing/README.md
Due: modules

Update module.go
  x/slashing/module.go
Due: modules

Update 03-vote-extensions.md
  docs/docs/build/abci/03-vote-extensions.md
Due: none

Update expected_keepers.go
  x/slashing/types/expected_keepers.go
Due: modules

Update signing_info.go
  x/slashing/keeper/signing_info.go
Due: modules

Update keeper.go
  x/slashing/keeper/keeper.go
Due: modules

Update msg_server_test.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

Update keeper_test.go
  x/protocolpool/keeper/keeper_test.go
Due: modules

Update genesis_test.go
  x/auth/simulation/genesis_test.go
Due: modules

Update genesis_test.go
  x/bank/simulation/genesis_test.go
Due: modules

Update operations_test.go
  x/bank/simulation/operations_test.go
Due: modules

Update genesis_test.go
  x/evidence/simulation/genesis_test.go
Due: modules

Update genesis_test.go
  x/slashing/simulation/genesis_test.go
Due: modules

Update operations_test.go
  x/slashing/simulation/operations_test.go
Due: modules

Update genesis_test.go
  x/staking/simulation/genesis_test.go
Due: modules

Update operations_test.go
  x/staking/simulation/operations_test.go
Due: modules

Update README.md
  x/authz/README.md
Due: modules

Update filtered_fee.go
  x/feegrant/filtered_fee.go
Due: modules

Update query.pb.go
  x/feegrant/query.pb.go
Due: none

Update autocli.go
  x/auth/vesting/autocli.go
Due: modules

Update keyring_test.go
  crypto/keyring/keyring_test.go
Due: none

Update migrate_test.go
  client/keys/migrate_test.go
Due: client

Update migration_test.go
  crypto/keyring/migration_test.go
Due: none

Update secp256k1_cgo.go
  crypto/keys/secp256k1/secp256k1_cgo.go
Due: none

Update ledger_test.go
  crypto/ledger/ledger_test.go
Due: none

Update armor.go
  crypto/armor.go
Due: none

Update module.go
  depinject/appconfig/module.go
Due: none

Update multisignature.go
  crypto/types/multisig/multisignature.go
Due: none

Update privkey.go
  crypto/keys/secp256r1/privkey.go
Due: none

Update store_test.go
  x/bank/migrations/v2/store_test.go
Due: modules

Update doc.go
  crypto/keys/ed25519/doc.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
