Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore: update changelog (#17506)
  CHANGELOG.md
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

fix tests
  client/keys/migrate_test.go
  testutil/network/network.go
  x/auth/vesting/client/cli/tx_test.go
  x/crisis/client/cli/tx_test.go
  x/feegrant/client/cli/tx_test.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/client/cli/tx_test.go
  x/nft/go.mod
  x/nft/go.sum
Due: modules, client

add docs
  CHANGELOG.md
  UPGRADING.md
  x/auth/vesting/client/cli/tx_test.go
Due: modules

lint + changelog + tests
  CHANGELOG.md
  client/context_test.go
  x/gov/migrations/v3/convert.go
Due: modules, client

updates
  client/context_test.go
  client/keys/add_ledger_test.go
Due: client

use typed version instead of bytes
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
Due: modules

address review comment
  x/staking/keeper/grpc_query.go
Due: modules

fix last test
  client/keys/add_ledger_test.go
Due: client

all tests
  client/keys/add_ledger_test.go
Due: client

use dvvTriplet instead of bytes
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/types/keys.go
Due: modules

add changelog
  CHANGELOG.md
Due: none

bump iavl in store
  store/go.mod
  store/go.sum
  store/iavl/store.go
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
Due: none

retain same error on collections not found error
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/staking/keeper/msg_server_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/unbonding_test.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
Due: modules

remove global
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/hubl/internal/keyring.go
  tools/hubl/internal/remote.go
  tools/hubl/internal/root.go
  tools/hubl/internal/util.go
Due: none

cleanup
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/unbonding_test.go
  x/staking/keeper/validator_test.go
Due: modules

feat(accounts): implement account state isolation (#17507)
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/internal/implementation/account_test.go
  x/accounts/internal/implementation/context.go
  x/accounts/internal/implementation/context_test.go
  x/accounts/internal/prefixstore/prefixstore.go
Due: modules

wip: use UnbondingDelegations type instead of bytes
  simapp/export.go
  x/staking/keeper/delegation.go
  x/staking/keeper/genesis.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/invariants.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/query_utils.go
  x/staking/keeper/unbonding.go
Due: modules

fix keeper test
  x/staking/keeper/keeper_test.go
Due: modules

make lint-fix
  x/gov/migrations/v3/convert.go
Due: modules

improve changelog and nit
  CHANGELOG.md
  x/staking/keeper/delegation.go
Due: modules

fix(rpc): change the default json-rpc listen address to localhost (#17470)
  CHANGELOG.md
  Makefile
  docs/docs/run-node/06-run-production.md
  server/start.go
  simapp/simd/cmd/testnet.go
  tests/starship/tests/suite.go
  testutil/network/network.go
  testutil/network/util.go
  x/gov/migrations/v3/convert.go
Due: modules

chore: remove deprecated prop type
  x/gov/README.md
Due: modules

fix(circuit): Reset only doable by authorized account
  x/circuit/keeper/msg_server.go
  x/circuit/keeper/msg_server_test.go
Due: modules

lint
  x/circuit/keeper/msg_server_test.go
Due: modules

chore(docs): remove deprecated prop type (#17510)
  x/gov/README.md
Due: modules

feat(debug): use address codec in debug command
  client/debug/main.go
Due: client

updates
  client/debug/main.go
  x/auth/codec/bech32_codec.go
Due: modules, client

update comment
  x/auth/codec/bech32_codec.go
Due: modules

updates
  client/debug/main.go
Due: client

feat(client): allow overwritting client.toml
  client/config/config.go
  client/config/config_test.go
  client/config/toml.go
  server/config/toml.go
  simapp/simd/cmd/commands.go
  simapp/simd/cmd/root_v2.go
  tools/confix/upgrade.go
Due: client

feat: BTree (SQLlite) SS Backend Implementation (#17414)
  store/database.go
  store/go.mod
  store/go.sum
  store/iterator.go
  store/storage/pebbledb/db.go
  store/storage/rocksdb/db_test.go
  store/storage/sqlite/batch.go
  store/storage/sqlite/db.go
  store/storage/sqlite/db_test.go
  store/storage/sqlite/iterator.go
  store/storage/storage_test_suite.go
Due: none

add account creation logic
  x/accounts/account_test.go
  x/accounts/module.go
  x/accounts/module_test.go
Due: modules

enhance todo docs
  x/accounts/module.go
Due: modules

make lint fix
  x/accounts/account_test.go
  x/accounts/module.go
  x/accounts/module_test.go
  x/gov/migrations/v3/convert.go
Due: modules

better param names
  x/accounts/module.go
Due: modules

add helper
  x/accounts/module_test.go
Due: modules

utilizing voting power from VEs
  baseapp/abci_test.go
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
  baseapp/testutil/mock/mocks.go
  tests/integration/staking/keeper/vote_extensions_test.go
Due: app

changelog
  CHANGELOG.md
  baseapp/abci_utils_test.go
Due: app

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
