Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Added missing isCheckTx flag during gov prop simulation.
  x/gov/keeper/proposal.go
Due: modules

Added comment and CHANGELOG entry.
  CHANGELOG.md
  x/gov/keeper/proposal.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

fix test
  tests/e2e/auth/suite.go
Due: none

feat!: simplify `AppModuleBasic` interface for CLI
  types/module/module.go
  x/auth/vesting/module.go
  x/consensus/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/mint/module.go
  x/params/module.go
  x/staking/module.go
Due: modules

updates
  docs/docs/core/07-cli.md
  types/module/module.go
  x/auth/module.go
  x/nft/module/module.go
Due: modules

fix build
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
Due: modules

Update 06-keeper.md
  docs/docs/building-modules/06-keeper.md
Due: none

correction to: added back min-self-delegation flagged as deprecated
  proto/cosmos/staking/v1beta1/staking.proto
  x/staking/types/staking.pb.go
Due: none

removed BeforeTokenizeShareRecordRemoved hook
  x/distribution/keeper/hooks.go
  x/slashing/keeper/hooks.go
  x/staking/keeper/hooks.go
  x/staking/keeper/msg_server.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
  x/staking/types/hooks_template.go
Due: modules

removed duplicate lines
  x/gov/keeper/proposal_test.go
Due: modules

docs: improve keeper docs formatting (#16891)
  docs/docs/building-modules/06-keeper.md
Due: none

Revert "fix: remove setting of finalizeBlockState in FinalizeBlock + fix initialHeight + add ProcessProposal in tests/sims (#16794)"
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp_test.go
  baseapp/msg_service_router_test.go
  baseapp/streaming_test.go
  server/mock/app_test.go
  simapp/test_helpers.go
  tests/e2e/server/export_test.go
  tests/integration/bank/app_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/store/rootmulti/rollback_test.go
  testutil/integration/example_test.go
  testutil/integration/options.go
  testutil/integration/router.go
  testutil/sims/tx_helpers.go
  x/simulation/simulate.go
  x/slashing/app_test.go
  x/staking/app_test.go
Due: app, modules

fix: Revert 16794 (#16895)
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp_test.go
  baseapp/msg_service_router_test.go
  baseapp/streaming_test.go
  server/mock/app_test.go
  simapp/test_helpers.go
  tests/e2e/server/export_test.go
  tests/integration/bank/app_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/store/rootmulti/rollback_test.go
  testutil/integration/example_test.go
  testutil/integration/options.go
  testutil/integration/router.go
  testutil/sims/tx_helpers.go
  x/simulation/simulate.go
  x/slashing/app_test.go
  x/staking/app_test.go
Due: app, modules

fix: Revert 16794 (#16895)
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp_test.go
  baseapp/msg_service_router_test.go
  baseapp/streaming_test.go
  server/mock/app_test.go
  simapp/test_helpers.go
  tests/e2e/server/export_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/store/rootmulti/rollback_test.go
  testutil/integration/example_test.go
  testutil/integration/options.go
  testutil/integration/router.go
  testutil/sims/tx_helpers.go
  x/bank/app_test.go
  x/simulation/simulate.go
  x/slashing/app_test.go
  x/staking/app_test.go
Due: app, modules

feat: Add preFinalizeBlockHook to allow VE persistence
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/options.go
  types/abci.go
Due: app

cl++
  CHANGELOG.md
Due: none

feat(bank): autocli query support
  CHANGELOG.md
  tests/e2e/auth/cli_test.go
  tests/e2e/auth/suite.go
  tests/e2e/bank/suite.go
  tests/e2e/gov/tx.go
  tests/integration/auth/client/cli/suite_test.go
  testutil/cli/cmd.go
  x/bank/autocli.go
  x/bank/client/cli/query.go
  x/bank/client/cli/query_test.go
  x/bank/client/cli/suite_test.go
  x/bank/client/cli/tx_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/module.go
Due: modules

fix changelog
  CHANGELOG.md
Due: none

updates
  CHANGELOG.md
  tests/e2e/auth/cli_test.go
  tests/e2e/auth/suite.go
  x/bank/autocli.go
  x/bank/client/cli/tx_test.go
Due: modules

fixes
  x/bank/autocli.go
Due: modules

feat(auth): autocli query support (#16650)
  CHANGELOG.md
  tests/e2e/auth/suite.go
  tests/integration/auth/client/cli/suite_test.go
  x/auth/autocli.go
  x/auth/client/cli/query.go
  x/auth/client/testutil/helpers.go
  x/auth/keeper/grpc_query_test.go
  x/auth/module.go
Due: modules

update docs
  UPGRADING.md
  docs/docs/building-modules/01-module-manager.md
  docs/docs/building-modules/09-module-interfaces.md
  docs/docs/core/03-node.md
  docs/docs/core/07-cli.md
  tools/confix/README.md
  tools/rosetta/README.md
Due: none

add changelog
  CHANGELOG.md
Due: none

`make mocks`
  scripts/mockgen.sh
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/module_test.go
  x/auth/module.go
Due: modules

specific
  docs/docs/building-modules/01-module-manager.md
  docs/docs/core/07-cli.md
Due: none

word
  docs/docs/building-modules/09-module-interfaces.md
Due: none

circuit audit changes
  x/circuit/README.md
  x/circuit/client/cli/tx.go
  x/circuit/keeper/genesis_test.go
  x/circuit/keeper/keeper.go
  x/circuit/keeper/msg_server_test.go
  x/circuit/keeper/query.go
  x/circuit/types/msgs.go
Due: modules

updates
  x/tx/signing/textual/fuzz_test.go
Due: modules

try fixing lint
  x/circuit/keeper/genesis_test.go
Due: modules

fix typos
  tests/e2e/auth/suite.go
Due: none

perf: benchmark end-to-end transaction submit
  tests/e2e/tx/benchmarks_test.go
Due: none

feat(bank): autocli query support (#16899)
  CHANGELOG.md
  tests/e2e/auth/suite.go
  tests/e2e/bank/suite.go
  tests/e2e/gov/tx.go
  tests/integration/auth/client/cli/suite_test.go
  testutil/cli/cmd.go
  x/bank/autocli.go
  x/bank/client/cli/query.go
  x/bank/client/cli/query_test.go
  x/bank/client/cli/suite_test.go
  x/bank/client/cli/tx_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/module.go
Due: modules

feat(upgrade): autocli query support
  x/upgrade/autocli.go
  x/upgrade/client/cli/query.go
  x/upgrade/client/cli/query_test.go
  x/upgrade/module.go
Due: modules

updates
  x/upgrade/autocli.go
Due: modules

fix conflicts
  x/bank/keeper/grpc_query_test.go
Due: modules

improve changelog
  CHANGELOG.md
Due: none
