Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      client:
        flags: client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

remove charging additional fees using bankkeeper.SendCoinsFromAccountToModule
  simapp/app.go
  x/auth/pubkey/handler.go
  x/auth/pubkey/handler_test.go
  x/auth/pubkey/module.go
  x/auth/pubkey/types/expected_keepers.go
Due: modules

Fix to appCodec
  docs/basics/app-anatomy.md
Due: none

modify module name from pubkey to changepubkey
  proto/cosmos/changepubkey/v1beta1/tx.proto
  x/auth/changepubkey/client/cli/cli_test.go
  x/auth/changepubkey/client/cli/tx.go
  x/auth/changepubkey/handler.go
  x/auth/changepubkey/handler_test.go
  x/auth/changepubkey/module.go
  x/auth/changepubkey/types/codec.go
  x/auth/changepubkey/types/common_test.go
  x/auth/changepubkey/types/constants.go
  x/auth/changepubkey/types/msgs.go
  x/auth/changepubkey/types/test_common.go
  x/auth/changepubkey/types/tx.pb.go
Due: modules

Modify package name from pubkey to changepubkey to eliminate confusing
  simapp/app.go
  simapp/simd/cmd/root.go
  std/codec.go
  x/auth/changepubkey/types/tx.pb.go
Due: none

Modify MsgChangePubKey ValidateBasic function for pubkey validation
  x/auth/changepubkey/types/msgs.go
Due: modules

test fixes
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/handler_test.go
Due: modules

create ADR 028: Change PubKey prototype
  docs/architecture/adr-028-change-pubkey.md
Due: none

fix test
  x/msg_authorization/keeper/keeper.go
  x/msg_authorization/keeper/keeper_test.go
Due: modules

WIP on adding Fee granter field
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/tx.pb.go
  types/tx_msg.go
  x/auth/ante/ante.go
  x/auth/ante/fee_grant.go
Due: modules

WIP on adding Fee granter field
  x/auth/ante/fee_grant.go
  x/auth/legacy/legacytx/stdtx.go
  x/auth/tx/builder.go
Due: modules

Apply suggestions from code review
  x/ibc/07-tendermint/types/upgrade.go
  x/upgrade/keeper/keeper.go
Due: modules

Update Makefile
  Makefile
Due: none

Add versioned docs to build-docs task (#7413)
  Makefile
  docs/versions
Due: none

change signer to string in proto
  proto/ibc/client/client.proto
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/msgs_test.go
Due: modules

lint
  x/ibc/02-client/types/msgs.go
  x/upgrade/keeper/keeper.go
Due: modules

Add PrivKeyLedgerSecp256K1 proto type
  client/debug/main.go
  crypto/armor.go
  crypto/codec/amino.go
  crypto/codec/proto.go
  crypto/hd/hdpath.go
  crypto/hd/hdpath.pb.go
  crypto/keyring/info.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/legacy.go
  crypto/keyring/output_test.go
  crypto/keys/ed25519/ed25519_test.go
  crypto/keys/multisig/multisig.go
  crypto/ledger/amino.go
  crypto/ledger/encode_test.go
  crypto/ledger/keys.pb.go
  crypto/ledger/ledger_secp256k1.go
  crypto/ledger/ledger_test.go
  crypto/types/multisig/multisignature.go
  crypto/types/multisig/pubkey.go
  go.sum
  proto/cosmos/crypto/hd/v1beta1/hdpath.proto
  proto/cosmos/crypto/ledger/keys.proto
  types/tx/signing/signature.go
  x/auth/legacy/legacytx/stdsign.go
  x/auth/legacy/legacytx/stdtx.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/testutil/suite.go
  x/staking/types/msg.go
Due: modules, client

Remove comment
  contrib/devtools/proto-tools-installer.sh
Due: none

start address @colin-axner review
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/types/client.go
  x/ibc/02-client/types/msgs.go
  x/upgrade/types/upgrade.pb.go
Due: modules

fix comment bug in make build-docs
  Makefile
Due: none

improve test coverage
  x/ibc/02-client/handler_test.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/07-tendermint/types/upgrade_test.go
  x/upgrade/keeper/keeper_test.go
Due: modules

fix comment bug in make build-docs (#7420)
  Makefile
Due: none

fix abci stringer test
  x/upgrade/abci_test.go
Due: modules

Modify ADR paper from comment
  docs/architecture/adr-028-change-pubkey.md
  x/auth/changepubkey/handler.go
Due: modules

Create params port for change pubkey and write utils / unit test && add query params cli
  docs/architecture/adr-028-change-pubkey.md
  proto/cosmos/changepubkey/v1beta1/params.proto
  proto/cosmos/changepubkey/v1beta1/query.proto
  x/auth/changepubkey/client/cli/cli_test.go
  x/auth/changepubkey/client/cli/query.go
  x/auth/changepubkey/spec/01_params.md
  x/auth/changepubkey/types/params.go
  x/auth/changepubkey/types/params.pb.go
  x/auth/changepubkey/types/params_test.go
  x/auth/changepubkey/types/query.pb.go
  x/auth/changepubkey/types/query.pb.gw.go
Due: modules

Improving the loading of new stores
  go.mod
  go.sum
  store/iavl/store.go
  store/iavl/store_test.go
Due: none

address comments
  x/genutil/collect.go
  x/genutil/collect_test.go
Due: modules

proto files update
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
Due: none

fix
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
Due: modules

update proto files
  proto/ibc/lightclients/localhost/v1/localhost.proto
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
  x/ibc/light-clients/09-localhost/types/localhost.pb.go
Due: none

fix test build
  x/ibc/02-client/handler_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
Due: modules

Update x/ibc/light-clients/solomachine/spec/01_concepts.md
  x/ibc/light-clients/solomachine/spec/01_concepts.md
Due: modules

increase code cov, update spec
  x/ibc/light-clients/solomachine/spec/01_concepts.md
  x/ibc/light-clients/solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/solomachine/types/proof_test.go
Due: modules

format spec
  x/ibc/light-clients/solomachine/spec/01_concepts.md
Due: modules

Add msg types tests
  proto/cosmos/msg_authorization/query.proto
  simapp/app.go
  x/msg_authorization/client/cli/query.go
  x/msg_authorization/client/cli/tx.go
  x/msg_authorization/keeper/keeper.go
  x/msg_authorization/keeper/keeper_test.go
  x/msg_authorization/keeper/querier.go
  x/msg_authorization/module.go
  x/msg_authorization/types/msgs_test.go
  x/msg_authorization/types/querier.go
  x/msg_authorization/types/query.pb.go
  x/msg_authorization/types/query.pb.gw.go
Due: modules

fix test build
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/plan_test.go
Due: modules

update proto files
  proto/ibc/applications/transfer/v1/genesis.proto
  proto/ibc/applications/transfer/v1/query.proto
  proto/ibc/applications/transfer/v1/transfer.proto
  x/ibc/applications/transfer/types/genesis.pb.go
  x/ibc/applications/transfer/types/query.pb.go
  x/ibc/applications/transfer/types/query.pb.gw.go
  x/ibc/applications/transfer/types/transfer.pb.go
Due: modules

Fix keyring backend issue in AddGenesisAccountCmd
  simapp/simd/cmd/genaccounts.go
Due: none
