Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

finished most of cleanup
  x/distribution/simulation/operations_test.go
  x/protocolpool/simulation/operations_test.go
  x/slashing/app_test.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/operations_test.go
  x/staking/app_test.go
Due: modules

Update proto/cosmos/store/v1beta1/listening.proto
  proto/cosmos/store/v1beta1/listening.proto
Due: none

init commit
  store/gaskv/store.go
  store/memkv/store.go
Due: none

chore: ignore store v1 proto generation (#18224)
  api/cosmos/gov/module/v1/module.pulsar.go
  proto/cosmos/store/internal/kv/v1beta1/kv.proto
  proto/cosmos/store/snapshots/v1/snapshot.proto
  proto/cosmos/store/streaming/abci/grpc.proto
  proto/cosmos/store/v1beta1/commit_info.proto
  proto/cosmos/store/v1beta1/listening.proto
  scripts/protocgen.sh
Due: none

updates
  store/gas.go
  store/gaskv/store.go
  store/store.go
Due: none

updates
  store/gas.go
Due: none

fix livness test
  contrib/images/simd-env/Dockerfile
Due: none

fixed some tests and improved error handling
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
Due: modules

lint-fix
  x/auth/ante/sigverify_test.go
Due: modules

fix(simapp): textual wiring
  client/cmd.go
  client/tx/factory.go
  simapp/simd/cmd/root_v2.go
Due: client

added multisig handling
  x/auth/ante/sigverify.go
Due: modules

fix lint
  x/distribution/testutil/app_config.go
Due: modules

fix tests
  CHANGELOG.md
  x/slashing/simulation/operations_test.go
Due: modules

fix linting
  x/slashing/abci.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/keeper/genesis.go
  x/slashing/keeper/genesis_test.go
  x/slashing/keeper/grpc_query.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/migrations.go
  x/slashing/keeper/msg_server.go
  x/slashing/keeper/msg_server_test.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/keeper/unjail.go
  x/slashing/migrations/v4/migrate.go
  x/slashing/migrations/v4/migrate_test.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/genesis.go
  x/slashing/simulation/genesis_test.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/operations_test.go
  x/slashing/simulation/proposals.go
  x/slashing/simulation/proposals_test.go
  x/slashing/testutil/app_config.go
Due: modules

updates
  store/gas.go
  store/kv/gaskv/store.go
Due: none

updates
  store/gas.go
  store/kv/gaskv/store.go
  store/store.go
Due: none

lint fix
  testutil/testdata/tx.go
Due: none

update docs
  x/auth/tx/config/config.go
Due: modules

autocli fixes
  client/v2/autocli/msg.go
Due: client

updates
  store/kv/gaskv/store.go
Due: none

updates
  store/kv/branch/README.md
  store/kv/branch/iterator.go
  store/kv/branch/store.go
  store/kv/branch/store_test.go
  store/kv/mem/README.md
  store/kv/mem/iterator.go
  store/kv/mem/store.go
  store/kv/mem/store_test.go
  store/kv/trace/README.md
  store/kv/trace/doc.go
  store/kv/trace/iterator.go
  store/kv/trace/store.go
  store/kv/trace/store_test.go
  store/memkv/README.md
Due: none

updates
  store/root/store.go
Due: none

updates
  client/tx/tx.go
  client/v2/autocli/msg.go
  client/v2/go.mod
Due: client

fix(math): fix panic on Uint.BigInt() (#18228)
  math/CHANGELOG.md
  math/uint.go
  math/uint_test.go
Due: none

update upgrading.md
  UPGRADING.md
Due: none

chore(store/v2): move kv stores to kv sub-package (#18243)
  store/kv/branch/README.md
  store/kv/branch/iterator.go
  store/kv/branch/store.go
  store/kv/branch/store_test.go
  store/kv/mem/README.md
  store/kv/mem/iterator.go
  store/kv/mem/store.go
  store/kv/mem/store_test.go
  store/kv/trace/README.md
  store/kv/trace/doc.go
  store/kv/trace/iterator.go
  store/kv/trace/store.go
  store/kv/trace/store_test.go
  store/memkv/README.md
  store/root/store.go
Due: none

updates
  store/kv/gas/store.go
Due: none

fix(simapp): textual wiring (#18242)
  UPGRADING.md
  client/cmd.go
  client/tx/factory.go
  client/tx/tx.go
  client/v2/autocli/msg.go
  client/v2/go.mod
  simapp/simd/cmd/root_v2.go
  x/auth/tx/config/config.go
Due: modules, client

fix conflicts
  UPGRADING.md
  client/tx/factory.go
  client/tx/tx.go
  client/v2/go.mod
  client/v2/go.sum
Due: client

bump client/v2 in simapp
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

lint fix
  testutil/testdata/grpc_query.go
Due: none

lint fix
  testutil/testdata/animal.go
Due: none

linter fixes
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/staking/keeper/deterministic_test.go
  testutil/testdata/grpc_query.go
  x/auth/keeper/deterministic_test.go
Due: modules

trim space
  types/chain_id.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
