Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      client:
        flags: client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

migrate tx type to bare
  x/auth/client/query.go
  x/auth/client/tx.go
  x/auth/client/tx_test.go
  x/gov/client/utils/query_test.go
Due: modules

Ignore caches during export
  store/rootmulti/store.go
Due: none

Use local tm-db as well
  go.mod
  go.sum
Due: none

Initial snapshot store
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  server/constructors.go
  server/start.go
  store/snapshot/store.go
  types/types.pb.go
  types/types.proto
Due: app

Simplified Snapshotter interface
  baseapp/baseapp.go
  go.sum
  server/mock/store.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/snapshot/store.go
  store/types/store.go
Due: app

Split chunk writer and reader to separate file
  store/rootmulti/store.go
  store/rootmulti/utils.go
Due: none

migrate auth client
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/decode.go
  x/auth/client/cli/encode.go
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/decode.go
  x/auth/client/rest/encode.go
Due: modules

update auth types
  x/auth/types/stdtx.go
  x/auth/types/stdtx_test.go
Due: modules

reorder fields
  codec/std/codec.pb.go
  codec/std/codec.proto
Due: none

Msgs tests
  codec/std/msgs_test.go
Due: none

Update ADR
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: none

Update StdTx
  x/auth/types/stdtx.go
Due: modules

update decoder
  x/distribution/simulation/decoder.go
  x/distribution/simulation/decoder_test.go
Due: modules

Cleaned up multistore snapshot/restore
  store/rootmulti/store.go
  store/rootmulti/utils.go
  types/types.pb.go
  types/types.proto
Due: none

migrate supply decoder
  x/supply/simulation/decoder.go
  x/supply/simulation/decoder_test.go
Due: modules

Test tx
  codec/std/tx.go
  codec/std/tx_test.go
Due: none

DRY code
  codec/std/tx.go
  types/codec.go
  types/tx_msg.go
Due: none

Update godoc
  types/codec.go
Due: none

migrate stake encoding
  x/staking/types/delegation.go
  x/staking/types/historical_info.go
  x/staking/types/params.go
  x/staking/types/validator.go
Due: modules

migrate staking simulation
  x/staking/simulation/decoder.go
  x/staking/simulation/decoder_test.go
Due: modules

Improved snapshotting
  baseapp/baseapp.go
  store/snapshot/store.go
Due: app

Properly close exporters and importers
  store/rootmulti/store.go
Due: none

migrate genutil
  x/genutil/gentx.go
Due: modules

migrate simapp test helpers
  simapp/test_helpers.go
  simapp/utils_test.go
Due: none

migrate docs
  docs/architecture/adr-019-protobuf-state-encoding.md
  docs/core/store.md
Due: none

Added snapshot loading
  store/snapshot/store.go
Due: none

upgrade changelog
  CHANGELOG.md
Due: none

Added snapshot pruning
  baseapp/abci.go
  store/snapshot/store.go
Due: app

Added snapshot listing
  store/snapshot/store.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update context
  client/context/context.go
  client/tx/tx.go
  codec/std/tx.go
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Due: client

Use prefix db for snapshot store
  baseapp/baseapp.go
  server/constructors.go
  server/start.go
Due: app

fix go.sum
  go.mod
  go.sum
Due: none

client/context: persist initliase CLIContext's keybase upon GetFromFields() call
  client/context/context.go
  client/context/context_test.go
Due: client

x/auth/types: MakeSignature() fails if supplied keybase is nil.
  x/auth/types/txbuilder.go
Due: modules

Fix rest tests
  types/rest/rest_test.go
Due: none

Don't init keybase if from is empty
  client/context/context.go
  types/rest/rest_test.go
Due: client

NewTxBuilderFromCLI() won't initialise keybase
  client/context/context.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/types/txbuilder.go
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/genutil/client/cli/gentx.go
  x/gov/client/cli/tx.go
  x/params/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
  x/upgrade/client/cli/tx.go
Due: modules, client

Test constructor
  x/auth/types/txbuilder_test.go
Due: modules
