Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fixup! feat(cosmovisor): allow zip files with a dummy parent entry
  cosmovisor/upgrade.go
Due: none

build(deps): Bump google.golang.org/protobuf from 1.28.2-0.20230222093303-bc1253ad3743 to 1.29.0 in /orm for all modules
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  errors/go.mod
  errors/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump google.golang.org/protobuf from 1.28.2-0.20230222093303-bc1253ad3743 to 1.29.0 for all modules
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  errors/go.mod
  errors/go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump github.com/prometheus/common from 0.41.0 to 0.42.0 for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump google.golang.org/protobuf from 1.28.2-0.20230222093303-bc1253ad3743 to 1.29.0 in /client/v2 for all modules
  api/go.mod
  api/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  errors/go.mod
  errors/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

build(deps): Bump github.com/golang/protobuf from 1.5.2 to 1.5.3 for all modules
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  errors/go.mod
  errors/go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

get chain id from genesis
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  client/pruning/main.go
  server/rollback.go
  server/start.go
  server/util.go
Due: app, client

progress
  baseapp/abci.go
  baseapp/baseapp.go
Due: app

progress
  simapp/sim_test.go
Due: none

updates
  baseapp/baseapp.go
Due: app

progress
  simapp/test_helpers.go
Due: none

progress
  testutil/network/network.go
Due: none

backwards compat
  codec/collections.go
  codec/collections_test.go
  x/bank/keeper/view.go
Due: modules

add doc
  CHANGELOG.md
Due: none

chore: fix lint
  Makefile
  crypto/keyring/keyring.go
  x/auth/vesting/cmd/vestcalc/vestcalc.go
  x/auth/vesting/handler_test.go
  x/auth/vesting/types/common_test.go
  x/auth/vesting/types/msgs.go
  x/auth/vesting/types/period.go
  x/auth/vesting/types/period_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/staking/keeper/delegation.go
Due: modules

progress
  simapp/test_helpers.go
  testutil/network/network.go
Due: none

feat: Create ABCI++ Verfication Methods (#15298)
  baseapp/baseapp.go
  docs/docs/building-apps/02-app-mempool.md
  simapp/app.go
  simapp/app_v2.go
Due: app

pagination fix
  types/query/collections_pagination.go
Due: none

progress
  baseapp/abci.go
  baseapp/abci_test.go
Due: app

chore gofmt
  codec/collections.go
  codec/collections_test.go
  x/bank/keeper/view.go
Due: modules

fix core test
  core/coins/format_test.go
Due: none

fix leak
  server/start.go
Due: none

fix core test 2
  core/coins/format_test.go
Due: none

updates
  go.mod
  go.sum
Due: none

don't introduce new dep in v0.47
  baseapp/baseapp.go
Due: app

updates
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

complete go mod revert
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

fix dependency review bot
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
Due: none

fix dependency review bot
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
Due: none

address decode
  x/circuit/keeper/msg_authorize_test.go
  x/circuit/keeper/msg_reset_test.go
  x/circuit/keeper/msg_server.go
  x/circuit/keeper/msg_server_test.go
  x/circuit/keeper/msg_trip_test.go
  x/circuit/keeper/query_test.go
  x/circuit/keeper/test_utils.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
