Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

feat: add apphash to process proposal calls (#17401)
  baseapp/abci.go
Due: app

fix conflicts
  CHANGELOG.md
  server/config/toml.go
  server/util.go
  server/util_test.go
  tools/confix/data/v0.47-app.toml
  tools/confix/data/v0.50-app.toml
Due: none

revert
  server/config/toml.go
Due: none

fix conflicts
  server/config/toml.go
  server/util_test.go
  tools/confix/data/v0.47-app.toml
  tools/confix/data/v0.50-app.toml
Due: none

Refactor tests
  x/staking/types/keys_test.go
  x/staking/types/validator_test.go
Due: modules

updates
  store/storage/pebbledb/comparator.go
  store/storage/pebbledb/comparator_test.go
  store/storage/pebbledb/db.go
  store/storage/pebbledb/db_test.go
  store/storage/pebbledb/iterator.go
Due: none

updates
  store/storage/pebbledb/comparator.go
  store/storage/pebbledb/comparator_test.go
  store/storage/pebbledb/db.go
  store/storage/pebbledb/iterator.go
Due: none

updates
  store/go.mod
  store/go.sum
  store/storage/sqllite/db.go
Due: none

build(deps): Bump cosmossdk.io/core from 0.9.1-0.20230814191920-98b67a87e5c9 to 0.10.0 in /simapp for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/core from 0.9.0 to 0.10.0 in /x/tx for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/core from 0.9.1-0.20230814191920-98b67a87e5c9 to 0.10.0 for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

update CHANGELOG.md
  CHANGELOG.md
Due: none

build(deps): Bump cosmossdk.io/core from 0.9.1-0.20230814191920-98b67a87e5c9 to 0.10.0 in /x/evidence for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

updates
  store/storage/sqllite/db.go
Due: none

review changes
  x/staking/keeper/delegation.go
Due: modules

refactor: remove collections.ErrInvalidIterator when unecessary (#17367)
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/circuit/keeper/genesis.go
  x/circuit/keeper/query.go
  x/evidence/genesis.go
  x/evidence/genesis_test.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/deposit.go
  x/gov/keeper/invariants.go
  x/gov/keeper/tally.go
  x/gov/simulation/operations.go
Due: modules

add: import hex keys
  client/keys/import.go
  client/keys/import_test.go
  client/keys/root.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Due: client

changelog
  CHANGELOG.md
Due: none

remove cmtproto.Header from modules that are not using it
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/test_helpers.go
  simapp/gomod2nix.toml
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  testutil/context.go
  testutil/integration/example_test.go
  types/context.go
  types/context_test.go
  types/mempool/mempool_test.go
  types/mempool/priority_nonce_test.go
  types/mempool/sender_nonce_property_test.go
  types/mempool/sender_nonce_test.go
  types/module/module_test.go
  x/auth/simulation/proposals_test.go
  x/bank/simulation/proposals_test.go
  x/distribution/simulation/proposals_test.go
  x/gov/simulation/proposals_test.go
  x/group/keeper/invariants_test.go
  x/mint/simulation/proposals_test.go
  x/params/simulation/operations_test.go
  x/params/simulation/proposals_test.go
  x/params/types/subspace_test.go
  x/simulation/params_test.go
  x/slashing/simulation/proposals_test.go
  x/staking/simulation/proposals_test.go
Due: app, modules

few more removals
  baseapp/abci.go
  x/auth/ante/testutil_test.go
  x/authz/module/abci_test.go
  x/circuit/ante/circuit_test.go
  x/circuit/keeper/keeper_test.go
  x/consensus/keeper/keeper_test.go
Due: app, modules

add: improve long message
  client/keys/import.go
Due: client

feat(Dec): MulRoundUp
  math/dec.go
  math/dec_test.go
Due: none

changelog
  math/CHANGELOG.md
Due: none

lint
  math/dec_test.go
Due: none

updates
  math/CHANGELOG.md
Due: none

revert conflict
  math/dec.go
Due: none

fix: root test
  client/keys/root_test.go
Due: client

refactor(x/staking): migrate redelegation key to use collections (#17315)
  CHANGELOG.md
  tests/integration/staking/keeper/grpc_query_test.go
  tests/integration/staking/keeper/slash_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/keeper.go
  x/staking/keeper/query_utils.go
  x/staking/migrations/v2/keys.go
  x/staking/migrations/v2/store_test.go
  x/staking/simulation/decoder_test.go
  x/staking/types/keys.go
Due: modules

added mutext to mempools
  types/mempool/priority_nonce.go
  types/mempool/sender_nonce.go
Due: none

review changes
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper.go
Due: modules

fix tests
  x/staking/keeper/delegation.go
Due: modules

update: key-type as flag
  client/keys/import.go
  client/keys/import_test.go
Due: client

replace RunMigrationBeginBlock with PreBeginBlock
  CHANGELOG.md
  UPGRADING.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  core/appmodule/module.go
  docs/docs/building-apps/03-app-upgrade.md
  docs/docs/building-modules/01-module-manager.md
  docs/docs/core/00-baseapp.md
  runtime/app.go
  runtime/builder.go
  simapp/app.go
  testutil/mock/types_mock_appmodule.go
  types/abci.go
  types/module/mock_appmodule_test.go
  types/module/module.go
  types/module/module_test.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/module.go
Due: app, modules

fix: lint
  client/keys/import.go
Due: client

fix test
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  x/upgrade/abci_test.go
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

update CHANGELOG.md
  collections/CHANGELOG.md
Due: none

add unreleased
  collections/CHANGELOG.md
Due: none

chore(collections): prepare changelog for v0.4.0 release (#17428)
  collections/CHANGELOG.md
Due: none

review changes
  x/staking/keeper/delegation.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/keeper.go
Due: modules
