Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Update core/event/service.go
  core/event/service.go
Due: none

support more annotations
  codec/aminojson/README.md
  codec/aminojson/json_marshal.go
  proto/cosmos/distribution/v1beta1/distribution.proto
Due: none

updates
  x/gov/README.md
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/keeper/deposit_test.go
Due: modules

updates
  x/gov/keeper/deposit_test.go
Due: modules

add logger package
  go.work.example
  log/go.mod
  log/logger.go
  log/noop_logger.go
Due: none

chore: add triage label (#14869)
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/pr_labeler.yml
Due: none

test
  .github/workflows/issue_labeler.yml
Due: none

Mark v0.46.8-pio-2 in the changelog and release notes.
  CHANGELOG.md
Due: none

chore: fix action (#14874)
  .github/workflows/issue_labeler.yml
Due: none

fix gofumpt
  types/module/module_test.go
Due: none

Support more annotations, add one to distribution.proto
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  api/cosmos/orm/module/v1alpha1/module.pulsar.go
  codec/aminojson/json_marshal.go
  codec/aminojson/json_marshal_test.go
  proto/cosmos/distribution/v1beta1/distribution.proto
  x/distribution/types/distribution.pb.go
Due: none

add various tooling
  .github/workflows/test.yml
  log/CHANGELOG.md
  log/logger.go
  log/noop_logger.go
  log/sonar-project.properties
Due: none

add label and depndabot
  .github/dependabot.yml
  .github/pr_labeler.yml
Due: none

move and fix
  .github/workflows/test.yml
Due: none

remove cache due to no go.sum
  .github/workflows/test.yml
Due: none

feat!: implement ADR-47 and update Cosmovisor
  docs/architecture/adr-047-extend-upgrade-plan.md
Due: none

chore: add `iavl-lazy-loading` in standalone confix
  tools/confix/data/v0.46-app.toml
  tools/confix/data/v0.47-app.toml
  tools/confix/data/v0.48-app.toml
Due: none

handle amino.message_encoding
  codec/aminojson/json_marshal.go
  codec/aminojson/json_marshal_test.go
Due: none

refactor, clean up
  codec/aminojson/json_marshal.go
Due: none

thank you linter
  codec/aminojson/json_marshal.go
  codec/aminojson/json_marshal_test.go
Due: none

updates
  api/cosmos/orm/module/v1alpha1/module.pulsar.go
  api/cosmos/upgrade/v1beta1/upgrade.pulsar.go
  docs/architecture/adr-047-extend-upgrade-plan.md
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/upgrade/CHANGELOG.md
  x/upgrade/types/upgrade.pb.go
Due: modules

updates
  tools/cosmovisor/CHANGELOG.md
  x/upgrade/CHANGELOG.md
Due: modules

wip
  types/errors/errors.go
  x/auth/ante/ante.go
  x/auth/ante/circuit.go
  x/auth/ante/circuit_test.go
  x/auth/ante/expected_keepers.go
Due: modules

Update log/logger.go
  log/logger.go
Due: none

refactor: add logger package (#14872)
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  go.work.example
  log/CHANGELOG.md
  log/go.mod
  log/logger.go
  log/noop_logger.go
  log/sonar-project.properties
  types/module/module_test.go
Due: none

remove println
  codec/aminojson/json_marshal_test.go
Due: none

Update client/rpc/block.go
  client/rpc/block.go
Due: client

remove unused flags from create-validator cmd
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
Due: modules

wip: address review comments and add changelog
  CHANGELOG.md
  x/staking/client/cli/tx.go
  x/staking/client/cli/utils.go
Due: modules

fix relevant tests
  tests/e2e/staking/suite.go
  x/staking/client/cli/tx_test.go
  x/staking/client/cli/utils.go
Due: modules

updates
  api/cosmos/upgrade/v1beta1/upgrade.pulsar.go
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  simapp/app.go
  simapp/app_v2.go
  x/gov/client/cli/tx.go
  x/gov/types/v1/msgs.go
  x/upgrade/client/cli/parse.go
  x/upgrade/client/cli/parse_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/proposal_handler.go
  x/upgrade/plan/info.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/upgrade.pb.go
Due: modules

feat: use gov v1 proposals in upgrade cli
  simapp/app.go
  simapp/app_v2.go
  x/gov/client/cli/tx.go
  x/gov/types/v1/msgs.go
  x/upgrade/CHANGELOG.md
  x/upgrade/client/cli/parse.go
  x/upgrade/client/cli/parse_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/proposal_handler.go
  x/upgrade/keeper/msg_server_test.go
Due: modules

updates
  x/upgrade/client/cli/tx.go
Due: modules

add changelog
  x/upgrade/CHANGELOG.md
Due: modules

updates
  CHANGELOG.md
Due: none

add tests
  tests/e2e/group/query.go
  x/group/client/cli/query.go
Due: modules

update docs
  tools/cosmovisor/README.md
  x/gov/README.md
  x/upgrade/README.md
  x/upgrade/client/cli/tx.go
Due: modules

refactor: make cosmovisor depend on x/upgrade only
  tools/cosmovisor/args.go
  tools/cosmovisor/cmd/cosmovisor/help.go
  tools/cosmovisor/cmd/cosmovisor/help_test.go
  tools/cosmovisor/cmd/cosmovisor/version_test.go
  tools/cosmovisor/go.mod
  tools/cosmovisor/process.go
  tools/cosmovisor/process_test.go
  tools/cosmovisor/scanner.go
  tools/cosmovisor/scanner_test.go
  tools/cosmovisor/upgrade.go
  tools/cosmovisor/upgrade_test.go
  x/upgrade/go.mod
Due: modules
