Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat: implement EventManager().GetABCIEventHistory()
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/state.go
  types/events.go
  types/module/module.go
Due: app

Fix ReadRESTReq documentation
  types/rest/rest.go
Due: none

fix interfaces links (#9448)
  CONTRIBUTING.md
  docs/DOCS_README.md
  docs/README.md
  docs/basics/app-anatomy.md
  docs/basics/tx-lifecycle.md
  docs/building-modules/errors.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/module-interfaces.md
  docs/building-modules/module-manager.md
  docs/building-modules/query-services.md
  docs/cn/README.md
  docs/cn/basics/accounts.md
  docs/cn/basics/tx-lifecycle.md
  docs/cn/clients/service-providers.md
  docs/core/transactions.md
  docs/kr/clients/service-providers.md
Due: none

resolve merge conflicts
  docs/building-modules/messages-and-queries.md
  docs/building-modules/module-interfaces.md
  docs/building-modules/module-manager.md
  docs/building-modules/query-services.md
Due: none

revert rename codec
  docs/building-modules/module-manager.md
Due: none

style: fix lint errors and update lint timeout (#9464)
  .golangci.yml
  CHANGELOG.md
  client/docs/statik/statik.go
  docs/DOC_WRITING_GUIDELINES.md
  docs/core/encoding.md
  server/rosetta/lib/errors/errors_test.go
  x/distribution/legacy/v043/helpers.go
Due: modules, client

docs: update contributing
  CONTRIBUTING.md
Due: none

Speedup to params simulation
  x/params/simulation/operations.go
  x/simulation/params.go
Due: modules

Add changelog
  CHANGELOG.md
Due: none

Lower the amount of entropy required for making a param change proposal
  x/params/simulation/operations.go
  x/params/simulation/operations_test.go
  x/params/simulation/proposals_test.go
Due: modules

Make this no longer be a coupon collector problem, only O(N) calls to random
  x/params/simulation/operations.go
  x/params/simulation/operations_test.go
  x/params/simulation/proposals_test.go
Due: modules

Fix lint
  x/params/simulation/operations.go
Due: modules

Fix ReadRESTReq documentation (#9476)
  types/rest/rest.go
Due: none

init gentx script
  scripts/validate-gentxs.sh
Due: none

use simd
  scripts/validate-gentxs.sh
Due: none

backport: fix ibc genesis export bug (#9401)
  CHANGELOG.md
  x/ibc/core/02-client/genesis.go
  x/ibc/core/03-connection/genesis.go
  x/ibc/core/04-channel/genesis.go
Due: modules

draft TestStartCmdwithEmptyandNonEmptyMinGasPrices
  server/config/config.go
  server/util_test.go
Due: none

update migration algorithm
  crypto/keyring/keyring.go
Due: none

docs: update contributing pull request process (#9472)
  CONTRIBUTING.md
Due: none

Fix ADR 030 reference link
  docs/architecture/README.md
Due: none

add orm module
  docs/core/proto-docs.md
  go.mod
  go.sum
  orm/auto_uint64.go
  orm/auto_uint64_test.go
  orm/example_test.go
  orm/genesis.go
  orm/genesis_test.go
  orm/index.go
  orm/index_key_codec.go
  orm/index_key_codec_test.go
  orm/index_test.go
  orm/indexer.go
  orm/indexer_test.go
  orm/iterator.go
  orm/iterator_test.go
  orm/orm.go
  orm/orm_scenario_test.go
  orm/orm_test.go
  orm/primary_key.go
  orm/primary_key_test.go
  orm/sequence.go
  orm/sequence_test.go
  orm/table.go
  orm/table_test.go
  orm/testdata/codec.pb.go
  orm/testdata/model.go
  orm/testsupport.go
  orm/uint64_index.go
  orm/uint64_index_test.go
  proto/cosmos/orm/codec.proto
Due: none

fix proto-lint issues
  docs/core/proto-docs.md
  orm/testdata/codec.pb.go
  proto/cosmos/orm/codec.proto
Due: none

small fix
  docs/core/proto-docs.md
  orm/testdata/codec.pb.go
  proto/cosmos/orm/codec.proto
Due: none

small fixes
  docs/core/proto-docs.md
  orm/testdata/codec.pb.go
  proto/cosmos/orm/testdata/codec.proto
Due: none

docs: Fix ADR 030 reference link (#9487)
  docs/architecture/README.md
Due: none

Use v1 for gov and update
  docs/core/proto-docs.md
  proto/cosmos/gov/v1/genesis.proto
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/query.proto
  proto/cosmos/gov/v1/tx.proto
  proto/cosmos/upgrade/v1/query.proto
  proto/cosmos/upgrade/v1/upgrade.proto
  x/gov/client/rest/grpc_query_test.go
  x/gov/types/genesis.pb.go
  x/gov/types/gov.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
  x/gov/types/tx.pb.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/query.pb.gw.go
  x/upgrade/types/upgrade.pb.go
Due: modules

set proper naming k for Record
  client/keys/delete.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Due: client

apply comments
  docs/architecture/adr-043-nft-module.md
Due: none

Fix tests
  x/authz/client/cli/tx.go
  x/authz/client/testutil/tx.go
  x/feegrant/client/cli/tx.go
  x/feegrant/simulation/genesis.go
  x/gov/types/codec.go
Due: modules

some cosmetic stuff
  crypto/hd/hdpath.go
  crypto/keyring/keyring.go
Due: none

implement protoUnmarshalRecord
  crypto/keyring/keyring.go
Due: none

minor fixes
  crypto/keyring/keyring.go
Due: none

add EnableUnsafeCORS
  server/grpc/grpc_web.go
Due: none

Fix migration
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/genesis.proto
  proto/cosmos/gov/v1beta1/gov.proto
  x/gov/legacy/v040/genesis.pb.go
  x/gov/legacy/v040/gov.pb.go
  x/gov/legacy/v040/proposal.go
  x/gov/legacy/v040/vote.go
  x/gov/legacy/v043/json.go
  x/gov/legacy/v043/json_test.go
  x/gov/legacy/v043/store.go
  x/gov/legacy/v043/store_test.go
Due: modules

commit random file
  x/upgrade/legacy/v040/types.go
Due: modules

Fix migration
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/genutil/legacy/v040/migrate.go
  x/genutil/legacy/v043/migrate.go
  x/gov/legacy/v040/gov.pb.go
  x/gov/legacy/v040/migrate.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v040/proposal.go
  x/upgrade/legacy/v040/plan.go
  x/upgrade/legacy/v040/proposal.go
  x/upgrade/legacy/v040/types.go
  x/upgrade/legacy/v040/upgrade.pb.go
Due: modules

test (#9484)
  x/staking/legacy/v043/store.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
