Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

WIP
  x/params/module/module.go
Due: modules

modify VERSION_KEY to 1(string repr)
  crypto/keyring/keyring.go
  crypto/keyring/record.go
Due: none

Add MsgMint, MsgBurn and DenomManager's to x/bank
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/tx.proto
  simapp/app.go
  x/bank/keeper/denom_manager.go
  x/bank/keeper/keeper.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/types/tx.pb.go
Due: modules

Remove Docs label from auto-label action
  .github/labeler.yml
Due: none

emit all events from msg dispatch
  x/authz/keeper/keeper.go
Due: modules

Remove Docs label from auto-label action (#9517)
  .github/labeler.yml
Due: none

Merge PR: fix query evm tx failed (#129)
  x/auth/client/utils/query.go
Due: modules

refactor: remove query by events for deposits
  x/gov/abci.go
  x/gov/client/cli/query.go
  x/gov/client/testutil/cli_test.go
  x/gov/client/testutil/deposits.go
  x/gov/keeper/deposit.go
Due: modules

revert norace
  x/gov/client/testutil/cli_test.go
Due: modules

fix lint
  x/gov/client/testutil/deposits.go
Due: modules

fix test
  x/gov/keeper/deposit_test.go
Due: modules

trying to fix an error - unable to unpack private key
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/legacy.go
  crypto/keyring/record.go
Due: none

store nft in bank module
  docs/architecture/adr-043-nft-module.md
Due: none

TODO fix many errors
  docs/core/proto-docs.md
  proto/cosmos/vesting/v1beta1/vesting.proto
  x/auth/vesting/types/vesting.pb.go
  x/auth/vesting/types/vesting_account.go
  x/bank/keeper/keeper.go
Due: modules

Update server/config/config.go
  server/config/config.go
Due: none

Update server/config/toml.go
  server/config/toml.go
Due: none

Remove clientCtx.JSONCodec
  client/context.go
  x/auth/legacy/v040/migrate_test.go
  x/bank/legacy/v040/migrate_test.go
  x/evidence/legacy/v040/migrate_test.go
  x/gov/legacy/v040/migrate_test.go
  x/slashing/legacy/v040/migrate_test.go
  x/staking/legacy/v040/migrate_test.go
Due: modules, client

could not read GenesisDoc file error
  server/util_test.go
Due: none

include a test for included events
  x/auth/tx/service_test.go
Due: modules

use s.Require()
  x/auth/tx/service_test.go
  x/authz/keeper/keeper.go
Due: modules

order
  x/auth/tx/service_test.go
Due: modules

constant for maxDecBitLen
  types/decimal.go
Due: none

fix lint errors
  client/context.go
  simapp/params/encoding.go
Due: client

add docs for setting store loader
  docs/building-modules/upgrade.md
  docs/core/upgrade.md
Due: none

init
  server/config/toml.go
  server/util.go
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: grpc-web add CORS handler (#9493)
  CHANGELOG.md
  server/config/config.go
  server/config/toml.go
  server/grpc/grpc_web.go
Due: none

any unpack does not work in protoUnmarshalRecord
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/record.go
Due: none

fix: Handle MAX_INT_256 (#9511)
  CHANGELOG.md
  types/decimal.go
  types/int.go
  types/int_internal_test.go
  types/int_test.go
Due: none

Fix test
  server/start.go
  server/util_test.go
  testutil/network/util.go
Due: none

fix lint issues
  server/config/config.go
Due: none

revert unneeded changes
  server/config/config.go
  server/start.go
  server/util_test.go
  simapp/simd/cmd/root.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

minor fixes in record.go
  crypto/keyring/record.go
Due: none

add pr task completed checker
  .github/workflows/pr-checklist.yml
Due: none

POC module wiring with uber-go dig
  app/cli/configurator.go
  app/cli/handler.go
  app/compat/adapter.go
  app/configurator.go
  app/handler.go
  app/internal/module_set.go
  app/key.go
  app/provisioner.go
  go.mod
  go.sum
  x/auth/module/module.go
  x/auth/tx/module/module.go
  x/gov/module/module.go
  x/params/module/module.go
Due: app, modules

perf: MsgTypeUrl optimization
  types/tx_msg.go
Due: none

add tests
  types/tx_msg_test.go
Due: none
