Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix: keep the balance query endpoint compatible with legacy blocks (#13301)
  CHANGELOG.md
  x/bank/keeper/grpc_query.go
  x/bank/keeper/view.go
Due: modules

Apply suggestions from code review
  CHANGELOG.md
  x/bank/keeper/view.go
Due: modules

add changelog entries for previous changes
  CHANGELOG.md
Due: none

add changelog entries for previous changes (#13319)
  CHANGELOG.md
Due: none

feat(x/auth): define simplified account query service (#13210)
  CHANGELOG.md
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/autocli/v1/options.proto
  scripts/protocgen.sh
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/keeper/keeper_test.go
  x/auth/module.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
Due: modules

do not recursively call prompt yet
  api/cosmos/nft/v1beta1/tx.pulsar.go
  proto/cosmos/nft/v1beta1/tx.proto
  x/gov/client/cli/prompt.go
Due: modules

fix doc and add message type
  x/gov/README.md
  x/gov/client/cli/prompt.go
Due: modules

fix golangci
  x/gov/client/cli/prompt.go
Due: modules

Update adr in response to reviews:w
  docs/architecture/adr-061-liquid-staking.md
Due: none

add changelog
  CHANGELOG.md
Due: none

fix lint
  x/bank/keeper/grpc_query.go
Due: modules

ci: add workflow for cosmos/gosec (#13311)
  .github/workflows/gosec.yml
Due: none

remove some changelog entries
  CHANGELOG.md
  UPGRADING.md
Due: none

fix docs
  UPGRADING.md
  x/staking/README.md
Due: modules

configurable fastnode
  baseapp/options.go
  go.mod
  go.sum
  server/mock/store.go
  server/start.go
  simapp/go.mod
  simapp/go.sum
  simapp/simd/cmd/root.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/types/iterator_test.go
  store/types/store.go
Due: app

add it to toml
  server/config/config.go
  server/config/toml.go
Due: none

chore: cleanup changelog (#13320)
  CHANGELOG.md
  UPGRADING.md
  x/staking/README.md
Due: modules

fix: cosmetics for preparing for the merge (#277)
  x/auth/client/testutil/suite.go
  x/staking/simulation/operations.go
Due: modules

change abci++ -> abci 1.0
  docs/architecture/adr-060-abci++-phase-i.md
Due: none

file change
  docs/architecture/README.md
  docs/architecture/adr-060-abci-1.0.md
Due: none

fix++
  fuzz/tests/store_internal_proofs_createnonmembershipproof_test.go
  server/config/toml.go
Due: none

go mod tidy
  tests/go.mod
  tests/go.sum
Due: none

docs: change abci++ -> abci 1.0 (#13322)
  docs/architecture/README.md
  docs/architecture/adr-060-abci-1.0.md
Due: none

fix godocs
  client/prompts.go
  x/gov/README.md
  x/gov/client/cli/prompt.go
Due: modules, client

fill out remove method
  types/mempool.go
Due: none

some comments
  types/mempool.go
Due: none

move mempool to its own package and fix a small nil pointer error
  baseapp/baseapp.go
  mempool/mempool.go
  mempool/mempool_test.go
  x/auth/tx/builder.go
Due: app, modules

comments
  server/start.go
  simapp/simd/cmd/root.go
  store/iavl/store.go
Due: none

godoc
  baseapp/options.go
Due: app

list all messages types
  x/gov/client/cli/prompt.go
Due: modules

Minor bug fixes for the sender pool;
  mempool/mempool.go
  mempool/mempool_test.go
Due: none

add exmaple and changelog
  CHANGELOG.md
  simapp/simd/cmd/root.go
Due: none

minor fixes to consume
  mempool/mempool.go
  mempool/mempool_test.go
Due: none

updates
  x/distribution/keeper/delegation.go
  x/distribution/keeper/keeper.go
Due: modules

updates
  x/distribution/keeper/delegation.go
Due: modules

updates
  CHANGELOG.md
Due: none

test something
  x/staking/types/codec.go
Due: modules

updates
  x/gov/README.md
  x/gov/client/cli/prompt.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
