Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

wip
  simapp/app.go
  x/group/errors.go
  x/group/errors/errors.go
  x/group/keeper/msg_server.go
  x/group/keeper/proposal_executor.go
  x/group/key.go
  x/group/module/module.go
  x/group/msgs.go
  x/group/types.go
  x/group/typesupport.go
Due: modules

checkpoint
  x/gov/spec/01_concepts.md
  x/gov/spec/02_state.md
Due: modules

checkpoint
  x/gov/spec/02_state.md
  x/gov/spec/03_messages.md
  x/gov/spec/07_client.md
Due: modules

run go mod tidy
  go.mod
  go.sum
  x/group/go.sum
Due: modules

wip
  types/module/base.go
  types/module/server/conn.go
  types/testutil/fixture.go
  x/group/errors/orm.go
  x/group/keeper/proposal_executor.go
  x/group/keys.go
Due: modules

wip
  baseapp/baseapp.go
  baseapp/router.go
Due: app

fix tests
  x/group/keeper/msg_server.go
  x/group/keeper/proposal_executor.go
Due: modules

evidence regression
  std/codec.go
Due: none

feat: CheckTX Priority (#10507)
  x/auth/middleware/fee.go
  x/auth/middleware/middleware.go
  x/auth/middleware/tx_priority.go
Due: modules

update docs, add go.mod
  orm/go.mod
  proto/cosmos/orm/v1alpha1/orm.proto
  proto/cosmos/orm/v1alpha1/schema.proto
Due: none

feat: init ORM proto (#10579)
  orm/go.mod
  proto/cosmos/orm/v1alpha1/orm.proto
  proto/cosmos/orm/v1alpha1/schema.proto
Due: none

feat(orm): add ormvalue.Codec
  orm/encoding/ormvalue/bytes.go
  orm/encoding/ormvalue/codec.go
  orm/encoding/ormvalue/codec_test.go
  orm/encoding/ormvalue/string.go
  orm/encoding/ormvalue/uint32.go
  orm/encoding/ormvalue/uint64.go
  orm/go.mod
  orm/internal/testpb/testschema.proto
  orm/internal/testutil/testutil.go
  orm/types/ormerrors/errors.go
Due: none

WIP
  api/buf.gen.yaml
  api/cosmos/orm/v1alpha1/orm.pb.go
  api/cosmos/orm/v1alpha1/orm.proto
  api/cosmos/orm/v1alpha1/schema.pb.go
  api/cosmos/orm/v1alpha1/schema.proto
  api/go.mod
  orm/buf.gen.yaml
  orm/buf.yaml
  orm/go.sum
  orm/internal/testpb/testschema.proto
  scripts/protocgen2.sh
Due: none

remove json tag
  crypto/hd/hd.pb.go
  docs/core/proto-docs.md
  go.mod
  orm/types/ormpb/orm.pb.go
  orm/types/ormpb/schema.pb.go
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/base/abci/v1beta1/abci.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/gov/v1beta2/gov.proto
  proto/cosmos/gov/v1beta2/tx.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  types/abci.pb.go
  x/auth/types/auth.pb.go
  x/authz/tx.pb.go
  x/feegrant/tx.pb.go
  x/gov/types/genesis.pb.go
  x/gov/types/gov.pb.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
  x/gov/types/tx.pb.go
  x/group/query.pb.go
  x/nft/tx.pb.go
  x/slashing/types/tx.pb.go
  x/staking/types/staking.pb.go
Due: modules

build: upgrade buf and contrib/devtools/dockerfile protoc-gen-go version
  Makefile
  buf.work.yaml
  buf.yaml
  contrib/devtools/dockerfile
  proto/buf.yaml
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/nft/v1beta1/event.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  third_party/proto/buf.yaml
Due: none

fix
  contrib/devtools/dockerfile
Due: none

add pulsar to docker image
  contrib/devtools/dockerfile
  go.mod
  go.sum
Due: none

build: upgrade buf and contrib/devtools/dockerfile protoc-gen-go version (#10599)
  Makefile
  buf.work.yaml
  buf.yaml
  contrib/devtools/dockerfile
  go.mod
  go.sum
  proto/buf.yaml
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/nft/v1beta1/event.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  third_party/proto/buf.yaml
Due: none

WIP
  api/buf.gen.yaml
  api/cosmos/orm/v1alpha1/orm.pb.go
  api/cosmos/orm/v1alpha1/orm.pulsar.go
  api/cosmos/orm/v1alpha1/schema.pb.go
  api/cosmos/orm/v1alpha1/schema.pulsar.go
  api/go.mod
  api/go.sum
Due: none

feat: init api module
  api/buf.gen.yaml
  api/buf.yaml
  api/cosmos/orm/v1alpha1/orm.proto
  api/cosmos/orm/v1alpha1/orm.pulsar.go
  api/cosmos/orm/v1alpha1/schema.proto
  api/cosmos/orm/v1alpha1/schema.pulsar.go
  api/go.mod
  api/go.sum
  buf.work.yaml
Due: none

add script
  scripts/protocgen-api.sh
Due: none

update cosmos-proto
  api/go.mod
  api/go.sum
Due: none

feat: init API go module (#10600)
  api/buf.gen.yaml
  api/buf.yaml
  api/cosmos/orm/v1alpha1/orm.proto
  api/cosmos/orm/v1alpha1/orm.pulsar.go
  api/cosmos/orm/v1alpha1/schema.proto
  api/cosmos/orm/v1alpha1/schema.pulsar.go
  api/go.mod
  api/go.sum
  buf.work.yaml
  scripts/protocgen-api.sh
Due: none

working tests
  api/cosmos/orm/v1alpha1/orm.proto
  api/cosmos/orm/v1alpha1/schema.proto
  buf.work.yaml
  orm/buf.yaml
  orm/encoding/ormvalue/bytes.go
  orm/encoding/ormvalue/codec_test.go
  orm/go.mod
  orm/go.sum
  orm/internal/buf.gen.yaml
  orm/internal/buf.yaml
  orm/internal/testpb/testschema.proto
  orm/internal/testpb/testschema.pulsar.go
  orm/internal/testutil/testutil.go
  scripts/protocgen-api.sh
  scripts/protocgen2.sh
Due: none

update dep
  orm/encoding/ormvalue/codec_test.go
  orm/go.mod
  orm/go.sum
Due: none

run go mod tidy
  x/group/go.mod
  x/group/go.sum
Due: modules

support more types, add docs
  orm/encoding/ormvalue/bool.go
  orm/encoding/ormvalue/bytes.go
  orm/encoding/ormvalue/codec.go
  orm/encoding/ormvalue/codec_test.go
  orm/encoding/ormvalue/duration.go
  orm/encoding/ormvalue/enum.go
  orm/encoding/ormvalue/int32.go
  orm/encoding/ormvalue/int64.go
  orm/encoding/ormvalue/string.go
  orm/encoding/ormvalue/timestamp.go
  orm/encoding/ormvalue/uint32.go
  orm/encoding/ormvalue/uint64.go
  orm/internal/buf.gen.yaml
  orm/internal/testpb/testschema.proto
  orm/internal/testpb/testschema.pulsar.go
  orm/internal/testutil/testutil.go
  orm/types/ormerrors/errors.go
Due: none

comments
  orm/encoding/ormvalue/codec_test.go
  orm/encoding/ormvalue/duration.go
  orm/encoding/ormvalue/enum.go
  orm/internal/testutil/testutil.go
Due: none

ADR-047: Initial Draft.
  docs/architecture/adr-047-extend-upgrade-plan.md
Due: none

Update ADR main README to include ADR 047: Extend Upgrade Plan.
  docs/architecture/README.md
Due: none

add test errors
  errors/abci.go
  errors/abci_test.go
  errors/errors.go
  errors/errors_test.go
  errors/stacktrace.go
  errors/testerrors.go
Due: none

add test errors
  errors/errors_test.go
Due: none

address review comments
  orm/encoding/ormvalue/bool.go
  orm/encoding/ormvalue/bytes.go
  orm/encoding/ormvalue/codec.go
  orm/encoding/ormvalue/duration.go
  orm/encoding/ormvalue/enum.go
  orm/encoding/ormvalue/int32.go
  orm/encoding/ormvalue/int64.go
  orm/encoding/ormvalue/string.go
  orm/encoding/ormvalue/timestamp.go
  orm/encoding/ormvalue/uint32.go
  orm/encoding/ormvalue/uint64.go
Due: none

ci: update labeler.yml
  .github/labeler.yml
Due: none

ci: update labeler.yml (#10603)
  .github/labeler.yml
Due: none

updates
  api/buf.yaml
  api/cosmos/orm/v1alpha1/orm.proto
  api/cosmos/orm/v1alpha1/schema.proto
  orm/encoding/ormfield/bool.go
  orm/encoding/ormfield/bytes.go
  orm/encoding/ormfield/codec.go
  orm/encoding/ormfield/codec_test.go
  orm/encoding/ormfield/duration.go
  orm/encoding/ormfield/enum.go
  orm/encoding/ormfield/int32.go
  orm/encoding/ormfield/int64.go
  orm/encoding/ormfield/string.go
  orm/encoding/ormfield/timestamp.go
  orm/encoding/ormfield/uint32.go
  orm/encoding/ormfield/uint64.go
  orm/internal/buf.gen.yaml
  orm/internal/testpb/testschema.proto
  orm/internal/testpb/testschema.pulsar.go
  orm/internal/testutil/testutil.go
Due: none

add comment
  api/cosmos/orm/v1alpha1/orm.proto
Due: none

feat(orm): add ormfield.Codec (#10601)
  api/buf.yaml
  api/cosmos/orm/v1alpha1/orm.proto
  buf.work.yaml
  orm/encoding/ormfield/bool.go
  orm/encoding/ormfield/bytes.go
  orm/encoding/ormfield/codec.go
  orm/encoding/ormfield/codec_test.go
  orm/encoding/ormfield/duration.go
  orm/encoding/ormfield/enum.go
  orm/encoding/ormfield/int32.go
  orm/encoding/ormfield/int64.go
  orm/encoding/ormfield/string.go
  orm/encoding/ormfield/timestamp.go
  orm/encoding/ormfield/uint32.go
  orm/encoding/ormfield/uint64.go
  orm/go.mod
  orm/go.sum
  orm/internal/buf.gen.yaml
  orm/internal/buf.yaml
  orm/internal/testpb/testschema.proto
  orm/internal/testpb/testschema.pulsar.go
  orm/internal/testutil/testutil.go
  orm/types/ormerrors/errors.go
  scripts/protocgen-api.sh
  scripts/protocgen2.sh
Due: none

follow up for smallest fee
  x/auth/middleware/tx_priority.go
Due: modules

fix: always move auth module migration to the end
  types/module/module.go
Due: none
