Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add nil check
  baseapp/options.go
Due: app

updates
  docs/docs/building-apps/04-vote-extensions.md
Due: none

perf: math: make Int.Size() faster by computation not len(MarshalledBytes) (#16263)
  math/CHANGELOG.md
  math/int.go
  math/int_test.go
Due: none

chore: fix concurrency group sims and math changelog
  .github/workflows/sims-050.yml
  math/CHANGELOG.md
Due: none

fix: patch barberry
  x/auth/vesting/types/msgs.go
Due: modules

wording
  RELEASE_NOTES.md
Due: none

fix: patch barberry (#16465)
  x/auth/vesting/types/msgs.go
Due: modules

fix: patch barberry (#16466)
  RELEASE_NOTES.md
  x/auth/vesting/types/msgs.go
Due: modules

temproal
  tests/e2e/distribution/grpc_query_suite.go
Due: none

chore: fix concurrency group sims and math changelog (#16462)
  .github/workflows/sims-050.yml
  math/CHANGELOG.md
Due: none

remove incorrect syntax from usage example on authz grant (#570)
  x/authz/client/cli/tx.go
Due: modules

chore: go mod tidy
  go.mod
  go.sum
Due: none

Update docs/docs/building-apps/04-vote-extensions.md
  docs/docs/building-apps/04-vote-extensions.md
Due: none

updates
  UPGRADING.md
  docs/docs/building-apps/01-app-go-v2.md
  docs/docs/building-apps/02-app-mempool.md
  docs/docs/building-apps/04-vote-extensions.md
Due: none

updates
  CHANGELOG.md
Due: none

chore: CHANGELOG.md
  CHANGELOG.md
Due: none

linter happy again!
  x/distribution/keeper/allocation_test.go
Due: modules

refactor: allocate less in types.Coins.safeAdd and types.DecCoins.safeAdd
  types/coin.go
  types/dec_coin.go
  types/dec_coin_test.go
Due: none

chore: bump to new version of core
  go.mod
  go.sum
Due: none

build(deps): Bump github.com/bits-and-blooms/bitset from 1.7.0 to 1.8.0 for all modules
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.sum
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.sum
  x/nft/go.sum
  x/upgrade/go.sum
Due: modules

fix: validate coins when creating vesting schedules
  x/auth/vesting/client/testutil/suite.go
  x/auth/vesting/client/testutil/testdata/badperiod2.json
  x/auth/vesting/types/msgs.go.orig
  x/auth/vesting/types/msgs_test.go
  x/auth/vesting/types/vesting_account_test.go
Due: modules

chore: remove stray patch droppings
  x/auth/vesting/types/msgs.go.orig
Due: modules

chore: regenerate proto
  .golangci.yml
  proto/tendermint/types/block.proto
  proto/tendermint/types/evidence.proto
  proto/tendermint/types/types.proto
  testutil/rest/rest.go
  types/query/pagination.pb.go
  x/distribution/types/distribution.pb.go
  x/group/types.pb.go
  x/staking/types/staking.pb.go
Due: none

chore: linter
  crypto/codec/proto.go
Due: none

chore: add v047.3 and v0.46.13 changelog to main
  CHANGELOG.md
Due: none

refactor(distribution)!: use collections for ValidatorCurrentRewards (#16459)
  CHANGELOG.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/keys.go
  x/staking/simulation/operations_test.go
Due: modules

start migrating delegator starting info
  x/distribution/keeper/keeper.go
  x/distribution/keeper/store.go
  x/distribution/types/keys.go
Due: modules

remove SetDelegatorStartingInfo
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/store.go
  x/distribution/simulation/operations_test.go
  x/slashing/simulation/operations_test.go
  x/staking/simulation/operations_test.go
Due: modules

remove HasDelegatorStartingInfo
  x/distribution/keeper/delegation.go
  x/distribution/keeper/store.go
Due: modules

remove DeleteDelegatorStartingInfo
  x/distribution/keeper/delegation.go
  x/distribution/keeper/store.go
Due: modules

remove IterateDelegatorStartingInfo
  x/distribution/keeper/genesis.go
  x/distribution/keeper/store.go
Due: modules

chore: changelog & upgrading documentation for ABCI++ (#16315)
  CHANGELOG.md
  UPGRADING.md
  docs/docs/building-apps/04-vote-extensions.md
Due: none

remove GetDelegatorStartingInfo
  x/distribution/keeper/delegation.go
  x/distribution/keeper/store.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
