Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

update proto
  api/cosmos/mint/v1beta1/query.pulsar.go
  x/mint/proto/cosmos/mint/v1beta1/query.proto
  x/mint/types/query.pb.go
Due: modules

proto updates
  api/cosmos/mint/v1beta1/query.pulsar.go
  x/mint/proto/cosmos/mint/v1beta1/query.proto
  x/mint/types/query.pb.go
Due: modules

try fixing encoding in grpc requests
  api/cosmos/mint/v1beta1/query.pulsar.go
  x/mint/proto/cosmos/mint/v1beta1/query.proto
  x/mint/types/query.pb.go
Due: modules

add readme and migration
  x/mint/README.md
  x/mint/keeper/migrator.go
  x/mint/migrations/v3/migrate.go
  x/mint/migrations/v3/migrate_test.go
  x/mint/module.go
Due: modules

x
  baseapp/test_helpers.go
  runtime/types.go
  simapp/runner.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  testutil/sims/simulation_helpers.go
  x/simulation/simulate.go
Due: app, modules

fix lint and readme
  x/mint/README.md
  x/mint/migrations/v3/migrate_test.go
Due: modules

update tests and convert func
  math/dec_legacy.go
  math/dec_legacy_test.go
  math/dec_test.go
Due: none

chore: fix spelling errors (#20236)
  systemtests/system.go
Due: none

Update 18-decimal-handling.md
  docs/build/building-modules/18-decimal-handling.md
Due: none

revert comet in 0.47
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

fix helper
  tests/e2e/accounts/lockup/utils.go
Due: none

chore: revert comet 0.37.6 upgrade due to go version bump (#20247)
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

linting
  .github/workflows/lint.yml
Due: none

remove migrations changes
  docs/build/building-modules/18-decimal-handling.md
  testutil/collections_test.go
  testutil/math_test.go
Due: none

chore: add commit ref instead of main
  x/upgrade/README.md
Due: modules

update minter ref url
  x/mint/README.md
Due: modules

feat: mark distribution module query safe
  api/cosmos/distribution/v1beta1/query.pulsar.go
  x/distribution/proto/cosmos/distribution/v1beta1/query.proto
  x/distribution/types/query.pb.go
Due: modules

feat: mark gov module query safe
  api/cosmos/gov/v1/query.pulsar.go
  x/gov/proto/cosmos/gov/v1/query.proto
  x/gov/types/v1/query.pb.go
Due: modules

chore: resolve conflict
  api/cosmos/distribution/v1beta1/query.pulsar.go
  api/cosmos/gov/v1/query.pulsar.go
  x/distribution/proto/cosmos/distribution/v1beta1/query.proto
  x/distribution/types/query.pb.go
  x/gov/proto/cosmos/gov/v1/query.proto
  x/gov/types/v1/query.pb.go
Due: modules

update doc
  x/mint/README.md
Due: modules

fix migration
  x/mint/migrations/v3/migrate.go
  x/mint/migrations/v3/migrate_test.go
  x/mint/module.go
Due: modules

x
  simapp/sim_bench_test.go
  simapp/sim_test.go
Due: none

go mod tidy
  client/v2/go.mod
  go.mod
  simapp/go.mod
  simapp/gomod2nix.toml
  tests/go.mod
  x/accounts/defaults/lockup/go.mod
  x/accounts/go.mod
  x/auth/go.mod
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/consensus/go.mod
  x/distribution/go.mod
  x/epochs/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Due: modules, client

x
  simapp/runner.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  testutil/sims/simulation_helpers.go
  x/simulation/simulate.go
Due: modules

fix: avoid over claiming
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

remove debug print whoops
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/keeper.go
Due: modules

remove debug print whoops
  x/protocolpool/keeper/msg_server_test.go
Due: modules

fix(proto): Update `next_key` to be optional
  CHANGELOG.md
  proto/cosmos/base/query/v1beta1/pagination.proto
Due: none

fix: update last claimed at
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

consensus in example
  go.work.example
Due: none

add abci changes and update readme
  simapp/app.go
  x/mint/README.md
  x/mint/keeper/abci.go
  x/mint/module.go
Due: modules

fix(cosmovisor): fixed cosmovisor add-upgrade permissions (#20062)
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
Due: none

add rechecktx test
  baseapp/abci_test.go
  baseapp/baseapp_test.go
Due: app

remove debug print
  baseapp/baseapp.go
Due: app

fix: shadowing of err
  baseapp/baseapp.go
Due: app

remove comment
  baseapp/abci_test.go
Due: app

lint
  baseapp/abci_test.go
Due: app

fix: remove txs from mempool when antehandler fails in recheck (#20144)
  baseapp/abci_test.go
  baseapp/baseapp.go
Due: app

test(types/coin): add unit tests for the coins
  types/coin_test.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
