Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

add pubkey change cost and cparam onsume gas
  api/cosmos/auth/v1beta1/auth.pulsar.go
  proto/cosmos/auth/v1beta1/auth.proto
  x/auth/ante/ante_test.go
  x/auth/keeper/change_pub_key.go
  x/auth/simulation/genesis.go
  x/auth/types/auth.pb.go
  x/auth/types/params.go
  x/auth/types/params_test.go
Due: modules

wip
  simapp/simd/cmd/genaccounts.go
  x/auth/helpers/add_genesis_account_helper.go
Due: modules

Fix feegrant for grantee that sends eip191 txs
  x/auth/tx/eip191.go
Due: modules

Fix feegrant for grantee that sends amino txs
  x/auth/legacy/legacytx/stdtx.go
  x/auth/tx/legacy_amino_json.go
Due: modules

fix: types: correctly coalesce coins even with repeated denominations & simplify logic (#13265)
  types/coin.go
  types/coin_test.go
Due: none

add inline doc for AddGenesisAccount func
  simapp/simd/cmd/genaccounts.go
  x/auth/helpers/add_genesis_account_helper.go
Due: modules

feat: CLI tooling to generate proposal JSONs
  client/prompts.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/gov/README.md
  x/gov/client/cli/prompt.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/util.go
  x/gov/client/cli/util_test.go
  x/group/README.md
Due: modules, client

fix conflict
  types/coin_test.go
Due: none

refactor: Rename deterministic to `module_query_safe`
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  api/cosmos/bank/v1beta1/query_grpc.pb.go
  api/cosmos/query/v1/query.pulsar.go
  api/cosmos/staking/v1beta1/query_grpc.pb.go
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/query/v1/query.proto
  proto/cosmos/staking/v1beta1/query.proto
Due: none

add changelog
  CHANGELOG.md
Due: none

refactor: Move FormatCoins to `core`
  core/coins/format.go
  core/coins/format_test.go
  core/go.mod
  core/go.sum
  math/dec.go
  math/dec_test.go
  math/int.go
  math/int_test.go
  tx/go.mod
  tx/textual/valuerenderer/coins.go
  tx/textual/valuerenderer/dec.go
  tx/textual/valuerenderer/dec_test.go
  tx/textual/valuerenderer/int.go
  tx/textual/valuerenderer/int_test.go
  tx/textual/valuerenderer/valuerenderer_test.go
Due: none

address review comments
  simapp/simd/cmd/genaccounts.go
  x/auth/helpers/add_genesis_account_helper.go
Due: modules

Rename to shorter names
  core/coins/format.go
  math/dec.go
  math/dec_test.go
  math/int.go
  math/int_test.go
  tx/textual/valuerenderer/dec.go
  tx/textual/valuerenderer/dec_test.go
  tx/textual/valuerenderer/int.go
  tx/textual/valuerenderer/int_test.go
Due: none

Add chaneglog
  CHANGELOG.md
Due: none

nit
  x/auth/helpers/add_genesis_account_helper.go
Due: modules

Don't panic
  core/coins/format.go
Due: none

fix!: Fix group amino codec
  docs/core/encoding.md
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/gov/types/v1/codec.go
  x/gov/types/v1beta1/codec.go
  x/group/codec.go
  x/group/codec/cdc.go
  x/group/codec/doc.go
  x/group/msgs.go
  x/group/msgs_test.go
  x/group/simulation/operations_test.go
  x/mint/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/upgrade/types/codec.go
Due: modules

changelog
  CHANGELOG.md
  x/group/msgs_test.go
Due: modules

refactor: Rename deterministic to `module_query_safe` (#13305)
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  api/cosmos/bank/v1beta1/query_grpc.pb.go
  api/cosmos/query/v1/query.pulsar.go
  api/cosmos/staking/v1beta1/query_grpc.pb.go
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/query/v1/query.proto
  proto/cosmos/staking/v1beta1/query.proto
Due: none

Update x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query.go
Due: modules

update CHANGELOG.md
  CHANGELOG.md
Due: none

docs
  x/auth/keeper/grpc_query.go
Due: modules

proto lint
  proto/cosmos/auth/v1beta1/query.proto
Due: none

fix!: Fix group amino codec (#13307)
  CHANGELOG.md
  docs/core/encoding.md
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/gov/types/v1/codec.go
  x/gov/types/v1beta1/codec.go
  x/group/codec.go
  x/group/codec/cdc.go
  x/group/codec/doc.go
  x/group/msgs.go
  x/group/msgs_test.go
  x/group/simulation/operations_test.go
  x/mint/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/upgrade/types/codec.go
Due: modules

Amino for StakeAuthorization & SendAuthorization
  x/bank/types/codec.go
  x/staking/types/codec.go
Due: modules

.github: add workflow for cosmos/gosec
  .github/workflows/gosec.yml
Due: none

force gosec run
  .github/workflows/gosec.yml
Due: none

very rough draft of stateful ordering
  types/mempool.go
  types/mempool_test.go
  x/auth/tx/builder.go
  x/auth/tx/decoder.go
Due: modules

Revert "force gosec run"
  .github/workflows/gosec.yml
Due: none

t
  types/mempool_test.go
Due: none

updates
  client/prompts.go
  x/gov/client/cli/prompt.go
  x/gov/client/cli/util.go
Due: modules, client

more generic
  x/gov/client/cli/prompt.go
Due: modules

improve message
  x/gov/client/cli/prompt.go
Due: modules

some notes
  x/auth/tx/builder.go
Due: modules

update iavl dependency
  go.mod
  go.sum
Due: none

Update x/auth/keeper/deterministic_test.go
  x/auth/keeper/deterministic_test.go
Due: modules

Fix authz amino isStakeAuthorization_Validators
  x/staking/types/codec.go
Due: modules

feat: x/auth determinism tests for `Account` query (#13255)
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  testutil/testdata/tx.go
  x/auth/keeper/deterministic_test.go
Due: modules

fix: keep the balance query endpoint compatible with legacy blocks (#13301)
  CHANGELOG.md
  x/bank/keeper/grpc_query.go
  x/bank/keeper/view.go
Due: modules
