Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Add appHash in fraudproof
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/fraudproof.go
Due: app

Remove getRevertState
  baseapp/baseapp.go
Due: app

Remove last store and modify test to do ISRs from block fp: WIP
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  store/v2alpha1/multi/store.go
Due: app

Refactor generateFraudProof to not use deep subtree
  baseapp/baseapp.go
Due: app

ISR test works, need to add deepsubtree in setup
  baseapp/baseapp.go
  baseapp/baseapp_test.go
Due: app

chore: remove temporary replace (#12977)
  go.mod
  go.sum
Due: none

Test revert modify record.proto
  api/cosmos/crypto/keyring/v1/record.pulsar.go
  crypto/keyring/record.pb.go
  proto/cosmos/crypto/keyring/v1/record.proto
  proto/cosmos/distribution/v1beta1/distribution.proto
Due: none

Update invariants.go
  x/distribution/keeper/invariants.go
Due: modules

refactor: remove weird casting for staking.Keeper in slashing and distribution (#12973)
  CHANGELOG.md
  go.work.sum
  testutil/list.go
  x/distribution/simulation/operations.go
  x/distribution/types/expected_keepers.go
  x/slashing/simulation/operations.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/expected_keepers.go
  x/staking/keeper/test_common.go
  x/staking/simulation/operations.go
Due: modules

docs: small readme tweaks
  README.md
Due: none

docs: small readme tweaks (#12979)
  README.md
Due: none

Export now only exports to file
  server/export.go
Due: none

docs: remove unreleased tendermint upgrades from changelog
  CHANGELOG.md
Due: none

update link
  docs/basics/gas-fees.md
Due: none

From osmo: https://github.com/osmosis-labs/cosmos-sdk/commit/18b0d2de413cdce6d3307588904dcdb2156f1eb9
  baseapp/abci.go
  client/grpc_query.go
  client/grpc_query_test.go
  testutil/network/util.go
  x/auth/tx/service_test.go
Due: app, modules, client

Fix tests:
  client/grpc_query_test.go
  snapshots/manager_test.go
  store/rootmulti/snapshot_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/types/params_test.go
Due: modules, client

docs: remove unreleased tendermint upgrades from changelog (#12980)
  CHANGELOG.md
  docs/basics/gas-fees.md
Due: none

Proper error when parsing telemetry configuration
  server/config/config.go
  server/start.go
Due: none

Update Makefile
  Makefile
Due: none

Update lint.yml
  .github/workflows/lint.yml
Due: none

more nolint
  client/grpc/tmservice/block.go
  crypto/keys/secp256k1/internal/secp256k1/scalar_mult_cgo.go
  server/grpc/grpc_web.go
  simapp/simd/cmd/testnet.go
  store/iavl/store.go
  testutil/network/util.go
  types/address.go
  types/errors/errors.go
  x/auth/tx/service.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/feegrant/simulation/operations.go
  x/gov/simulation/operations.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Due: modules, client

Update Makefile (#12982)
  Makefile
Due: none

test
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/block_gas_test.go
  baseapp/options.go
  baseapp/router.go
  baseapp/router_test.go
  types/router.go
Due: app

Update x/auth/ante/validator_tx_fee.go
  x/auth/ante/validator_tx_fee.go
Due: modules

chore: address the pr comments++
  x/staking/migrations/v5/store.go
  x/staking/types/delegation.go
Due: modules

fix tests
  types/module/module_test.go
Due: none

fix tests
  store/v2alpha1/dbadapter/store_test.go
  x/group/keeper/keeper_test.go
Due: modules

use notional gitpod image
  crypto/keys/secp256k1/internal/secp256k1/curve.go
  x/auth/client/testutil/suite.go
  x/slashing/simulation/operations.go
Due: modules

fix linting
  .github/workflows/lint.yml
  .golangci.yml
Due: none

fix filepath
  simapp/simd/cmd/testnet.go
  testutil/network/util.go
Due: none

gitpod
  .gitpod.yml
Due: none

update all_legacy
  simapp/app_legacy.go
Due: none

Move to tests/integration
  tests/integration/gov/common_test.go
  tests/integration/gov/deposit_test.go
  tests/integration/gov/export_test.go
  tests/integration/gov/grpc_query.go
  tests/integration/gov/grpc_query_test.go
  tests/integration/gov/hooks_test.go
  tests/integration/gov/internal_test.go
  tests/integration/gov/keeper_test.go
  tests/integration/gov/msg_server_test.go
  tests/integration/gov/proposal_test.go
  tests/integration/gov/tally_test.go
  tests/integration/gov/vote_test.go
Due: none

Run mockgen
  scripts/mockgen.sh
  x/gov/testutil/expected_keepers_mocks.go
Due: modules

refactor more tests
  scripts/mockgen.sh
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal_test.go
  x/gov/testutil/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
Due: modules

move to keeper subfolder
  tests/integration/gov/keeper/common_test.go
  tests/integration/gov/keeper/deposit_test.go
  tests/integration/gov/keeper/export_test.go
  tests/integration/gov/keeper/grpc_query.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/gov/keeper/hooks_test.go
  tests/integration/gov/keeper/internal_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/gov/keeper/msg_server_test.go
  tests/integration/gov/keeper/proposal_test.go
  tests/integration/gov/keeper/tally_test.go
  tests/integration/gov/keeper/vote_test.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
