Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Add MinCommissionRate param to migration
  x/staking/keeper/migrations.go
  x/staking/migrations/v045/store.go
Due: modules

chore(upgrade): cleaning
  docs/core/upgrade.md
  types/module/module.go
Due: none

Try to fix the build environment for the liveness test.
  .github/workflows/test.yml
  Makefile
  contrib/images/Makefile
  contrib/images/simd-env/Dockerfile
  contrib/images/simd-env/wrapper.sh
Due: none

chore: Fix comment on DenomMetadata for 0.44 (#10408)
  x/bank/migrations/v045/store_test.go
Due: modules

Remove unnecessary dependency.
  .github/workflows/test.yml
Due: none

Drop check.
  contrib/images/simd-env/Dockerfile
  contrib/images/simd-env/wrapper.sh
Due: none

Fix up the build for the liveness test.
  Makefile
  contrib/images/Makefile
  contrib/images/simd-env/Dockerfile
  contrib/images/simd-env/wrapper.sh
  docker-compose.yml
Due: none

fix reseting hdpath of testnet command
  server/init.go
Due: none

go mod tidy
  x/group/go.mod
  x/group/go.sum
Due: modules

WIP on docs
  x/group/internal/orm/spec/01_table.md
  x/group/internal/orm/spec/README.md
  x/group/internal/orm/table.go
Due: modules

Simplify table creation
  x/group/internal/orm/table.go
  x/group/internal/orm/table_test.go
Due: modules

Replace code snippets with github links
  x/group/internal/orm/spec/01_table.md
Due: modules

Update x/group/internal/orm/table.go
  x/group/internal/orm/table.go
Due: modules

chore: v0.44.3 release notes and changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Delete IBC docs folder
  docs/ibc/README.md
  docs/ibc/custom.md
  docs/ibc/integration.md
  docs/ibc/overview.md
  docs/ibc/proposals.md
  docs/ibc/relayer.md
  docs/ibc/upgrades/README.md
  docs/ibc/upgrades/developer-guide.md
  docs/ibc/upgrades/quick-guide.md
Due: none

Copy docs from IBC repo
  docs/pre.sh
Due: none

Delete IBC docs in post
  docs/post.sh
Due: none

Address review comments
  types/errors/errors.go
  x/group/internal/orm/sequence.go
  x/group/internal/orm/sequence_test.go
  x/group/internal/orm/table.go
  x/group/internal/orm/table_test.go
  x/group/internal/orm/types.go
  x/group/internal/orm/types_test.go
Due: modules

feat: Add Table-Store (aka ORM) package - Table and Indexable (#9751)
  testutil/testdata/table.go
  testutil/testdata/testdata.pb.go
  testutil/testdata/testdata.proto
  types/errors/errors.go
  x/group/go.mod
  x/group/go.sum
  x/group/internal/orm/index.go
  x/group/internal/orm/index_property_test.go
  x/group/internal/orm/index_test.go
  x/group/internal/orm/sequence.go
  x/group/internal/orm/sequence_property_test.go
  x/group/internal/orm/sequence_test.go
  x/group/internal/orm/spec/README.md
  x/group/internal/orm/table.go
  x/group/internal/orm/table_test.go
  x/group/internal/orm/testsupport.go
  x/group/internal/orm/types.go
  x/group/internal/orm/types_test.go
Due: modules

Fix tests
  types/errors/errors.go
  x/group/internal/orm/key_codec.go
  x/group/internal/orm/orm_scenario_test.go
Due: modules

Update types/module/module.go
  types/module/module.go
Due: none

fix test error
  x/nft/keeper/keeper_test.go
Due: modules

Small nits
  x/group/internal/orm/generators_test.go
  x/group/internal/orm/spec/01_table.md
Due: modules

rework the github test workflow
  .github/workflows/test.yml
  container/container_test.go
  scripts/module-tests.sh
Due: none

cleaning
  .github/workflows/test.yml
  scripts/module-tests.sh
Due: none

remove test-cosmovisor workflow job
  .github/workflows/test.yml
Due: none

add correct return statement
  .github/workflows/test.yml
  container/container_test.go
  db/adapter.go
  scripts/module-tests.sh
Due: none

Apply suggestions from code review
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Due: none

reword the module key compression part
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Due: none

Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

Move tx stuff out of baseapp
  baseapp/abci_test.go
  baseapp/baseapp_test.go
  baseapp/custom_txhandler_test.go
  baseapp/util_test.go
  x/auth/middleware/baseapp_test.go
  x/auth/middleware/gas_test.go
Due: app, modules

Add comment
  x/auth/middleware/baseapp_test.go
Due: modules

Remove snapshot stuff from middleware
  x/auth/middleware/baseapp_test.go
Due: modules

Fix up go.mod and go.sum after merge.
  go.sum
Due: none

docs: fix heading level to title shows in TOC
  x/slashing/spec/09_client.md
Due: modules

add changelog
  CHANGELOG.md
Due: none

fix: fix cosmovisor test
  cosmovisor/upgrade_test.go
Due: none

fix: fix failing test
  cosmovisor/upgrade_test.go
Due: none

chore: v0.44.3 release notes and changelog (#10416)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
