Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Merge commit from fork
  CHANGELOG.md
  RELEASE_NOTES.md
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/msg_server.go
Due: modules

Merge commit from fork
  CHANGELOG.md
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/msg_server.go
Due: modules

fix(x/distribution): can halt when historical rewards overflow (#651)
  CHANGELOG.md
  api/cosmos/group/v1/events.pulsar.go
  proto/cosmos/group/v1/events.proto
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/msg_server.go
  x/group/events.pb.go
  x/group/keeper/msg_server.go
  x/group/keeper/msg_server_priv_test.go
  x/group/keeper/msg_server_test.go
Due: modules

upgrade deprecated github workflows (#68)
  .github/workflows/test.yml
Due: none

Patch for ISA-2025-005 in x/distribution (#67)
  CHANGELOG.md
  RELEASE_NOTES.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/msg_server.go
Due: modules

fix(client): make `wait-tx` robust
  client/broadcast.go
  client/rpc/tx.go
Due: client

[CP-405] Added logic to access all registered errors, to aid in the automation of errors documentation generation
  errors/errors.go
Due: none

WIP: temporary changes before v0.50.14 update
  git-merge.sh
  tests/integration/bank/keeper/deterministic_test.go
Due: none

docs: fix CosmosSDK protos path
  store/streaming/abci/README.md
Due: none

build(deps): upgrade Dockerfiles to golang:1.22
  Dockerfile
  contrib/devtools/Dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
Due: none

chore: `golangci-lint run --fix`
  .golangci.yml
  baseapp/abci.go
  baseapp/state.go
  client/broadcast.go
  scripts/go-lint-all.bash
  simapp/sim_test.go
  store/rootmulti/store.go
  store/snapshots/manager_test.go
  tests/integration/staking/keeper/delegation_test.go
  tests/integration/vesting/keeper/vesting_account_test.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/cmd/vestcalc/vestcalc.go
  x/auth/vesting/cmd/vestcalc/vestcalc_test.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/types/expected_keepers.go
  x/auth/vesting/types/genesis_test.go
  x/auth/vesting/types/msgs.go
  x/auth/vesting/types/msgs_test.go
  x/auth/vesting/types/period_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_internal_test.go
  x/distribution/keeper/grpc_query.go
  x/gov/client/cli/tx.go
  x/gov/keeper/tally.go
Due: app, modules, client

doc: update `CHANGELOG-Agoric.md`
  .github/workflows/changelog-reminder.yml
  CHANGELOG-Agoric.md
Due: none

docs: update CHANGELOG-Agoric.md
  CHANGELOG-Agoric.md
Due: none

perf(client): optimize CheckCometError with structured error matching
  client/broadcast.go
  client/broadcast_test.go
Due: client

Fix error comparison in TestAminoCodecUnpackAnyFails to use require.EqualError (#24932)
  codec/amino_codec_test.go
Due: none

chore: update codeowners (#2)
  .github/CODEOWNERS
Due: none

fix(scripts): add quotes for safe argument handling in pre-commit hook
  contrib/githooks/pre-commit
Due: none

fix: broken tests for integration bank
  tests/integration/bank/keeper/deterministic_test.go
Due: none

fix: cosmovisor tests
  tools/cosmovisor/errors/multi_test.go
Due: none

fix: test fri briadcast
  client/broadcast_test.go
Due: client

chore: clean up protoc-swagger-gen.sh by removing unused tmp-swagger-gen and redundant find options
  scripts/protoc-swagger-gen.sh
Due: none

fix changelog
  CHANGELOG.md
Due: none

fix: correct variable names in findEndIndex comment
  store/cachekv/store.go
Due: none

Update README.md
  store/snapshots/README.md
Due: none

sort imports
  tests/integration/distribution/keeper/msg_server_test.go
Due: none

docs: fix CosmosSDK protos path (#24935)
  store/streaming/abci/README.md
Due: none

gci
  tests/integration/distribution/keeper/msg_server_test.go
Due: none

tidy
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

feat: port bls12381 from v0.52.rc2 (#24872)
  CHANGELOG.md
  crypto/codec/amino.go
  crypto/codec/cmt.go
  crypto/codec/proto.go
  crypto/hd/algo.go
  crypto/keys/bls12_381/key.go
  crypto/keys/bls12_381/key_cgo.go
  crypto/keys/bls12_381/keys.pb.go
  crypto/keys/multisig/codec.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/utils.go
  x/genutil/utils_test.go
Due: modules

fix: apply security fix from v0.50.14 (#24946)
  CHANGELOG.md
  RELEASE_NOTES.md
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/msg_server.go
Due: modules

feat: Add NewPubKeyFromBytes for secp256r1 to create PubKey from bytes (#24919)
  CHANGELOG.md
  crypto/keys/secp256r1/pubkey.go
  crypto/keys/secp256r1/pubkey_internal_test.go
Due: none

docs: fix typos and clarify wording (#24925)
  x/gov/README.md
  x/slashing/README.md
Due: modules

chore: remove unnesesary workflow
  .github/issue_labeler.yml.DISABLED
Due: none

docs: fix typo in post.sh script - correct 'advaced' to 'advanced'
  docs/post.sh
Due: none

docs: fix typos in gov module README
  x/gov/README.md
Due: modules

feat: add test case for missing upgrade handler in last applied upgrade
  x/upgrade/abci_test.go
Due: modules

feat: add TestMissingUpgradeHandler for missing upgrade handler scenario
  x/upgrade/abci_test.go
Due: modules

ud
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
