Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

build(deps): Bump @docusaurus/plugin-client-redirects from 2.4.0 to 2.4.1 in /docs for all modules
  x/circuit/go.mod
  x/circuit/go.sum
Due: modules

build(deps): Bump @docusaurus/core from 2.4.0 to 2.4.1 in /docs for all modules
  x/circuit/go.mod
  x/circuit/go.sum
Due: modules

remove IterateVotes and IterateAllVotes API
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
Due: modules

x/nft needs store and collection replaces
  x/nft/go.mod
  x/nft/go.sum
Due: modules

go mod tidy
  simapp/go.mod
  tests/go.mod
Due: none

do not error when no results are found
  x/gov/keeper/tally.go
Due: modules

remove keys
  x/gov/keeper/grpc_query.go
  x/gov/keeper/vote.go
  x/gov/migrations/v2/store_test.go
  x/gov/types/keys.go
  x/gov/types/keys_test.go
Due: modules

chore: adjust doc
  x/gov/keeper/migrations.go
Due: modules

chore: lint
  x/gov/genesis.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
Due: modules

chore: CHANGELOG.md
  CHANGELOG.md
Due: none

refactor(simulations): marshal OperationMsg.Msg as protoBytes (#16155)
  CHANGELOG.md
  simapp/go.mod
  tests/go.mod
  types/simulation/types.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/distribution/simulation/operations_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/nft/go.mod
  x/nft/go.sum
  x/nft/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/operations_test.go
  x/staking/simulation/operations_test.go
Due: modules

remove more unused functions
  x/gov/types/keys.go
Due: modules

updates
  docs/package-lock.json
  docs/package.json
Due: none

lint
  x/gov/types/keys_test.go
Due: modules

refactor: Start DRY'ing filtered paginate code (#16099)
  types/query/collections_pagination.go
  types/query/filtered_pagination.go
  types/query/pagination.go
Due: none

build(deps): Bump cosmossdk.io/math from 1.0.0 to 1.0.1 for all modules
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump github.com/spf13/cast from 1.5.0 to 1.5.1 for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

build(deps): Bump cosmossdk.io/math from 1.0.0 to 1.0.1 for all modules
  core/go.mod
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
Due: none

chore(rosetta): run `make rosetta-data`
  contrib/rosetta/rosetta-ci/data.tar.gz
Due: none

trigger rosetta ci
  tools/rosetta/converter.go
Due: none

Add missing attribute to proto, other test fixes too
  api/cosmos/gov/v1/tx.pulsar.go
  proto/cosmos/gov/v1/tx.proto
  types/simulation/types.go
  x/gov/simulation/operations_test.go
  x/gov/types/v1/msgs_test.go
  x/gov/types/v1/tx.pb.go
  x/tx/signing/aminojson/json_marshal_test.go
Due: modules

refactor(gov)!: use collections for Vote state management. (#16164)
  CHANGELOG.md
  x/gov/genesis.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper.go
  x/gov/keeper/migrations.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v2/store_test.go
  x/gov/types/keys.go
  x/gov/types/keys_test.go
Due: modules

remove set proposal method
  x/gov/genesis.go
  x/gov/keeper/common_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/gov/types/keys.go
Due: modules

remove GetProposalID
  x/gov/genesis.go
  x/gov/keeper/proposal.go
  x/gov/simulation/operations.go
Due: modules

remove GetProposalFiltered
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/gov/types/keys.go
Due: modules

remove IterateProposal and GetProposals
  x/gov/genesis.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/simulation/operations.go
Due: modules

remove MarshalProposal
  x/gov/keeper/proposal.go
Due: modules

remove UnmarshalProposal
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
Due: modules

remove unused errors
  x/gov/keeper/deposit.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/proposal_test.go
  x/gov/types/errors.go
Due: modules

simplify proposals query logic
  x/gov/keeper/grpc_query.go
Due: modules

delete proposal using coll
  x/gov/keeper/proposal.go
Due: modules

remove GetProposal
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/gov/keeper/tally_test.go
  x/gov/abci_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/simulation/operations.go
Due: modules

chore: CHANGELOG.md
  CHANGELOG.md
  x/gov/types/keys.go
  x/gov/types/keys_test.go
Due: modules

chore: lint
  x/gov/keeper/proposal_test.go
  x/gov/simulation/operations.go
Due: modules

fix test
  tests/integration/gov/genesis_test.go
Due: none

chore(rosetta): run `make rosetta-data` (#16169)
  contrib/rosetta/rosetta-ci/data.tar.gz
  tools/rosetta/converter.go
Due: none

fix lint and tests
  tests/e2e/gov/tx.go
  x/gov/types/keys_test.go
Due: modules

fix docs
  x/evidence/README.md
  x/evidence/keeper/keeper.go
Due: modules

add cl and upgrading
  UPGRADING.md
  x/evidence/CHANGELOG.md
Due: modules

feat: async commit
  simapp/app.go
  store/iavl/store.go
  store/mem/store.go
  store/rootmulti/dbadapter.go
  store/rootmulti/store.go
  store/transient/store.go
  store/types/store.go
  x/upgrade/abci.go
  x/upgrade/keeper/keeper.go
  x/upgrade/module.go
Due: modules
