Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

types: fix invalid int->string conversion in benchmarks
  types/coin_benchmark_test.go
Due: none

Make TestAnteHandlerSigErrors work
  x/auth/ante/ante_test.go
  x/auth/types/test_utils.go
Due: modules

update module ops
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/gov/simulation/operations.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Due: modules

types: fix invalid int->string conversion in benchmarks (#6678)
  types/coin_benchmark_test.go
Due: none

codec: add as much visible coverage
  codec/amino.go
  codec/amino_codec_test.go
  codec/any_test.go
  codec/proto_codec_test.go
Due: none

fix lgtm alert
  x/bank/simulation/operations.go
Due: modules

begin migration to standardized version
  proto/ibc/connection/connection.proto
  x/ibc/03-connection/exported/exported.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/connection.pb.go
  x/ibc/03-connection/types/msgs.go
  x/ibc/03-connection/types/version.go
  x/ibc/03-connection/types/version_test.go
  x/ibc/24-host/validate.go
Due: modules

codec: add as much visible coverage (#6670)
  codec/amino.go
  codec/amino_codec_test.go
  codec/any_test.go
  codec/proto_codec_test.go
Due: none

codec: remove unused and untest ProtoMarshalJSONIndent
  codec/json.go
Due: none

reorder
  x/distribution/types/codec.go
Due: modules

Remove ConvertEvidence
  x/evidence/keeper/grpc_query.go
Due: modules

First part of cli sign.
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/helpers.go
  x/auth/client/tx.go
Due: modules

Add test for sign batch.
  x/auth/client/cli/cli_test.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

launchpad: backport cliCtx.QueryABCI
  CHANGELOG.md
  client/context/query.go
Due: client

codec: remove unused and untest ProtoMarshalJSONIndent (#6668)
  codec/json.go
Due: none

launchpad: register MsgFundCommunityPool to distribution codec (#6675)
  CHANGELOG.md
  x/distribution/types/codec.go
Due: modules

Make first 2 tests pass
  client/tx/tx.go
  x/auth/ante/ante_test.go
  x/auth/types/test_utils.go
Due: modules, client

add prove flag
  CHANGELOG.md
  client/context/query.go
  client/flags/flags.go
Due: client

TestAnteHandlerAccountNumbers
  x/auth/ante/ante_test.go
Due: modules

client: backport IBC additions (#6682)
  CHANGELOG.md
  client/context/query.go
  client/flags/flags.go
Due: client

fix build
  testutil/ioutil.go
  x/distribution/client/cli/cli_test.go
Due: modules

add test
  x/bank/internal/keeper/keeper_test.go
Due: modules

refactor a little and improve the test
  tests/cli/helpers.go
  x/auth/client/cli/cli_test.go
  x/auth/client/testutil/helpers.go
  x/bank/client/testutil/cli_helpers.go
Due: modules

Use table tests
  x/auth/ante/ante_test.go
Due: modules

x/evidence: gRPC query service (#6593)
  proto/cosmos/evidence/query.proto
  store/rootmulti/internal/proofs/create.go
  x/evidence/client/cli/query.go
  x/evidence/client/rest/query.go
  x/evidence/keeper/grpc_query.go
  x/evidence/keeper/grpc_query_test.go
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/querier.go
  x/evidence/keeper/querier_test.go
  x/evidence/types/querier.go
  x/evidence/types/query.pb.go
  x/mint/types/query.pb.go
Due: modules

tests: TestNewSetWithdrawAddrCmd
  x/distribution/client/cli/cli_test.go
Due: modules

tests: TestNewFundCommunityPoolCmd
  x/distribution/client/cli/cli_test.go
Due: modules

Save account for multi sending (#6674)
  CHANGELOG.md
  x/bank/internal/keeper/keeper.go
  x/bank/internal/keeper/keeper_test.go
Due: modules

tests: TestGetCmdSubmitProposal
  x/distribution/client/cli/cli_test.go
  x/distribution/client/cli/tx.go
Due: modules

Merge PR #6652: x/distribution: In-Process Testing & CLI Refactor
  client/cmd.go
  client/context.go
  client/flags/flags.go
  testutil/ioutil.go
  testutil/network/network.go
  x/distribution/client/cli/cli_test.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
  x/distribution/client/common/common.go
  x/distribution/client/common/common_test.go
  x/distribution/client/rest/query.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
  x/distribution/client/testutil/helpers.go
  x/distribution/module.go
  x/gov/client/proposal_handler.go
  x/gov/module.go
  x/params/client/cli/tx.go
  x/upgrade/client/cli/tx.go
Due: modules, client

Remove print
  x/auth/ante/sigverify.go
Due: modules

In process CLI for gov
  x/gov/client/cli/query.go
Due: modules

ReadQueryCommandFlags
  x/upgrade/client/cli/query.go
Due: modules

gov tx
  x/gov/client/cli/tx.go
Due: modules

Added simapp genesis data for client and connection
  simapp/sim_test.go
  x/ibc/02-client/simulation/genesis.go
  x/ibc/04-channel/simulation/genesis.go
Due: modules

Fix compiler errors
  x/gov/client/cli/parse_test.go
  x/gov/client/cli/tx.go
  x/gov/module.go
Due: modules

migrate broadcast command
  testutil/network/network.go
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/cli_test.go
  x/auth/client/testutil/helpers.go
Due: modules

fix linter
  simapp/simd/cmd/root.go
  x/auth/client/cli/tx.go
  x/auth/client/cli/tx_sign.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
