Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

chore: bump tendermint to 0.34.24 (#13972)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore: bump tendermint to 0.34.24 (#13973)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

comment
  types/mempool/sender_nonce_property_test.go
Due: none

Update types/mempool/sender_nonce_property_test.go
  types/mempool/sender_nonce_property_test.go
Due: none

Update tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.proto
Due: none

context on proto vs module versioning
  docs/architecture/adr-054-semver-compatible-modules.md
Due: none

remove unesessary loop
  types/mempool/sender_nonce_property_test.go
Due: none

improve function name
  types/mempool/sender_nonce_property_test.go
Due: none

ci: configure monorepo sonarcloud
  .build.sh
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/sims.yml
  .github/workflows/test-e2e-skip.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration-skip.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-legacy.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  client/v2/sonar-project.properties
  contrib/test_cover.sh
  core/sonar-project.properties
  depinject/sonar-project.properties
  errors/sonar-project.properties
  go.work.example
  math/sonar-project.properties
  scripts/module-tests.sh
  simapp/sonar-project.properties
  sonar-project.properties
  tests/sonar-project.properties
  tools/cosmovisor/sonar-project.properties
  tools/rosetta/config.go
  tools/rosetta/sonar-project.properties
  tx/sonar-project.properties
  tx/textual/valuerenderer/bytes.go
Due: client

working
  tools/rosetta/config.go
  tx/textual/valuerenderer/bytes.go
Due: none

Update types/mempool/sender_nonce.go
  types/mempool/sender_nonce.go
Due: none

Update docs/architecture/adr-054-semver-compatible-modules.md
  docs/architecture/adr-054-semver-compatible-modules.md
Due: none

change import name
  types/mempool/sender_nonce.go
Due: none

change validation to be preemvtive
  types/mempool/sender_nonce.go
Due: none

updates
  docs/architecture/adr-054-semver-compatible-modules.md
Due: none

docs on current cachekv implementation
  store/cachekv/README.md
Due: none

updates
  docs/architecture/adr-054-semver-compatible-modules.md
  proto/cosmos/app/v1alpha1/module.proto
Due: none

add cosmossdk.io/ledger
  go.mod
  go.sum
  ledger/LICENSE
  ledger/README.md
  ledger/common.go
  ledger/common_test.go
  ledger/go.mod
  ledger/go.sum
  ledger/user_app.go
  ledger/user_app_test.go
  ledger/validator_app.go
  ledger/validator_app_test.go
Due: none

iavl import path
  iavl/.gitpod.yml
  iavl/go.mod
Due: none

added suggested change, some minor edits
  store/cachekv/README.md
Due: none

formatting tweaks
  store/cachekv/README.md
Due: none

wip: nits
  proto/cosmos/crisis/module/v1/module.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  x/crisis/exported/exported.go
  x/crisis/keeper/migrator.go
  x/crisis/keeper/msg_server.go
  x/crisis/types/codec.go
  x/crisis/types/msgs.go
Due: modules

fix: remove duplicate ante events
  baseapp/baseapp.go
Due: app

simplify
  .github/workflows/test-e2e-skip.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration-skip.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
  .gitignore
  tests/Makefile
  tests/sonar-project.properties
Due: none

updates
  .github/workflows/test.yml
  tests/Makefile
Due: none

test ci
  x/auth/autocli.go
Due: modules

updates
  .github/workflows/test.yml
  Makefile
  tests/Makefile
Due: none

chore: add group and gov/v1 in swagger
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Due: client

updates
  .github/workflows/test.yml
Due: none

add tests for VerifyInvariant and increase codecov for keeper
  x/crisis/keeper/msg_server_test.go
Due: modules

chore: update changelog
  CHANGELOG.md
Due: none

updates
  x/auth/autocli.go
Due: modules

singular
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
Due: none

ci: configure monorepo sonarcloud (#13944)
  .build.sh
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/sims.yml
  .github/workflows/test-e2e-skip.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration-skip.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-legacy.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  client/v2/sonar-project.properties
  contrib/test_cover.sh
  core/sonar-project.properties
  depinject/sonar-project.properties
  errors/sonar-project.properties
  go.work.example
  math/sonar-project.properties
  scripts/module-tests.sh
  simapp/sonar-project.properties
  sonar-project.properties
  tests/Makefile
  tools/cosmovisor/sonar-project.properties
  tools/rosetta/sonar-project.properties
  tx/sonar-project.properties
Due: client

ci: configure monorepo sonarcloud (#13944)
  .build.sh
  .github/workflows/build.yml
  .github/workflows/sims.yml
  .github/workflows/test-e2e-skip.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration-skip.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-legacy.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  client/v2/sonar-project.properties
  contrib/test_cover.sh
  core/sonar-project.properties
  depinject/sonar-project.properties
  errors/sonar-project.properties
  go.work.example
  math/sonar-project.properties
  scripts/module-tests.sh
  simapp/sonar-project.properties
  sonar-project.properties
  tests/Makefile
  tools/cosmovisor/sonar-project.properties
  tools/rosetta/sonar-project.properties
  tx/sonar-project.properties
Due: client

fix: make downgrade verification work again (#13936)
  CHANGELOG.md
  x/upgrade/abci.go
  x/upgrade/abci_test.go
Due: modules
