Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Update sigverify.go
  x/auth/ante/sigverify.go
Due: modules

Update sigverify_test.go
  x/auth/ante/sigverify_test.go
Due: modules

Update ante_test.go
  x/auth/ante/ante_test.go
Due: modules

test: perform upgrade test from v53 (#24749)
  Makefile
  simapp/upgrades.go
  tests/systemtests/unordered_tx_test.go
  tests/systemtests/upgrade_test.go
Due: none

fix: delegation update api
  x/staking/keeper/delegation.go
Due: modules

perf(x/bank): Improve performance of GetAllBalances and GetAccountsBalances. (#24660)
  CHANGELOG.md
  x/bank/keeper/keeper_test.go
  x/bank/keeper/view.go
Due: modules

fix: delegation vesting and vesting proto
  proto/cosmos/vesting/v1beta1/tx.proto
  tests/go.mod
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/msgs.go
Due: modules

WIP on watcher
  tools/cosmovisor/watcher.go
Due: none

fix(x/epochs): fix register of epoch hooks in `InvokeSetHooks`
  CHANGELOG.md
  x/epochs/depinject.go
  x/epochs/depinject_test.go
Due: modules

fix: tx to half both legacy and current behabioer
  x/gov/client/cli/tx.go
Due: modules

fix: adding signer to vesting clawback msgs
  api/cosmos/vesting/v1beta1/tx.pulsar.go
  proto/cosmos/vesting/v1beta1/tx.proto
  x/auth/vesting/types/tx.pb.go
Due: none

fix: fee test new apis
  x/auth/ante/fee_test.go
  x/auth/ante/testutil_test.go
Due: modules

fix: fee test apis sdk math
  x/auth/vesting/cmd/vestcalc/vestcalc.go
  x/auth/vesting/testutil/expected_keepers_mocks.go
Due: modules

fix: remove test from non implemented interfaces in upsgtream
  x/auth/vesting/cmd/vestcalc/vestcalc_test.go
  x/auth/vesting/types/msgs_test.go
Due: modules

fix(baseapp): Use CometBFT's ComputeProtoSizeForTxs in defaultTxSelector.SelectTxForProposal (#24074)
  CHANGELOG.md
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
Due: app

CP-379/backport-sdk-patch chore: fix tests
  baseapp/abci_utils_test.go
  x/tx/internal/testpb/signers.proto
  x/tx/internal/testpb/signers.pulsar.go
Due: app, modules

CP-390 disable DepositValidatorRewardsPool for non-staking tokens
  baseapp/testutil/mock/mocks.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/msg_server.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
  x/staking/testutil/expected_keepers_mocks.go
Due: app, modules

chore: bump cometbft to v1.0.1-inj.2
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules

tidy
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: client

lint
  x/epochs/depinject_test.go
Due: modules

tidy
  store/go.mod
Due: none

proto-attempt
  depinject/appconfig/config_test.go
  depinject/internal/appconfig/testpb/test.proto
Due: none

ok
  depinject/internal/appconfig/buf.lock
  depinject/internal/appconfig/testpb/test.pulsar.go
  depinject/internal/appconfiggogo/buf.lock
  depinject/internal/appconfiggogo/testpb/test.pb.go
  depinject/internal/appconfiggogo/testpb/test.proto
  scripts/protocgen-pulsar.sh
  scripts/protocgen.sh
Due: none

poll watcher tests pass
  tests/systemtests/upgrade_test.go
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
  tools/cosmovisor/fsnotify_watcher.go
  tools/cosmovisor/poll_watcher.go
  tools/cosmovisor/poll_watcher_test.go
  tools/cosmovisor/watcher.go
Due: none

data watcher tests
  tools/cosmovisor/data_watcher.go
  tools/cosmovisor/data_watcher_test.go
  tools/cosmovisor/watcher.go
Due: none

perf: add TEST_PARALLEL flag to optimize test execution speed
  Makefile
Due: none

fix(x/epochs): fix register of epoch hooks in `InvokeSetHooks` (#24770)
  CHANGELOG.md
  x/epochs/depinject.go
  x/epochs/depinject_test.go
Due: modules

notes
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
  tools/cosmovisor/cmd/cosmovisor/batch_upgrade.go
  tools/cosmovisor/process.go
Due: none

use common logic for add-batch-upgrade and add-upgrade
  tools/cosmovisor/args.go
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
  tools/cosmovisor/cmd/cosmovisor/batch_upgrade.go
  tools/cosmovisor/manual.go
Due: none

refactoring watchers
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
  tools/cosmovisor/data_watcher.go
  tools/cosmovisor/data_watcher_test.go
  tools/cosmovisor/fsnotify_watcher.go
  tools/cosmovisor/hybrid_watcher.go
  tools/cosmovisor/manual.go
  tools/cosmovisor/poll_watcher.go
  tools/cosmovisor/poll_watcher_test.go
  tools/cosmovisor/process.go
  tools/cosmovisor/watcher.go
Due: none

watcher initialization
  tools/cosmovisor/args.go
  tools/cosmovisor/internal/watchers/data_watcher.go
  tools/cosmovisor/internal/watchers/data_watcher_test.go
  tools/cosmovisor/internal/watchers/fsnotify_watcher.go
  tools/cosmovisor/internal/watchers/hybrid_watcher.go
  tools/cosmovisor/internal/watchers/poll_watcher.go
  tools/cosmovisor/internal/watchers/poll_watcher_test.go
  tools/cosmovisor/internal/watchers/watcher.go
  tools/cosmovisor/manual.go
  tools/cosmovisor/process.go
  tools/cosmovisor/scanner.go
  tools/cosmovisor/watcher.go
Due: none

dont tidy, use main commit
  tools/migration/cometv1/main.go
  tools/migration/cometv1/module.go
  tools/migration/migrate.go
Due: none

rename to v54
  tools/migration/v54/README.md
  tools/migration/v54/calls.go
  tools/migration/v54/complex.go
  tools/migration/v54/go.mod
  tools/migration/v54/go.sum
  tools/migration/v54/imports.go
  tools/migration/v54/main.go
  tools/migration/v54/module.go
  tools/migration/v54/structs.go
Due: none

readme updates
  tools/migration/v54/README.md
Due: none
