Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

ADR-042: Group module (#9089)
  docs/architecture/adr-042-group-module.md
Due: none

Fix test
  x/genutil/client/testutil/migrate.go
Due: modules

Update x/bank/simulation/operations.go
  x/bank/simulation/operations.go
Due: modules

Relase wording
  STABLE_RELEASES.md
  x/genutil/client/testutil/migrate.go
Due: modules

fix tests
  x/gov/client/testutil/deposits_test.go
  x/gov/client/testutil/suite.go
Due: modules

wip: add NumBonded balances to genesis balances
  simapp/state.go
  x/bank/simulation/genesis.go
  x/bank/simulation/genesis_test.go
Due: modules

fix failing test
  x/gov/client/testutil/suite.go
Due: modules

move changelog line
  CHANGELOG.md
Due: none

x/bank v0.43 Audit updates (#9271)
  CHANGELOG.md
  proto/cosmos/bank/v1beta1/bank.proto
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/expected_keepers.go
  x/bank/atlas/atlas-v0.39.1.md
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/module.go
  x/bank/simulation/operations.go
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/types/bank.pb.go
  x/bank/types/key.go
Due: modules

Update doc for IterateAccounts x/auth keeper meethod
  x/auth/keeper/keeper.go
  x/auth/spec/04_keepers.md
Due: modules

poolx: simapp should host all "core modules"
  simapp/app.go
  x/poolx/keeper/grpc_query_test.go
  x/poolx/keeper/keeper.go
Due: modules

getModuleAccounts
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
Due: modules

fix for loop
  x/bank/simulation/operations.go
Due: modules

applied reviewers suggestions, r4r
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
Due: modules

Adding specifications to NFT fields and clarity on usage.
  docs/architecture/adr-043-basenft-module.md
Due: none

fix tests
  crypto/keys/internal/ecdsa/privkey_internal_test.go
  crypto/keys/internal/ecdsa/pubkey.go
  crypto/keys/internal/ecdsa/pubkey_internal_test.go
  crypto/keys/secp256r1/privkey.go
  crypto/keys/secp256r1/privkey_internal_test.go
  crypto/keys/secp256r1/pubkey.go
  crypto/keys/secp256r1/pubkey_internal_test.go
Due: none

calculate fieldSize for esdca test
  crypto/keys/internal/ecdsa/pubkey_internal_test.go
Due: none

remove require declaration for consistency
  crypto/keys/internal/ecdsa/pubkey_internal_test.go
Due: none

Crypto v0.43 Audit updates (#9292)
  crypto/keys/internal/ecdsa/privkey_internal_test.go
  crypto/keys/internal/ecdsa/pubkey.go
  crypto/keys/internal/ecdsa/pubkey_internal_test.go
  crypto/keys/secp256r1/privkey.go
  crypto/keys/secp256r1/privkey_internal_test.go
  crypto/keys/secp256r1/pubkey.go
  crypto/keys/secp256r1/pubkey_internal_test.go
Due: none

doc: Updates related to ServiceMsg, sdk.Msg and Msg service
  docs/basics/app-anatomy.md
  docs/basics/gas-fees.md
  docs/basics/tx-lifecycle.md
  docs/building-modules/intro.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/msg-services.md
  docs/building-modules/query-services.md
  docs/building-modules/structure.md
  docs/core/baseapp.md
  docs/core/events.md
  docs/core/grpc_rest.md
  docs/core/transactions.md
  docs/intro/sdk-app-architecture.md
  docs/migrations/app_and_modules.md
  x/authz/authorizations.go
Due: modules

Update x/authz/simulation/genesis.go
  x/authz/simulation/genesis.go
Due: modules

Update x/authz/simulation/operations.go
  x/authz/simulation/operations.go
Due: modules

0.43 aidut changes for client module
  client/config/cmd.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/docs/swagger_legacy.yaml
  client/keys/add.go
Due: client

review changes
  x/authz/simulation/genesis.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
Due: modules

v043 audit changes for version
  version/command.go
Due: none

fix tests
  x/authz/expected_keepers.go
  x/authz/simulation/operations.go
Due: modules

v042 audit changes for telemetry
  telemetry/metrics.go
  telemetry/wrapper.go
Due: none

remove version changes in telemetry audit
  version/command.go
Due: none

add test
  x/gov/client/testutil/deposits_test.go
Due: modules

update test
  x/gov/client/testutil/deposits_test.go
Due: modules

Add comment
  x/auth/legacy/v034/types.go
  x/auth/legacy/v038/types.go
  x/bank/legacy/v036/types.go
  x/bank/legacy/v038/types.go
  x/distribution/legacy/v034/types.go
  x/distribution/legacy/v036/types.go
  x/distribution/legacy/v038/types.go
  x/evidence/legacy/v038/types.go
  x/gov/legacy/v034/types.go
  x/gov/legacy/v036/types.go
  x/params/legacy/v036/types.go
  x/staking/legacy/v034/types.go
  x/staking/legacy/v036/types.go
  x/staking/legacy/v038/types.go
  x/upgrade/legacy/v038/types.go
Due: modules

Include migratio wording
  STABLE_RELEASES.md
Due: none

rename GenerateTx => GenTx
  simapp/helpers/test_helpers.go
  simapp/test_helpers.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/feegrant/simulation/operations.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Due: modules

Update auth antehandler spec
  x/auth/spec/03_antehandlers.md
Due: modules

Make package imports consistent
  simapp/app.go
  simapp/app_test.go
Due: none

wip: remove numbonded balances function
  x/bank/simulation/genesis.go
  x/bank/simulation/genesis_test.go
Due: modules

Fixed parse key issue
  client/keys/parse.go
Due: client

v043 audit changes for telemetry/ (#9297)
  telemetry/metrics.go
  telemetry/wrapper.go
Due: none

0.43 aidut changes for client module (#9295)
  client/config/cmd.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/docs/swagger_legacy.yaml
  client/keys/add.go
Due: client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
