Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      client:
        flags: client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

Merge PR #5894: ADR 021 - Protocol Buffer Query Support
  docs/architecture/README.md
  docs/architecture/adr-021-protobuf-query-encoding.md
Due: none

Merge PR #5901: Add & update IBC queriers for relayer use
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/querier.go
  x/ibc/03-connection/types/querier.go
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/querier.go
  x/ibc/04-channel/types/querier.go
  x/ibc/keeper/querier.go
  x/ibc/keeper/querier_test.go
  x/ibc/types/keys.go
Due: modules

Add and use mem store
  x/capability/keeper/keeper.go
  x/capability/types/store.go
Due: modules

Fix tests
  crypto/keyring/altkeyring_test.go
  crypto/keyring/keyring_test.go
Due: none

fix test
  sim_state-4.json
  x/staking/simulation/decoder.go
  x/staking/simulation/decoder_test.go
Due: modules

fix armor test
  crypto/armor_test.go
Due: none

Remove old mem KVStore
  baseapp/baseapp.go
  simapp/app.go
  store/mem/mem_test.go
  store/mem/store.go
  store/rootmulti/store.go
  store/types/store.go
  types/store.go
  x/capability/keeper/keeper_test.go
Due: app, modules

Update alias
  x/capability/alias.go
Due: modules

Update ADR
  docs/architecture/adr-003-dynamic-capability-store.md
Due: none

migrate some tests
  crypto/keyring/altkeyring.go
  crypto/keyring/altkeyring_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Due: none

Linting
  x/capability/types/store.go
Due: modules

migrate more tests
  crypto/keyring/keyring_test.go
Due: none

migrate TestSignVerifyKeyRing
  crypto/keyring/keyring_test.go
Due: none

migrate tests
  client/keys/add.go
  crypto/keyring/keyring_test.go
Due: client

Migrate x/crisis tx command
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
Due: modules

migrate TestExportImportPubKeyKeyRing function
  crypto/keyring/keyring_test.go
Due: none

migrate some tests
  crypto/keyring/keyring_test.go
Due: none

New interface Migrator
  client/keys/migrate.go
  crypto/keyring/altkeyring.go
  crypto/keyring/legacy.go
  crypto/keyring/migrator.go
Due: client

solve tests
  crypto/keyring/altkeyring_test.go
  crypto/keyring/keyring_test.go
Due: none

Rename
  client/keys/migrate.go
  crypto/keyring/migrator.go
Due: client

migrate tests
  crypto/keyring/keyring_test.go
Due: none

Add tests
  client/keys/migrate.go
  crypto/keyring/legacy.go
  crypto/keyring/legacy_test.go
  crypto/keyring/migrator.go
Due: client

Merge PR #5914: x/capability: Fix Object Capability Model
  baseapp/baseapp.go
  docs/architecture/adr-003-dynamic-capability-store.md
  simapp/app.go
  store/mem/mem_test.go
  store/mem/store.go
  store/rootmulti/store.go
  store/types/store.go
  types/store.go
  x/capability/alias.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/types/store.go
Due: app, modules

Merge PR #5916: Migrate x/crisis tx command
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
Due: modules

remove export object
  crypto/keyring/keyring_test.go
Due: none

Remove source field from packet
  x/ibc/20-transfer/types/packet.go
Due: modules

migrate unit tests
  crypto/keyring/keyring_test.go
Due: none

end migrate tests
  crypto/keyring/keyring_test.go
Due: none

Refactor ICS 20 to remove "source"
  x/ibc/20-transfer/client/cli/tx.go
  x/ibc/20-transfer/client/rest/rest.go
  x/ibc/20-transfer/client/rest/tx.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/types/errors.go
  x/ibc/20-transfer/types/msgs.go
  x/ibc/20-transfer/types/msgs_test.go
  x/ibc/20-transfer/types/packet_test.go
Due: modules

added proto rest txs to staking
  x/staking/client/cli/tx_proto.go
  x/staking/client/rest/rest.go
  x/staking/client/rest/tx.go
Due: modules

Fix ICS 20 test-cases
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/types/msgs_test.go
Due: modules

fix validateCmd bug
  client/cmd.go
Due: client

Fixed typo
  x/staking/client/cli/tx.go
Due: modules

fix help bug
  client/cmd.go
  client/cmd_test.go
Due: client

Update client tests
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/import_test.go
  client/keys/list_test.go
  client/keys/show_test.go
  crypto/keyring/altkeyring.go
  crypto/keyring/altkeyring_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Due: client

Substitue deprecate types with new ones
  client/keys/add_ledger_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/import.go
  client/keys/list.go
  crypto/keyring/alt_signing_algorithms.go
  crypto/keyring/altkeyring.go
  crypto/keyring/doc.go
  crypto/keyring/keybase.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/signing_algorithms.go
  crypto/keyring/signing_algorithms_test.go
  x/auth/client/cli/tx_multisign.go
  x/genutil/client/cli/gentx.go
Due: modules, client
