Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

update
  go.mod
  go.sum
  proto/buf.lock
  proto/buf.yaml
  types/abci.pb.go
  x/consensus/types/tx.pb.go
Due: none

push
  proto/buf.gen.pulsar.yaml
Due: none

fix proto
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/base/tendermint/v1beta1/query.pulsar.go
  api/cosmos/base/tendermint/v1beta1/types.pulsar.go
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/tx.pulsar.go
  api/cosmos/store/streaming/abci/grpc.pulsar.go
  api/cosmos/store/v1beta1/listening.pulsar.go
  api/cosmos/tx/v1beta1/service.pulsar.go
  proto/cosmos/consensus/v1/consensus.proto
  proto/cosmos/consensus/v1/query.proto
  proto/cosmos/consensus/v1/tx.proto
  x/consensus/types/query.pb.go
  x/consensus/types/tx.pb.go
Due: none

push changes
  api/cosmos/staking/v1beta1/staking.pulsar.go
  proto/cosmos/staking/v1beta1/staking.proto
  types/module/module.go
  x/staking/types/staking.pb.go
Due: none

fixes
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

fixes
  baseapp/oe/optimistic_execution.go
Due: app

more changes
  client/rpc/tx.go
  client/utils.go
  runtime/app.go
  testutil/integration/router.go
  testutil/mock/privval.go
  testutil/mock/privval_test.go
  testutil/sims/app_helpers.go
  testutil/sims/tx_helpers.go
Due: client

more changes
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  server/cmt_cmds.go
  server/start.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/types/storeloader_test.go
Due: modules, client

further changes
  server/mock/app_test.go
  server/start.go
  testutil/mock/privval.go
  testutil/network/util.go
Due: none

bump
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

building
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  runtime/types.go
  simapp/abci.go
  simapp/app.go
  simapp/go.mod
  simapp/go.sum
  simapp/test_helpers.go
  tests/go.mod
  tests/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

fix some tests and runners
  baseapp/abci_test.go
  baseapp/block_gas_test.go
  simapp/app_test.go
  simapp/sim_test.go
  tests/e2e/server/export_test.go
  tests/e2e/staking/suite.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/genesis_test.go
  tests/integration/store/rootmulti/rollback_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/slashing/simulation/operations_test.go
  x/staking/simulation/operations_test.go
Due: app, modules

fix apis
  baseapp/abci_test.go
  baseapp/abci_utils_test.go
  server/start.go
  tests/integration/staking/keeper/vote_extensions_test.go
  x/consensus/keeper/keeper_test.go
  x/consensus/types/msgs.go
  x/feegrant/simulation/operations_test.go
Due: app, modules

fix mocks
  x/consensus/keeper/keeper.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
Due: modules

revert 1.21.0
  client/v2/go.mod
  go.mod
  simapp/go.mod
  tests/go.mod
  x/circuit/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/nft/go.mod
  x/upgrade/go.mod
Due: modules, client

generate proto changes
  api/cosmos/consensus/v1/tx.pulsar.go
  go.mod
  proto/cosmos/consensus/v1/tx.proto
  x/consensus/keeper/keeper.go
  x/consensus/types/msgs.go
  x/consensus/types/tx.pb.go
Due: modules

fix some tests
  api/cosmos/consensus/v1/tx.pulsar.go
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/abci_utils.go
  baseapp/baseapp.go
  proto/cosmos/consensus/v1/tx.proto
  x/consensus/keeper/keeper_test.go
  x/consensus/types/msgs.go
  x/consensus/types/tx.pb.go
  x/genutil/types/testdata/app_genesis.json
Due: app, modules

return non epmty string
  server/start.go
  testutil/network/util.go
Due: none

update to later comet
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  testutil/network/util.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

linting
  types/module/module.go
  x/simulation/mock_cometbft.go
Due: modules

linting
  tests/e2e/staking/suite.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
Due: modules

go mod changes
  simapp/go.mod
Due: none

fix import
  client/v2/go.mod
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  store/types/store.go
  tests/go.mod
  x/circuit/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/nft/go.mod
  x/upgrade/go.mod
Due: modules, client

generate types
  api/cosmos/store/v1beta1/listening.pulsar.go
  baseapp/abci_test.go
  proto/cosmos/store/v1beta1/listening.proto
  scripts/protocgen.sh
  store/go.mod
  store/go.sum
  store/streaming/abci/examples/file/file.go
  store/streaming/abci/examples/stdout/stdout.go
  store/streaming/abci/grpc.go
  store/streaming/abci/grpc.pb.go
  store/streaming/streaming_test.go
  store/types/commit_info.pb.go
  store/types/listening.pb.go
  store/types/streaming.go
Due: app

go 1.22
  client/v2/go.mod
  go.mod
  simapp/go.mod
  store/go.mod
  tests/go.mod
  x/circuit/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/nft/go.mod
  x/upgrade/go.mod
Due: modules, client

break it
  client/v2/go.mod
  go.mod
  simapp/go.mod
  store/go.mod
  tests/go.mod
  x/circuit/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/nft/go.mod
  x/upgrade/go.mod
Due: modules, client

generate mocks
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
Due: modules

changelog
  CHANGELOG.md
Due: none

linting
  store/rootmulti/store.go
Due: none

fixes
  store/go.mod
  store/go.sum
Due: none

fix: remove fake modules
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
Due: none

refactor(cosmovisor): get block height from db after node execution fails
  tools/cosmovisor/go.mod
  tools/cosmovisor/scanner.go
Due: none

update change log
  tools/cosmovisor/CHANGELOG.md
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
