Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

updates
  CHANGELOG.md
Due: none

lint
  baseapp/baseapp.go
Due: app

updates
  client/prompt/validation.go
  client/v2/go.mod
  go.mod
  x/gov/client/cli/prompt.go
  x/gov/client/cli/util.go
  x/gov/client/cli/util_test.go
Due: modules, client

updates
  client/prompt/validation.go
  x/gov/client/cli/prompt.go
  x/group/client/cli/prompt.go
Due: modules, client

lint
  client/prompt/internal/helpers.go
Due: client

add missing user document
  docs/docs/user/user.md
Due: none

docs and wording
  UPGRADING.md
  docs/pre.sh
Due: none

feat(x/gov): add gov proposal command helpers (partial backport #24369)
  x/gov/client/cli/tx.go
  x/gov/client/cli/util.go
Due: modules

updates
  CHANGELOG.md
  x/gov/client/cli/util.go
Due: modules

feat(x): enable autocli for txs in modules
  x/auth/autocli.go
  x/auth/vesting/autocli.go
  x/authz/module/autocli.go
  x/circuit/autocli.go
  x/consensus/autocli.go
  x/crisis/autocli.go
  x/distribution/autocli.go
  x/feegrant/module/autocli.go
  x/gov/autocli.go
  x/group/module/autocli.go
  x/mint/autocli.go
  x/nft/module/autocli.go
  x/protocolpool/autocli.go
  x/slashing/autocli.go
  x/staking/autocli.go
  x/upgrade/autocli.go
Due: modules

use bank send autocli
  x/bank/client/cli/tx.go
Due: modules

refactor: make x/staking delegation key migration limited (lazy migration) (#443)
  CHANGELOG.md
  README.md
  tests/integration/staking/keeper/determinstic_test.go
  x/staking/keeper/abci.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/validator_index.go
  x/staking/keeper/validator_index_test.go
  x/staking/migrations/v5/keys.go
  x/staking/migrations/v5/store.go
  x/staking/types/keys.go
Due: modules

Fixes
  baseapp/snapshot_test.go
  crypto/sr25519/bench_test.go
  store/go.mod
  systemtests/go.mod
  testutil/integration/router.go
  tools/cosmovisor/go.mod
  x/authz/module/abci_test.go
  x/circuit/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/genutil/utils_test.go
  x/nft/go.mod
  x/staking/types/validator_test.go
  x/upgrade/go.mod
Due: app, modules

chore: use new depinject tag (#24377)
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  depinject/go.mod
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

docs: include upgrade reference in docs (#24380)
  UPGRADING.md
  docs/pre.sh
Due: none

fix
  .github/workflows/dependencies-review.yml
Due: none

fix(baseapp): Fix post handler error always results in code 1 (#24261)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/utils_test.go
Due: app

make clear
  math/CHANGELOG.md
Due: none

fix: vuln check workflow (#24389)
  .github/workflows/dependencies-review.yml
Due: none

docs: add missing user doc (#24379)
  docs/docs/user/user.md
Due: none

Review feedback
  CHANGELOG.md
  x/staking/keeper/val_state_change.go
Due: modules

Replace panics in val update with error results; more verbose error messages Please enter the commit message for your changes. Lines starting
  CHANGELOG.md
  x/staking/keeper/val_state_change.go
Due: modules

Changelog
  CHANGELOG.md
Due: none

chore: make x/staking historical info key migration limited (lazy migration) (#444)
  CHANGELOG.md
  README.md
  tests/integration/staking/keeper/determinstic_test.go
  x/staking/keeper/abci.go
  x/staking/keeper/grpc_query.go
  x/staking/migrations/v5/keys.go
  x/staking/migrations/v5/migrations_test.go
  x/staking/migrations/v5/store.go
  x/staking/types/keys.go
Due: modules

fix race condition
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/test_helpers.go
  go.mod
  go.sum
  store/rootmulti/store.go
Due: app

fix pr num
  CHANGELOG.md
Due: none

cleanup app wiring doc
  docs/docs/build/building-apps/01-app-go-v2.md
Due: none

only md lint modified files
  .github/workflows/md-link-checker.yml
Due: none

nevermind
  .github/workflows/md-link-checker.yml
Due: none

docs: clean up app wiring docs (#24393)
  docs/docs/build/building-apps/01-app-go-v2.md
Due: none

perf(staking): optimize endblock by reducing bech32 conversions (#24354)
  CHANGELOG.md
  x/staking/keeper/val_state_change.go
  x/staking/keeper_bench_test.go
Due: modules

refactor: remove `Dec` type (#24375)
  math/CHANGELOG.md
  math/dec.go
  math/dec_bench_test.go
  math/dec_examples_test.go
  math/dec_migrate.go
  math/dec_migrate_test.go
  math/dec_rapid_test.go
  math/dec_test.go
  math/go.mod
  math/go.sum
  math/legacy_dec_fuzz_test.go
  math/legacy_dec_test.go
Due: none

replace
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

tidy
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

conflicts
  UPGRADING.md
Due: none

options pattern
  simapp/app.go
  x/gov/depinject.go
  x/gov/keeper/keeper.go
Due: modules
