Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

feat(node): expose EarliestStoreHeight in Status gRPC endpoint
  client/grpc/node/service.go
  client/grpc/node/service_test.go
  runtime/app.go
  simapp/app.go
Due: client

test(systemtests): add gRPC systemtest for node Status endpoint
  tests/systemtests/node_service_test.go
Due: none

limit pagination
  tests/e2e/tx/service_test.go
  x/auth/tx/service.go
Due: modules

changelog
  CHANGELOG.md
Due: none

test iterate-newkeys
  blockstm/bench_test.go
Due: none

case sensitive authz staking grand
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Due: modules

lint
  x/staking/types/authz.go
Due: modules

add snapshot-based key cursor
  blockstm/keycursor.go
  blockstm/mvdata.go
  blockstm/mvindex.go
  blockstm/mviterator.go
  blockstm/tree/btree.go
  blockstm/tree/cow_btree.go
Due: none

memoize cache merge iterator selection
  blockstm/keycursor.go
  blockstm/mergeiterator.go
Due: none

fix(test): use error substrings for self delegation and validator address test
  x/staking/keeper/msg_server_test.go
Due: modules

use small btree for per-key versions
  blockstm/keycursor.go
  blockstm/mvdata.go
  blockstm/mvindex.go
  blockstm/mviterator.go
  blockstm/tree/small_btree.go
Due: none

revert
  client/snapshot/dump.go
Due: client

fix lint
  server/config/config.go
Due: none

fix kernel calls hot path
  types/config.go
  types/config_bench_test.go
  types/config_test.go
Due: none

fix
  x/staking/types/errors.go
Due: modules

tidy
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: client

add change log
  CHANGELOG.md
Due: none

change
  CHANGELOG.md
Due: none

WIP on refactoring multistore
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/state/manager.go
  baseapp/state/state.go
  baseapp/test_helpers.go
  go.mod
  iavl/commit_multi_tree.go
  iavl/commit_multi_tree_test.go
  iavl/commit_store.go
  iavl/telemetry.go
  store/rootmulti/store.go
  store/store.go
  store/types/store.go
Due: app

fix(test): use error substrings for TestMsgEditValidator (#25831)
  x/staking/keeper/msg_server_test.go
Due: modules

WIP on refactoring multistore
  contrib/x/group/internal/orm/testsupport.go
  iavlx/compactor.go
  server/module_hash.go
  server/types/app.go
  store/rootmulti/store.go
  x/upgrade/types/storeloader.go
Due: modules

fix: case sensitive authz staking grant (#25829)
  CHANGELOG.md
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Due: modules

fix: collection pagination with predicate function and offset (#25718)
  CHANGELOG.md
  types/query/collections_pagination.go
  types/query/collections_pagination_test.go
Due: none

fix(client): fix file handle leaks in snapshot commands (#25811)
  CHANGELOG.md
  client/snapshot/load.go
Due: client

add WAL rollback
  iavl/internal/tree_store.go
  iavl/internal/wal_writer.go
Due: none

perf(x/tx): use map[string]struct{} instead of map[string]bool in getSigners
  x/tx/signing/textual/tx.go
Due: modules

fix(baseapp): handle gRPC headers already-sent case
  CHANGELOG.md
  baseapp/grpcserver.go
Due: app

update deposits upon activation
  x/gov/keeper/proposal.go
Due: modules

chore: add inline documentation re. partial HistoricalInfo headers
  baseapp/abci.go
  x/staking/keeper/historical_info.go
Due: app, modules

chore: add inline documentation re. partial HistoricalInfo headers (#25836)
  baseapp/abci.go
  x/staking/keeper/historical_info.go
Due: app, modules

move
  .github/workflows/systemtests.yml
  .github/workflows/test.yml
Due: none

cleanup
  CHANGELOG.md
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/app.go
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/simapp/simd/cmd/commands.go
  enterprise/poa/simapp/simd/cmd/root.go
  enterprise/poa/simapp/test_helpers.go
Due: none

adjust
  enterprise/poa/simapp/app.go
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/simd/cmd/commands.go
  enterprise/poa/simapp/simd/cmd/root.go
  enterprise/poa/simapp/simd/cmd/testnet.go
  enterprise/poa/simapp/simd/main.go
  enterprise/poa/tests/integration/transient_store_test.go
  enterprise/poa/x/poa/client/cli/tx.go
  enterprise/poa/x/poa/keeper/abci.go
  enterprise/poa/x/poa/keeper/common_test.go
  enterprise/poa/x/poa/keeper/distribution.go
  enterprise/poa/x/poa/keeper/distribution_test.go
  enterprise/poa/x/poa/keeper/genesis.go
  enterprise/poa/x/poa/keeper/genesis_test.go
  enterprise/poa/x/poa/keeper/governance.go
  enterprise/poa/x/poa/keeper/governance_test.go
  enterprise/poa/x/poa/keeper/grpc_query.go
  enterprise/poa/x/poa/keeper/grpc_query_test.go
  enterprise/poa/x/poa/keeper/hooks_test.go
  enterprise/poa/x/poa/keeper/keeper.go
  enterprise/poa/x/poa/keeper/keeper_test.go
  enterprise/poa/x/poa/keeper/msg_server.go
  enterprise/poa/x/poa/keeper/msg_server_test.go
  enterprise/poa/x/poa/keeper/validator.go
  enterprise/poa/x/poa/keeper/validator_test.go
  enterprise/poa/x/poa/module.go
  enterprise/poa/x/poa/types/expected_keepers.go
  enterprise/poa/x/poa/types/genesis.go
  enterprise/poa/x/poa/types/genesis_test.go
  enterprise/poa/x/poa/types/poa_test.go
Due: none

sure
  client/v2/go.mod
  go.mod
  simapp/go.mod
  systemtests/go.mod
  tests/go.mod
  tests/systemtests/go.mod
Due: client

fix-gomod
  enterprise/poa/go.mod
  enterprise/poa/simapp/go.mod
Due: none

fix
  .github/workflows/build.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/pr-go-mod-tidy-mocks.yml
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-simd.yml
  .github/workflows/release.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-050.yml
  .github/workflows/sims-053.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/systemtests.yml
  .github/workflows/test.yml
  enterprise/poa/tests/systemtests/go.mod
Due: none

chore: add proper documentation and linking
  README.md
  docs/docs/build/enterprise/_category_.json
  docs/docs/build/enterprise/overview.md
  enterprise/README.md
  enterprise/poa/README.md
  enterprise/poa/docs/README.md
  enterprise/poa/docs/architecture.md
  enterprise/poa/docs/architecture.png
  x/README.md
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
