Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fix livness test
  contrib/images/simd-env/Dockerfile
Due: none

update mint go mod
  x/mint/go.mod
  x/mint/go.sum
Due: modules

feat(x/gov): add `min_stake_to_vote` parameter
  CHANGELOG.md
  api/cosmos/gov/v1/gov.pulsar.go
  proto/cosmos/gov/v1/gov.proto
  x/gov/README.md
  x/gov/codec/doc.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/vote.go
  x/gov/migrations/v5/store.go
  x/gov/migrations/v5/store_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/params.go
Due: modules

update go mod
  client/v2/go.mod
  x/circuit/go.mod
  x/feegrant/go.mod
  x/mint/go.mod
  x/mint/go.sum
  x/nft/go.mod
  x/upgrade/go.mod
Due: modules, client

chore: improve align cli help (#18179)
  x/auth/vesting/autocli.go
  x/bank/autocli.go
  x/circuit/autocli.go
  x/distribution/autocli.go
  x/feegrant/module/autocli.go
  x/group/module/autocli.go
  x/staking/autocli.go
Due: modules

fix dist test
  x/distribution/testutil/app_config.go
Due: modules

fix comment
  x/distribution/testutil/app_config.go
Due: modules

feat: implement rotate cons key method in msg server
  proto/cosmos/staking/v1beta1/tx.proto
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/keeper.go
  x/staking/keeper/msg_server.go
  x/staking/types/codec.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
  x/staking/types/keys.go
Due: modules

fix build
  .github/workflows/test.yml
  go.mod
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  x/group/go.mod
  x/group/go.sum
Due: modules

add ci testing for mint
  .github/workflows/test.yml
Due: none

feat(x/gov): limit deposited coins to accepted proposal denom
  CHANGELOG.md
  x/gov/keeper/deposit.go
  x/gov/keeper/export_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/types/errors.go
Due: modules

fix lint
  x/bank/migrations/v4/gen_state_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

error msg consistency
  x/gov/keeper/msg_server.go
Due: modules

fix tests and lint
  tests/integration/tx/aminojson/aminojson_test.go
  x/group/proposal_test.go
  x/group/simulation/decoder_test.go
Due: modules

fix test
  tests/integration/bank/app_test.go
Due: none

refactor: backport MinInitialDepositRatio validation from v0.50 to v0.47
  x/gov/types/v1/params.go
Due: modules

remove setting textual in root_v2
  simapp/simd/cmd/root_v2.go
Due: none

upgrading notes
  UPGRADING.md
Due: none

upgrading.md
  UPGRADING.md
Due: none

add sonar
  x/mint/sonar-project.properties
Due: modules

fix(simulation): Fix all problems `make test-sim-custom-genesis-fast` for simulation test. (#17911)
  CHANGELOG.md
  Makefile
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/test_helpers.go
  simapp/sim_test.go
  testutil/sims/state_helpers.go
  types/context.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/group/simulation/operations.go
  x/simulation/client/cli/flags.go
  x/simulation/simulate.go
Due: app, modules

resolve conflicts
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/module/abci_test.go
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

remove nix file
  simapp/gomod2nix.toml
Due: none

remove extra gomods
  x/distribution/autocli.go
  x/feegrant/go.mod
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/module/autocli.go
  x/feegrant/module/module.go
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
Due: modules

revert autocli change
  x/distribution/autocli.go
Due: modules

fix test
  x/feegrant/keeper/msg_server_test.go
Due: modules

fix: restore Ledger support for MacOS 14 (#352)
  go.mod
  go.sum
Due: none

go mod tidy
  x/feegrant/go.mod
Due: modules

do not enforce non initial deposit to contain each time all coins
  x/gov/keeper/deposit.go
  x/gov/keeper/msg_server_test.go
Due: modules

updates
  x/bank/migrations/v4/gen_state_test.go
Due: modules

only add sign mode textual when online signing
  client/v2/autocli/msg.go
Due: client

fix test
  x/bank/migrations/v4/gen_state_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/msg_server_test.go
Due: modules

delete it
  x/bank/migrations/v4/gen_state_test.go
Due: modules

address comments
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/msg_server_test.go
Due: modules

skip flaky file
  .golangci.yml
  x/bank/migrations/v4/gen_state_test.go
Due: modules

revert change
  x/feegrant/module/autocli.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
