Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update README.md
  x/gov/README.md
Due: modules

Update abci.go
  x/gov/abci.go
Due: modules

Update module.go
  x/gov/module.go
Due: modules

feat: add tracing
  log/tracer.go
Due: none

Update keys.go
  x/upgrade/types/keys.go
Due: modules

Update codec.go
  x/upgrade/types/codec.go
Due: modules

Update handler.go
  x/tx/signing/textual/handler.go
Due: modules

Update types.go
  x/tx/signing/textual/types.go
Due: modules

Update string.go
  x/tx/signing/textual/string.go
Due: modules

Update validator.go
  x/staking/types/validator.go
Due: modules

work on otel tracer impl
  log/tracer.go
  telemetry/otel.go
Due: none

add basic baseapp tracing
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/genesis.go
  baseapp/test_helpers.go
  baseapp/txnrunner/default.go
  blockstm/executor.go
  blockstm/txnrunner.go
  blockstm/types.go
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  types/abci.go
Due: app, client

Update tally.go
  x/gov/types/v1/tally.go
Due: modules

lazy cache wrap on multitree
  iavl/multi_tree.go
Due: none

Update deposit.go
  x/gov/keeper/deposit.go
Due: modules

Update keeper.go
  x/gov/keeper/keeper.go
Due: modules

fix: rollback proto files from upgrade module (#24)
  proto/cosmos/upgrade/module/v1/module.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/cosmos/upgrade/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
Due: none

Update tally.go
  x/gov/keeper/tally.go
Due: modules

Update tx.go
  x/distribution/client/cli/tx.go
Due: modules

Update keeper_test.go
  x/distribution/keeper/keeper_test.go
Due: modules

Update regression_test.go
  codec/unknownproto/regression_test.go
Due: none

latest WIP
  simapp/sim_test.go
  telemetry/file_sink.go
  telemetry/file_sink_test.go
  telemetry/metrics.go
  telemetry/metrics_span.go
  telemetry/otel_span.go
Due: none

docs: fix links so that they render in mintlify (downstream docs)
  x/evidence/README.md
  x/feegrant/README.md
  x/gov/README.md
  x/group/README.md
  x/slashing/README.md
Due: modules

add trace exporter setup
  go.mod
  go.sum
  log/tracer.go
  telemetry/config.go
  telemetry/doc.go
  telemetry/file_sink_test.go
  telemetry/metrics.go
  telemetry/metrics_span.go
  telemetry/metrics_test.go
  telemetry/otel_span.go
Due: none

fixes
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  telemetry/metrics.go
  telemetry/metrics_span.go
  telemetry/otel_span.go
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: client

feat(iavl): blockSTM updates to iavlx store impl (#25504)
  client/v2/go.mod
  client/v2/go.sum
  iavl/commit_multi_tree.go
  iavl/commit_tree.go
  iavl/multi_tree.go
  iavl/tree.go
  iavl/tree_store.go
  iavl/tree_test.go
  systemtests/go.mod
  systemtests/go.sum
Due: client

simapp setup, make tracers wrap loggers
  baseapp/baseapp.go
  baseapp/test_helpers.go
  log/tracer.go
  simapp/app_di.go
  telemetry/config.go
  telemetry/metrics.go
  telemetry/metrics_span.go
  telemetry/options.go
  telemetry/otel_span.go
Due: app

add test setup
  baseapp/baseapp.go
  simapp/app_di.go
  simapp/sim_test.go
  telemetry/otel_span.go
  telemetry/testing.go
Due: app

fix(x/epochs): di wiring (#25425)
  CHANGELOG.md
  simapp/app.go
  simapp/app_di.go
  x/epochs/README.md
  x/epochs/depinject.go
  x/epochs/depinject_test.go
  x/epochs/export_test.go
  x/epochs/module.go
Due: modules

bump
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

gogo
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

fix
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

sonichu
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  log/go.mod
  log/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: client

chore: bump deps for v53 (#25520)
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  log/go.mod
  log/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: client

fix shutdown order
  telemetry/metrics.go
Due: none

block trace nesting
  baseapp/abci.go
  baseapp/baseapp.go
  simapp/sim_test.go
  telemetry/metrics.go
Due: app

update metrics config and instrumentation
  .gitignore
  baseapp/test_helpers.go
  telemetry/config.go
  telemetry/metrics.go
  telemetry/testing.go
Due: app

tidy
  client/v2/go.mod
  client/v2/go.sum
  systemtests/go.mod
  systemtests/go.sum
Due: client

fixes
  iavlx/commit_multi_tree.go
  iavlx/commit_tree.go
  iavlx/immutable_tree.go
  iavlx/multi_tree.go
Due: none

Update content.go
  x/gov/types/v1beta1/content.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
