Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

chore(deps): go mod tidy after merging main into otelconf PR
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/examples/migrate-from-pos/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: none

chore(testutil): dedupe protocolpool in default module orders
  testutil/configurator/configurator.go
Due: none

fix: update AppModule wiring after params subspace removal
  enterprise/group/simapp/app.go
  enterprise/poa/examples/migrate-from-pos/app.go
  tests/integration/bank/keeper/multisend_account_id_test.go
  tests/integration/blockstm/blockstm_test.go
Due: none

fix: add mutex lock in Info() ABCI method to prevent data race
  baseapp/abci.go
Due: app

add status_test.go
  internal/blockstm/status_test.go
Due: none

fix: avoid removing entire file when license footer is missing
  enterprise/scripts/add-license.sh
Due: none

chore: add .editorconfig for consistent code formatting
  .editorconfig
  x/bank/keeper/send.go
Due: modules

fix: prevent error shadowing in PrepareProposal/ProcessProposal panic recovery
  baseapp/abci.go
Due: app

feat: add module metrics collector with Prometheus-compatible output
  x/metrics/keeper.go
  x/metrics/keeper_test.go
  x/metrics/module.go
  x/metrics/types.go
Due: modules

fix tests
  types/address/hash_test.go
Due: none

add unit test
  store/snapshots/store.go
  store/snapshots/store_test.go
Due: none

add syncDir
  store/snapshots/store.go
Due: none

tidy
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/examples/migrate-from-pos/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

update tests
  store/iavl/store.go
  store/iavl/store_test.go
Due: none

propagate iterator Close() errors in bulk-consume methods
  collections/indexes/helpers.go
  collections/indexes/helpers_test.go
  collections/iter.go
  collections/iter_test.go
Due: none

fix(types/address): correct sort comparator in Compose to satisfy strict weak ordering (#25944)
  CHANGELOG.md
  types/address/hash.go
  types/address/hash_test.go
Due: none

fix(x/gov): remove leading comma in proposal_messages event attribute
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
Due: modules

docs(changelog): add entry for #26352
  CHANGELOG.md
Due: none

docs(changelog): add entry for #26353
  CHANGELOG.md
Due: none

test(x/gov): expand genesis InitGenesis/ExportGenesis coverage
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/genesis_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote_test.go
Due: modules

fix(blockstm): remove double-unlock on panic path in Resume()
  internal/blockstm/status.go
Due: none

add changelog
  CHANGELOG.md
Due: none

docs: update cometbft links to v1.x
  docs/architecture/adr-064-abci-2.0.md
  docs/docs/build/abci/03-vote-extensions.md
  docs/docs/build/building-apps/02-app-mempool.md
  docs/docs/build/building-apps/04-vote-extensions.md
  docs/docs/learn/advanced/00-baseapp.md
  docs/docs/learn/advanced/03-node.md
  docs/docs/learn/advanced/08-events.md
  docs/spec/_ics/ics-030-signed-messages.md
Due: none

docs(swagger): regenerate Swagger API spec from current protos
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
Due: client

Update agents.md file
  AGENTS.md
Due: none

keep sequential
  server/config/config.go
  simapp/app.go
Due: none

fix nil interface panic
  internal/blockstm/storage.go
  internal/blockstm/storage_test.go
Due: none

cleanup
  CHANGELOG.md
  internal/blockstm/stm_test.go
Due: none

chore: go mod tidy after cockroachdb/errors bump
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/examples/migrate-from-pos/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

chore: go mod tidy after go-isatty bump
  client/v2/go.mod
  client/v2/go.sum
  enterprise/group/go.mod
  enterprise/group/go.sum
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/examples/migrate-from-pos/go.sum
  enterprise/poa/go.mod
  enterprise/poa/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/systemtests/go.mod
  tools/systemtests/go.sum
Due: client

fix: resolve cosmovisor go.mod conflict and go mod tidy (backport #26365)
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Due: none

test(e2e): deflake distribution withdraw and tx signature event queries
  tests/e2e/distribution/withdraw_all_suite.go
  tests/e2e/tx/service_test.go
Due: none

build(deps): Bump github.com/shirou/gopsutil/v4 from 4.26.3 to 4.26.4 (#26369)
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/examples/migrate-from-pos/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

docs(swagger): regenerate Swagger API spec to match current protos (#26362)
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
Due: client

build(deps): Bump github.com/cockroachdb/errors from 1.12.0 to 1.13.0 (#26356)
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/examples/migrate-from-pos/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

build(deps): Bump pgregory.net/rapid from 1.2.0 to 1.3.0 (#26364)
  enterprise/group/simapp/go.mod
  enterprise/group/simapp/go.sum
  enterprise/group/tests/systemtests/go.mod
  enterprise/group/tests/systemtests/go.sum
  enterprise/poa/examples/migrate-from-pos/go.mod
  enterprise/poa/examples/migrate-from-pos/go.sum
  enterprise/poa/simapp/go.mod
  enterprise/poa/simapp/go.sum
  enterprise/poa/tests/systemtests/go.mod
  enterprise/poa/tests/systemtests/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
