Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

address review changes
  x/auth/migrations/legacytx/stdsign_aux.go
  x/auth/tx/amino_aux_test.go
Due: modules

things must be validator
  testutil/network/network.go
  testutil/network/network_test.go
Due: none

fix lint
  go.sum
  x/auth/middleware/basic.go
  x/auth/middleware/sigverify.go
  x/genutil/utils.go
Due: modules

Update README.md
  cosmovisor/README.md
Due: none

buildsystem fixes
  Makefile
Due: none

fix merge
  baseapp/baseapp_test.go
Due: app

fix logger test
  x/crisis/keeper/keeper_test.go
Due: modules

buildsystem II
  .github/workflows/test.yml
  Makefile
Due: none

clean up simd app
  Makefile
  server/util.go
  simapp/simd/cmd/testnet.go
Due: none

testnet probably wants validators
  simapp/simd/cmd/testnet.go
Due: none

fix test assertion
  client/grpc/tmservice/service_test.go
Due: client

another path bug
  x/genutil/client/cli/init.go
Due: modules

fix another cntains
  client/grpc/tmservice/service_test.go
Due: client

fix config test
  server/tm_cmds.go
  server/util_test.go
Due: none

ignore the Hsm signature algorithms in SUpportedAlgorithms
  client/keys/add.go
  testutil/network/network.go
Due: client

fix SupportedAlgorithms
  simapp/simd/cmd/testnet.go
Due: none

working save/sign HSM APIs
  crypto/keyring/keyring.go
  crypto/keyring/record.go
  crypto/keyring/types.go
Due: none

adding HSM API tests
  crypto/keyring/keyring_hsm_test.go
  crypto/keyring/testdata/keys/pkcs11-config.tmpl
Due: none

necessary packages for HSM keys work
  go.mod
  go.sum
Due: none

added a comment so it passes lint
  proto/cosmos/crypto/keyring/v1/record.proto
Due: none

update types/
  types/context.go
  types/store.go
  types/store_internal_test.go
  types/store_test.go
Due: none

update baseapp/
  baseapp/baseapp.go
  baseapp/baseapp_test.go
Due: app

update server/
  server/mock/app.go
  server/mock/store.go
  server/mock/store_test.go
Due: none

update simapp
  simapp/app.go
  simapp/sim_test.go
Due: none

update auth/
  testutil/context.go
  x/auth/keeper/keeper.go
Due: modules

update authz/
  x/authz/keeper/keeper.go
Due: modules

update bank/
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/migrations/v043/store.go
  x/bank/migrations/v045/store.go
Due: modules

update capability/
  x/capability/keeper/keeper.go
Due: modules

update epoching/
  x/distribution/keeper/keeper.go
  x/distribution/migrations/v043/store.go
  x/epoching/keeper/keeper.go
Due: modules

update gov/
  x/gov/keeper/keeper.go
  x/gov/migrations/v043/store.go
Due: modules

update params/
  x/params/keeper/common_test.go
  x/params/keeper/keeper.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
Due: modules

update slashing/
  x/slashing/keeper/keeper.go
  x/slashing/migrations/v043/store.go
Due: modules

update evidence/
  x/evidence/keeper/keeper.go
Due: modules

update feegrant/
  x/feegrant/keeper/keeper.go
Due: modules

update mint/
  x/mint/keeper/keeper.go
Due: modules

update staking/
  x/staking/keeper/keeper.go
  x/staking/migrations/v043/store.go
Due: modules

update upgrade/
  x/upgrade/keeper/keeper.go
Due: modules

add changelog entry
  CHANGELOG.md
Due: none
