Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Mark legacy REST swagger APIs as deprecated (#7399)
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/docs/swagger_legacy.yaml
Due: client

types: start grouping tests in test suites (#7395)
  Makefile
  go.sum
  tests/mocks/tendermint_tendermint_libs_log_DB.go
  types/address_test.go
  types/coin_test.go
  types/context_test.go
  types/dec_coin_test.go
Due: none

types: add more test suites
  types/decimal_internal_test.go
  types/decimal_test.go
Due: none

don't export test suites
  types/address_test.go
  types/coin_test.go
  types/context_test.go
Due: none

denom internal tests
  types/denom_internal_test.go
Due: none

add events test suite
  types/events_test.go
Due: none

modify change-pubkey cli command long description
  x/auth/pubkey/client/cli/tx.go
Due: modules

modify package import url and add example bech32 pubkey
  x/auth/pubkey/client/cli/cli_test.go
  x/auth/pubkey/handler.go
  x/auth/pubkey/types/msgs.go
Due: modules

implement GetPubKeyFromBech32 and force conversion from crypto.PubKey to secp256k1.PubKey
  x/auth/pubkey/client/cli/tx.go
  x/auth/pubkey/types/msgs.go
Due: modules

Register pubkey module and pubkeycli command on simapp && Integrate stakingKeeper into pub key module to get bond denominator && Fix pubkey handler build error
  simapp/app.go
  simapp/simd/cmd/root.go
  x/auth/pubkey/client/cli/tx.go
  x/auth/pubkey/handler.go
  x/auth/pubkey/handler_test.go
  x/auth/pubkey/module.go
  x/auth/pubkey/types/expected_keepers.go
Due: modules

fix unnecessary conversion to uint64
  x/auth/pubkey/handler.go
Due: modules

more test suites
  types/invariant_test.go
  types/result_test.go
  types/router_test.go
  types/store_test.go
Due: none

make format
  crypto/keys/multisig/codec.go
  x/genutil/utils.go
Due: modules

fix docker deployment
  .github/workflows/docker.yml
Due: none

fix pw env name
  .github/workflows/docker.yml
Due: none

more test suites
  types/config_test.go
  types/staking_test.go
  types/tx_msg_test.go
Due: none

Update x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state.go
Due: modules

apply @fedekunze review suggestions
  x/ibc/light-clients/solomachine/types/proof.go
  x/ibc/testing/solomachine.go
Due: modules

Update CODE_OF_CONDUCT.md (#7381)
  CODE_OF_CONDUCT.md
Due: none

use access token
  .github/workflows/docker.yml
Due: none

fix docker env
  .github/workflows/docker.yml
Due: none

Followup suggestions from ADR-027 updates (#7232) (#7379)
  docs/architecture/adr-027-deterministic-protobuf-serialization.md
Due: none

test adding to tags
  .github/workflows/docker.yml
Due: none

try to fix
  .github/workflows/docker.yml
Due: none

add push:true
  .github/workflows/docker.yml
Due: none

revert to schedule
  .github/workflows/docker.yml
Due: none

types: tests -> test suites migration (#7400)
  crypto/keys/multisig/codec.go
  types/address_test.go
  types/coin_test.go
  types/config_test.go
  types/context_test.go
  types/decimal_internal_test.go
  types/decimal_test.go
  types/denom_internal_test.go
  types/events_test.go
  types/invariant_test.go
  types/result_test.go
  types/router_test.go
  types/staking_test.go
  types/store_test.go
  types/tx_msg_test.go
  x/genutil/utils.go
Due: modules

Add multisig support + tests to solo machine (#7383)
  x/ibc/02-client/types/client_test.go
  x/ibc/02-client/types/codec_test.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/02-client/types/proposal_test.go
  x/ibc/light-clients/solomachine/spec/01_concepts.md
  x/ibc/light-clients/solomachine/spec/README.md
  x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state_test.go
  x/ibc/light-clients/solomachine/types/codec.go
  x/ibc/light-clients/solomachine/types/consensus_state_test.go
  x/ibc/light-clients/solomachine/types/header_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/solomachine/types/proof.go
  x/ibc/light-clients/solomachine/types/proposal_handle_test.go
  x/ibc/light-clients/solomachine/types/solomachine_test.go
  x/ibc/light-clients/solomachine/types/update.go
  x/ibc/light-clients/solomachine/types/update_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/solomachine.go
Due: modules

types: keep migrating to test suites
  types/coin_test.go
  types/int_test.go
  types/uint_internal_test.go
  types/uint_test.go
Due: none

migrate to test suites
  types/utils_test.go
Due: none

remove qemu
  .github/workflows/docker.yml
Due: none

update packet executed
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/types/errors.go
  x/ibc/handler.go
  x/ibc/testing/chain.go
Due: modules

write ack
  x/ibc/04-channel/keeper/packet.go
  x/ibc/handler.go
Due: modules

update clients
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  x/ibc/02-client/types/errors.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state_test.go
  x/ibc/light-clients/solomachine/types/proof.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
Due: modules

update transfer keeper
  x/ibc-transfer/keeper/keeper.go
  x/ibc-transfer/types/expected_keepers.go
Due: modules

Update documentation for x/bank
  x/bank/spec/01_state.md
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/spec/04_events.md
  x/bank/spec/05_params.md
  x/bank/spec/README.md
Due: modules

Update ModuleAccounts
  x/bank/spec/README.md
Due: modules

Put contets on top
  x/bank/spec/README.md
Due: modules

Update comments
  x/bank/spec/README.md
Due: modules

Do x/evidence
  x/bank/spec/README.md
  x/evidence/spec/01_concepts.md
  x/evidence/spec/02_state.md
  x/evidence/spec/03_messages.md
  x/evidence/spec/04_events.md
  x/evidence/spec/05_params.md
  x/evidence/spec/06_begin_block.md
  x/evidence/spec/README.md
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
