Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

fixes to simapp build errors
  collections/codec/alternative_value_test.go
  collections/codec/bool.go
  collections/codec/bytes.go
  collections/codec/int.go
  collections/codec/naming.go
  collections/codec/string.go
  collections/codec/uint.go
  collections/naming_test.go
  collections/pair.go
  collections/triple.go
Due: none

changelog
  CHANGELOG.md
Due: none

Revert "add missing singing mode to api conversion"
  x/auth/signing/verify.go
Due: modules

Revert "add eip191 signmode support"
  client/tx/tx.go
  crypto/keys/secp256k1/secp256k1_cgo.go
  crypto/keys/secp256k1/secp256k1_nocgo.go
  x/auth/signing/verify.go
  x/auth/tx/config.go
  x/auth/tx/eip191.go
Due: modules, client

Revert "chore: Fix all broken links (#20204)"
  core/CHANGELOG.md
  docs/build/building-apps/01-app-go-v2.md
  docs/build/building-modules/03-msg-services.md
  docs/build/building-modules/11-structure.md
  docs/build/building-modules/13-upgrade.md
  docs/spec/store/interblock-cache.md
  x/auth/README.md
  x/authz/README.md
Due: modules

fix: broken link
  core/CHANGELOG.md
  docs/spec/store/interblock-cache.md
Due: none

improve comparison
  x/mint/epoch_hooks.go
  x/mint/keeper/abci.go
  x/mint/keeper/keeper_test.go
  x/mint/types/minter.go
Due: modules

fix(x/group): orm codespace name (#20750)
  CHANGELOG.md
  x/group/errors/orm.go
Due: modules

docs: fix broken links (#20766)
  docs/build/building-apps/01-app-go-v2.md
  docs/build/building-modules/03-msg-services.md
  docs/build/building-modules/11-structure.md
  docs/build/building-modules/13-upgrade.md
  x/auth/README.md
  x/authz/README.md
Due: modules

feat(x/authz): Disable authz grant message grant (#20687)
  x/authz/CHANGELOG.md
  x/authz/README.md
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
Due: modules

update: check if gas should be added
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/utils_test.go
  simapp/app.go
  simapp/app_di.go
  x/gov/keeper/config.go
Due: app, modules

lint
  baseapp/abci_test.go
  baseapp/baseapp.go
Due: app

fix(x/protocolpool): Stop expired streams to continue getting funds
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

fix
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

add explanation
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server_test.go
Due: modules

chore: move abci errors to baseapp (#20756)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/errors.go
Due: app

modify the adr
  docs/architecture/adr-070-unordered-transactions.md
  x/auth/ante/unordered.go
Due: modules

flag for v2
  scripts/build/build.mk
  scripts/simapp-v2-init.sh
Due: none

unused
  simapp/v2/go.mod
Due: none

changes
  scripts/build/simulations.mk
  simapp/v2/go.mod
  simapp/v2/sim_bench_test.go
Due: none

update storekey and consensus version of mock module
  simapp/app_config.go
  testutil/x/staking/depinject.go
  testutil/x/staking/module.go
Due: none

feat: parse home flag earlier
  client/config/config.go
  client/v2/helpers/home.go
  simapp/app.go
  simapp/app_di.go
  simapp/simd/cmd/commands.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
  simapp/v2/app_di.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
Due: client

updates
  server/v2/cometbft/flags/flags.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
  simapp/v2/app_di.go
  x/upgrade/depinject.go
Due: modules

updates
  client/v2/helpers/home.go
Due: client

updates
  x/upgrade/go.mod
  x/upgrade/keeper/keeper.go
Due: modules

updates
  client/v2/helpers/home.go
  scripts/init-simapp.sh
Due: client

changelogs
  CHANGELOG.md
  client/v2/CHANGELOG.md
  simapp/CHANGELOG.md
  x/upgrade/CHANGELOG.md
Due: modules, client

updates
  docs/learn/advanced/07-cli.md
Due: none

add sims to v2
  simapp/v2/sim_test.go
Due: none

updates
  scripts/simapp-v2-init.sh
  simapp/v2/app_di.go
  x/upgrade/depinject.go
Due: modules

Fix benchmark start command
  scripts/build/simulations.mk
  x/simulation/doc.go
Due: modules

Remove verbose output flag
  scripts/build/simulations.mk
Due: none

something
  go.work.example
  simapp/v2/go.mod
  simapp/v2/sim_test.go
Due: none

++
  simapp/v2/sim_bench_test.go
  simapp/v2/sim_test.go
Due: none

++
  simapp/v2/sim_test.go
Due: none

add path to querying
  server/v2/cometbft/abci.go
  server/v2/cometbft/client/grpc/cmtservice/service.go
Due: none

refactor: add `serverv2.Execute` helper
  server/cmd/execute.go
  server/v2/commands.go
  server/v2/server.go
  simapp/v2/simdv2/main.go
Due: none

updates
  server/v2/commands.go
Due: none

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
