Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

refactor(core): update depinject in core v0.5 (v0.47)
  core/appconfig/config.go
  core/appconfig/config_test.go
  core/appmodule/option.go
  core/appmodule/register.go
  core/go.mod
  core/go.sum
  core/internal/buf.gen.yaml
  core/internal/buf.yaml
  core/internal/registry.go
  core/internal/testpb/test.proto
  core/internal/testpb/test.pulsar.go
Due: none

remove viper dep
  runtime/v2/builder.go
  store/v2/go.mod
  store/v2/go.sum
  store/v2/root/factory.go
Due: none

changelog
  core/CHANGELOG.md
Due: none

use tagged version
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

aliased so keeping only dependency changes
  baseapp/utils_test.go
  simapp/app_config.go
  testutil/configurator/configurator.go
Due: app

use tagged version
  core/go.mod
  core/go.sum
Due: none

use tagged core version
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

feat: use depinject v1.0.0
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

chore(core): sync changelog
  core/CHANGELOG.md
  core/go.mod
Due: none

describe oneof workaround for no new fields
  docs/architecture/adr-054-semver-compatible-modules.md
Due: none

refactor(schema)!: move bech32 address prefixes to a higher level
  schema/field.go
  schema/field_test.go
  schema/kind.go
  schema/kind_test.go
Due: none

chore: fix some comments for struct field
  api/cosmos/nft/v1beta1/query_grpc.pb.go
  client/docs/swagger-ui/swagger.yaml
  x/nft/proto/cosmos/nft/v1beta1/query.proto
  x/nft/query.pb.go
Due: modules, client

go mod tidy
  core/go.mod
Due: none

chore: fix errors reported by running `make lint` (#21015)
  indexer/postgres/tests/init_schema_test.go
  schema/decoding/decoding_test.go
  schema/decoding/resolver_test.go
  schema/decoding/sync.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
Due: modules

chore: go mod tidy
  tests/go.mod
  tests/go.sum
Due: none

OTEL wiring in grpcserver interceptor (DataDog POC) (#612)
  .github/workflows/test.yml
  baseapp/grpcserver.go
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  server/grpc/server.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
Due: app, client

build(deps): Bump cosmossdk.io/depinject from 1.0.0-alpha.4 to 1.0.0 for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

changelog
  CHANGELOG.md
Due: none

chore(x): replace `fmt.Errorf` without parameters with `errors.New`
  x/bank/client/cli/tx.go
  x/distribution/keeper/delegation.go
  x/distribution/types/params.go
  x/evidence/types/genesis.go
  x/feegrant/basic_fee.go
  x/feegrant/filtered_fee.go
  x/genutil/client/cli/export_test.go
  x/genutil/utils.go
  x/gov/client/cli/util.go
  x/gov/keeper/common_test.go
  x/group/client/cli/util.go
  x/group/internal/math/dec.go
  x/group/internal/orm/iterator.go
  x/group/keeper/msg_server_test.go
Due: modules

chore(x): replace `fmt.Errorf` without parameters with `errors.New` (#21032)
  x/bank/client/cli/tx.go
  x/distribution/keeper/delegation.go
  x/distribution/types/params.go
  x/evidence/types/genesis.go
  x/feegrant/basic_fee.go
  x/feegrant/filtered_fee.go
  x/genutil/client/cli/export_test.go
  x/genutil/utils.go
  x/gov/client/cli/util.go
  x/gov/keeper/common_test.go
  x/group/client/cli/util.go
  x/group/internal/math/dec.go
  x/group/internal/orm/iterator.go
  x/group/keeper/msg_server_test.go
Due: modules

Feat/optimise oracle (#650)
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  go.mod
  go.sum
  server/cmt_abci.go
  server/types/abci.go
  simapp/go.mod
  simapp/go.sum
  testutil/mock/privval.go
  types/abci.go
Due: app

chore: fix some comments for struct field (#21027)
  api/cosmos/nft/v1beta1/query_grpc.pb.go
  client/docs/swagger-ui/swagger.yaml
  x/nft/proto/cosmos/nft/v1beta1/query.proto
  x/nft/query.pb.go
Due: modules, client

feat: use depinject v1.0.0 (#21000)
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Due: none

refactor grpc query handlers
  runtime/v2/app.go
  runtime/v2/manager.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/server.go
  server/v2/types.go
Due: none

refactor(schema)!: collect all types in ModuleSchema
  schema/decoding/decoding_test.go
  schema/decoding/resolver_test.go
  schema/enum.go
  schema/module_schema.go
  schema/module_schema_test.go
  schema/object_type.go
  schema/type.go
Due: none

tests
  schema/module_schema_test.go
Due: none

pruning the removed store keys by the removed version
  store/v2/commitment/metadata.go
  store/v2/commitment/store.go
  store/v2/commitment/store_test_suite.go
  store/v2/internal/encoding/prefix.go
  store/v2/internal/encoding/prefix_test.go
  store/v2/storage/pebbledb/comparator.go
  store/v2/storage/pebbledb/db.go
  store/v2/storage/sqlite/db.go
  store/v2/storage/storage_test_suite.go
Due: none

multiple db back end
  runtime/v2/builder.go
  server/v2/store/commands.go
  server/v2/store/config.go
Due: none

lint
  runtime/v2/builder.go
  server/v2/store/commands.go
  server/v2/store/config.go
Due: none

chore(core): sync changelog (#21025)
  core/CHANGELOG.md
  core/go.mod
Due: none

add comment
  store/v2/commitment/iavl/config.go
  store/v2/options.go
  store/v2/root/factory.go
Due: none

add make unknown service handler
  server/v2/api/grpc/server.go
Due: none

refactor(schema)!: move bech32 address prefixes to a higher level (#21026)
  schema/field.go
  schema/field_test.go
  schema/kind.go
  schema/kind_test.go
Due: none

refactors left and right
  server/v2/api/grpc/server.go
Due: none

add height header handling
  server/v2/api/grpc/server.go
Due: none

attempt
  go.mod
  go.sum
  testutil/sims/app_helpers.go
  x/auth/go.mod
  x/auth/go.sum
Due: modules
