Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

changelog entry
  CHANGELOG.md
Due: none

Update x/auth/migrations/legacytx/stdtx_test.go
  x/auth/migrations/legacytx/stdtx_test.go
Due: modules

feat: ADR-040: Implement KV Store with decoupled storage and SMT (#9892)
  CHANGELOG.md
  db/adapter.go
  db/dbtest/util.go
  db/internal/util.go
  db/prefix/prefix.go
  db/prefix/prefix_iterator.go
  db/prefix/prefix_test.go
  db/types.go
  db/version_manager.go
  db/version_manager_test.go
  docs/core/store.md
  go.mod
  go.sum
  internal/util.go
  store/rootmulti/proof.go
  store/rootmulti/store.go
  store/types/store.go
  store/v2/flat/store.go
  store/v2/flat/store_test.go
  store/v2/smt/proof.go
  store/v2/smt/proof_test.go
  store/v2/smt/store.go
  store/v2/smt/store_test.go
  types/errors/abci.go
Due: none

add handler check in BeginBlock
  x/upgrade/abci.go
  x/upgrade/keeper/keeper.go
Due: modules

Fix tests
  x/auth/middleware/testutil_test.go
  x/auth/middleware/tips_test.go
Due: modules

Add more gas
  x/auth/middleware/tips_test.go
Due: modules

Fix dbtest util
  db/dbtest/util.go
Due: none

update ADR
  docs/architecture/README.md
  docs/architecture/adr-046-module-params.md
Due: none

Fix dbtest util (#10403)
  db/dbtest/util.go
Due: none

update ADR (#10402)
  docs/architecture/README.md
  docs/architecture/adr-046-module-params.md
Due: none

fix conflicts
  CHANGELOG.md
Due: none

Skip confirmation for non-interactive tests.
  testutil/network/network.go
Due: none

Don't pass a valid address to an invalid address check.
  x/auth/vesting/client/testutil/suite.go
Due: modules

Fix module settings after merge.
  go.mod
  go.sum
Due: none

Revert "Skip confirmation for non-interactive tests."
  testutil/network/network.go
Due: none

Make golangci-lint work properly in CI.
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
Due: none

Fix missing and unused import paths.
  baseapp/grpcrouter_test.go
  server/mock/helpers.go
Due: app

Fix various lint warnings.
  server/rosetta/client_online.go
  store/v2/flat/store.go
  store/v2/smt/store.go
Due: none

cosmovisor: Check more accurately for DNS errors.
  cosmovisor/upgrade_test.go
Due: none

fix: .github/workflows retrofit to use Go modules
  .github/workflows/test.yml
  cosmovisor/go.mod
  cosmovisor/go.sum
  db/go.mod
  db/go.sum
  go.mod
  go.sum
  x/group/go.mod
  x/group/go.sum
Due: modules

merge from master
  go.mod
Due: none

address review comments
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/import.go
  client/keys/rename.go
  client/keys/rename_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/tx/tx_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/legacy_info.go
  crypto/keyring/types.go
  server/init.go
Due: client

fix failing tests
  client/keys/add_ledger_test.go
Due: client

small fix
  client/keys/delete_test.go
Due: client

fix: apply fix suggested by @frumioj where the previous solution would not work on Debian/M1
  Makefile
Due: none

fix: issue #10258 related to segmentaiton fault on mac m1 arm64 (#10279)
  CHANGELOG.md
  Makefile
Due: none

small fix
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/legacy_info.go
Due: none

fix test
  x/auth/client/testutil/suite.go
Due: modules

Add orm scenario test
  x/group/internal/orm/example_test.go
  x/group/internal/orm/orm_scenario_test.go
  x/group/internal/orm/testsupport.go
Due: modules

chore: Fix comment on DenomMetadata for 0.44
  x/bank/migrations/v045/store_test.go
Due: modules

build: Update gin-gonic/gin to v1.7.0 (#10401)
  go.mod
  go.sum
Due: none

Fix conflicts
  go.mod
Due: none

chore: Fix comment on DenomMetadata for 0.44 (#10408)
  x/bank/migrations/v045/store_test.go
Due: modules

not sure why the unit tests are failing to read from the github actions set env
  .github/workflows/test.yml
  store/streaming/file/service_test.go
Due: none

MinCommissionRate proto-gen
  docs/core/proto-docs.md
  x/staking/types/staking.pb.go
Due: none

Fix PowerReduction param
  x/staking/types/params.go
Due: modules

Add MinCommissionRate to params spec
  x/staking/spec/08_params.md
Due: modules
