Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

word
  UPGRADING.md
Due: none

updates
  CHANGELOG.md
  UPGRADING.md
  docs/architecture/adr-038-state-listening.md
Due: none

updates
  CHANGELOG.md
Due: none

precise logger
  UPGRADING.md
Due: none

improve confix explaination
  UPGRADING.md
Due: none

go mod tidy
  go.sum
Due: none

progress
  Makefile
  baseapp/abci.go
  baseapp/oe/optimistic_execution.go
  baseapp/options.go
Due: app

Update docs/rfc/rfc-002-optimistic-execution.md
  docs/rfc/rfc-002-optimistic-execution.md
Due: none

Apply suggestions from code review
  docs/rfc/rfc-002-optimistic-execution.md
Due: none

refactor(staking): remove expected distribution keeper (#17261)
  x/distribution/README.md
  x/gov/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Due: modules

docs: Fix app.toml links
  docs/docs/basics/00-app-anatomy.md
  docs/docs/basics/02-query-lifecycle.md
  docs/docs/building-modules/09-module-interfaces.md
  docs/docs/core/07-cli.md
  docs/docs/run-node/02-interact-node.md
Due: none

docs: fix app.toml links (#17264)
  docs/docs/basics/00-app-anatomy.md
  docs/docs/basics/02-query-lifecycle.md
  docs/docs/building-modules/09-module-interfaces.md
  docs/docs/core/07-cli.md
  docs/docs/run-node/02-interact-node.md
Due: none

Allow MsgMultiSend to have multiple inputs when there's only one output. (#581)
  CHANGELOG.md
  x/bank/app_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/spec/02_keepers.md
  x/bank/types/errors.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/quarantine/keeper/send_restriction_test.go
  x/sanction/keeper/send_restriction_test.go
Due: modules

updates
  store/errors.go
  store/iterator.go
  store/storage/db.go
  store/storage/rocksdb/db.go
  store/storage/rocksdb/db_test.go
  store/storage/rocksdb/iterator.go
Due: none

added legacy types
  x/staking/migrations/v3/types/keys.go
  x/staking/migrations/v3/types/staking.go
  x/staking/migrations/v3/types/staking.pb.go
Due: modules

copied over test
  x/staking/keeper/msg_server_test.go
Due: modules

WIP: migrate to old testing framework
  x/staking/keeper/msg_server_test.go
Due: modules

added validators and delegations unit tests, params test WIP
  x/staking/keeper/liquid_stake_test.go
  x/staking/migrations/v3/migrations_test.go
  x/staking/migrations/v3/store.go
Due: modules

finished unit test for params
  x/staking/migrations/v3/migrations_test.go
  x/staking/migrations/v3/store.go
Due: modules

resolved conflicts
  x/staking/migrations/v3/migrations_test.go
  x/staking/migrations/v3/store.go
Due: modules

moved validator bond check after keeper.Delegate
  x/staking/keeper/msg_server.go
Due: modules

moved validator lookup back under if statement
  x/staking/keeper/msg_server.go
Due: modules

migrate DelegationKey to collections
  x/staking/keeper/delegation.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/keeper.go
  x/staking/keeper/query_utils.go
  x/staking/migrations/v2/store_test.go
  x/staking/types/keys.go
Due: modules

remove GetUBDsKey
  x/staking/types/keys.go
Due: modules

add changelog
  CHANGELOG.md
Due: none

change UnbondingDelegationByValIndexKey to use collections prefix
  x/staking/types/keys.go
Due: modules

iterator changes
  simapp/export.go
  x/staking/keeper/delegation.go
  x/staking/keeper/genesis.go
  x/staking/keeper/invariants.go
  x/staking/types/keys.go
Due: modules

fix tests
  x/staking/keeper/validator.go
Due: modules

use protov2 api
  x/accounts/examples/counter/account.go
  x/accounts/examples/counter/v1/counter.pb.go
  x/accounts/examples/echo/account.go
  x/accounts/examples/echo/v1/echo.pb.go
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/internal/accounts/context.go
  x/accounts/internal/accounts/implementation.go
  x/accounts/internal/accounts/interface.go
  x/accounts/internal/accounts/routers.go
  x/accounts/module_test.go
  x/accounts/sdk/sdk.go
Due: modules

use protov2 api part2
  x/accounts/create.go
  x/accounts/examples/counter/account.go
  x/accounts/execute.go
  x/accounts/internal/accounts/routers.go
  x/accounts/module_test.go
  x/accounts/query.go
  x/accounts/sdk/sdk.go
Due: modules

cleanup
  x/accounts/module_test.go
Due: modules

refactor!: remove `clientCtx.PrintObjectLegacy` (#17259)
  CHANGELOG.md
  client/context.go
  client/context_test.go
Due: client

docs: fix typo in `00-protobuf.md` (#17232)
  docs/docs/tooling/00-protobuf.md
Due: none

fix next usage
  x/staking/keeper/unbonding.go
Due: modules

more things
  proto/cosmos/accounts/v1/tx.proto
  x/accounts/execute.go
  x/accounts/internal/accounts/implementation.go
  x/accounts/internal/accounts/routers.go
  x/accounts/internal/accounts/schemas.go
  x/accounts/module.go
  x/accounts/msg_server.go
  x/accounts/query.go
  x/accounts/v1/tx.pb.go
Due: modules

revert last change
  x/staking/keeper/unbonding.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
