Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Update x/gov/client/cli/tx.go
  x/gov/client/cli/tx.go
Due: modules

example generated code
  orm/internal/bankexample/state.cosmsos_orm.go
  orm/internal/codegen/codegen.go
  orm/internal/codegen/file.go
  orm/model/ormtable/build.go
  orm/model/ormtable/table.go
  orm/model/ormtable/table_impl.go
Due: none

chore: cleanup
  x/group/keeper/msg_server.go
Due: modules

Add proposal migration
  x/gov/keeper/migrations.go
  x/gov/migrations/v046/json.go
  x/gov/migrations/v046/json_test.go
  x/gov/migrations/v046/keys.go
  x/gov/migrations/v046/store.go
  x/gov/migrations/v046/store_test.go
  x/gov/module.go
Due: modules

Remove deprecated cobra field
  x/gov/client/cli/tx.go
Due: modules

add more of the query server
  x/gov/keeper/grpc_query.go
  x/gov/migrations/v046/migrate.go
Due: modules

fix conflict
  docs/migrations/README.md
Due: none

WIP
  go.mod
  orm/Makefile
  orm/internal/bankexample/state.cosmsos_orm.go
  orm/internal/bankexample/state.cosmsos_orm.goal
  orm/internal/buf.gen.orm.yaml
  orm/internal/buf.gen.yaml
  orm/internal/codegen/file.go
  orm/internal/codegen/index.go
  orm/internal/codegen/table.go
  orm/internal/codegen/view.go
  orm/internal/testpb/test_schema.proto
  orm/internal/testpb/testschema.pulsar.go
  orm/model/ormdb/module_test.go
Due: none

fix: add db version to main go.mod
  go.mod
Due: none

fix tests
  x/gov/keeper/tally_test.go
Due: modules

changelog entry
  CHANGELOG.md
Due: none

fix comment
  x/gov/abci.go
Due: modules

example codegen
  orm/internal/bankexample/state.cosmsos_orm.go
  orm/internal/testpb/bank.cosmsos_orm.go
  orm/internal/testpb/test_schema.cosmsos_orm.go
  orm/internal/testpb/test_schema.pulsar.go
  orm/model/ormdb/module_test.go
Due: none

draft impl
  docs/core/proto-docs.md
  proto/cosmos/slashing/v1beta1/slashing.proto
  simapp/app.go
  x/slashing/proposal_handler.go
  x/slashing/types/proposal.go
  x/slashing/types/slashing.pb.go
Due: modules

feat: remove burning of deposits in gov (#11011)
  CHANGELOG.md
  x/gov/abci.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
Due: modules

wip
  baseapp/baseapp_test.go
  codec/types/compat_v2.go
Due: app

fix ext
  orm/internal/bankexample/state.cosmos_orm.go
  orm/internal/bankexample/state.cosmos_orm.goal
  orm/internal/bankexample/state.cosmsos_orm.goal
  orm/internal/bankexample/state.pulsar.go
  orm/internal/codegen/codegen.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/bank.pulsar.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testpb/test_schema.pulsar.go
Due: none

refactor: orm codegen v2
  orm/internal/bankexample/new_state.cosmos_orm.goal
  orm/internal/bankexample/state.cosmos_orm.go
  orm/internal/bankexample/state.pulsar.go
  orm/internal/codegen/codegen.go
  orm/internal/codegen/file.go
  orm/internal/codegen/index.go
  orm/internal/codegen/table.go
  orm/internal/codegen/view.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/bank.pulsar.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testpb/test_schema.pulsar.go
Due: none

Update orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testpb/test_schema.cosmos_orm.go
Due: none

fix: fix the issue of docs bug
  CHANGELOG.md
  x/staking/keeper/keeper_test.go
Due: modules

chore: add logs
  errors/abci.go
  errors/abci_test.go
Due: none

chore: address the pr comments
  store/v2/multi/migration.go
Due: none

feat!: enhanced grpc interface of nft module (#10709)
  docs/architecture/adr-043-nft-module.md
  proto/cosmos/nft/v1beta1/query.proto
  x/nft/client/cli/query.go
  x/nft/client/testutil/grpc.go
  x/nft/client/testutil/query.go
  x/nft/client/testutil/test_helper.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/grpc_query_test.go
  x/nft/keeper/keeper_test.go
  x/nft/keeper/keys.go
  x/nft/keeper/nft.go
  x/nft/query.pb.go
  x/nft/query.pb.gw.go
Due: modules

wip
  simapp/app.go
  x/group/keeper/keeper.go
Due: modules

Add conversion functions
  x/gov/migrations/v046/convert.go
  x/gov/migrations/v046/json.go
  x/gov/migrations/v046/store.go
Due: modules

fix tests
  x/feegrant/keeper/grpc_query.go
  x/feegrant/key.go
  x/feegrant/key_test.go
Due: modules

revert
  errors/abci.go
  errors/abci_test.go
Due: none

chore remove unnecessary code
  types/result.go
Due: none

chore: resolve conflicts
  CHANGELOG.md
  x/upgrade/abci_test.go
  x/upgrade/keeper/keeper.go
Due: modules

chore: regen files and remove verification
  api/cosmos/feegrant/v1beta1/query.pulsar.go
  api/cosmos/gov/v1beta2/gov.pulsar.go
  api/cosmos/gov/v1beta2/tx.pulsar.go
  api/cosmos/nft/v1beta1/query.pulsar.go
  api/cosmos/nft/v1beta1/query_grpc.pb.go
  orm/internal/testpb/bank.pulsar.go
  types/module/assert_signers.go
  types/module/assert_signers_test.go
  types/module/configurator.go
  x/gov/types/v1beta2/msgs.go
  x/gov/types/v1beta2/tx.pb.go
Due: modules

feat(orm): return newly generated ID with auto-increment tables
  orm/model/ormtable/auto_increment.go
  orm/model/ormtable/table.go
Due: none

tests
  orm/model/ormtable/auto_increment_test.go
  orm/model/ormtable/testdata/auto_inc_json.golden
  orm/model/ormtable/testdata/test_auto_inc.golden
Due: none

add a way to add a customtendermint config to sdk
  server/util.go
  server/util_test.go
  simapp/simd/cmd/root.go
Due: none

rework validation
  x/authz/authorization_grant.go
  x/authz/authorization_grant_test.go
  x/authz/keeper/keeper_test.go
  x/authz/simulation/decoder_test.go
Due: modules

fix changelog conflicts
  CHANGELOG.md
Due: none

fix: add db module version to main go.mod (#11031)
  go.mod
Due: none

fix TestDecodeStore
  x/authz/simulation/decoder_test.go
Due: modules

fix sim tests
  x/authz/simulation/operations_test.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
