Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

add coverage for sonarcloud
  tests/Makefile
Due: none

perf: Faster state export (#14332)
  tests/Makefile
  tests/e2e/server/export_test.go
  types/module/module.go
Due: none

add changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: do not emit module name if modules already do
  UPGRADING.md
  baseapp/baseapp.go
Due: app

chore: docs
  collections/keyset.go
Due: none

improve msg
  baseapp/baseapp.go
Due: app

updates
  baseapp/baseapp.go
Due: app

perf(context): avoid unnecessary copies in KVStore, TransientStore and CacheContext methods (#14354)
  CHANGELOG.md
  types/context.go
  types/context_bench_test.go
Due: none

updates
  server/config/config.go
  server/config/toml.go
  server/grpc/gogoreflection/fix_registration.go
  server/grpc/grpc_web.go
  server/mock/helpers.go
  server/util.go
Due: none

proto, initial outline
  proto/cosmos/metadata/v1/genesis.proto
  proto/cosmos/metadata/v1/query.proto
  x/metadata/README.md
  x/metadata/alias.go
  x/metadata/client/cli/query.go
  x/metadata/module.go
  x/metadata/querier.go
  x/metadata/query.pb.go
  x/metadata/query.pb.gw.go
  x/metadata/types/genesis.go
  x/metadata/types/genesis.pb.go
  x/metadata/types/keys.go
  x/metadata/types/params.go
Due: modules

chore: audit server package (#14359)
  server/config/config.go
  server/config/toml.go
  server/grpc/gogoreflection/fix_registration.go
  server/grpc/grpc_web.go
  server/mock/helpers.go
  server/util.go
Due: none

Cleanup, hook into simapp
  proto/cosmos/metadata/v1/genesis.proto
  proto/cosmos/metadata/v1/query.proto
  simapp/app.go
  simapp/simd/cmd/root.go
  x/metadata/README.md
  x/metadata/client/cli/query.go
  x/metadata/module.go
  x/metadata/querier/querier.go
  x/metadata/querier/query.pb.go
  x/metadata/querier/query.pb.gw.go
Due: modules

remove old
  x/metadata/types/params.go
Due: modules

comments
  x/metadata/types/params.go
Due: modules

typos
  UPGRADING.md
Due: none

improving function docs
  types/address/hash.go
Due: none

feedback
  CHANGELOG.md
  baseapp/baseapp.go
  types/events.go
  types/events_test.go
Due: app

update changelog
  CHANGELOG.md
Due: none

check false
  types/events_test.go
Due: none

Module: fallback to the legacy implementation when no derivation key is provided
  docs/architecture/adr-028-public-key-addresses.md
  types/address/hash.go
  types/address/hash_test.go
  x/auth/types/account.go
  x/auth/types/credentials.go
Due: modules

fix whitespaces
  docs/architecture/adr-028-public-key-addresses.md
Due: none

refactor!: remove HasGenesisBasics from AppModuleBasic interfaces (#14333)
  types/module/module.go
Due: none

fix: improve baseapp event emission (#14356)
  CHANGELOG.md
  UPGRADING.md
  baseapp/baseapp.go
  types/events.go
  types/events_test.go
Due: app

fix changelog
  CHANGELOG.md
Due: none

adding naive test for legacy content
  x/gov/migrations/v3/convert_test.go
Due: modules

refactor: revert API breaking change on Slash
  CHANGELOG.md
  tests/integration/distribution/keeper/delegation_test.go
  tests/integration/staking/keeper/slash_test.go
  tests/integration/staking/keeper/validator_test.go
  testutil/mock/types_module_module.go
  types/module/module_test.go
  x/evidence/keeper/infraction.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/expected_keepers.go
  x/slashing/README.md
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/expected_keepers.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Due: modules

proto cleanup & genesis
  api/cosmos/crisis/v1/tx.pulsar.go
  api/cosmos/crisis/v1/tx_grpc.pb.go
  api/cosmos/metadata/v1/genesis.pulsar.go
  api/cosmos/metadata/v1/metadata.pulsar.go
  api/cosmos/metadata/v1/query.pulsar.go
  api/cosmos/metadata/v1/query_grpc.pb.go
  proto/cosmos/metadata/v1/genesis.proto
  proto/cosmos/metadata/v1/metadata.proto
  proto/cosmos/metadata/v1/query.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  simapp/app.go
  simapp/app_config.go
  simapp/app_v2.go
  x/metadata/client/cli/query.go
  x/metadata/module/module.go
  x/metadata/types/genesis.go
  x/metadata/types/genesis.pb.go
  x/metadata/types/metadata.pb.go
  x/metadata/types/params.go
  x/metadata/types/querier.go
  x/metadata/types/query.pb.go
  x/metadata/types/query.pb.gw.go
Due: modules

fix metadatamodule simapp
  api/cosmos/metadata/v1/query.pulsar.go
  proto/cosmos/metadata/v1/query.proto
  simapp/app.go
  x/metadata/types/query.pb.go
Due: none

Update collections/keyset.go
  collections/keyset.go
Due: none

godoc
  x/slashing/keeper/keeper.go
Due: modules

imprv test
  x/slashing/keeper/keeper_test.go
Due: modules

extra test
  x/slashing/keeper/keeper_test.go
Due: modules

typo
  docs/spec/SPEC_MODULE.md
Due: none

feat(collections): keyset (#14351)
  collections/CHANGELOG.md
  collections/keyset.go
  collections/keyset_test.go
Due: none

feat(collections): add sequence
  collections/sequence.go
  collections/sequence_test.go
Due: none
