Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

address reveiw comments
  x/upgrade/keeper/keeper_test.go
Due: modules

add upgrading and changelog entry
  CHANGELOG.md
  UPGRADING.md
Due: none

x/bank/types: Add convenience method for constructing the key to access an accounts balance for a given denom
  x/bank/types/keys.go
Due: modules

refactor: use convenience method in places where manual append happens)
  x/bank/migrations/v2/store.go
  x/bank/migrations/v2/store_test.go
  x/bank/types/keys.go
Due: modules

doc: update changelog
  CHANGELOG.md
Due: none

add upgrading.md entry
  UPGRADING.md
Due: none

feat: Add convenience method for constructing key to access account's balance for a given denom (#12674)
  CHANGELOG.md
  x/bank/migrations/v2/store.go
  x/bank/migrations/v2/store_test.go
  x/bank/types/keys.go
Due: modules

feat: Add convenience method for constructing key to access account's balance for a given denom (#12674)
  CHANGELOG.md
  x/bank/migrations/v043/store.go
  x/bank/migrations/v043/store_test.go
  x/bank/types/key.go
Due: modules

feat: Add convenience method for constructing key to access account's balance for a given denom (#12674)
  CHANGELOG.md
  x/bank/legacy/v043/store.go
  x/bank/legacy/v043/store_test.go
  x/bank/types/keys.go
Due: modules

chore: fix #12674 changelog
  CHANGELOG.md
Due: none

updates
  CONTRIBUTING.md
Due: none

updates changelog
  CHANGELOG.md
Due: none

updates
  UPGRADING.md
Due: none

typos
  UPGRADING.md
Due: none

refactor!: use injected encoding params in simapp (#12717)
  CHANGELOG.md
  UPGRADING.md
  depinject/README.md
  docs/architecture/adr-038-state-listening.md
  simapp/app.go
  simapp/app_legacy.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/simd/cmd/cmd_test.go
  simapp/simd/cmd/root.go
  simapp/simd/main.go
  simapp/test_helpers.go
  tests/e2e/server/export_test.go
  x/gov/genesis_test.go
  x/gov/module_test.go
  x/staking/module_test.go
Due: modules

fixes
  runtime/app.go
  types/module/module.go
Due: none

feat: make `simapp.MakeTestEncodingConfig` private
  docs/run-node/txs.md
  simapp/app_legacy.go
  simapp/encoding.go
  simapp/simd/cmd/genaccounts_test.go
  simapp/simd/cmd/testnet_test.go
  x/bank/app_test.go
  x/bank/keeper/keeper_test.go
  x/bank/migrations/v2/json_test.go
  x/bank/migrations/v2/store_test.go
  x/bank/migrations/v3/store_test.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/common_test.go
  x/gov/migrations/v043/json_test.go
  x/gov/migrations/v043/store_test.go
  x/gov/migrations/v046/json_test.go
  x/gov/migrations/v046/store_test.go
  x/gov/simulation/decoder_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/migrations/v3/json_test.go
  x/staking/migrations/v3/store_test.go
  x/staking/simulation/decoder_test.go
Due: modules

fix legacy build
  simapp/app_legacy.go
Due: none

wip
  x/auth/module.go
  x/auth/tx/service_test.go
  x/bank/migrations/v2/json_test.go
  x/bank/migrations/v2/store_test.go
  x/bank/migrations/v3/store_test.go
  x/bank/module.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
Due: modules

update changelog and upgrading.md
  CHANGELOG.md
  UPGRADING.md
Due: none

chore: remove norace tag (#12738)
  .github/workflows/e2e.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
  client/rpc/rpc_test.go
  server/grpc/server_test.go
  simapp/testutil_network_test.go
  tests/e2e/auth/client/testutil/cli_test.go
  tests/e2e/auth/vesting/client/testutil/cli_test.go
  tests/e2e/authz/client/testutil/cli_test.go
  tests/e2e/bank/client/testutil/cli_test.go
  tests/e2e/client/grpc/tmservice/service_test.go
  tests/e2e/crisis/client/testsuite/cli_test.go
  tests/e2e/distribution/client/testutil/cli_test.go
  tests/e2e/evidence/client/testutil/cli_test.go
  tests/e2e/feegrant/client/testutil/cli_test.go
  tests/e2e/genutil/client/testutil/cli_test.go
  tests/e2e/gov/client/testutil/cli_test.go
  tests/e2e/group/client/testutil/cli_test.go
  tests/e2e/mint/client/testutil/cli_test.go
  tests/e2e/nft/client/testutil/cli_test.go
  tests/e2e/params/client/testutil/cli_test.go
  tests/e2e/server/export_test.go
  tests/e2e/slashing/client/testutil/cli_test.go
  tests/e2e/staking/client/testutil/cli_test.go
  tests/e2e/upgrade/client/testutil/cli_test.go
  x/auth/tx/service_test.go
Due: modules, client

updates docs
  docs/run-node/txs.md
Due: none

fix
  x/gov/module_test.go
Due: modules

refactor!: make `simapp.MakeTestEncodingConfig` private (#12747)
  CHANGELOG.md
  UPGRADING.md
  docs/run-node/txs.md
  simapp/app_legacy.go
  simapp/encoding.go
  simapp/simd/cmd/genaccounts_test.go
  simapp/simd/cmd/testnet_test.go
  x/bank/app_test.go
  x/bank/keeper/keeper_test.go
  x/bank/migrations/v2/json_test.go
  x/bank/migrations/v2/store_test.go
  x/bank/migrations/v3/store_test.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/common_test.go
  x/gov/migrations/v043/json_test.go
  x/gov/migrations/v043/store_test.go
  x/gov/migrations/v046/json_test.go
  x/gov/migrations/v046/store_test.go
  x/gov/simulation/decoder_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/migrations/v3/json_test.go
  x/staking/migrations/v3/store_test.go
  x/staking/simulation/decoder_test.go
Due: modules

feat(textual): bytes value renderer (#12734)
  tx/textual/internal/testdata/bytes.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/internal/testpb/buf.lock
  tx/textual/valuerenderer/bytes.go
  tx/textual/valuerenderer/bytes_test.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Due: none

removing unnecessary deps
  x/bank/keeper/keeper_test.go
Due: modules

chore: fix #12674 changelog (#12746)
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

feat: CI action / label that makes it easy to cherry-pick just a commit against cosmos SDK main (#12478)
  .github/workflows/fork-cherry-pick.yml
Due: none

keeper_test
  tests/mocks/types_module_module.go
  x/evidence/keeper/infraction_test.go
  x/evidence/keeper/keeper_test.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/expected_keepers.go
Due: modules

refactor: add mock unit tests for bank module (#12721)
  scripts/mockgen.sh
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/msg_service_test.go
  x/bank/keeper/querier_test.go
  x/bank/testutil/expected_keepers_mocks.go
  x/bank/types/send_authorization_test.go
Due: modules

fix e2e
  tests/e2e/server/export_test.go
Due: none

refactor: Use mocks for x/upgrade testing (#12698)
  x/upgrade/abci_test.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper_test.go
Due: modules

attn x/bank/simulation/operations
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
Due: modules

fix: cosmovisor: fix (*Config.SetCurrentUpgrade file leak on failed JSON marshal+write
  cosmovisor/args.go
Due: none

fix: orm/*, store/*: fix non-determinism from map iteration
  orm/model/ormdb/json.go
  store/v2alpha1/multi/migration.go
  store/v2alpha1/multi/store.go
Due: none

refactor: use mocks for x/auth testing + ante tests refactor (#12568)
  scripts/mockgen.sh
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/ext_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/setup_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/auth/ante/testutil_test.go
  x/auth/keeper/grpc_query_test.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/querier_test.go
  x/auth/signing/verify_test.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/vesting/types/vesting_account_test.go
Due: modules

feat!: initial deposit requirement for proposals (#296)
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  x/feegrant/client/testutil/cli_test.go
  x/gov/client/testutil/suite.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/export_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v043/json_test.go
  x/gov/legacy/v3/export_test.go
  x/gov/legacy/v3/store.go
  x/gov/legacy/v3/store_test.go
  x/gov/module.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/errors.go
  x/gov/types/gov.pb.go
  x/gov/types/params.go
  x/params/proposal_handler_test.go
Due: modules

fix: cosmovisor: fix (*Config.SetCurrentUpgrade file leak on failed JSON marshal+write (#12750)
  cosmovisor/args.go
Due: none

fix: store/rootmulti: fix non-deterministic map iteration (#12487) (#204)
  CHANGELOG.md
  store/rootmulti/store.go
Due: none

chore: use celestia-core proto and regenerate
  client/grpc/tmservice/types.pb.go
  proto/cosmos/base/tendermint/v1beta1/types.proto
  proto/tendermint/types/block.proto
  proto/tendermint/types/evidence.proto
  proto/tendermint/types/types.proto
  x/staking/types/staking.pb.go
Due: none
