Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 70%
        flags:
          - modules
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
      - "baseapp/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  client:
    paths:
      - "client/"
      - "x/**/client/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "**/*.pb.go"
  - "types/*.pb.go"
  - "tests/*"
  - "tests/**/*"
  - "x/**/*.pb.go"
  - "x/**/test_common.go"
  - "scripts/"
  - "contrib"

simplify
  x/auth/keeper/grpc_query.go
  x/auth/keeper/keeper.go
  x/authz/testutil/expected_keepers_mocks.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/feegrant/testutil/expected_keepers_mocks.go
  x/gov/testutil/expected_keepers_mocks.go
  x/group/testutil/expected_keepers_mocks.go
  x/nft/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
Due: modules

go mod tidy
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
Due: modules, client

chore: signmode textual audit fixes (#15715)
  x/tx/signing/textual/any.go
  x/tx/signing/textual/bytes.go
  x/tx/signing/textual/bytes_test.go
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/dec.go
  x/tx/signing/textual/duration.go
  x/tx/signing/textual/enum.go
  x/tx/signing/textual/handler.go
  x/tx/signing/textual/int.go
  x/tx/signing/textual/int_test.go
  x/tx/signing/textual/internal/cbor/cbor.go
  x/tx/signing/textual/internal/testdata/e2e.json
  x/tx/signing/textual/message.go
  x/tx/signing/textual/string.go
  x/tx/signing/textual/timestamp.go
  x/tx/signing/textual/tx.go
Due: modules

build(deps): Bump github.com/bits-and-blooms/bitset from 1.6.0 to 1.7.0 for all modules
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
Due: modules

slash function change
  x/slashing/keeper/infractions.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/expected_keepers.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/types/expected_keepers.go
Due: modules

bump core in sdk 47 because there's a conflict between the version used in sdk and ibc7
  go.mod
  go.sum
Due: none

move up validator in pubkey checks in equivocation handler
  x/evidence/keeper/infraction.go
Due: modules

fix lint
  x/staking/keeper/grpc_query.go
Due: modules

feat(codec): Add collections value codec for interfaces. (#15898)
  codec/collections.go
  codec/collections_test.go
  collections/README.md
Due: none

updates
  x/auth/keeper/grpc_query.go
Due: modules

fix auth test case
  tests/e2e/auth/suite.go
Due: none

refactor(abci): add msg index to event (#15845)
  CHANGELOG.md
  UPGRADING.md
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/streaming_test.go
  docs/docs/core/08-events.md
  tests/e2e/auth/suite.go
  tests/e2e/group/suite.go
  tests/e2e/staking/suite.go
  tests/e2e/tx/service_test.go
Due: app

perf: Add a map coins struct to speedup bank genesis (#15764)
  CHANGELOG.md
  types/coin_benchmark_test.go
  types/mapcoins.go
  types/mapcoins_test.go
  x/bank/keeper/genesis.go
Due: modules

revert some changes
  testutil/network/util.go
  x/bank/exported/exported.go
  x/bank/types/balance.go
  x/bank/types/balance_test.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/gentx.go
  x/genutil/collect.go
  x/genutil/gentx.go
Due: modules

small fix
  tests/integration/staking/keeper/keeper_test.go
Due: none

build(deps): Bump cosmossdk.io/api from 0.4.0 to 0.4.1 in /core for all modules
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  go.mod
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  tests/go.mod
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Due: modules, client

add back IterateDelegatorRedelegations method
  x/staking/keeper/delegation.go
Due: modules

remove replace in SDK (not in simapp and tests for now)
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  x/circuit/go.mod
  x/circuit/go.sum
Due: modules, client

remove replace
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

fix deterministic tests
  tests/integration/staking/keeper/determinstic_test.go
Due: none

build: enable orm proto gen in proto-builder
  Makefile
  contrib/devtools/Dockerfile
Due: none

updates
  contrib/devtools/Dockerfile
  proto/buf.gen.pulsar.yaml
Due: none

more precommit to core api
  core/appmodule/module.go
  types/module/module.go
Due: none

updates
  proto/buf.gen.gogo.yaml
  x/staking/types/staking.pb.go
Due: none

revert changes in feegrant
  x/feegrant/client/cli/tx_test.go
  x/feegrant/expected_keepers.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/testutil/expected_keepers_mocks.go
Due: modules

rever changes on spendablecoins and sendcoinstomodule
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/authz/expected_keepers.go
  x/authz/testutil/expected_keepers_mocks.go
  x/bank/README.md
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/view.go
  x/crisis/testutil/expected_keepers_mocks.go
  x/crisis/types/expected_keepers.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/expected_keepers.go
  x/group/expected_keepers.go
  x/group/testutil/expected_keepers_mocks.go
  x/nft/expected_keepers.go
  x/nft/testutil/expected_keepers_mocks.go
  x/simulation/expected_keepers.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/expected_keepers.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Due: modules

build: enable orm proto gen in proto-builder (#15922)
  Makefile
  contrib/devtools/Dockerfile
  proto/buf.gen.gogo.yaml
  proto/buf.gen.pulsar.yaml
  x/staking/types/staking.pb.go
Due: none

feat: add moduleStateCb to allow access moduleState in sim test (#15903)
  CHANGELOG.md
  testutil/sims/state_helpers.go
  types/simulation/types.go
Due: none

feat: add moduleStateCb to allow access moduleState in sim test (#15903)
  CHANGELOG.md
  simapp/state.go
  types/simulation/types.go
Due: none

chore: prepare v0.47.2 release
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

month
  CHANGELOG.md
Due: none

fix changelog and remove breaking change
  CHANGELOG.md
  types/simulation/types.go
Due: none

resolve conflicts
  CHANGELOG.md
  simapp/state.go
  types/simulation/types.go
Due: none

fix conflicts
  CHANGELOG.md
  simapp/state.go
  types/simulation/types.go
Due: none

right v0.47 version
  CHANGELOG.md
Due: none

feat(distribuition): add autocli configuration
  x/distribution/autocli.go
  x/distribution/module.go
Due: modules

linter
  server/grpc/gogoreflection/fix_registration.go
  x/staking/types/hooks.go
Due: modules

rename to has
  core/appmodule/module.go
  types/module/module.go
Due: none
