Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

style: errors, collections (#15640)
  collections/codec/bool.go
  collections/indexed_map.go
  collections/indexes/reverse_pair.go
Due: none

ci: disable gosec g101 in actions (#15650)
  .github/workflows/gosec.yml
Due: none

fix tests
  x/staking/keeper/delegation_test.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/unbonding_test.go
Due: modules

gofumpt
  client/v2/autocli/flag/coin.go
  client/v2/autocli/flag/field.go
  core/coins/format.go
  core/coins/format_test.go
  crypto/keys/bcrypt/bcrypt.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  internal/conv/string_test.go
  testutil/sims/simulation_helpers_test.go
  x/auth/simulation/proposals.go
  x/auth/types/credentials.go
  x/authz/simulation/operations.go
  x/bank/migrations/v3/store_test.go
  x/bank/simulation/operations.go
  x/bank/simulation/proposals.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/proposals.go
  x/mint/simulation/proposals.go
  x/slashing/simulation/proposals.go
  x/staking/simulation/proposals.go
Due: modules, client

nits (manual)
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/auth/vesting/types/msgs.go
  x/authz/msgs.go
  x/bank/types/msgs.go
  x/bank/types/querier.go
  x/crisis/types/msgs.go
  x/distribution/types/genesis.go
  x/distribution/types/query.go
  x/evidence/types/msgs.go
  x/feegrant/grant.go
  x/feegrant/msgs.go
  x/gov/simulation/operations.go
  x/gov/types/v1/deposit.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/vote.go
  x/gov/types/v1beta1/deposit.go
  x/gov/types/v1beta1/msgs.go
  x/gov/types/v1beta1/vote.go
  x/group/simulation/operations.go
  x/nft/internal/conv/string_test.go
  x/slashing/types/msg.go
  x/slashing/types/signing_info.go
  x/staking/keeper/delegation.go
  x/staking/simulation/operations.go
  x/staking/types/delegation.go
  x/staking/types/msg.go
  x/staking/types/validator.go
Due: modules

fix spacing between comments and code
  x/staking/types/msg.go
  x/staking/types/validator.go
Due: modules

fix comment spacing nits
  x/slashing/types/msg.go
  x/slashing/types/signing_info.go
  x/staking/types/delegation.go
Due: modules

fix spacing between comments and code
  x/auth/vesting/types/msgs.go
  x/authz/msgs.go
  x/crisis/types/msgs.go
Due: modules

fix spacing between comments and code
  tools/rosetta/lib/server/server.go
  x/bank/types/msgs.go
  x/bank/types/querier.go
  x/staking/types/msg.go
Due: modules

spacing nits
  x/evidence/types/msgs.go
  x/feegrant/grant.go
  x/feegrant/msgs.go
  x/gov/types/v1/deposit.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/vote.go
  x/gov/types/v1beta1/deposit.go
  x/gov/types/v1beta1/vote.go
Due: modules

comment and code spacing
  x/auth/types/account.go
  x/distribution/types/query.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1beta1/msgs.go
Due: modules

comment and code spacing
  x/staking/types/delegation.go
Due: modules

nits
  x/gov/types/v1beta1/msgs.go
Due: modules

better naming and godoc
  types/address.go
Due: none

Update x/evidence/module.go
  x/evidence/module.go
Due: modules

Update x/tx/signing/textual/tx_test.go
  x/tx/signing/textual/tx_test.go
Due: modules

cli
  x/staking/client/cli/query.go
  x/staking/client/cli/query_test.go
  x/staking/module.go
Due: modules

remove
  x/staking/client/cli/query.go
Due: modules

fix: accaddr cachefix (#15433)
  CHANGELOG.md
  types/address.go
  types/address_test.go
Due: none

fix changelog
  CHANGELOG.md
Due: none

docs
  x/staking/README.md
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/msg_server.go
  x/staking/types/historical_info.go
Due: modules

wip: verify state updation
  x/distribution/keeper/integration_test.go
Due: modules

mocks
  x/auth/ante/testutil/expected_keepers_mocks.go
Due: modules

remove extra provide
  x/auth/module.go
  x/bank/keeper/keeper_test.go
  x/bank/types/balance_test.go
Due: modules

updates to import grouping
  x/gov/client/cli/util_test.go
  x/gov/client/testutil/helpers.go
  x/gov/client/utils/query_test.go
  x/gov/genesis_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v3/json_test.go
  x/gov/migrations/v4/store_test.go
  x/gov/simulation/operations.go
  x/gov/testutil/expected_keepers.go
  x/gov/types/v1/genesis_test.go
  x/gov/types/v1beta1/params.go
Due: modules

review updates
  x/gov/abci_test.go
  x/gov/client/cli/tx_test.go
  x/gov/common_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/tally.go
  x/gov/migrations/v3/convert_test.go
  x/gov/simulation/decoder_test.go
  x/gov/testutil/expected_keepers.go
  x/gov/types/v1/params_legacy.go
  x/gov/types/v1/vote.go
  x/gov/types/v1beta1/genesis.go
  x/gov/types/v1beta1/msgs.go
  x/gov/types/v1beta1/msgs_test.go
Due: modules

feat(codec)!: add get signers to codec + merged proto registry to InterfaceRegistry (#15600)
  CHANGELOG.md
  client/grpc_query.go
  client/internal_client_test.go
  codec/amino_codec.go
  codec/codec.go
  codec/proto_codec.go
  codec/proto_codec_test.go
  codec/types/interface_registry.go
  runtime/module.go
Due: client

Update x/staking/client/cli/query.go
  x/staking/client/cli/query.go
Due: modules

feedback (1/2) - go docs and examples
  testutil/integration/example_test.go
  testutil/integration/router.go
Due: none

feedback (2/2) - convert as example
  testutil/integration/example_test.go
Due: none

refactor: remove aliases from types/math.go in auth/authz module
  x/auth/client/cli/suite_test.go
  x/auth/migrations/v2/store_test.go
  x/auth/tx/builder_test.go
  x/authz/client/cli/query_test.go
  x/authz/client/cli/tx_test.go
  x/authz/keeper/genesis_test.go
  x/authz/keeper/msg_server_test.go
  x/authz/msgs_test.go
  x/authz/simulation/genesis.go
Due: modules

nit
  x/gov/keeper/deposit.go
Due: modules

typos and linting
  testutil/integration/example_test.go
  testutil/integration/router.go
Due: none

refactor: remove aliases from types/math.go in gov module (#15625)
  x/gov/client/cli/tx_test.go
  x/gov/client/cli/util_test.go
  x/gov/client/testutil/helpers.go
  x/gov/client/utils/query_test.go
  x/gov/genesis_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v3/convert_test.go
  x/gov/migrations/v3/json_test.go
  x/gov/migrations/v4/store_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/operations.go
  x/gov/testutil/expected_keepers.go
  x/gov/types/v1/genesis_test.go
  x/gov/types/v1/params.go
  x/gov/types/v1/params_legacy.go
  x/gov/types/v1/vote.go
  x/gov/types/v1beta1/msgs_test.go
  x/gov/types/v1beta1/params.go
  x/gov/types/v1beta1/vote.go
Due: modules

feedback @likhita-809
  docs/docs/building-modules/16-testing.md
  testutil/integration/doc.go
  testutil/integration/example_test.go
  testutil/integration/router.go
Due: none

wip: add more tests
  x/distribution/keeper/integration_test.go
Due: modules

remove bech32 from nft
  x/nft/client/cli/query.go
  x/nft/expected_keepers.go
  x/nft/genesis.go
  x/nft/keeper/genesis.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/keeper.go
  x/nft/keeper/msg_server.go
  x/nft/module/module.go
  x/nft/testutil/expected_keepers_mocks.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
