Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

Modify changelog
  CHANGELOG.md
Due: none

Revert extraVerifyIsOnCurve change
  x/auth/ante/sigverify.go
Due: modules

Update TestAnteHandlerChecks test case
  x/auth/ante/sigverify_test.go
Due: modules

Update TestAnteHandlerChecks to not have redundant params
  x/auth/ante/sigverify_test.go
Due: modules

fix(x/auth/tx): avoid panic from newWrapperFromDecodedTx (#23170)
  CHANGELOG.md
  x/auth/tx/gogotx.go
  x/auth/tx/gogotx_test.go
Due: modules

add test
  x/upgrade/types/codec_test.go
Due: modules

feat(x/auth/ante): allow custom verifyIsOnCurve when validate tx for public key (#23128)
  CHANGELOG.md
  x/auth/ante/sigverify.go
Due: modules

doc
  CHANGELOG.md
Due: none

fix(systemtests): wait longer to detect double sign
  tests/systemtests/fraud_test.go
Due: none

fix(systemtests): to avoid invalid order_by used in TestGetTxEvents_GRPCGateway
  tests/systemtests/tx_test.go
Due: none

fix(store/v2): chunkBody.Close and chunkFile.Close both are called twice
  store/v2/snapshots/store.go
Due: none

fix(systemtests): align halt-height with comet in upgrade
  tests/systemtests/upgrade_test.go
Due: none

chore(x/staking): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/staking/migrations/v5/store.go
  x/staking/migrations/v6/store.go
  x/staking/module.go
  x/staking/simulation/decoder.go
  x/staking/types/delegation.go
  x/staking/types/genesis.go
  x/staking/types/validator.go
Due: modules

update
  x/staking/migrations/v5/store.go
  x/staking/migrations/v6/store.go
  x/staking/types/validator.go
Due: modules

chore(x/slashing,x/protocolpool): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/protocolpool/module.go
  x/slashing/migrations/v4/migrate.go
Due: modules

update
  tests/integration/distribution/genesis_test.go
Due: none

chore(x/group,x/nft/x/mint): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/group/keeper/genesis.go
  x/group/module/module.go
  x/group/simulation/decoder.go
  x/mint/module.go
  x/nft/module/module.go
  x/nft/simulation/decoder.go
Due: modules

chore: update import paths to use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec in store.go and keeper.go
  x/gov/migrations/v5/store.go
  x/nft/keeper/keeper.go
Due: modules

fix lint
  x/staking/migrations/v5/store.go
  x/staking/migrations/v6/store.go
  x/staking/module.go
  x/staking/simulation/decoder.go
  x/staking/types/delegation.go
  x/staking/types/validator.go
Due: modules

fix lint
  x/protocolpool/module.go
  x/slashing/migrations/v4/migrate.go
Due: modules

fix lint
  x/group/keeper/genesis.go
  x/group/module/module.go
  x/group/simulation/decoder.go
  x/mint/module.go
  x/nft/module/module.go
  x/nft/simulation/decoder.go
Due: modules

update
  x/gov/migrations/v5/store.go
  x/staking/migrations/v5/store.go
  x/staking/migrations/v6/store.go
  x/staking/types/validator.go
Due: modules

update
  x/authz/migrations/v2/store.go
Due: modules

chore(x/genutil): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/genutil/depinject.go
  x/genutil/module.go
  x/genutil/types/genesis_state.go
Due: modules

fix lint
  x/genutil/depinject.go
  x/genutil/module.go
  x/genutil/types/genesis_state.go
Due: modules

chore(client): update import path for codec to cosmossdk.io/core/codec in wrapper.go
  client/v2/tx/wrapper.go
Due: client

chore(x/feegrant-codec): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/feegrant/module/module.go
  x/feegrant/simulation/decoder.go
Due: modules

chore(x/evidence): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/evidence/module.go
Due: modules

fix lint
  x/evidence/module.go
Due: modules

chore(baseapp): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  baseapp/abci_test.go
  baseapp/internal/protocompat/protocompat.go
Due: app

fix
  tests/integration/distribution/genesis_test.go
Due: none

use cosmossdk.io/core/codec
  x/accounts/module.go
Due: modules

chore(x/bank): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/bank/types/balance.go
  x/bank/types/genesis.go
  x/bank/v2/module.go
Due: modules

fix lint
  x/feegrant/module/module.go
  x/feegrant/simulation/decoder.go
Due: modules

chore(x/distribution): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/distribution/migrations/v4/migrate.go
  x/distribution/module.go
  x/distribution/simulation/decoder.go
Due: modules

chore(x/consensus,x/epochs,x/circuit): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/circuit/module.go
  x/consensus/module.go
  x/epochs/module.go
Due: modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
