Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

refactor(staking): add missing msgServer tests and move ValidateBasic() logic to msgServer (#15820)
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/msg_server_test.go
  testutil/testnet/genesis.go
  x/distribution/testutil/staking_helper.go
  x/staking/client/cli/tx.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/params.go
  x/staking/testutil/helpers.go
  x/staking/types/data_test.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Due: modules

updates
  baseapp/abci.go
Due: app

extract script
  Makefile
  scripts/init-simapp.sh
Due: none

word
  Makefile
Due: none

fix
  Makefile
  scripts/init-simapp.sh
Due: none

build: add helper for quickly setting up simapp (#15846)
  Makefile
  scripts/init-simapp.sh
Due: none

ci: add `merge_queue` trigger for required workflows
  .github/workflows/build.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

run linting only on code change
  .github/workflows/lint.yml
Due: none

run test as well on makefile change (for consistency)
  .github/workflows/test.yml
Due: none

updates
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
Due: none

ci: add `merge_queue` trigger for required workflows (#15847)
  .github/workflows/build.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

comment
  x/group/client/cli/tx_test.go
Due: modules

fix e2e
  tests/e2e/group/query.go
  tests/e2e/group/tx.go
Due: none

maybe some fixes
  tools/rosetta/converter.go
  types/proto.go
  x/auth/signing/verify.go
Due: modules

refactor(groups): remove global bech32 (#15707)
  server/mock/store.go
  tests/e2e/group/query.go
  tests/e2e/group/tx.go
  x/group/client/cli/tx.go
  x/group/client/cli/tx_test.go
  x/group/expected_keepers.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/module/abci_test.go
  x/group/module/module.go
  x/group/testutil/expected_keepers_mocks.go
  x/mint/testutil/expected_keepers_mocks.go
Due: modules

fix more test/build failures
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/e2e/auth/suite.go
  tests/e2e/authz/tx.go
  tests/e2e/feegrant/suite.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

fix for 32 bit platforms
  x/tx/signing/aminojson/time.go
Due: modules

use x/tx 0.5.3
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/e2e/group/tx.go
  tests/go.mod
  tests/go.sum
Due: none

address pr comments
  x/auth/keeper/migrations.go
  x/auth/migrations/v5/doc.go
  x/auth/migrations/v5/migrate.go
  x/auth/migrations/v5/migrate_test.go
  x/auth/module.go
Due: modules

fix: remove unecessary migration
  x/auth/migrations/v5/doc.go
  x/auth/module.go
Due: modules

update rosetta go.mod
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Due: none

liniting
  tests/e2e/authz/tx.go
  tests/e2e/feegrant/suite.go
  tests/e2e/group/tx.go
  testutil/sims/tx_helpers.go
  x/auth/ante/feegrant_test.go
  x/auth/signing/verify.go
  x/auth/tx/config.go
  x/auth/tx/config/textual.go
  x/auth/tx/direct_test.go
  x/auth/tx/mode_handler.go
Due: modules

fix(x/tx): fix int64 usage for 32 bit platforms
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/time.go
Due: modules

linting fixes
  tools/rosetta/converter.go
  x/auth/signing/verify.go
  x/auth/tx/config.go
Due: modules

lint fix
  x/auth/ante/feegrant_test.go
Due: modules

fix(x/tx): fix int64 usage for 32 bit platforms (#15849)
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/time.go
Due: modules

chore: Audit Textual `any`, `coins`, `message` (#15550)
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  x/tx/signing/textual/any.go
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/handler.go
  x/tx/signing/textual/internal/testdata/coin.json
  x/tx/signing/textual/types.go
Due: modules

fix: remove unnecessary migration (#15848)
  x/auth/migrations/v5/doc.go
  x/auth/module.go
Due: modules

cleanup proto
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/store/streaming/abci/grpc.pulsar.go
  api/cosmos/store/v1beta1/listening.pulsar.go
  baseapp/abci.go
  go.mod
  go.sum
  proto/cosmos/base/abci/v1beta1/abci.proto
  store/streaming/abci/grpc.pb.go
  store/types/listening.pb.go
  types/abci.pb.go
Due: app

test fix
  x/staking/app_test.go
Due: modules

feedback
  baseapp/abci.go
  baseapp/baseapp.go
  types/abci.go
Due: app

modules migration
  x/auth/migrations/v2/store.go
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations_test.go
Due: modules

cleanup baseapp
  baseapp/abci.go
  baseapp/baseapp.go
  types/abci.go
  types/module/module.go
Due: app

cleanup
  baseapp/abci.go
Due: app

further cleanup
  runtime/app.go
  runtime/types.go
Due: none

abstract endblock
  baseapp/abci.go
  baseapp/baseapp.go
Due: app

fix upgrade module
  baseapp/abci.go
  x/upgrade/types/storeloader_test.go
Due: app, modules

cleanup
  types/module/module.go
Due: none

experimentation of block info service
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/block_info.go
  runtime/services.go
  simapp/app.go
  x/evidence/keeper/abci.go
  x/evidence/keeper/keeper.go
  x/evidence/module.go
Due: app, modules

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
