Repository cosmos/cosmos-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, client

add test
  x/auth/client/tx_test.go
Due: modules

remove unused
  tests/fixtures/invalid_batch.json
  tests/fixtures/new_batch.json
Due: none

ci: fix x/authz golangci-lint run failed (#18453)
  x/authz/go.mod
Due: modules

style: package "slashing/types" is being imported more than once (#18452)
  x/slashing/keeper/keeper_test.go
Due: modules

refactor: tx_multisign/tx_sign refactor to improved readability and maintainability (#18451)
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
Due: modules

feat(store/v2): parallel writes in storage sqlite backends (#18320)
  store/go.mod
  store/go.sum
  store/pruning/manager_test.go
  store/storage/sqlite/db.go
  store/storage/sqlite/db_test.go
  store/storage/sqlite/iterator.go
Due: none

feat: upgrade confix to migrate client.toml files
  tools/confix/README.md
  tools/confix/cmd/diff.go
  tools/confix/cmd/migrate.go
  tools/confix/cmd/migrate_test.go
  tools/confix/data/v0.47-client.toml
  tools/confix/data/v0.50-client.toml
  tools/confix/data/v0.51-client.toml
  tools/confix/file.go
  tools/confix/migrations.go
Due: none

feat: add v0.51 planbuilder, refactor test, fix client.toml file for v0.51
  tools/confix/cmd/migrate_test.go
  tools/confix/data/v0.51-client.toml
  tools/confix/migrations.go
Due: none

tmp
  x/accounts/keeper_account_abstraction.go
Due: modules

add execute with gas limit
  core/branch/branch.go
Due: none

CHANGELOG.md
  core/CHANGELOG.md
Due: none

snapshot refactoring
  store/commitment/iavl/tree.go
  store/commitment/iavl/tree_test.go
  store/pruning/manager_test.go
  store/root/store_test.go
  store/snapshots/helpers_test.go
  store/snapshots/manager.go
  store/snapshots/manager_test.go
  store/snapshots/types/snapshotter.go
  store/storage/sqlite/db.go
Due: none

storage snapshot api
  store/go.mod
  store/storage/sqlite/db.go
Due: none

feat: migrate command params
  tools/confix/cmd/migrate.go
  tools/confix/cmd/migrate_test.go
  tools/confix/data/v0.51-client.toml
Due: none

docs: update README
  tools/confix/README.md
Due: none

updates
  store/rootmulti/store.go
Due: none

comments
  store/commitment/iavl/tree.go
  store/snapshots/manager.go
  store/storage/sqlite/db.go
Due: none

updates
  store/storage/rocksdb/db.go
  store/storage/storage_test_suite.go
Due: none

fix tests
  store/snapshots/manager.go
Due: none

fixed tests
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  x/accounts/go.mod
  x/accounts/go.sum
  x/auth/ante/sigverify_test.go
  x/auth/go.mod
  x/auth/go.sum
Due: modules

make more reliable tests
  store/pruning/manager_test.go
Due: none

some progress
  serverv2/cometbft/types/sdkapp.go
  serverv2/cometbft/wrapper.go
Due: none

address comments
  api/cosmos/protocolpool/v1/tx.pulsar.go
  api/cosmos/protocolpool/v1/tx_grpc.pb.go
  proto/cosmos/protocolpool/v1/tx.proto
  x/protocolpool/types/tx.pb.go
Due: none

fix msg server
  x/protocolpool/keeper/msg_server.go
Due: modules

review changes
  go.mod
  x/auth/go.mod
  x/authz/go.mod
  x/bank/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/staking/keeper/msg_server.go
Due: modules

update godoc for MsgCancelContinuousFundProposal
  api/cosmos/protocolpool/v1/tx.pulsar.go
  proto/cosmos/protocolpool/v1/tx.proto
  x/protocolpool/types/tx.pb.go
Due: none

move to under x/nft
  CHANGELOG.md
  x/nft/CHANGELOG.md
Due: modules

fix readme
  x/nft/CHANGELOG.md
Due: modules

refactor
  x/nft/CHANGELOG.md
Due: modules

update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: none

updates
  client/v2/autocli/flag/builder.go
  client/v2/autocli/msg.go
Due: client

added commit
  serverv2/cometbft/types/sdkapp.go
  serverv2/cometbft/wrapper.go
Due: none

feat(core): add Branch.ExecuteWithGasLimit API (#18457)
  core/CHANGELOG.md
  core/branch/branch.go
Due: none

updates
  client/v2/go.mod
  client/v2/internal/prompt/validation.go
  client/v2/internal/prompt/validation_test.go
  x/auth/autocli.go
  x/bank/autocli.go
  x/consensus/autocli.go
  x/crisis/autocli.go
  x/distribution/autocli.go
  x/gov/autocli.go
  x/gov/client/cli/prompt.go
  x/mint/autocli.go
  x/slashing/autocli.go
  x/staking/autocli.go
Due: modules, client

updates
  client/v2/go.mod
  x/consensus/autocli.go
  x/upgrade/autocli.go
  x/upgrade/client/cli/tx.go
Due: modules, client

updates
  client/v2/CHANGELOG.md
  client/v2/README.md
Due: client

Path conditions:
  app: any of: app/, baseapp/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  modules: any of: x/, but not: x/**/client/, docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
  client: any of: client/, x/**/client/, but not: docs, *.md, *.rst, **/*.pb.go, types/*.pb.go, tests/*, tests/**/*, x/**/*.pb.go, x/**/test_common.go, scripts/, contrib
